// Form input field
%input {
	appearance: none;
	display: inline-flex;
	max-width: 100%;
	vertical-align: middle;
	
	padding: var(--input--padding);
	border-style: solid;
	border-radius: var(--input--border-radius);
	border-width: var(--input--border-width);
	border-color: var(--input--border-color);
	background-color: var(--input--background-color);
	color: var(--input--text-color);

	font-family: var(--input--font-family);
	font-size: var(--input--font-size);
	font-style: var(--input--font-style);
	line-height: initial;
	letter-spacing: var(--input--letter-spacing);
	text-transform: var(--input--text-transform);

	transition: all var(--transition-duration);

	&:focus {
		border-color: var(--input--border-color--focus, var(--input--border-color));
		background-color: var(--input--background-color--focus, var(--input--background-color));
		color: var(--input--text-color--focus);
	}
}

// Button input field
%button {
	appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	cursor: pointer;
	vertical-align: middle;

	padding: var(--button--padding);
	border-style: solid;
	border-radius: var(--button--border-radius);
	border-width: var(--button--border-width);
	border-color: var(--button--border-color);
	background-color: var(--button--background-color);
	color: var(--button--text-color);

	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	font-style: var(--button--font-style);
	font-weight: var(--button--font-weight);
	line-height: initial;
	letter-spacing: var(--button--letter-spacing);
	text-transform: var(--button--text-transform);

	text-align: center;

	transition: all var(--transition-duration);

	&:hover,
	&:focus {
		border-color: var(--button--border-color--focus, var(--button--border-color));
		background-color: var(--button--background-color--focus, var(--button--background-color));
		color: var(--button--text-color--focus);

		text-decoration: none;
	}
}

// Meta text
%meta {
	--text-color: var(--color--contrast-3);
	color: var(--text-color);

	font-family: var(--meta--font-family);
	font-size: var(--meta--font-size);
	font-style: var(--meta--font-style);
	font-weight: var(--meta--font-weight);
	line-height: var(--meta--line-height);
	letter-spacing: var(--meta--letter-spacing);
	text-transform: var(--meta--text-transform);
}

// Title text
%title {
	font-family: var(--title--font-family);
	font-size: var(--title--font-size);
	font-style: var(--title--font-style);
	font-weight: var(--title--font-weight);
	line-height: var(--title--line-height);
	letter-spacing: var(--title--letter-spacing);
	text-transform: var(--title--text-transform);
}

// Small title text
%small-title {
	font-family: var(--small-title--font-family);
	font-size: var(--small-title--font-size);
	font-style: var(--small-title--font-style);
	font-weight: var(--small-title--font-weight);
	line-height: var(--small-title--line-height);
	letter-spacing: var(--small-title--letter-spacing);
	text-transform: var(--small-title--text-transform);
}

// Block container
%block-container {
	max-width: none !important;

	> :where(*) {
		max-width: min( 100%, var(--content-size) );

		&:where(:not(.alignleft, .alignright) ) {
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: var(--wp--style--block-gap);
			margin-bottom: 0;
	
			@include remove-margin-top-for-first-child();
			@include remove-margin-bottom-for-last-child();
		}
	}
}

// Align full ignores padding
%alignfull-ignore-padding {
	&:where(.alignfull) {
		margin-left: calc( -1 * ( min( var(--full-size), 100vw ) - 100% ) / 2 ) !important;
		margin-right: calc( -1 * ( min( var(--full-size), 100vw ) - 100% ) / 2 ) !important;
	}
}

// Align left & right max width
%alignleft-alignright-max-width {
	// Apply max-width to floated items that have no intrinsic width.
	&:where(.alignleft, .alignright) {
		max-width: calc( 50% - ( var(--wp--style--block-gap) / 2 ) );; // Fix value, only overrideable via custom CSS
		width: 100%;
	}
}

// Padding when element has .has-background
%has-background-padding {
	&:where(.has-background) {
		padding: var(--wp--style--block-gap);
	}
}

// Widget list
%widget-list {
	list-style: none;
	margin: var(--wp--style--block-gap) 0;
	padding: 0;

	display: grid;
	gap: 0.25em;
}

// Widget calendar
%widget-calendar {
	text-align: center;

	caption {
		margin-bottom: 0.5em;
	}

	:where(th, td) {
		padding: 0.25em 0.5em;
	}
}