/**
 * Block: Active Filters
 */

.wc-block-active-filters__clear-all {
	@include button-link();

	margin-block-start: 0.5em;
}

.wc-block-active-filters__list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 0.5em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.wc-block-active-filters__list-item {
	position: relative;
}

.wc-block-active-filters__list-item-type {
	@include meta-typography();
	@include meta-color();
}

.wc-block-active-filters__list-item-type + .wc-block-active-filters__list-item-name {
	margin-inline-start: 0.5em;
}

.wc-block-active-filters__list-item-name {
	display: inline-flex;
	gap: 0.4em;
	font-weight: 500;
}

.wc-block-active-filters__list-item-remove {
	// Reset
	@include button-nude();

	opacity: 0.25;
	transition: all var(--transition-duration);
	cursor: pointer;

	&:is( :hover, :focus ) {
		opacity: 1;
	}

	svg {
		display: block;
		width: 1em;
		height: 1em;
	}
}

.wc-block-active-filters__list--chips {
	flex-direction: row;
	gap: 0.25em;

	.wc-block-active-filters__list-item-type {
		display: none;
	}
}
