/**
 * Block: Cart
 */

.wc-block-cart__main {
	> * {
		margin-block: 0;
	}

	> * + * {
		margin-block-start: var(--wp--style--block-gap);
	}
}

.wc-block-cart-items {
	border: 0;
	width: 100%;

	th {
		font-weight: 600;
	}

	:is( th, td ) {
		border-left: 0;
		border-right: 0;
		border-top: 0;

		&:first-child {
			padding-inline-start: 0;
		}

		&:last-child {
			padding-inline-end: 0;
		}
	}

	.wc-block-cart-items__header {
		th {
			padding-block-start: 0;
		}
	}

	.wc-block-cart-items__row {
		:is( th, td ) {
			vertical-align: top;
			padding-block: var(--wp--style--block-gap);
		}
	}
}

.wc-block-cart-items__header {
	.wc-block-cart-items__header-image {
		width: 6em;
		text-align: initial;
	}

	.wc-block-cart-items__header-product {
		visibility: hidden;
	}

	.wc-block-cart-items__header-total {
		width: 0;
		text-align: right;
	}
}

.wc-block-cart-items__row {
	.wc-block-cart-item__image {
		width: 6em;

		img {
			display: block;
			width: 100%;
		}
	}

	.wc-block-components-product-name {
		display: block;
		max-width: max-content;
	}

	.wc-block-cart-item__prices {
		display: inline-block;
	}

	.wc-block-components-product-badge {
		display: inline-block;
		margin-inline-start: 0.75em;
	}

	.wc-block-cart-item__quantity {
		margin-block-start: 0.75em;

		.wc-block-cart-item__remove-link {
			@include button-link();
			@include reverse-link-color();

			font-size: 0.75em;
			margin-inline-start: 0.75em;
			white-space: nowrap;
		}
	}

	.wc-block-cart-item__total {
		width: 0;
		text-align: right;

		.wc-block-cart-item__total-price-and-sale-badge-wrapper {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
		}
	}

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
		transition: opacity 200ms ease;
	}
}

.wc-block-cart__totals-title {
	// Mimic th styles
	font: inherit;
	font-weight: 600;
	padding-block-end: calc( 0.5 * var(--wp--style--block-gap) );
	border-bottom-width: 1px;
	border-bottom-style: solid;

	margin: 0; // Reset
}

// Compact mode

:is( .is-small, .is-mobile ) {
	.wc-block-cart-item__total {
		.wc-block-components-sale-badge {
			display: none;
		}
	}
}

:is( .is-small, .is-medium, .is-mobile ) {
	&.wc-block-cart {
		.wc-block-components-sidebar {
			.wc-block-cart__totals-title {
				display: none;
			}
		}
	}
}

// Large table mode

.is-large {
	.wc-block-cart__totals-title {
		text-align: right;
	}

	.wc-block-cart__sidebar {
		position: sticky;
		align-self: flex-start;
		top: var(--screen-top-offset);
	}
}

/**
 * Block: Cross-sell Products
 */

// Not yet implemented in the core version of WooCommerce Blocks

/**
 * Block: Proceed to Checkout
 */

.wc-block-cart__submit {
	position: relative;
	margin-block-start: calc( 2 * var(--wp--style--block-gap) );
}

.wc-block-cart__submit-button {
	width: 100%;
	font-size: calc( 1.2 * var(--button--font-size, var(--base--font-size)) );
}

@media screen and ( min-width: $breakpoint-desktop ) {
	.wc-block-cart .wc-block-cart__submit-container--sticky {
		display: none;
	}
}

@media screen and ( max-width: ( $breakpoint-desktop - 0.1px ) ) {
	.wc-block-cart .wc-block-cart__submit-container--sticky {
		position: fixed;
		z-index: 9999;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: var(--wp--style--block-gap);
		background: var(--background-color);

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			box-shadow: 0 0 1em rgba(0,0,0,0.2);
		}
	}
}
