/**
 * Block: Cart
 */

.wc-block-cart-items {
	border: 0;
	width: 100%;

	th {
		font-weight: 600;
	}
}

.wc-block-cart-items__header {
	.wc-block-cart-items__header-image {
		width: 6em;
		text-align: initial;
	}

	.wc-block-cart-items__header-product {
		visibility: hidden;
	}

	.wc-block-cart-items__header-total {
		width: 0;
		text-align: right;
	}
}

.wc-block-cart-items__row {
	.wc-block-cart-item__image img {
		display: block;
		width: 100%;
	}

	.wc-block-components-product-name {
		display: block;
		max-width: max-content;
	}

	.wc-block-cart-item__prices {
		display: inline-block;
	}

	.wc-block-components-product-badge {
		display: inline-block;
		margin-inline-start: 0.75em;
	}

	.wc-block-cart-item__quantity {
		margin-block-start: 0.75em;

		.wc-block-cart-item__remove-link {
			@include button-link();
			@include reverse-link-color();

			font-size: 0.75em;
			margin-inline-start: 0.75em;
			white-space: nowrap;
		}
	}

	.wc-block-cart-item__total {
		text-align: right;

		.wc-block-cart-item__total-price-and-sale-badge-wrapper {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
		}
	}

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
		transition: opacity 200ms ease;
	}
}

// Compact mode

:is( .is-small, .is-mobile ) {
	.wc-block-cart-item__total {
		.wc-block-components-sale-badge {
			display: none;
		}
	}
}

:is( .is-small, .is-medium, .is-mobile ) {
	&.wc-block-cart {
		.wc-block-components-sidebar {
			.wc-block-cart__totals-title {
				display: none;
			}
		}
	}

	.wc-block-cart-items {
		tbody {
			display: flex;
			flex-direction: column;
			gap: calc( 1.5 * var(--block-spacing) );
		}

		:is( th, td ) {
			padding: 0;
			border: 0;
		}
	}

	.wc-block-cart-items__header {
		display: none;
	}

	.wc-block-cart-items__row {
		display: grid;
		grid-template-areas: "thumbnail detail total";
		grid-template-columns: min( 6em, 20% ) 1fr auto;
		gap: 1em;

		.wc-block-cart-item__image {
			grid-area: thumbnail;
		}

		.wc-block-cart-item__product {
			grid-area: detail;
		}


		.wc-block-cart-item__total {
			grid-area: total;
		}
	}

}

// Large table mode

.is-large {
	.wc-block-cart-items {
		:is( th, td ) {
			border-left: 0;
			border-right: 0;
			border-top: 0;

			&:first-child {
				padding-inline-start: 0;
			}

			&:last-child {
				padding-inline-end: 0;
			}
		}

		.wc-block-cart-items__header {
			th {
				padding-block-start: 0;
			}
		}

		.wc-block-cart-items__row {
			:is( th, td ) {
				vertical-align: top;
				padding-block: var(--block-spacing);
			}
		}
	}

	.wc-block-cart__totals-title {
		// Use th typography
		font: inherit;
		font-weight: 600;

		padding-block-end: calc( 0.5 * var(--block-spacing) );
		margin: 0;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-align: right;
	}
}

// Inner blocks: proceed to checkout

.wc-block-cart__submit-button {
	width: 100%;
	font-size: calc( 1.2 * var(--button--font-size, var(--base--font-size)) );
}

@media screen and ( min-width: $breakpoint-desktop ) {
	.wc-block-cart .wc-block-cart__submit-container--sticky {
		display: none;
	}
}

@media screen and ( max-width: ( $breakpoint-desktop - 0.1px ) ) {
	.wc-block-cart .wc-block-cart__submit-container--sticky {
		position: fixed;
		z-index: 9999;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: var(--block-spacing);
		background: var(--background-color);

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			box-shadow: 0 -10px 20px 10px rgba(0,0,0,0.1);
		}
	}
}
