/**
 * Block: Checkout
 */

// checkout-order-error

.wc-block-checkout-error {
	padding: var(--wp--style--block-gap);
	text-align: center;
	width: 100%;

	.wc-block-checkout-error__image {
		max-width: 8em;
		margin-inline: auto;
		display: block;
		color: inherit;
	}

	.wc-block-checkout-error__title {
		display: block;
		margin-block-start: var(--wp--style--block-gap);
		font-weight: 600;
	}

	.wc-block-checkout-error__description {
		display: block;
		margin-block-start: var(--wp--style--block-gap);
	}
}

// empty-cart

.wc-block-checkout-empty {
	padding: var(--wp--style--block-gap);
	text-align: center;
	width: 100%;

	.wc-block-checkout-empty__image {
		max-width: 8em;
		margin-inline: auto;
		display: block;
		color: inherit;
	}

	.wc-block-checkout-empty__title {
		display: block;
		margin-block-start: var(--wp--style--block-gap);
		font-weight: 600;
	}

	.wc-block-checkout-empty__description {
		display: block;
		margin-block-start: var(--wp--style--block-gap);
	}
}

// order-notes

.wc-block-checkout__add-note {
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-block: calc( 1.5 * var(--wp--style--block-gap) );

	.wc-block-components-textarea {
		margin-block-start: 1em;
	}
}

/**
 * Block: Checkout Actions
 */

.wc-block-checkout__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-block-start: calc( 2 * var(--wp--style--block-gap) );

	.wc-block-components-checkout-place-order-button {
		width: 50%;
		padding: 1em;
		height: auto;
	}
}

.is-mobile {
	.wc-block-checkout__actions {
		.wc-block-components-checkout-return-to-cart-button {
			display: none;
		}

		.wc-block-components-checkout-place-order-button {
			width: 100%;
		}
	}
}

/**
 * Block: Checkout Fields
 */

 :is( .wc-block-checkout__shipping-fields, .wc-block-checkout__billing-fields ) {
	.wc-block-components-checkout-step__content {
		display: flex;
		flex-direction: column;
		gap: 1em;

		.editor-styles-wrapper & {
			> [aria-disabled="true"] {
				display: flex;
				flex-direction: column;
				gap: 1em;
			}
		}
	}

	.wc-block-components-address-form {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;

		> * {
			flex-basis: 100%;
		}
	}
}

:is( .is-mobile, .is-small, .is-medium ) {
	.wc-block-checkout__main {
		order: 1;
	}
}

:is( .is-small, .is-medium, .is-large ) {
	:is( .wc-block-checkout__shipping-fields, .wc-block-checkout__billing-fields ) {
		.wc-block-components-address-form {
			.wc-block-components-text-input,
			.wc-block-components-country-input,
			.wc-block-components-state-input {
				flex-basis: calc( 50% - 0.5em );
			}

			.wc-block-components-address-form__company,
			.wc-block-components-address-form__address_1,
			.wc-block-components-address-form__address_2 {
				flex-basis: 100%;
			}
		}
	}
}

.wc-block-checkout__form {
	.wc-block-checkout__payment-method {
		&:after {
			display: none;
		}
	}

	.wc-block-checkout__order-notes {
		margin-block: 0;
	}
}

/**
 * Block: Checkout Terms
 */

.wc-block-checkout__terms {
	@include meta-typography();
	@include meta-color();

	margin-block-start: calc( 2 * var(--wp--style--block-gap) );

	textarea {
		position: relative;
	}

	&.wc-block-checkout__terms--disabled {
		opacity: 0.5;
	}
}

/**
 * Block: Checkout Totals
 */

:is( .is-mobile, .is-small, .is-medium ) {
	.wc-block-checkout__sidebar {
		order: 0;
	}
}

.is-large {
	.wc-block-checkout__sidebar {
		position: sticky;
		align-self: flex-start;
		top: var(--screen-top-offset);
	}
}
