/**
 * Block: Product Searh
 */

.wc-block-product-search__fields {
	display: flex;
	gap: 0.25em;
}

.wc-block-product-search__button {
	svg {
		html[dir="rtl"] & {
			transform: rotate(180deg);
		}
	}
}
