/**
 * Products loop filters
 */

.woocommerce .suki-woocommerce-loop__filters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-block-end: calc( 2 * var(--wp--style--block-gap) );
	gap: calc( 0.5 * var(--wp--style--block-gap) );

	&:empty {
		display: none;
	}
}

.woocommerce .woocommerce-result-count {
	margin: 0;
}
