/**
 * Forms
 */

.suki-admin-form-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.suki-admin-form-label {
	display: inline-block;
	padding-bottom: 4px;
}

/**
 * Accordion
 */

details.suki-admin-accordion {
	margin-block: 12px;
	background-color: #fff;

	summary ~ * {
		padding: 8px 12px 10px;
		border: 1px solid #dcdcde;
		border-top: none;
	}
	
	summary {
		padding: 8px 12px;
		border: 1px solid #dcdcde;
		cursor: pointer;
		list-style: none;
		font-weight: bold;

		&:hover,
		&:focus {
			background-color: #f6f7f7;
		}
		
		&:before {
			content: "▶";
			margin-right: 4px;
			opacity: 0.5;
		}
	}
	
	&[open] {
		summary {
			&:before {
				content: "▼";
			}
		}
	}
}

/**
 * Tooltip
 */

.suki-admin-tooltip {
	position: relative;

	> .suki-admin-tooltip__content {
		position: absolute;
		z-index: 9999;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 3px;
		padding: 4px 8px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0.9);
		color: #fff;
		font-size: 13px;
		line-height: 1.5;
		white-space: nowrap;
		@include hide();
	}
	
	&:hover,
	&:focus {
		> .suki-admin-tooltip__content {
			@include show();
		}
	}
}