/**
 * Forms
 */

.suki-admin-form-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.suki-admin-form-label {
	display: inline-block;
	padding-bottom: 4px;
}

/**
 * Accordion
 */

details.suki-admin-accordion {
	margin-block: 12px;
	background-color: #fff;

	summary ~ * {
		padding: 8px 12px 10px;
		border: 1px solid #dcdcde;
		border-top: none;
	}
	
	summary {
		padding: 8px 12px;
		border: 1px solid #dcdcde;
		cursor: pointer;
		list-style: none;
		font-weight: bold;

		&:hover,
		&:focus {
			background-color: #f6f7f7;
		}
		
		&:before {
			content: "▶";
			margin-right: 4px;
			opacity: 0.5;
		}
	}
	
	&[open] {
		summary {
			&:before {
				content: "▼";
			}
		}
	}
}