// -------------------------------------------------------------
// Theme Dashboard
// -------------------------------------------------------------

#menu-appearance .wp-submenu {
	a[href^="edit.php?post_type=suki_block"],
	a[href^="themes.php?page=suki-"] {
		&:before {
			content: "\21B3";
			margin-right: 0.5em;
			opacity: 0.5;
		}
	}
}
