/**
 * Form inputs.
 *
 * Unstyled input types:
 * file
 * color
 * checkbox
 * range
 * radio
 */

%input,
:where(input:not([type]), input[type=""], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], .input, select, textarea) {
	appearance: none;
	display: inline-flex;
	max-width: 100%;
	vertical-align: middle;
	
	padding: var(--input--padding);
	border-style: solid;
	border-radius: var(--input--border-radius);
	border-width: var(--input--border-width);
	border-color: var(--input--border-color);
	background-color: var(--input--background-color);
	color: var(--input--text-color);

	font-family: var(--input--font-family);
	font-size: var(--input--font-size);
	font-style: var(--input--font-style);
	line-height: initial;
	letter-spacing: var(--input--letter-spacing);
	text-transform: var(--input--text-transform);

	transition: all var(--transition-duration);

	&:focus {
		border-color: var(--input--border-color--focus, var(--input--border-color));
		background-color: var(--input--background-color--focus, var(--input--background-color));
		color: var(--input--text-color--focus);
	}
}

textarea {
	line-height: inherit;
}

select {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em;
}

/**
 * Button
 */

%button,
:where([type="button"], [type="reset"], [type="submit"], .button) {
	appearance: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	cursor: pointer;
	vertical-align: middle;

	padding: var(--button--padding);
	border-style: solid;
	border-radius: var(--button--border-radius);
	border-width: var(--button--border-width);
	border-color: var(--button--border-color);
	background-color: var(--button--background-color);
	color: var(--button--text-color);

	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	font-style: var(--button--font-style);
	font-weight: var(--button--font-weight);
	line-height: initial;
	letter-spacing: var(--button--letter-spacing);
	text-transform: var(--button--text-transform);

	text-align: center;

	transition: all var(--transition-duration);

	&:hover,
	&:focus {
		border-color: var(--button--border-color--focus, var(--button--border-color));
		background-color: var(--button--background-color--focus, var(--button--background-color));
		color: var(--button--text-color--focus);

		text-decoration: none;
	}
}