/**
 * Global
 */

* {
	// Set box sizing on all elements and pseudo elements
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
	
	// Remove outline for mouse users
	&:focus {
		outline: none;
	}

	// // Set border color
	// &,
	// &:before,
	// &:after {
	// 	border-color: var(--border-color);
	// }
}

body {
	// Color palette (default)
	--color-palette-1: #222222;
	--color-palette-2: #444444;
	--color-palette-3: #666666;
	--color-palette-4: #0055cc;
	--color-palette-5: #004099;
	--color-palette-6: #cccccc;
	--color-palette-7: #f3f3f3;
	--color-palette-8: #ffffff;

	// Scope colors
	--text-color: var(--color-palette-2);
	--border-color: var(--color-palette-6);
	--background-color: var(--color-palette-8);
	--subtle-background-color: var(--color-palette-7);
	--heading-color: var(--color-palette-1, var(--text-color));
	--heading-color--focus: var(--link-color);
	--meta-color: var(--color-palette-3, var(--text-color));
	--link-color: var(--color-palette-4);
	--link-color--focus: var(--color-palette-5, inherit);

	// Base typography (default)
	--base--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--base--font-size: 16px;
	--base--line-height: 1.7;

	// H1 typography (default)
	--h1--font-size: 2.4rem;
	--h1--font-weight: 600;
	--h1--line-height: 1.3;

	// H2 typography (default)
	--h2--font-size: 1.8rem;
	--h2--font-weight: 600;
	--h2--line-height: 1.4;

	// H3 typography (default)
	--h3--font-size: 1.5rem;
	--h3--font-weight: 600;
	--h3--line-height: 1.5;

	// H4 typography (default)
	--h4--font-size: 1.25rem;
	--h4--font-weight: 600;
	--h4--line-height: 1.6;

	// H5 typography (default)
	--h5--font-size: 1.1rem;
	--h5--font-weight: 600;
	--h5--line-height: 1.7;

	// H6 typography (default)
	--h6--font-size: 1rem;
	--h6--font-weight: 600;
	--h6--line-height: 1.7;

	// Title typography (by default use H1 styles)
	--title--font-family: var(--h1--font-family);
	--title--font-size: var(--h1--font-size);
	--title--font-style: var(--h1--font-style);
	--title--font-weight: var(--h1--font-weight);
	--title--line-height: var(--h1--line-height);
	--title--letter-spacing: var(--h1--letter-spacing);
	--title--text-transform: var(--h1--text-transform);
	--title--text-color: var(--heading-color);
	--title--text-color--focus: var(--heading-color--focus);

	// Small title typography (by default use H3 styles)
	--small-title--font-family: var(--h3--font-family);
	--small-title--font-size: var(--h3--font-size);
	--small-title--font-style: var(--h3--font-style);
	--small-title--font-weight: var(--h3--font-weight);
	--small-title--line-height: var(--h3--line-height);
	--small-title--letter-spacing: var(--h3--letter-spacing);
	--small-title--text-transform: var(--h3--text-transform);
	--small-title--text-color: var(--heading-color);
	--small-title--text-color--focus: var(--heading-color--focus);

	// Meta typography (default)
	--meta--font-size: 0.9rem;
	--meta--line-height: 1.7;
	--meta--text-color: var(--meta-color);

	// Form inputs (default)
	--input--padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	--input--border-radius: 0.1875rem;
	--input--border-width: 1px;
	--input--border-color: var(--color-palette-6);
	--input--background-color: var(--color-palette-8);
	--input--text-color: var(--color-palette-2);
	--input--border-color--focus: var(--color-palette-2);

	// Button (default)
	--button--padding: 0.625rem 1rem 0.625rem 1rem;
	--button--border-radius: 0.1875rem;
	--button--border-width: 1px;
	--button--border-color: var(--color-palette-4);
	--button--background-color: var(--color-palette-4);
	--button--text-color: var(--color-palette-8);
	--button--border-color--focus: var(--color-palette-5);
	--button--background-color--focus: var(--color-palette-5);
	--button--text-color--focus: var(--color-palette-8);

	// Spacing
	--block-spacing: 1.25rem;

	// Container
	--content-size: 720px;
	--wide-size: 1140px;

	// Transition
	--transition-duration: 0.25s;
}

body {
	margin: 0; // Reset

	font-family: var(--base--font-family);
	font-size: var(--base--font-size);
	font-style: var(--base--font-style);
	font-weight: var(--base--font-weight);
	line-height: var(--base--line-height);
	letter-spacing: var(--base--letter-spacing);
	text-transform: var(--base--text-transform);

	background-color: var(--background-color);
	color: var(--text-color);

	min-height: 100vh; // full screen height page
	overflow-x: hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

::selection {
	background-color: var(--color-palette-4); // invert text and background color
	color: var(--color-palette-8); // invert text and background color
}

*::placeholder {
	opacity: 0.75;
}