// -------------------------------------------------------------
// Global
// -------------------------------------------------------------

body { // Use body not :root, because this CSS will be used on block editor as well (converted to .editor-styles-wrapper)

// 	// Scope colors
// 	--text-color: var(--color-palette-2);
// 	--border-color: var(--color-palette-6);
// 	--background-color: var(--color-palette-8);
// 	--subtle-background-color: var(--color-palette-7);
// 	--link-color: var(--color-palette-4);
// 	--link-color--focus: var(--color-palette-5, inherit);

// 	// Base typography (default)
// 	--base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// 	--base-font-size: 16px;
// 	--base-line-height: 1.6em;

// 	// H1 typography (default)
// 	--h1--font-size: 2.4rem;
// 	--h1--font-weight: 600;
// 	--h1--line-height: 1.2em;

// 	// H2 typography (default)
// 	--h2--font-size: 1.8rem;
// 	--h2--font-weight: 600;
// 	--h2--line-height: 1.3em;

// 	// H3 typography (default)
// 	--h3--font-size: 1.5rem;
// 	--h3--font-weight: 600;
// 	--h3--line-height: 1.4em;

// 	// H4 typography (default)
// 	--h4--font-size: 1.25rem;
// 	--h4--font-weight: 600;
// 	--h4--line-height: 1.5em;

// 	// H5 typography (default)
// 	--h5--font-size: 1.1rem;
// 	--h5--font-weight: 600;
// 	--h5--line-height: 1.6em;

// 	// H6 typography (default)
// 	--h6--font-size: 1rem;
// 	--h6--font-weight: 600;
// 	--h6--line-height: 1.6em;

// 	// All headings color
// 	--heading-color: var(--color-palette-1, var(--text-color));
// 	--heading-color--focus: var(--link-color);

// 	// Title typography (by default use H1 styles)
// 	--title--font-family: var(--h1--font-family);
// 	--title--font-size: var(--h1--font-size);
// 	--title--font-style: var(--h1--font-style);
// 	--title--font-weight: var(--h1--font-weight);
// 	--title--line-height: var(--h1--line-height);
// 	--title--letter-spacing: var(--h1--letter-spacing);
// 	--title--text-transform: var(--h1--text-transform);
// 	--title--text-color: var(--heading-color);
// 	--title--link-color--focus: var(--heading-color--focus);

// 	// Small title typography (by default use H3 styles)
// 	--small-title--font-family: var(--h3--font-family);
// 	--small-title--font-size: var(--h3--font-size);
// 	--small-title--font-style: var(--h3--font-style);
// 	--small-title--font-weight: var(--h3--font-weight);
// 	--small-title--line-height: var(--h3--line-height);
// 	--small-title--letter-spacing: var(--h3--letter-spacing);
// 	--small-title--text-transform: var(--h3--text-transform);
// 	--small-title--text-color: var(--heading-color);
// 	--small-title--link-color--focus: var(--heading-color--focus);

// 	// Meta typography (default)
// 	--meta--font-size: 0.9rem;
// 	--meta--line-height: 1.6em;
// 	--meta--text-color: var(--color-palette-3, var(--text-color));

	// Default alignfull left and right offset
	--alignfull--left: 20px;
	--alignfull--right: 20px;

	// Transition
	--transition-duration: 0.25s;

	// Screen top offset
	--screen-top-offset: 0;
}

body {
	min-height: 100vh; // full screen height page
	overflow-x: hidden;
}

:where(*) {
	// Set box sizing on all elements and pseudo elements
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}

	// // Remove outline for mouse users
	// &:focus {
	// 	outline: none;
	// }

	// Set global border color (greedy)
	& {
		border-color: var(--wp--preset--color--base-3);
	}
}

*::placeholder {
	opacity: 0.5;
	color: currentColor;
}

.admin-bar {
	--screen-top-offset: #{$adminbar-height-mobile};

	@media screen and ( min-width: $adminbar-breakpoint ) {
		--screen-top-offset: #{$adminbar-height}; // In this breakpoint, admin bar is smaller and fixed again.
	}

	#wpadminbar {
		@media screen and (max-width: 600px) {
			position: fixed;
		}
	}
}

figure {
	margin-inline: 0; // Reset
	margin-block: var(--wp--style--block-gap);
	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();
}

hr {
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;

	margin-block: var(--wp--style--block-gap);
	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();
}
