/**
 * Global
 */

body {
	@include global-variables();
}

body {
	margin: 0; // Reset

	font-family: var(--base--font-family);
	font-size: var(--base--font-size);
	font-style: var(--base--font-style);
	font-weight: var(--base--font-weight);
	line-height: var(--base--line-height);
	letter-spacing: var(--base--letter-spacing);
	text-transform: var(--base--text-transform);

	background-color: var(--background-color);
	color: var(--text-color);

	min-height: 100vh; // full screen height page
	overflow-x: hidden;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

:where(*) {
	// Set box sizing on all elements and pseudo elements
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}

	// Remove outline for mouse users
	&:focus {
		outline: none;
	}

	// Set border color
	& {
		border-color: var(--border-color);
	}
}

::selection {
	background-color: var(--color-palette-4); // invert text and background color
	color: var(--color-palette-8); // invert text and background color
}

*::placeholder {
	opacity: 0.75;
}

hr {
	border: none;
	border-bottom: 1px solid var(--border-color);
	border-color: var(--border-color);

	margin-block: var(--wp--style--block-gap);
	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();
}
