/**
 * Table
 */

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--border-color);

	margin-block: var(--block-spacing);
	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();
}

th, td {
	padding: calc( 0.5 * var(--block-spacing) );
	border: 1px solid;
	border-color: inherit;
}

th {
	font-weight: 700;
}
