// -------------------------------------------------------------
// Inline text elements
// -------------------------------------------------------------

// Add transition to all link tag.
a {
	transition: color var(--transition-duration), opacity var(--transition-duration);
}

// The "figcaption" selector is not included in the theme.json `styles.elements.caption`.
figcaption {
	text-align: center;
	font-size: var(--wp--preset--font-size--small);
	opacity: 0.5;
	margin-top: 0.5em;
}

// Default color for `mark` tag.
mark {
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
}

// -------------------------------------------------------------
// Block text elements
// -------------------------------------------------------------

p {
	margin-block: var(--wp--style--block-gap);
	// We also added margin styles via `styles.blocks.core/paragraph` in the `theme.json`.
}

// `theme.json` doesn't have global style for link inside global headings.
// But, we added link inside `core/heading` block styles via `styles.blocks.core/heading` in the `theme.json`.
:is( h1, h2, h3, h4, h5, h6 ) {
	margin-block: var(--wp--style--block-gap);
	// We also added margin styles via `styles.elements.heading` in the `theme.json`.

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--heading-color--focus);
		}
	}
}

:where( ol, ul ) {
	margin-block: var(--wp--style--block-gap);
	padding-left: 2em;
	// We also added margin styles via `styles.blocks.core/list` in the `theme.json`.

	:where( ol, ul ) {
		margin-block: 0;
	}
}

// `theme.json` doesn't have global style for `pre`.
pre {
	margin-block: var(--wp--style--block-gap);
}

// `theme.json` doesn't have global style for `blockquote`.
blockquote {
	margin-inline: 0; // Reset
	margin-block: var(--wp--style--block-gap);

	cite {
		display: block;
	}
}

:where( p, h1, h2, h3, h4, h5, h6, ol, ul, pre, blockquote ) {
	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();
}

// -------------------------------------------------------------
// Table
// -------------------------------------------------------------

table {
	// width: 100%;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

th, td {
	padding: 0.5em 1em;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	text-align: initial; // Reset
}

th {
	font-weight: 600;
}
