@import "main";

/**
 * Tiny MCE
 */

body.mce-content-body {
	--wp--style--block-gap: var(--block-spacing);

	padding: 0.5em 0.75em !important;
	min-height: auto;
}

/**
 * Components
 */

.wp-block-search__button {
	@extend %button;
}

.wp-block-social-links {
	&.is-style-pill-shape {
		.wp-block-social-link {
			button {
				padding: 0.25em;
			}
		}
	}
}

.edit-post-visual-editor__post-title-wrapper {
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: var(--content-width--narrow);
		margin-inline-start: auto !important;
		margin-inline-end: auto !important;
	}

	> * {
		margin-block: 0;
	}

	> * + * {
		margin-block-start: var(--block-spacing);
	}
}

body.wp-block-widget-area__inner-blocks {
	> .block-editor-block-list__layout {
		> * {
			margin-block: 0;
		}

		> * + * {
			margin-block-start: var(--sidebar-widgets-gap);
		}
	}
}

/**
 * Block Editor
 */

body.suki-section--wide {
	--content-width--narrow: var(--content-width--wide);
}

body.suki-section--full {
	--content-width--narrow: auto;
	--content-width--wide: auto;
}

body .is-root-container {
	margin-block-start: 3rem;
}

body:is(.suki-content--layout-left-sidebar, .suki-content--layout-right-sidebar):not(.suki-section--narrow) { // Sidebar is not supported in narrow container.
	@media screen and ( min-width: ( 1024px + 281px ) ) { // Desktop breakpoint + Gutenberg controls right sidebar
		position: relative;
		width: var(--content-width--narrow);
		margin-inline-start: auto;
		margin-inline-end: auto;

		&:after {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 4rem;
			bottom: 40vh;
			width: var(--sidebar-width);
			padding: 1.5rem;
			border: 3px dashed currentColor;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			color: var(--border-color);
		}
	}

	.block-editor-block-list__layout {
		--content-width--narrow: auto;
		--content-width--wide: auto;
		--content-width--full: auto;
	}

}

body.suki-content--layout-left-sidebar:not(.suki-section--narrow) { // Sidebar is not supported in narrow container.
	@media screen and ( min-width: ( 1024px + 281px ) ) { // Desktop breakpoint + Gutenberg controls right sidebar
		> * {
			padding-inline-start: calc( var(--sidebar-gap) + var(--sidebar-width) );
		}

		&:after {
			left: 0;
		}
	}
}

body.suki-content--layout-right-sidebar:not(.suki-section--narrow) { // Sidebar is not supported in narrow container.
	@media screen and ( min-width: ( 1024px + 281px ) ) { // Desktop breakpoint + Gutenberg controls right sidebar
		> * {
			padding-inline-end: calc( var(--sidebar-gap) + var(--sidebar-width) );
		}

		&:after {
			right: 0;
		}
	}
}
