{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended-with-formatting" ],
	"env": {
		"browser": true
	},
	"globals": {
		"_": "readonly",
		"jQuery": "readonly",
		"ajaxurl": "readonly",
		"sukiAdminData": "readonly",
		"sukiDashboardData": "readonly",
		"sukiConfig": "readonly",
		"sukiCustomizerData": "readonly",
		"sukiCustomizerPreviewData": "readonly",
		"sukiPageSettingsData": "readonly"
	}
}
