// Float container
@mixin float-container() {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Remove top margin of an element if it's the first child
@mixin remove-margin-top-for-first-child() {
	&:first-child {
		margin-block-start: 0;
	}
}

// Remove bottom margin of an element if it's the last child
@mixin remove-margin-bottom-for-last-child() {
	&:last-child {
		margin-block-end: 0;
	}
}

// Hide visually
@mixin hide-visually( $focus-reveal: true ) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	transition: none;

	@if $focus-reveal {
		&:focus {
			background-color: #ddd;
			clip: auto !important;
			clip-path: none;
			color: #444;
			display: block;
			font-size: 1em;
			height: auto;
			left: 5px;
			line-height: normal;
			padding: 15px 23px 14px;
			text-decoration: none;
			top: 5px;
			width: auto;
			z-index: 100000; // Above WP toolbar.
		}
	}
}

// Hide element
@mixin hide( $transition: true ) {
	opacity: 0;
	visibility: hidden;

	@if $transition {
		transition: opacity var(--transition-duration, 0.25s), visibility 0s var(--transition-duration, 0.25s); // hide transition
	} @else {
		transition: none;
	}
}

// Show element
@mixin show( $transition: true ) {
	opacity: 1;
	visibility: visible;

	@if $transition {
		transition: opacity var(--transition-duration, 0.25s), visibility 0s; // show transition
	} @else {
		transition: none;
	}
}

// Input {
@mixin input() {
	display: inline-flex;
	max-width: 100%;
	vertical-align: middle;
	transition: all var(--transition-duration);

	padding: var(--wp--custom--input--padding);
	border-width: var(--wp--custom--input--border-width);
	border-style: solid;
	border-color: var(--wp--custom--input--border-color);
	border-radius: var(--wp--custom--input--border-radius);
	background-color: var(--wp--custom--input--background-color);
	color: var(--wp--custom--input--text-color);

	font-family: var(--wp--custom--input--font-family);
	font-size: var(--wp--custom--input--font-size);
	font-style: var(--wp--custom--input--font-style);
	line-height: initial;
	letter-spacing: var(--wp--custom--input--letter-spacing);
	text-transform: var(--wp--custom--input--text-transform);

	&:focus {
		border-color: var(--wp--custom--input--border-color-focus);
		background-color: var(--wp--custom--input--background-color-focus);
		color: var(--wp--custom--input--text-color-focus);

		outline: none; // Reset .using-keyboard style
	}
}

// Button
@mixin button() {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em; // Prepare gap for button with icon
	appearance: none;
	max-width: 100%;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	transition: all var(--transition-duration);
	isolation: isolate;

	padding: var(--wp--custom--button--padding);
	border-width: var(--wp--custom--button--border-width);
	border-style: solid;
	border-color: var(--wp--custom--button--border-color);
	border-radius: var(--wp--custom--button--border-radius);
	background-color: var(--wp--custom--button--background-color);
	color: var(--wp--custom--button--text-color);

	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	font-style: var(--wp--custom--button--font-style);
	font-weight: var(--wp--custom--button--font-weight);
	line-height: initial;
	letter-spacing: var(--wp--custom--button--letter-spacing);
	text-transform: var(--wp--custom--button--text-transform);

	svg {
		fill: currentColor;
	}

	&:hover,
	&:focus {
		border-color: var(--wp--custom--button--border-color-focus);
		background-color: var(--wp--custom--button--background-color-focus);
		color: var(--wp--custom--button--text-color-focus);

		text-decoration: none;
		outline: none; // Reset .using-keyboard style
	}
}

// Button without any styles
@mixin button-nude() {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em; // Prepare gap for button with icon
	appearance: none;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	background: transparent;
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:is( :hover, :focus ) {
		background: transparent;
	}
}

// Button with normal link appearance
@mixin button-link() {
	@include button-nude();

	color: var(--link-color);

	&:is( :hover, :focus ) {
		color: var(--link-color--focus);
		text-decoration: underline;
	}
}

// Title typography
@mixin title-typography() {
	font-family: var(--wp--custom--title--font-family);
	font-size: var(--wp--custom--title--font-size);
	font-style: var(--wp--custom--title--font-style);
	font-weight: var(--wp--custom--title--font-weight);
	line-height: var(--wp--custom--title--line-height);
	letter-spacing: var(--wp--custom--title--letter-spacing);
	text-transform: var(--wp--custom--title--text-transform);
}

// Title color
@mixin title-color() {
	color: var(--wp--custom--title--text-color);

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--wp--custom--title--link-color-focus, inherit);
		}
	}
}

// Small title typography
@mixin small-title-typography() {
	font-family: var(--wp--custom--small-title--font-family);
	font-size: var(--wp--custom--small-title--font-size);
	font-style: var(--wp--custom--small-title--font-style);
	font-weight: var(--wp--custom--small-title--font-weight);
	line-height: var(--wp--custom--small-title--line-height);
	letter-spacing: var(--wp--custom--small-title--letter-spacing);
	text-transform: var(--wp--custom--small-title--text-transform);
}

// Small title color
@mixin small-title-color() {
	color: var(--wp--custom--small-title--text-color);

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--wp--custom--small-title--link-color-focus, inherit);
		}
	}
}

// Meta typography
@mixin meta-typography() {
	font-family: var(--wp--custom--meta--font-family);
	font-size: var(--wp--custom--meta--font-size);
	font-style: var(--wp--custom--meta--font-style);
	font-weight: var(--wp--custom--meta--font-weight);
	line-height: var(--wp--custom--meta--line-height);
	letter-spacing: var(--wp--custom--meta--letter-spacing);
	text-transform: var(--wp--custom--meta--text-transform);
}

// Meta color
@mixin meta-color() {
	color: var(--wp--custom--meta--text-color);

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--wp--custom--meta--link-color-focus, inherit);
		}
	}
}

// Background using currentColor and opacity (via :before pseudo class)
@mixin background-current-color( $opacity: 0.1 ) {
	& {
		position: relative;
		overflow: hidden;
		isolation: isolate;

		&:before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: currentColor;
			z-index: -1;
			opacity: $opacity;
		}
	}
}
