// Float container
@mixin float-container() {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Remove top margin of an element if it's the first child
@mixin remove-margin-top-for-first-child() {
	&:first-child {
		margin-block-start: 0;
	}
}

// Remove bottom margin of an element if it's the last child
@mixin remove-margin-bottom-for-last-child() {
	&:last-child {
		margin-block-end: 0;
	}
}

// Hide visually
@mixin hide-visually( $focus-reveal: true ) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	transition: none;

	@if $focus-reveal {
		&:focus {
			background-color: #ddd;
			clip: auto !important;
			clip-path: none;
			color: #444;
			display: block;
			font-size: 1em;
			height: auto;
			left: 5px;
			line-height: normal;
			padding: 15px 23px 14px;
			text-decoration: none;
			top: 5px;
			width: auto;
			z-index: 100000; // Above WP toolbar.
		}
	}
}

// Hide element
@mixin hide( $transition: true ) {
	opacity: 0;
	visibility: hidden;

	@if $transition {
		transition: opacity var(--transition-duration, 0.25s), visibility 0s var(--transition-duration, 0.25s); // hide transition
	} @else {
		transition: none;
	}
}

// Show element
@mixin show( $transition: true ) {
	opacity: 1;
	visibility: visible;

	@if $transition {
		transition: opacity var(--transition-duration, 0.25s), visibility 0s; // show transition
	} @else {
		transition: none;
	}
}

// Input {
@mixin input() {
	display: inline-flex;
	max-width: 100%;
	vertical-align: middle;

	padding: var(--input--padding, 0.5em 0.75em);
	border-style: solid;
	border-radius: var(--input--border-radius, 0);
	border-width: var(--input--border-width, 1px);
	border-color: var(--input--border-color, var(--color-palette-6));
	background-color: var(--input--background-color, var(--color-palette-8));
	color: var(--input--text-color, var(--color-palette-2));

	font-family: var(--input--font-family, var(--base--font-family));
	font-size: var(--input--font-size, var(--base--font-size));
	font-style: var(--input--font-style, var(--base--font-style));
	line-height: initial;
	letter-spacing: var(--input--letter-spacing, 0);
	text-transform: var(--input--text-transform, none);

	transition: all var(--transition-duration);

	&:focus {
		border-color: var(--input--border-color--focus, var(--input--border-color));
		background-color: var(--input--background-color--focus, var(--input--background-color));
		color: var(--input--text-color--focus, var(--input--text-color));

		outline: none; // Reset .using-keyboard style
	}
}

// Button
@mixin button() {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em; // Prepare gap for button with icon
	appearance: none;
	max-width: 100%;
	vertical-align: middle;
	cursor: pointer;
	word-break: normal;
	isolation: isolate;

	padding: var(--button--padding, 0.5em 1em 0.5em 1em);
	border-style: solid;
	border-radius: var(--button--border-radius, 0.2em);
	border-width: var(--button--border-width, 1px);
	border-color: var(--button--border-color, var(--color-palette-4));
	background-color: var(--button--background-color, var(--color-palette-4));
	color: var(--button--text-color, var(--color-palette-8));

	font-family: var(--button--font-family, var(--base--font-family));
	font-size: var(--button--font-size, var(--base--font-size));
	font-style: var(--button--font-style, normal);
	font-weight: var(--button--font-weight, normal);
	line-height: initial;
	letter-spacing: var(--button--letter-spacing, 0);
	text-transform: var(--button--text-transform, none);

	text-align: center;

	transition: all var(--transition-duration);

	svg {
		fill: currentColor;
	}

	&:hover,
	&:focus {
		border-color: var(--button--border-color--focus, var(--button--border-color));
		background-color: var(--button--background-color--focus, var(--button--background-color));
		color: var(--button--text-color--focus);

		text-decoration: none;
		outline: none; // Reset .using-keyboard style
	}
}

// Button without any styles
@mixin button-nude() {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em; // Prepare gap for button with icon
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	background: transparent;
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:is( :hover, :focus ) {
		background: transparent;
	}
}

// Button with normal link appearance
@mixin button-link() {
	@include button-nude();

	color: var(--link-color);

	&:is( :hover, :focus ) {
		color: var(--link-color--focus);
		text-decoration: underline;
	}
}

// Reverse link color
@mixin reverse-link-color() {
	color: inherit;

	&:is( :hover, :focus ) {
		color: var(--link-color);
	}
}

// Title typography
@mixin title-typography() {
	font-family: var(--title--font-family);
	font-size: var(--title--font-size);
	font-style: var(--title--font-style);
	font-weight: var(--title--font-weight);
	line-height: var(--title--line-height);
	letter-spacing: var(--title--letter-spacing);
	text-transform: var(--title--text-transform);
}

// Title color
@mixin title-color() {
	color: var(--title--text-color);

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--title--link-color--focus);
		}
	}
}

// Small title typography
@mixin small-title-typography() {
	font-family: var(--small-title--font-family);
	font-size: var(--small-title--font-size);
	font-style: var(--small-title--font-style);
	font-weight: var(--small-title--font-weight);
	line-height: var(--small-title--line-height);
	letter-spacing: var(--small-title--letter-spacing);
	text-transform: var(--small-title--text-transform);
}

// Small title color
@mixin small-title-color() {
	color: var(--small-title--text-color);

	a {
		color: inherit;

		&:focus, &:hover {
			color: var(--small-title--link-color--focus);
		}
	}
}

// Meta typography
@mixin meta-typography() {
	font-family: var(--meta--font-family);
	font-size: var(--meta--font-size);
	font-style: var(--meta--font-style);
	font-weight: var(--meta--font-weight);
	line-height: var(--meta--line-height);
	letter-spacing: var(--meta--letter-spacing);
	text-transform: var(--meta--text-transform);
}

// Meta color
@mixin meta-color() {
	color: var(--meta--text-color);
}

// Padding when element has .has-background
@mixin padding-for-has-background() {
	&:where(.has-background) {
		padding: var(--wp--style--block-gap);
	}
}

// Align left & right max width
@mixin max-width-for-alignleft-alignright() {
	// Apply max-width to floated items that have no intrinsic width.
	&:where(.alignleft, .alignright) {
		max-width: calc( 50% - ( var(--wp--style--block-gap) / 2 ) ); // Fix value, only overrideable via custom CSS
		width: 100%;
	}
}

// Align full ignores padding
@mixin stretch-alignfull() {
	&:is(.alignfull) {
		margin-inline-start: calc( -1 * ( min( var(--canvas-width), 100vw ) - 100% ) / 2 ) !important;
		margin-inline-end: calc( -1 * ( min( var(--canvas-width), 100vw ) - 100% ) / 2 ) !important;
	}
}

// Background using currentColor and opacity (via :before pseudo class)
@mixin background-current-color( $opacity: 0.1 ) {
	& {
		position: relative;
		overflow: hidden;
		isolation: isolate;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0;
			margin: 0;
			background-color: currentColor;
			z-index: -1;
			opacity: $opacity;
		}
	}
}
