// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 425px;

// Admin bar
$adminbar-breakpoint-sticky: 601px;
$adminbar-breakpoint: 783px;
$adminbar-height: 32px;
$adminbar-height-mobile: 46px;
