/**
 * Float clearing
 */

.clear {
	display: none; // We don't need this div.
}

/**
 * 2 columns set
 */

.woocommerce .col2-set {
	.col-2 {
		margin-block-start: calc( 3 * var(--block-spacing) );
	}

	@media screen and ( min-width: $breakpoint-tablet ) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: calc( 2 * var(--block-spacing) );

		.col-1,
		.col-2 {
			flex-basis: calc( 50% - var(--block-spacing) );
		}

		.col-2 {
			margin-block-start: 0;
		}
	}
}
