/**
 * WooCommerce CSS Variables
 */

$woocommerce:   #a46497 !default;
$green:         #7ad03a !default;
$red:           #a00 !default;
$orange:        #ffba00 !default;
$blue:          #2ea2cc !default;

$primary:       var(--color-palette-4) !default;   // Primary color for buttons (alt)
$primarytext:   var(--color-palette-8) !default;   // Text on primary color bg

$secondary:     var(--color-palette-6) !default;   // Secondary buttons
$secondarytext: var(--color-palette-1) !default;   // Text on secondary color bg

$highlight:     var(--color-palette-4) !default;   // Prices, In stock labels, sales flash
$highlightext:  var(--color-palette-8) !default;   // Text on highlight color bg

$contentbg:     var(--color-palette-8) !default;   // Content BG - Tabs (active state)
$subtext:       var(--color-palette-3) !default;   // small, breadcrumbs etc

// export vars as CSS vars
:root {
	--woocommerce: #{$woocommerce};
	--wc-green: #{$green};
	--wc-red: #{$red};
	--wc-orange: #{$orange};
	--wc-blue: #{$blue};
	--wc-primary: #{$primary};
	--wc-primary-text: #{$primarytext};
	--wc-secondary: #{$secondary};
	--wc-secondary-text: #{$secondarytext};
	--wc-highlight: #{$highlight};
	--wc-highligh-text: #{$highlightext};
	--wc-content-bg: #{$contentbg};
	--wc-subtext: #{$subtext};
}
