/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scripts/dashboard/index.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
.appearance_page_suki #wpcontent {
  padding: 0;
}
.appearance_page_suki #wpcontent *,
.appearance_page_suki #wpcontent *:before,
.appearance_page_suki #wpcontent *:after {
  box-sizing: border-box;
}
.appearance_page_suki #wpbody-content > .notice {
  display: none;
}
.appearance_page_suki .update-nag {
  margin: 0;
  display: block;
}

.suki-admin-dashboard__container {
  width: 100%;
  max-width: min(100%, 800px);
  padding: 0 20px;
  margin: 0 auto;
}

.suki-admin-dashboard__version-badge {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.1);
}

.suki-admin-dashboard__heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.suki-admin-dashboard__subheading {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.suki-admin-dashboard__header {
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.suki-admin-dashboard__header .suki-admin-dashboard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  min-height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.suki-admin-dashboard__header-logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
}
.suki-admin-dashboard__header-logo img {
  height: 30px;
}

.suki-admin-dashboard__header-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
}
.suki-admin-dashboard__header-links a {
  font-weight: 500;
  text-decoration: none;
}

.suki-admin-dashboard__body {
  padding: 30px 0 0;
}
.suki-admin-dashboard__body .suki-admin-dashboard__container {
  display: grid;
  gap: 30px;
}
.suki-admin-dashboard__body .suki-admin-dashboard__container > *:empty {
  display: none;
}
.suki-admin-dashboard__body .notice {
  margin: 0;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scripts/dashboard/customizer-shortcuts/index.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.suki-admin-dashboard__customizer-links {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 8px;
  font-weight: 500;
}
@media screen and (min-width: 400px) {
  .suki-admin-dashboard__customizer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

.suki-admin-dashboard__customizer-link a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.suki-admin-dashboard__customizer-link .dashicons {
  font-size: 24px;
  width: 1em;
  height: 1em;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scripts/dashboard/pro-teaser/index.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.suki-admin-dashboard__pro-teaser-modules-category {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.suki-admin-dashboard__pro-teaser-modules-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 12px;
  row-gap: 8px;
}
@media screen and (min-width: 400px) {
  .suki-admin-dashboard__pro-teaser-modules-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 760px) {
  .suki-admin-dashboard__pro-teaser-modules-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.suki-admin-dashboard__pro-teaser-modules-grid .dashicons {
  opacity: 0.25;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scripts/dashboard/sites-import/index.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@media screen and (min-width: 600px) {
  .suki-admin-dashboard__sites-import > div {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .suki-admin-dashboard__sites-import .suki-admin-dashboard__sites-import-banner {
    width: 45%;
  }
}
.suki-admin-dashboard__sites-import .suki-admin-dashboard__sites-import-banner img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 600px) {
  .suki-admin-dashboard__sites-import .suki-admin-dashboard__sites-import-text {
    width: 55%;
  }
}

/*# sourceMappingURL=dashboard.css.map*/