/**
 * Block: Button
 */

.wp-block-button {
	--gap: var(--wp--style--block-gap, 0.5em);

	&__link {
		@extend %button;
		width: 100%;

		&.aligncenter {
			text-align: center;
		}

		&.alignright {
			/*rtl:ignore*/
			text-align: right;
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			background-color: transparent;
			border-color: currentColor;
			color: var(--button--background-color, revert);

			&:not(:hover, :focus) { // When button .has-background-color, the background color is only used for hover state.
				background-color: transparent !important; // Use !important to override WP generated CSS
			}
			
			&:hover, &:focus {
				color: var(--button--background-color--focus, var(--button--background-color));
			}
		}
	}

	&__width {
		&-25 {
			width: calc( 25% - ( var(--gap) * ( 3 / 4 ) ) );
		}
		&-50 {
			width: calc( 50% - ( var(--gap) * ( 1 / 2 ) ) );
		}
		&-75 {
			width: calc( 75% - ( var(--gap) * ( 3 / 4 ) ) );
		}
		&-100 {
			width: 100%;
		}
	}
}

/**
 * Block: Buttons
 */

.wp-block-buttons {
	&.is-vertical {
		.wp-block-button {
			&__width {
				&-25 {
					width: 25%;
				}
				&-50 {
					width: 50%;
				}
				&-75 {
					width: 75%;
				}
			}
		}
	}
}

/**
 * Block: File
 */

.wp-block-file {
	display: flex;
	align-items: center;
	gap: calc( 0.5 * var(--wp--style--block-gap) );

	&__button {
		@extend %button;
	}
}