/**
 * Block: Group
 */

:where([class*="wp-container-"]) {
	clear: both; // Clear floating whenever a container appears.
}

/**
 * Block layout support
 */

.is-vertical {
	flex-direction: column;
}

.is-nowrap {
	flex-wrap: nowrap;
}

.is-content-justification-left {
	justify-content: flex-start;

	&.is-vertical {
		align-items: flex-start;
	}
}

.is-content-justification-center {
	justify-content: center;

	&.is-vertical {
		align-items: center;
	}
}

.is-content-justification-right {
	justify-content: flex-end;

	&.is-vertical {
		align-items: flex-end;
	}
}

.is-content-justification-space-between {
	justify-content: space-between;
}

/**
 * Block layout support (theme classes)
 */

.suki-container {
	> * {
		margin-inline: auto;
		margin-block: 0;
	}

	> * + * {
		margin-block-start: var(--wp--style--block-gap);
	}

	> style:first-child + * {
		margin-block-start: 0;
	}

	&--default {
		> * {
			max-width: var(--content-width--narrow);
		}
	}

	clear: both;
}

.suki-flex {
	display: flex;
	gap: var(--wp--style--block-gap);

	&:not(.is-nowrap) {
		flex-wrap: wrap;
	}

	&:not(.is-vertical) {
		align-items: center;
	}

	> * {
		margin: 0;
	}
}

/**
 * Define border style when a block has border-width
 */

:where( [style*="border-width"] ) {
	border-style: solid;
}
