%comments-heading {
	@include small-title-typography();
	@include small-title-color();
}

/**
 * Block: Comments title {
 */

.wp-block-comments-title {
	@extend %comments-heading;
}

/**
 * Block: Comment template
 */

.wp-block-comment-template {
	list-style: none;
	padding: 0;

	.comment {
		clear: both;
	}

	.comment > ol {
		list-style: none;
		padding-inline-start: calc( 2 * var(--block-spacing) );
	}

	&,
	.comment,
	.comment > ol {
		display: grid;
		gap: calc( 2 * var(--block-spacing) );
	}
}

/**
 * Block: Comment edit link
 */

.wp-block-comment-edit-link {
	a {
		&:before {
			content: "✎ ";
		}
	}
}


/**
 * Block: Comment reply link
 */

.wp-block-comment-reply-link {
	a {
		&:before {
			content: "↪ ";
		}
	}
}

/**
 * Block: Coments pagination
 */

.wp-block-comments-pagination {
	gap: calc( 0.5 * var(--block-spacing) ) !important;

	> * {
		display: inline-flex;
		gap: calc( 0.5 * var(--block-spacing) );
	}
}

/**
 * Block: Comment form
 */

.wp-block-post-comments-form {
	.wp-block-comment-template & {
		margin-block-start: 0 !important; // Reset
	}

	.comment-reply-title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--block-spacing);
		@extend %comments-heading;

		small {
			@extend %meta;
			margin-inline-start: auto;

			a {
				&:before {
					content: "✕ ";
				}
			}
		}
	}

	.comment-form {
		:where(.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url) {
			label {
				display: block;
			}
		}

		textarea {
			height: 6em;
			width: 100%;
		}

		.logged-in-as {
			@extend %meta;
		}
	}
}
