// -------------------------------------------------------------
// Block: Buttons
// -------------------------------------------------------------

.wp-element-button {
	// @include button();

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em; // Prepare gap for button with icon
	appearance: none;
	max-width: 100%;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	transition: all var(--transition-duration);
	isolation: isolate;

	svg {
		fill: currentColor;
	}
}

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			padding: 0.5em 1em; // Reset WP default CSS for `is-style-outline`.
			color: currentColor;
			border-width: 1px; // Reset WP default CSS for `is-style-outline`.
		}
	}
}

// -------------------------------------------------------------
// Block: Columns
// -------------------------------------------------------------

.wp-block-columns {
	margin-bottom: unset;
}

// -------------------------------------------------------------
// Block: Separator
// -------------------------------------------------------------

.wp-block-separator {
	border-top: none;

	&:not([class*="is-style-"]), &.is-style-default {
		border-bottom-width: min( 5px, 0.2em );
		max-width: min( 8em, 12.5% ) !important;
	}

	&.is-style-dots {
		line-height: 0.15;

		&:before {
			padding-left: 1em;
			letter-spacing: 1em;
			vertical-align: middle;
		}
	}
}
