/**
 * Block layout class
 */

.suki-container {
	> * {
		margin-block: 0;
		margin-inline: auto;
	}

	> * + * {
		margin-block-start: var(--wp--style--block-gap);
	}

	> style:first-child + * {
		margin-block-start: 0;
	}

	&--default {
		> * {
			max-width: var(--content-width--narrow);
		}
	}
}

.suki-flex {
	display: flex;
	gap: var(--wp--style--block-gap);

	> * {
		margin: 0;
	}
	
	&--stack {
		flex-direction: column;
	}
	
	&--wrap {
		flex-wrap: wrap;
	}
	
	&--justify {
		&-left {
			justify-content: flex-start;
		}
	
		&-center {
			justify-content: center;
		}
	
		&-right {
			justify-content: flex-end;
		}
		
		&-space-between {
			justify-content: space-between;
		}
	}
	
	&--align {
		&-top,
		&-left {
			align-items: flex-start;
		}
	
		&-center {
			align-items: center;
		}
	
		&-bottom,
		&-right {
			align-items: flex-end;
		}
	}
}