/**
 * Block: Image
 */

 .wp-block-image {
	overflow: hidden;

	@include stretch-alignfull();

	&.is-style-rounded {
		img {
			// We use an absolute pixel to prevent the oval shape that a value of 50% would give
			// to rectangular images. A pill-shape is better than otherwise.
			border-radius: 9999px;
		}
	}
}

/**
 * Block: Audio
 */

.wp-block-audio {
	audio {
		width: 100%;
	}
}

/**
 * Block: Video
 */

.wp-block-video {
	@include stretch-alignfull();
}

/**
 * Block: Cover
 */

.wp-block-cover {
	position: relative;
	background-size: cover;
	background-position: center center;
	min-height: 20rem; // Default
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--wp--style--block-gap);
	gap: 0; // Cover doesn't need gap

	@include stretch-alignfull();

	&.has-parallax {
		background-attachment: fixed; // When parallax mode is activated, .wp-block-cover__image-background is removed

		// Mobile Safari does not support fixed background attachment properly.
		// See also https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios
		// Chrome on Android does not appear to support the attachment at all: https://issuetracker.google.com/issues/36908439
		@supports (-webkit-overflow-scrolling: touch) {
			background-attachment: scroll;
		}

		// Remove the appearance of scrolling based on OS-level animation preferences.
		@media (prefers-reduced-motion: reduce) {
			background-attachment: scroll;
		}
	}

	&.is-repeated {
		background-repeat: repeat;
		background-size: auto;
	}

	&.has-background-dim {
		&:not([class*="-background-color"]) {
			background-color: #000; // Default
		}

		&-10 {
			opacity: 0.1;
		}
		&-20 {
			opacity: 0.2;
		}
		&-30 {
			opacity: 0.3;
		}
		&-40 {
			opacity: 0.4;
		}
		&-50 {
			opacity: 0.5;
		}
		&-60 {
			opacity: 0.6;
		}
		&-70 {
			opacity: 0.7;
		}
		&-80 {
			opacity: 0.8;
		}
		&-90 {
			opacity: 0.9;
		}
		&-100 {
			opacity: 1;
		}
	}

	&__gradient-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		opacity: 0.5; // Default
	}

	@include max-width-for-alignleft-alignright();

	&__inner-container {
		--text-color: #000;

		width: 100%;
		z-index: 1;
		color: var(--text-color);
	}

	&:not(.is-light) {
		.wp-block-cover__inner-container {
			--text-color: #fff;
		}
	}

	:where(p,h1,h2,h3,h4,h5,h6) {
		&:not(.has-text-color) {
			color: inherit;
		}
	}

	&.is-position {
		&-top-left {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&-top-center {
			align-items: flex-start;
			justify-content: center;
		}
		&-top-right {
			align-items: flex-start;
			justify-content: flex-end;
		}
		&-center-left {
			align-items: center;
			justify-content: flex-start;
		}
		&-center-center {
			align-items: center;
			justify-content: center;
		}
		&-center-right {
			align-items: center;
			justify-content: flex-end;
		}
		&-bottom-left {
			align-items: flex-end;
			justify-content: flex-start;
		}
		&-bottom-center {
			align-items: flex-end;
			justify-content: center;
		}
		&-bottom-right {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	&.has-custom-content-position.has-custom-content-position {
		.wp-block-cover__inner-container {
			margin: 0;
			width: auto;
		}
	}

	&__video-background,
	&__image-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		object-fit: cover;
	}
}

.wp-block-cover-image {
	// Fallback alias for .wp-block-cover
	@extend .wp-block-cover;
}

/**
 * Block: Embed
 */

.wp-block-embed {
	@include stretch-alignfull();

	// Supply a min-width when inside a cover block, to prevent it from collapsing.
	.wp-block-cover & {
		min-width: 320px;
		min-height: 240px;
	}

	@include max-width-for-alignleft-alignright();

	// Supply a min-width when inside a cover block, to prevent it from collapsing.
	.wp-block-cover & {
		min-width: 320px;
		min-height: 240px;
	}

	&__wrapper {
		position: relative;
	}
}

.wp-embed-responsive {
	// Add responsiveness to embeds with aspect ratios.
	& .wp-has-aspect-ratio {
		.wp-block-embed__wrapper::before {
			content: "";
			display: block;
			padding-top: 50%; // Default to 2:1 aspect ratio.
		}

		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
		padding-top: 42.85%; // 9 / 21 * 100
	}

	.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
		padding-top: 50%; // 9 / 18 * 100
	}

	.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
		padding-top: 56.25%; // 9 / 16 * 100
	}

	.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
		padding-top: 75%; // 3 / 4 * 100
	}

	.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
		padding-top: 100%; // 1 / 1 * 100
	}

	.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before {
		padding-top: 177.77%; // 16 / 9 * 100
	}

	.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
		padding-top: 200%; // 2 / 1 * 100
	}
}

/**
 * Block: \Gallery
 */

.wp-block-gallery {
	--gap: var(--wp--style--block-gap, 0.5em);

	display: grid;
	gap: var(--gap);

	> * {
		position: relative;
		margin: 0; // Reset <figure> margin
	}

	&.columns-2 {
		grid-template-columns: repeat( 2, 1fr );
	}
	
	&.columns-default,
	&.columns-3 {
		grid-template-columns: repeat( 3, 1fr );
	}

	// On phone and larger devices, gallery will have at least 2 columns
	&:where(.columns-4, .columns-5, .columns-6, .columns-7, .columns-8) {
		grid-template-columns: repeat( 2, 1fr );
	}

	@media screen and ( min-width: $breakpoint-phone ) and ( max-width: ( $breakpoint-tablet - 1px ) ) {
		&:where(.columns-5, .columns-6) {
			grid-template-columns: repeat( 3, 1fr );
		}

		&:where(.columns-7, .columns-8) {
			grid-template-columns: repeat( 4, 1fr );
		}
	}

	@media screen and ( min-width: $breakpoint-tablet ) {
		&.columns-4 {
			grid-template-columns: repeat( 4, 1fr );
		}
	
		&.columns-5 {
			grid-template-columns: repeat( 5, 1fr );
		}
	
		&.columns-6 {
			grid-template-columns: repeat( 6, 1fr );
		}
	
		&.columns-7 {
			grid-template-columns: repeat( 7, 1fr );
		}
	
		&.columns-8 {
			grid-template-columns: repeat( 8, 1fr );
		}
	}

	&.is-cropped {
		align-items: stretch;

		> * {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		img {
			flex-grow: 1;
			object-fit: cover;
		}
	}

	&.aligncenter {
		justify-content: center;
	}

	@include max-width-for-alignleft-alignright();
}

/**
 * Block: Media and Text
 */

.wp-block-media-text {
	/*!rtl:begin:ignore*/
	direction: ltr;
	/*!rtl:end:ignore*/

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "media content";
	align-items: center;

	@include stretch-alignfull();
	
	&.has-media-on-the-right {
		grid-template-areas: "content media";
	}

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-center {
		align-items: center;
	}
	
	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	&__media {
		grid-area: media;
		margin: 0;

		img {
			object-fit: cover;
		}

		.is-image-fill > & {
			align-self: stretch;

			a {
				display: block;
				height: 100%;
			}
			
			img {
				height: 100%;
			}
		}
	}
	
	&__content {
		grid-area: content;
		padding: clamp( var(--wp--style--block-gap), 10%, calc( 2 * var(--wp--style--block-gap) ) );
	}

	&.is-stacked-on-mobile {
		@media screen and ( max-width: ( $breakpoint-tablet - 1px ) ) {
			grid-template-columns: 100% !important; // Use important to override inline style from the block settings
			grid-template-areas: "media" "content";
		}
	}
}