// -------------------------------------------------------------
// Block: Gallery
// -------------------------------------------------------------

.wp-block-gallery {
	&.has-nested-images {
		figure.wp-block-image {
			figcaption {
				font-size: var(--wp--preset--font-size--small); // Reset `block-library/style.css`.
				padding: 0.5em;
			}

			&:not(.is-style-rounded) {
				figcaption {
					opacity: 1;
				}
			}

			&.has-custom-border, &.is-style-rounded {
				figcaption {
					padding: 0.5em;
				}
			}
		}
	}
}

