/**
 * Block: Latest posts, latest comments, archives, categories, pages list, RSS
 */

.wp-block-archives,
.wp-block-categories,
.wp-block-page-list {
	@extend %widget-list;
}

.wp-block-latest-posts {
	@extend %widget-list;

	&:where(.has-author, .has-dates) {
		gap: calc( 0.75 * var(--wp--style--block-gap) );
	}

	li {
		@include float-container();

		a {
			display: flex;
		}
	}

	&__featured-image {
		margin-bottom: calc( 0.5 * var(--wp--style--block-gap) );

		a {
			display: inline-block;
		}

		img {
			width: 100%; // Set width because WP use max-width to apply image size from the block settings
		}

		&.alignleft {
			/*rtl:ignore*/
			margin-right: calc( 0.5 * var(--wp--style--block-gap) ) !important; // Use !important because WP generates inline CSS for alignleft (margin-right: 2em) which has high specificity
		}
		
		&.alignright {
			/*rtl:ignore*/
			margin-left: calc( 0.5 * var(--wp--style--block-gap) ) !important; // Use !important because WP generates inline CSS for alignright (margin-left: 2em) which has high specificity
		}

		&.aligncenter {
			text-align: center;
			margin-bottom: calc( 0.5 * var(--wp--style--block-gap) );
		}
	}

	&__post-author {
		display: inline;
		@extend %meta;
		
		& + .wp-block-latest-posts__post-date {
			&:before {
				content: "–";
				margin: 0 0.5em;
			}
		}
	}
	
	&__post-date {
		display: inline;
		@extend %meta;
	}

	&__post-excerpt {
		margin-top: calc( 0.5 * var(--wp--style--block-gap) );

		li:not(:last-child) > & {
			margin-bottom: calc( 0.25 * var(--wp--style--block-gap) );
		}
		
		.widget & {
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--line-height--small);
		}
	}

	&.is-grid {
		--gap: var(--wp--style--block-gap);

		display: grid;
		gap: var(--gap);

		@media screen and ( min-width: $breakpoint-phone ) {
			&:where(.columns-2, .columns-3, .columns-4, .columns-5, .columns-6) {
				grid-template-columns: repeat( 2, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-tablet ) {
			&:where(.columns-3, .columns-5, .columns-6) {
				grid-template-columns: repeat( 3, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-desktop ) {
			&.columns-4 {
				grid-template-columns: repeat( 4, 1fr );
			}

			&.columns-5 {
				grid-template-columns: repeat( 5, 1fr );
			}

			&.columns-6 {
				grid-template-columns: repeat( 6, 1fr );
			}
		}

	}
}

.wp-block-latest-comments {
	@extend %widget-list;

	&:where(.has-dates, .has-avatars, .has-excerpts) {
		gap: calc( 0.75 * var(--wp--style--block-gap) );
	}

	&__comment {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
	}

	&__comment-avatar {
		flex-shrink: 0;
		flex-basis: 3rem;
		border-radius: 9999px;
		outline: red;

		& + * {
			flex-grow: 1;
		}
	}
	
	&__comment-date {
		display: block;
		@extend %meta;
	}
	
	&__comment-excerpt {
		margin-top: calc(0.5 * var(--wp--style--block-gap));

		li:not(:last-child) > article > & {
			margin-bottom: calc( 0.25 * var(--wp--style--block-gap) );
		}

		> * {
			margin: 0;
		}

		.widget & {
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--line-height--small);
		}
	}
}

.wp-block-archives-dropdown {
	label {
		display: block;
	}
}

.wp-block-rss {
	@extend %widget-list;

	li {
		> a {
			display: inline-block;

			&:only-child {
				margin-bottom: calc( -0.25 * var(--wp--style--block-gap) );
			}
		}
	}

	&__item-publish-date {
		display: inline;
		@extend %meta;
		
		& + .wp-block-rss__item-author {
			&:before {
				content: "–";
				margin: 0 0.5em;
			}
		}
	}
	
	&__item-author {
		display: inline;
		@extend %meta;
	}

	&__item-excerpt {
		margin-top: calc( 0.5 * var(--wp--style--block-gap) );

		li:not(:last-child) > & {
			margin-bottom: calc( 0.75 * var(--wp--style--block-gap) );
		}

		.widget & {
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--line-height--small);
		}
	}
}

/**
 * Block: Calendar
 */

.wp-block-calendar {
	@extend %widget-calendar;
}

/**
 * Block: Tag cloud
 */

.wp-block-tag-cloud {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 0.5em;
	column-gap: 0.75em;

	a {
		@include reverse-link-color();
	}
}