// -------------------------------------------------------------
// Block: Query
// -------------------------------------------------------------

.wp-block-query {
	@include padding-for-has-background();
}

// -------------------------------------------------------------
// Block: Post Template
// -------------------------------------------------------------

.wp-block-post-template {
	list-style: none;
	padding: 0;
	margin: 0;

	&:where(.is-flex-container) {
		display: grid;
		gap: calc( 1.5 * var(--wp--style--block-gap) );

		@media screen and ( min-width: $breakpoint-phone ) {
			&:where(.columns-2, .columns-3, .columns-4, .columns-5, .columns-6) {
				grid-template-columns: repeat( 2, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-tablet ) {
			&:where(.columns-3, .columns-5, .columns-6) {
				grid-template-columns: repeat( 3, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-desktop ) {
			&.columns-4 {
				grid-template-columns: repeat( 4, 1fr );
			}

			&.columns-5 {
				grid-template-columns: repeat( 5, 1fr );
			}

			&.columns-6 {
				grid-template-columns: repeat( 6, 1fr );
			}
		}

		.wp-block-post {
			margin-block: 0;
		}
	}
}

// -------------------------------------------------------------
// Block: Post author
// -------------------------------------------------------------

.wp-block-post-author {
	display: flex;
	gap: var(--wp--style--block-gap);
	@include padding-for-has-background();

	@media screen and ( max-width: ( $breakpoint-phone - 0.1px ) ) {
		flex-direction: column;
	}

	&.has-text-align-center {
		flex-direction: column;

		@media screen and ( max-width: ( $breakpoint-phone - 0.1px ) ) {
			flex-direction: column;
			align-items: center;
		}
	}

	&.has-text-align-left {
		flex-direction: row;

		@media screen and ( max-width: ( $breakpoint-phone - 0.1px ) ) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&.has-text-align-right {
		flex-direction: row-reverse;

		@media screen and ( max-width: ( $breakpoint-phone - 0.1px ) ) {
			flex-direction: column;
			align-items: flex-end;
		}
	}
}

.wp-block-post-author__avatar {
	flex-shrink: 0;

	.avatar {
		border-radius: 9999px;
	}
}

.wp-block-post-author__content {
	flex-grow: 1;

	> * {
		margin: 0;
	}
}

.wp-block-post-author__bio {
	margin-block-start: calc( 0.5 * var(--wp--style--block-gap) );
}

.wp-block-post-author__byline {
	@extend %meta;
}

// -------------------------------------------------------------
// Block: Post element
// -------------------------------------------------------------

.wp-block-post-date {
	&.has-background {
		padding: 0.25em 0.5em;
	}
}

.wp-block-post-featured-image {
	img {
		width: 100%;
	}
}

.wp-block-post-excerpt {
	@include padding-for-has-background();
}

// -------------------------------------------------------------
// Block: Query pagination
// -------------------------------------------------------------

.wp-block-query-pagination {
	@include padding-for-has-background();
	@include max-width-for-alignleft-alignright();
}

.wp-block-query-pagination-numbers {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.75em;
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
	&.has-background {
		padding: 0.25em 0.5em;
	}
}

.wp-block-query-pagination-previous-arrow:after {
	content: "\00a0";
}

.wp-block-query-pagination-next-arrow:before {
	content: "\00a0";
}

// -------------------------------------------------------------
// Previous and next navigation
// -------------------------------------------------------------

.wp-block-post-navigation-link {
	a[rel="prev"]:before {
		content: "« ";
	}

	a[rel="next"]:after {
		content: " »";
	}
}
