/**
 * Block: Post author
 */

.wp-block-post-author {
	display: grid;
	grid-auto-flow: row;
	gap: var(--wp--style--block-gap);
	margin: var(--wp--style--block-gap) 0;
	text-align: center;
	
	@media screen and ( min-width: $breakpoint-phone ) {
		grid-auto-flow: column;
		text-align: initial;
	}

	&__avatar {
		flex-shrink: 0;

		.avatar {
			border-radius: 9999px;
		}
	}

	&__content {
		flex-grow: 1;
	}

	&__byline {
		margin-top: 0;
		margin-bottom: 0;

		@extend %meta;
	}

	&__name {
		@extend %small-title;
		margin: 0;
	}

	&__bio {
		margin-top: calc( 0.5 * var(--wp--style--block-gap) );
	}

	@include padding-for-has-background();
}

/**
 * Block: Query
 */

.wp-block-query {
	@include padding-for-has-background();
}

.wp-block-post-template {
	list-style: none;
	padding: 0;
	margin: 0;

	display: grid;
	gap: calc( 3 * var(--wp--style--block-gap) );

	> .wp-block-post + .wp-block-post {
		margin-top: 0; // Reset WordPress generated CSS
	}

	&.is-flex-container {
		gap: var(--wp--style--block-gap);

		@media screen and ( min-width: $breakpoint-phone ) {
			&:where(.columns-2, .columns-3, .columns-4, .columns-5, .columns-6) {
				grid-template-columns: repeat( 2, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-tablet ) {
			&:where(.columns-3, .columns-5, .columns-6) {
				grid-template-columns: repeat( 3, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-desktop ) {
			&.columns-4 {
				grid-template-columns: repeat( 4, 1fr );
			}

			&.columns-5 {
				grid-template-columns: repeat( 5, 1fr );
			}

			&.columns-6 {
				grid-template-columns: repeat( 6, 1fr );
			}
		}
	}
}

.wp-block-post {
	@extend %block-container;
}

/**
 * Block: Post element
 */

.wp-block-post-date {
	&.has-background {
		padding: 0.25em 0.5em;
	}
}

.wp-block-post-featured-image {
	img {
		width: 100%;
	}

	@include stretch-alignfull();
}

.wp-block-post-excerpt {
	@include padding-for-has-background();
}

/**
 * Block: Query pagination
 */

.wp-block-query-pagination {
	@include padding-for-has-background();
	@include max-width-for-alignleft-alignright();

	&-numbers {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.75em;
	}

	&-previous,
	&-next {
		&.has-background {
			padding: 0.25em 0.5em;
		}
	}

	&-previous-arrow {
		margin-right: 0.5em;
	}

	&-next-arrow {
		margin-left: 0.5em;
	}
}

/**
 * Previous and next navigation
 */

.wp-block-post-navigation-link {
	a[rel="prev"]:before {
		content: "« ";
	}

	a[rel="next"]:after {
		content: " »";
	}
}