/**
 * Block: Preformatted
 */

.wp-block-preformatted {
	white-space: pre-wrap;

	@include padding-for-has-background();
}

/**
 * Block: Verse
 */

.wp-block-verse {
	font-family: inherit; // Use inherited font family
	white-space: pre-wrap;
	overflow: auto;
}

/**
 * Block: Code
 */

.wp-block-code {	
	code {
		display: block;
		padding: var(--wp--style--block-gap); // Reset
	}
}