// -------------------------------------------------------------
// Block: Quote
// -------------------------------------------------------------

.wp-block-quote {
	padding-inline: var(--wp--style--block-gap) 0;
	border-left-width: min( 5px, 0.2em );
	border-left-style: solid;
	border-color: currentColor;

	&.has-text-align-center {
		padding-inline: var(--wp--style--block-gap);
		border-left: none;
	}

	&.has-text-align-right {
		padding-inline: 0 var(--wp--style--block-gap);
		border-left: none;
		border-right-width: min( 5px, 0.2em );
		border-right-style: solid;
	}

	&.is-style-plain {
		border-color: transparent;
	}
}

// -------------------------------------------------------------
// Block: Table
// -------------------------------------------------------------

.wp-block-table {
	:is( thead, tfoot, tbody, td, th ) {
		border-color: inherit;
	}

	&.is-style-stripes {
		border-bottom: 0; // Reset

		tbody {
			tr:nth-child( odd ) {
				background-color: var(--wp--preset--color--base-2);
			}
		}
	}
}
