/**
 * Block: Paragraph, headings, list
 */

:where( p, h1, h2, h3, h4, h5, h6, ul, ol ) {
	@include padding-for-has-background();
}

:where( ul, ol ) {
	&.has-background {
		padding-inline-start: calc( 2 * var(--block-spacing) );
	}
}

/**
 * Block: Quote
 */

.wp-block-quote {
	padding-inline-start: 1em;
	font-size: var(--h4--font-size);
	line-height: var(--h4--line-height);
	border-left: 0.25rem solid currentColor;

	&.has-text-align-center {
		padding-inline-start: unset;
		border-left: none;
	}

	&.has-text-align-right {
		padding-inline-start: unset;
		padding-inline-end: 1em;
		border-left: none;
		border-right: 0.25rem solid currentColor;
	}

	// Plain style
	&.is-style-plain {
		border: none;
	}
}

/**
 * Block: Code
 */

.wp-block-code {
	code {
		display: block;
		padding: 0.4em 0.6em;
	}
}

/**
 * Block: Preformatted
 */

.wp-block-preformatted {
	white-space: pre-wrap;

	@include padding-for-has-background();
}

/**
 * Block: Pullquote
 */

.wp-block-pullquote {
	blockquote {
		position: relative;
		padding-inline-start: 2.25em;
		isolation: isolate;
		font-size: var(--h3--font-size);
		line-height: var(--h3--line-height);

		p {
			font: inherit; // Needed to override default WP editor style.
		}

		&:before {
			content: "â€";
			position: absolute;
			top: -0.1em;
			left: 0;
			z-index: -1; // Put behind blockquote content
			font-family: sans-serif;
			font-size: 5em;
			line-height: 1;
			opacity: 0.25;
		}
	}

	&.has-border-color {
		border: 1px solid var(--border-color);
	}

	&.has-text-align-center {
		blockquote {
			padding-inline-start: unset;
			padding-block-start: 2em;

			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&.has-text-align-right {
		blockquote {
			padding-inline-start: unset;
			padding-block-end: 2.25em;

			&:before {
				left: auto;
				right: 0;
			}
		}
	}

	@include padding-for-has-background();

	@include max-width-for-alignleft-alignright();
}

/**
 * Block: Table
 */

.wp-block-table {
	overflow-x: auto;

	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();

	table {
		border-collapse: collapse;
		width: 100%;
		margin: 0; // Reset

		&,
		> *,
		tr,
		th,
		td {
			border-width: 1px; // default
		}
	}

	thead {
		th, td {
			border-bottom-width: 0.2rem;
		}
	}

	tfoot {
		th, td {
			border-top-width: 0.2rem;
		}
	}

	.has-border-color {
		> *,
		tr,
		th,
		td {
			border-color: inherit;
		}
	}

	table[style*=border-style] {
		> *,
		tr,
		th,
		td {
			border-style: inherit;
		}
	}

	table[style*=border-width] {
		> *,
		tr,
		th,
		td {
			border-width: inherit;
		}
	}

	.has-fixed-layout {
		table-layout: fixed;

		th, td {
			word-break: break-word;
		}
	}

	&.alignleft,
	&.aligncenter,
	&.alignright {
		display: table;
		width: auto;
		max-width: calc( ( var(--content-width--narrow) / 2 ) - ( var(--block-spacing) / 2 ) );; // Fix value, only overrideable via custom CSS

		th, td {
			word-break: break-word;
		}
	}

	// Stripes style
	&.is-style-stripes {
		tbody {
			tr {
				&:nth-child(odd) {
					background-color: var(--subtle-background-color);
				}
			}
		}

		.has-background {
			tbody {
				tr {
					&:nth-child(odd) {
						background-color: rgba(255,255,255,0.2);
					}
				}
			}
		}
	}
}

/**
 * Block: Verse
 */

.wp-block-verse {
	font-family: inherit; // Use inherited font family
	white-space: pre-wrap;
	overflow: auto;
}
