// -------------------------------------------------------------
// Block: Archives
// Block: Categories List
// Block: Page List
// -------------------------------------------------------------

:is( .wp-block-archives-list, .wp-block-categories-list, .wp-block-page-list ) {
	list-style: none;
	padding-left: 0;

	:is( ol, ul ) {
		list-style: none;
		padding-left: 1.5em;
	}
}

// -------------------------------------------------------------
// Block: Calendar
// -------------------------------------------------------------

.wp-block-calendar {
	.wp-calendar-table {
		text-align: center;
		color: inherit; // Reset
		border: 1px solid;
		border-collapse: separate;
		border-spacing: 0;

		th {
			background-color: unset;
			@include background-current-color();
		}

		:is( td, th ) {
			border-color: transparent;
			text-align: center;
		}
	}

	.wp-calendar-nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

// -------------------------------------------------------------
// Block: Latest Comments
// -------------------------------------------------------------

ol.wp-block-latest-comments {
	padding-left: 0;
	display: flex;
	flex-direction: column;
	gap: 0;

	&:where( .has-dates, .has-excerpts ) {
		gap: 1em;
	}
}

.wp-block-latest-comments__comment {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	margin-bottom: 0; // Reset.
	line-height: inherit; // Reset.

	.has-avatars & {
		min-height: unset; // Reset.

		:is( .wp-block-latest-comments__comment-excerpt, .wp-block-latest-comments__comment-meta ) {
			margin-left: 0;
		}
	}

	article {
		flex-grow: 1;
	}
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	float: none; // Reset.
	margin-right: 0; // Reset.
}

.wp-block-latest-comments__comment-date {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--small);
	opacity: 0.5;
}

.wp-block-latest-comments__comment-excerpt {
	p {
		margin-block: 0.5em 0;
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
		line-height: unset; // Reset.
	}
}

// -------------------------------------------------------------
// Block: Latest Posts
// -------------------------------------------------------------

.wp-block-latest-posts {
	display: flex;
	flex-direction: column;
	gap: 0;

	&:where( .has-dates, .has-author ) {
		gap: 1em;
	}

	li {
		@include float-container();
	}

	&.is-grid {
		display: grid; // Override `wp-block-library` CSS.
		gap: var(--wp--style--block-gap);
		grid-template-columns: 1fr;

		@media screen and ( min-width: $breakpoint-phone ) {
			&.columns-2 {
				grid-template-columns: repeat( 2, 1fr );
			}

			&:is(.columns-3, .columns-4, .columns-5, .columns-6) {
				grid-template-columns: repeat( 3, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-tablet ) {
			&:is(.columns-4, .columns-5, .columns-6) {
				grid-template-columns: repeat( 4, 1fr );
			}
		}

		@media screen and ( min-width: $breakpoint-desktop ) {
			&.columns-5 {
				grid-template-columns: repeat( 5, 1fr );
			}

			&.columns-6 {
				grid-template-columns: repeat( 6, 1fr );
			}
		}

		li {
			margin: 0; // Reset.
			width: unset; // Reset.
		}
	}
}

.wp-block-latest-posts__featured-image:not([class*="align"]) {
	margin-bottom: 0.5em;
}

.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--small);
	opacity: 0.5;
}

.wp-block-latest-posts__post-excerpt {
	margin-block: 0.5em 0;
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--line-height--small);
}

// -------------------------------------------------------------
// Block: RSS
// -------------------------------------------------------------

.wp-block-rss {
	display: flex;
	flex-direction: column;
	gap: 0;

	&:where(.has-dates, .has-avatars, .has-excerpts) {
		gap: 1em;
	}

	.wp-block-rss__item-publish-date, .wp-block-rss__item-author {
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
		opacity: 0.5;
	}

	.wp-block-rss__item-excerpt {
		margin-block: 0.5em 0;
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
	}
}

// -------------------------------------------------------------
// Block: Search
// -------------------------------------------------------------

.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	// @include input();

	transition: all var(--transition-duration);

	padding: 0.25em; // Reset `block-library/style.css`.
	border-width: var(--wp--custom--input--border-width);
	border-style: solid;
	border-color: var(--wp--custom--input--border-color);
	border-radius: var(--wp--custom--input--border-radius);
	background-color: var(--wp--custom--input--background-color);
	color: var(--wp--custom--input--text-color);

	font-family: var(--wp--custom--input--font-family);
	font-size: var(--wp--custom--input--font-size);
	font-style: var(--wp--custom--input--font-style);
	line-height: initial;
	letter-spacing: var(--wp--custom--input--letter-spacing);
	text-transform: var(--wp--custom--input--text-transform);

	&:has( :focus ) {
		border-color: var(--wp--custom--input--border-color-focus);
		background-color: var(--wp--custom--input--background-color-focus);
		color: var(--wp--custom--input--text-color-focus);

		outline: none; // Reset .using-keyboard style
	}

	.wp-block-search__input {
		border-color: transparent;
		background-color: transparent;
	}

	.wp-block-search__button {
		margin: 0;
	}
}

.wp-block-search__button {
	svg {
		width: 2.25em;
		height: 2.25em;
		margin: calc( -1 * ( 2.25em - 1.1875em ) / 2 );
	}
}

// -------------------------------------------------------------
// Block: Tag Cloud
// -------------------------------------------------------------

.wp-block-tag-cloud {
	&.is-style-outline {
		a {
			padding: 0.25em 0.5em;
			border-radius: 0.25em;
		}
	}
}
