%base {
	font-family: sans-serif; // default
	font-size: 15px; // default
	line-height: 1.7; // default
}

%h1 {
	font-size: 32px; // default
	font-weight: 600; // default
	line-height: 1.4; // default
}

%h2 {
	font-size: 27px; // default
	font-weight: 600; // default
	line-height: 1.5; // default
}

%h3 {
	font-size: 22px; // default
	font-weight: 600; // default
	line-height: 1.6; // default
}

%h4 {
	font-size: 17px; // default
	font-weight: 600; // default
	line-height: 1.7; // default
}

%blockquote {
	font-size: 20px; // default
	font-style: italic; // default
	font-weight: 300; // default
	line-height: 1.6; // default
}

%input {
	display: inline-block;
	max-width: 100%;
	color: inherit;
	font: inherit;
	line-height: normal;
	vertical-align: middle;
	appearance: none;
	@include transition();

	font-size: 1rem; // default
	padding: 10px 12px; // default
	@include border(); // default
	border-radius: 3px; // default
	background-color: #fff; // default
	color: inherit; // default

	&:hover {
		outline: 0;
	}
}

%select {
	@extend %input;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em;
}

%button {
	position: relative;
	display: inline-block;
	@include border();
	line-height: normal;
	text-align: center;
	cursor: pointer;

	font-size: 1rem; // default
	padding: 10px 20px; // default
	border-radius: 3px; // default
	// color: white; // default
	// background-color: #0000ee; // default
	// border-color: #0000ee; // default

	@include transition();

	// Remove outline on Firefox
	&::-moz-focus-inner {
		// border-style: none;
	}

	&:hover, &:focus {
		// background-color: #551a8b; // default
		// border-color: #551a8b; // default
	}

	// Hover, focus, active state
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

%meta {
	font-size: 0.8em; // default
	font-weight: 400; // default
	font-style: normal; // default
	line-height: 1.8; // default
	letter-spacing: 0; // default
	text-transform: none; // default
}

%float-container {
	&:before, &:after {
		content: "";
		display: table;	
	}

	&:after {
		clear: both;
	}
}