// -------------------------------------------------------------
// Typography
// -------------------------------------------------------------

@mixin base() {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; // postmessage: body_font_family
	font-size: 15px; // postmessage: body_font_size
	font-style: normal;
	font-weight: normal;
	line-height: 1.7; // postmessage: body_line_height
	letter-spacing: 0;
	text-transform: none;
}

@mixin h1() {
	font-size: 32px; // postmessage: h1_font_size
	font-style: normal;
	font-weight: 600; // postmessage: h1_font_weight
	line-height: 1.3; // postmessage: h1_line_height
	letter-spacing: 0;
	text-transform: none;
}

@mixin h2() {
	font-size: 27px; // postmessage: h2_font_size
	font-style: normal;
	font-weight: 600; // postmessage: h2_font_weight
	line-height: 1.4; // postmessage: h2_line_height
	letter-spacing: 0;
	text-transform: none;
}

@mixin h3() {
	font-size: 22px; // postmessage: h3_font_size
	font-style: normal;
	font-weight: 600; // postmessage: h3_font_weight
	line-height: 1.5; // postmessage: h3_line_height
	letter-spacing: 0;
	text-transform: none;
}

@mixin h4() {
	font-size: 17px; // postmessage: h4_font_size
	font-style: normal;
	font-weight: 600; // postmessage: h4_font_weight
	line-height: 1.6; // postmessage: h4_line_height
	letter-spacing: 0;
	text-transform: none;
}

@mixin headingColor( $link: true ) {
	color: $color_heading; // postmessage: heading_text_color

	@if $link {
		a {
			color: $color_heading; // postmessage: heading_text_color

			&:hover, &:focus {
				color: $color_accent; // postmessage: heading_hover_text_color
			}
		}
	}
}

@mixin blockquote() {
	font-size: 1.2em; // postmessage: blockquote_font_size
	font-style: italic; // postmessage: blockquote_font_style
	font-weight: 300; // postmessage: blockquote_font_weight
	line-height: 1.6; // postmessage: blockquote_line_height
}

@mixin input( $color: true ) {
	display: inline-block;
	max-width: 100%;
	appearance: none;
	@include transition();

	padding: 10px 12px; // postmessage: input_padding
	@include border(); // postmessage: input_border
	border-color: inherit; // postmessage: input_border_color
	border-radius: 3px; // postmessage: input_border_radius

	@if $color {
		@include inputColor();
	}
	
	font-family: inherit; // postmessage: input_font_family
	font-size: inherit; // postmessage: input_font_size
	font-style: inherit; // postmessage: input_font_style
	font-weight: inherit; // postmessage: input_font_weight
	line-height: normal; // postmessage: input_line_height
	letter-spacing: inherit; // postmessage: input_letter_spacing
	text-transform: inherit; // postmessage: input_text_transform

	vertical-align: middle;
}

@mixin inputColor( $focus: true ) {
	color: inherit; // postmessage: input_text_color
	background-color: $color_bg; // postmessage: input_bg_color

	@if $focus {
		&:focus {
			border-color: $color_text; // postmessage: input_border_color
		}
	}
}

@mixin select( $color: true ) {
	@include input( $color );
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em;
}

@mixin button( $color: true ) {
	display: inline-block;
	cursor: pointer;
	appearance: none;

	padding: 10px 20px; // postmessage: button_padding
	@include border(); // postmessage: button_border
	border-radius: 3px; // postmessage: button_border_radius

	@if $color {
		@include buttonColor();
	}

	font-family: inherit; // postmessage: button_font_family
	font-size: 1rem; // postmessage: button_font_size
	font-style: normal; // postmessage: button_font_style
	font-weight: 600; // postmessage: button_font_weight
	line-height: normal;
	letter-spacing: 0; // postmessage: button_letter_spacing
	text-transform: none; // postmessage: button_text_transform
	text-align: center;

	@include transition();
}

@mixin buttonColor( $focus: true ) {
	color: $color_white; // postmessage: button_text_color
	background-color: $color_accent; // postmessage: button_bg_color
	border-color: $color_accent; // postmessage: button_border_color

	@if ( $focus ) {
		&:hover, &:focus {
			color: $color_white; // postmessage: button_hover_text_color
			background-color: $color_accent2; // postmessage: button_hover_bg_color
			border-color: $color_accent2; // postmessage: button_hover_border_color
		}
	}
}

@mixin meta( $color: true ) {
	font-size: 0.85em; // postmessage: meta_font_size
	line-height: 1.7; // postmessage: meta_line_height
	
	@if $color {
		@include metaColor();
	}
}

@mixin metaColor( $link: true ) {
	color: inherit; // postmessage: meta_text_color

	@if $link {
		a {
			color: inherit; // postmessage: meta_text_color

			&:hover, &:focus {
				color: $color_accent; // postmessage: meta_hover_text_color
			}
		}
	}
}

@mixin table() {
	width: 100%;
	margin: 0 0 1.5rem;
	border-collapse: separate;
	border-spacing: 0;

	@include border();
	border-bottom: none;

	th, td {
		padding: 0.75rem;

		border: none; // reset
		@include border( bottom );
		border-color: inherit; // reset
	}

	th {
		font-weight: 600;
		text-align: initial;
		@include headingColor();
	}
}

// -------------------------------------------------------------
// Transitions
// -------------------------------------------------------------

@mixin transition( $transitions... ) {
	$completeTransitions: ();
	$defaults: ( all, 0.25s, null, null );

	@if 0 == length( $transitions ) {
		$transitions: all;
	}
	
	@each $transition in $transitions {
		$currentTransition: ();

		@for $i from 1 through length( $defaults ) {
			$p: null;
			@if $i <= length( $transition ) {
				$p: nth( $transition, $i )
			} @else {
				$p: nth( $defaults, $i )
			}
			$currentTransition: append( $currentTransition, $p );
		}

		$completeTransitions: append( $completeTransitions, $currentTransition, comma );
	}

	transition: $completeTransitions;
	// backface-visibility: hidden;
}

// -------------------------------------------------------------
// Border
// -------------------------------------------------------------

@mixin border( $direction: null, $width: 1px, $style: solid ) {
	@if $direction != null {
		$direction: $direction + "-";
	}

	border-#{$direction}width: $width;
	border-#{$direction}style: $style;
}

// -------------------------------------------------------------
// Floating clear
// -------------------------------------------------------------

@mixin float-container() {
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}