// -------------------------------------------------------------
// Typography
// -------------------------------------------------------------

@mixin base() {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; // default
	font-size: 15px; // default
	font-style: normal;
	font-weight: normal;
	line-height: 1.7; // default
	letter-spacing: 0;
	text-transform: none;
}

@mixin h1() {
	font-size: 32px; // default
	font-style: normal;
	font-weight: 500; // default
	line-height: 1.4; // default
	letter-spacing: 0;
	text-transform: none;
}

@mixin h2() {
	font-size: 27px; // default
	font-style: normal;
	font-weight: 500; // default
	line-height: 1.5; // default
	letter-spacing: 0;
	text-transform: none;
}

@mixin h3() {
	font-size: 22px; // default
	font-style: normal;
	font-weight: 500; // default
	line-height: 1.6; // default
	letter-spacing: 0;
	text-transform: none;
}

@mixin h4() {
	font-size: 17px; // default
	font-style: normal;
	font-weight: 500; // default
	line-height: 1.7; // default
	letter-spacing: 0;
	text-transform: none;
}

@mixin heading() {
	color: $color_heading; // default

	a {
		color: $color_heading; // default

		&:hover, &:focus {
			color: $color_accent; // default
		}
	}
}

@mixin blockquote() {
	font-size: 20px; // default
	font-style: italic; // default
	font-weight: 300; // default
	line-height: 1.6; // default
}

@mixin input() {
	display: inline-block;
	max-width: 100%;
	appearance: none;
	@include transition();

	padding: 10px 12px; // default
	@include border(); // default
	border-radius: 3px; // default

	color: $color_text; // default
	background-color: $color_subtle; // default
	border-color: $color_border; // default
	
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: normal;
	letter-spacing: inherit;
	text-transform: inherit;
	vertical-align: middle;

	&:focus {	
		color: $color_text; // default
		background-color: $color_bg; // default
		border-color: $color_border; // default
	}
}

@mixin select() {
	@include input();
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em;
}

@mixin button() {
	position: relative;
	display: inline-block;
	cursor: pointer;

	padding: 10px 20px; // default
	@include border(); // default
	border-radius: 3px; // default

	color: $color_white; // default
	background-color: $color_heading; // default
	border-color: $color_heading; // default

	font-size: 1rem; // default
	font-style: inherit;
	font-weight: 500; // default
	line-height: normal;
	letter-spacing: inherit;
	text-transform: inherit;
	text-align: center;

	@include transition();

	&:hover, &:focus {
		color: $color_white; // default
		background-color: $color_text; // default
		border-color: $color_text; // default
	}
}

@mixin meta() {
	font-size: 0.85em; // default
	line-height: 1.7; // default

	color: $color_text; // default

	a {
		color: $color_text; // default

		&:hover, &:focus {
			color: $color_accent; // default
		}
	}
}

// -------------------------------------------------------------
// Transitions
// -------------------------------------------------------------

@mixin transition( $transitions... ) {
	$completeTransitions: ();
	$defaults: ( all, 0.25s, null, null );

	@if 0 == length( $transitions ) {
		$transitions: all;
	}
	
	@each $transition in $transitions {
		$currentTransition: ();

		@for $i from 1 through length( $defaults ) {
			$p: null;
			@if $i <= length( $transition ) {
				$p: nth( $transition, $i )
			} @else {
				$p: nth( $defaults, $i )
			}
			$currentTransition: append( $currentTransition, $p );
		}

		$completeTransitions: append( $completeTransitions, $currentTransition, comma );
	}

	transition: $completeTransitions;
	backface-visibility: hidden;
}

// -------------------------------------------------------------
// Flex
// -------------------------------------------------------------

@mixin flex( $align_items: center ) {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: $align_items;
}

// -------------------------------------------------------------
// Border
// -------------------------------------------------------------

@mixin border( $direction: null, $width: 1px, $style: solid ) {
	@if $direction != null {
		$direction: $direction + "-";
	}

	border-#{$direction}width: $width;
	border-#{$direction}style: $style;
}

// -------------------------------------------------------------
// Floating clear
// -------------------------------------------------------------

@mixin float-container() {
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}