// Colors
$color_white: #ffffff;
$color_black: #000000;
$color_accent: #0066cc;
$color_accent2: #004c99;
$color_bg: #ffffff;
$color_text: #666666;
$color_heading: #333333;
$color_subtle: rgba(0,0,0,0.05);
$color_border: rgba(0,0,0,0.1);
$color_transparent: transparent;

// Responsive Breakpoints
$breakpoint_1024: 1024px;
$breakpoint_768: 768px;
$breakpoint_500: 500px;

$breakpoint_wordpress: 783px;

// WordPress
$adminbar_height: 32px;
$adminbar_height_mobile: 46px;