// Colors
$color_white: #ffffff;
$color_black: #000000;
$color_accent: #0066cc;
$color_accent2: #004c99;
$color_bg: #ffffff;
$color_text: #646e78;
$color_heading: #28323c;
$color_subtle: #f0f3f6;
$color_border: #dee0e2;
$color_transparent: transparent;

// Responsive Breakpoints
$breakpoint_1024: 1024px;
$breakpoint_768: 768px;
$breakpoint_500: 500px;

$breakpoint_wordpress: 783px;

// WordPress
$adminbar_height: 32px;
$adminbar_height_mobile: 46px;