// Colors
$color_transparent: rgba(0,0,0,0);
$color_white: #ffffff;
$color_black: #000000;
$color_accent: #5c6bc0;
$color_accent_2: #3949ab;
$color_bg: #ffffff;
$color_text: #666666;
$color_text_lighter: #999999;
$color_heading: #333333;
$color_meta: #bbbbbb;
$color_subtle: #f3f3f3;
$color_border: #e5e5e5;
$color_dark_bg: #000000;
$color_dark_text: #bbbbbb;
$color_dark_text_lighter: #888888;
$color_dark_heading: #ffffff;
$color_dark_meta: #666666;
$color_dark_subtle: #0d0d0d;
$color_dark_border: #333333;

// Responsive Breakpoints
$breakpoint_1024: 1024px;
$breakpoint_768: 768px;
$breakpoint_500: 500px;

$breakpoint_wordpress: 783px;

// WordPress
$adminbar_height: 32px;
$adminbar_height_mobile: 46px;