// -------------------------------------------------------------
// Global
// -------------------------------------------------------------

* {
	border-style: solid;
	border-width: 0;
	border-color: $color_border; // default

	&, &:before, &:after {
		box-sizing: border-box;
	}

	&:focus {
		outline: 0;

		body.using-keyboard & {
			outline: thin dotted;
		}
	}
}

html {
	min-height: 100vh;
	color: $color_text; // default

	@include base(); // default
}

body {
	background-color: $color_bg; // default
	color: $color_text; // default
	min-height: 100vh;

	@include base(); // default

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 0 0 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	color: $color_heading; // default
	margin: 0 0 1.25rem;

	a {
		color: $color_heading; // default

		&:hover, &:focus {
			color: $color_text; // default
		}
	}
}

h1 {
	@include h1();
}

h2 {
	@include h2();
}

h3 {
	@include h3();
}

h4 {
	@include h4();
}

h5, h6 {
	@include h4();

	font-size: 1rem; // default
	font-weight: 600; // default
}

hr {
	margin: 2.5rem 0;
	border: none;
	border-color: inherit;
	@include border( bottom );
}

blockquote {
	margin: 0 0 1.25rem;

	@include blockquote();

	> *:last-child {
		margin-bottom: 0;
	}

	p {
		margin: 0 0 1em;
	}

	cite {
		display: block;
		font-size: 0.85rem;
		opacity: 0.6;
	}
}

ul,
ol {
	margin: 0 0 1.25rem;
	padding-left: 2rem;

	li > & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

table {
	width: 100%;
	margin: 0 0 1.25rem;
	border-collapse: collapse;

	@include border();

	th, td {
		padding: 0.75rem 1rem;
		@include border();
	}

	th {
		font-weight: 600;
	}
}

embed,
iframe,
object {
	max-width: 100%;
}

audio,
video {
	max-width: 100%;
}

pre {
	max-width: 100%;
	margin: 0 0 1.25rem;
	padding: 0.6rem 1.2rem;
	overflow: auto;
	font-size: 1em;
	font-family: monospace;
	background-color: $color_subtle; // default
}

code {
	background-color: $color_subtle; // default
}

a {
	background-color: transparent;
	text-decoration: none;
	color: $color_accent; // default
	@include transition();

	&:hover, &:focus {
		color: $color_accent_2; // default
	}
}

figure {
	margin: 0;
}

address {
	margin: 0 0 1.25rem;
}

dt {
	font-weight: 600;
}

mark,
ins {
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

svg {
	vertical-align: middle;
}

::selection {
	background-color: $color_accent; // default
	color: $color_bg; // default
}

*::placeholder {
	opacity: 0.75;
	color: inherit;
}

// -------------------------------------------------------------
// Form basic
// -------------------------------------------------------------

fieldset {
	padding: 1rem 1.25rem;
	margin: 1em 0;
	@include border();
}

// -------------------------------------------------------------
// Button
// -------------------------------------------------------------

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.button {
	@include button();
}

// -------------------------------------------------------------
// Input, select, textarea
// -------------------------------------------------------------

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
.input {
	@include input();
}

textarea {
	@include input();
}

select {
	@include select();
}

select[multiple] {
	background: none;
	padding-right: 0;
}

// -------------------------------------------------------------
// Select2
// -------------------------------------------------------------

.select2-container {
	display: block;

	.selection {
		display: block;
	}

	.dropdown-wrapper {
		margin-top: -1px;
	}

	.select2-selection {
		@include select();
		display: block;
		height: auto;
	}

	.select2-selection--single {
		.select2-selection__rendered {
			padding-left: 0;
			padding-right: 0;
			font: inherit;
			color: inherit;
		}

		.select2-selection__placeholder:empty {
			display: inline-block;
		}

		.select2-selection__arrow {
			display: none;
		}
	}

	.select2-dropdown {
		@include border();
		border-color: inherit;

		.select2-search {
			padding: 6px;
			@include border( bottom );
			border-color: inherit;

			.select2-search__field {
				border: none;
				border-radius: 0;
				padding: 0;
			}
		}

		.select2-results {
			padding: 0.5em 0;

			.select2-results__option {
				&--highlighted {
					background-color: rgba(0,0,0,0.025);
					color: inherit;
				}

				&[aria-selected="true"] {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}
	
	.select2-dropdown--below {
		border-top: none;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.select2-dropdown--above {
		border-bottom: none;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}