// -------------------------------------------------------------
// Required classes
// -------------------------------------------------------------

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.sticky {
	visibility: visible; // random CSS just so it passes Theme Check requirements
}

.bypostauthor {
	visibility: visible; // random CSS just so it passes Theme Check requirements	
}

// -------------------------------------------------------------
// Alignment Classes
// -------------------------------------------------------------

.suki-text-align-left {
	text-align: left;
}

.suki-text-align-center {
	text-align: center;
}

.suki-text-align-right {
	text-align: right;
}

// -------------------------------------------------------------
// Device Visibility Classes
// -------------------------------------------------------------

.suki-hide-on-desktop {
	@media screen and ( min-width: $breakpoint_1024 ) {
		display: none !important;
	}
}

.suki-hide-on-tablet {
	@media screen and ( min-width: $breakpoint_500 ) and ( max-width: $breakpoint_1024 - 1px ) {
		display: none !important;
	}
}

.suki-hide-on-mobile {
	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		display: none !important;
	}
}

// -------------------------------------------------------------
// Typography Classes
// -------------------------------------------------------------

.suki-font-smoothing, .suki-font-smoothing-1 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h1 {
	@include h1();
}

.h2 {
	@include h2();
}

.h3 {
	@include h3();
}

.h4 {
	@include h4();
}

.h5, .h6 {
	@include h4();
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	@include headingColor();
}

.title {
	@include h1();
}

.small-title {
	@include h3();
}

// -------------------------------------------------------------
// Other Common Classes
// -------------------------------------------------------------

.suki-float-container {
	@include float-container();
}

.page-title {
	@include h1();

	.suki-author-archive-avatar {
		margin-bottom: 0.5em;

		.avatar {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
	}
}

.content-header {
	.site-main > & {
		margin: 0 0 6rem;
	}

	> * {
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.page-title {
		@include h1();
	}

	.excerpt {
		font-size: 1.1em;
	}

	.archive-description {
		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.search-form {
	display: block;
	position: relative;
	max-width: 100%;

	.suki-search-icon {
		position: absolute;
		top: 50%;
		left: 0;
		margin: -0.5em 0 0 0.75em;
	}

	.search-field {
		width: 100%;
		padding-left: 2.5em;
	}

	> label + input[type="submit"] {
		display: none;
	}
}

.tagcloud {
	margin-top: -0.5em;
	
	a {
		display: inline-block;
		padding: 0.25em 0.5em;
		margin: 0.5em 0.5em 0 0;
		font-size: 1rem !important;
		line-height: normal;
		background-color: $color_subtle; // postmessage: subtle_color
		color: inherit;

		&:hover, &:focus {
			color: $color_accent; // postmessage: link_text_color
		}
	}
}

.suki-social-links {
	letter-spacing: 0;

	a {
		margin-left: 0.75em;
		display: inline-block;

		&:first-child {
			margin-left: 0 !important;
		}
	}
}

button.suki-toggle {
	// reset button appearance
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	font: inherit;
	line-height: inherit;
	text-align: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	color: $color_accent; // postmessage: link_text_color

	&:hover {
		outline: 0;
	}

	&:hover, &:focus {
		background: inherit;
		color: $color_heading; // postmessage: link_text_color
	}
}

.menu, .sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.suki-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	
	svg {
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: top;

		&:not([stroke-width]) {
			stroke-width: 0;
		}

		&:not([stroke]) {
			stroke: currentColor;
		}

		&:not([fill]) {
			fill: currentColor;
		}
	}
}

.suki-menu-icon {
	font-size: 18px;
	vertical-align: -0.1em;
}

.suki-breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
	font-size: 0.85em;

	li {
		display: inline-block;
		max-width: 15em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		&:after {
			margin: 0 0.5em;
			content: "\00bb";
			opacity: 0.5;
		}

		&:last-child:after {
			display: none;
		}
	}
}

// -------------------------------------------------------------
// Comments
// -------------------------------------------------------------

.comments-area {
	margin-top: 6em;
}

.comments-title {
	position: relative;
	@include h3();
}

.comment-reply-title {
	@include h3();

	small {
		margin-left: 1em;
		font-size: 12px;
	}
}

.comment-list {
	&, ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		@include border( top );
	}

	> li:first-child {
		border-top: none;
	}

	ul, ol {
		padding-left: 1.25em;

		li {
			@include border( top );
		}

		@media screen and ( min-width: $breakpoint_500 ) {
			padding-left: 65px;
		}
	}
}

.comment-body {
	position: relative;
	padding: 1.25em 0;

	.reply {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.25em 0 0 0;

		a {
			font-size: 90%;
			color: inherit;
			
			&:hover, &:focus {
				color: $color_accent; // postmessage: link_text_color
			}
		}

		@media screen and ( min-width: $breakpoint_500 ) {
			margin-top: 2em;
		}
	}

	@media screen and ( min-width: $breakpoint_500 ) {
		padding: 2em 0;
	}
}

.comment-content {
	@media screen and ( min-width: $breakpoint_500 ) {
		padding-left: 65px;
	}

	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.comment-meta {
	position: relative;
	padding-right: 50px;
	margin-bottom: 1em;
	min-height: 50px;

	@media screen and ( min-width: $breakpoint_500 ) {
		padding-left: 65px;
	}
}

.comment-author {
	@include headingColor();

	.avatar {
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
		border-radius: 50%;
		
		@media screen and ( min-width: $breakpoint_500 ) {
			position: absolute;
			top: 0;
			left: 0;
			height: 50px;
			width: 50px;
		}
	}

	.fn {
		font-weight: 600;
	}

	.says {
		display: none;
	}
}

.comment-metadata {
	margin: 0.25em 0;

	@include meta();

	> * {
		position: relative;
		display: inline-block;

		&:before {
			content: "\2022";
			margin: 0 0.5em;
		}

		&:first-child:before {
			display: none;
		}
	}
}

.comment-respond {
	padding-top: 1.5em;

	.comment-list ~ &,
	.comment-list & {
		@include border( top );
	}

	.comment:not(:last-child) & {
		padding-bottom: 2em;
	}

	.form-submit {
		margin-bottom: 0;
	}

	label {
		display: block;
		width: 120px;

		@media screen and ( min-width: $breakpoint_768 ) {
			display: inline-block;
		}
	}

	.comment-form-cookies-consent {
		label {
			width: auto;
			margin-left: 0.5em;
		}
	}
}

.comment-form {
	#comment {
		height: 6em;
		width: 100%;
	}
}

// -------------------------------------------------------------
// Navigation & pagination
// -------------------------------------------------------------

.nav-links {
	a {
		color: inherit;

		&:hover, &:focus {
			color: $color_accent; // postmessage: link_text_color
		}
	}

	.current {
		color: $color_heading; // postmessage: heading_text_color
	}
}

.navigation {
	margin: 3rem 0 0;

	.nav-links {
		@include float-container();
		
		a {
			background-color: transparent;
			color: inherit;

			&:focus, &:hover {
				background-color: transparent;
				color: $color_accent; // postmessage: link_text_color
				border-color: currentColor;
			}
		}

		@media screen and ( min-width: $breakpoint_500 ) {
			.nav-next, .nav-previous {
				width: 50%;
			}

			.nav-previous {
				float: right;
				text-align: right;
				padding-left: 20px;
			}

			.nav-next {
				float: left;
				text-align: left;
				padding-right: 20px;
			}
		}
	}

	&.pagination {
		text-align: center;

		.nav-links {
			display: inline-block;
			@include float-container();
		}

		.page-numbers {
			display: block;
			min-width: 2em;
			margin-right: 0.5em;
			padding: 0.5em;
			float: left;
			text-decoration: none;
			line-height: 1;

			@include border();
			color: inherit;

			&:last-child {
				margin-right: 0;
			}
		}

		.current {
			background-color: $color_subtle; // postmessage: subtle_color
			color: $color_heading; // postmessage: heading_text_color
		}
	}
}