// -------------------------------------------------------------
// Required classes
// -------------------------------------------------------------

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.sticky {
	visibility: visible; // random CSS just so it's processed by SASS
}

.bypostauthor {
	visibility: visible; // random CSS just so it's processed by SASS	
}

// -------------------------------------------------------------
// Alignment Classes
// -------------------------------------------------------------

.suki-text-align-left {
	text-align: left;
}

.suki-text-align-center {
	text-align: center;
}

.suki-text-align-right {
	text-align: right;
}

// -------------------------------------------------------------
// Flexbox Classes
// -------------------------------------------------------------

.suki-flex-align-left {
	justify-content: flex-start !important;
}

.suki-flex-align-center {
	justify-content: center !important;
}

.suki-flex-align-right {
	justify-content: flex-end !important;		
}

.suki-flex-align-justified {
	justify-content: space-between !important;		
}

// -------------------------------------------------------------
// Device Visibility Classes
// -------------------------------------------------------------

.suki-hide-on-desktop {
	@media screen and ( min-width: $breakpoint_1024 ) {
		display: none !important;
	}
}

.suki-hide-on-tablet {
	@media screen and ( min-width: $breakpoint_500 ) and ( max-width: $breakpoint_1024 - 1px ) {
		display: none !important;
	}
}

.suki-hide-on-mobile {
	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		display: none !important;
	}
}

// -------------------------------------------------------------
// Typography Classes
// -------------------------------------------------------------

.h1 {
	@include h1();
}

.h2 {
	@include h2();
}

.h3 {
	@include h3();
}

.h4 {
	@include h4();
}

.h5, .h6 {
	@include h4();
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	@include heading();
}

// -------------------------------------------------------------
// Other Common Classes
// -------------------------------------------------------------

.suki-float-container {
	@include float-container();
}

.page-title {
	@include h1();
}

.page-header {
	padding: 1.75rem;
	margin: 0 0 4rem;
	@include border();
	background-color: $color_subtle; // default	

	> *:last-child {
		margin-bottom: 0 !important;
	}

	.page-title {
		@include h3(); // default
	}
}

.search-form {
	display: block;
	position: relative;
	max-width: 100%;

	.suki-search-icon {
		position: absolute;
		top: 50%;
		left: 0;
		margin: -0.5em 0 0 0.75em;
	}

	.search-field {
		width: 100%;
		padding-left: 2.5em;
	}

	> label + input[type="submit"] {
		display: none;
	}
}

.tagcloud {
	@include float-container();
	
	a {
		float: left;
		padding: 0.5em 0.5em;
		margin: 0 0.5em 0.5em 0;
		font-size: 0.9rem !important;
		line-height: normal;
		background-color: $color_subtle; // default	
		color: $color_text; // default

		&:hover, &:focus {
			color: $color_accent; // default
		}
	}
}

.suki-social-links {
	letter-spacing: 0;

	a {
		margin-left: 0.75em;
		display: inline-block;

		&:first-child {
			margin-left: 0 !important;
		}
	}
}

button.suki-toggle {
	// reset button appearance
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	font: inherit;
	line-height: inherit;
	text-align: inherit;
	cursor: pointer;
	-webkit-appearance: none;
	color: $color_accent; // default

	&:hover {
		outline: 0;
	}

	&:hover, &:focus {
		background: inherit;
		color: $color_heading; // default
	}
}

.suki-menu-icon {
	font-size: 18px; // default
}

.menu, .sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.suki-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;

	svg {
		display: inline-block;
		width: auto;
		height: 1em;
		vertical-align: top;

		&:not([stroke-width]) {
			stroke-width: 0;
		}

		&:not([stroke]) {
			stroke: currentColor;
		}

		&:not([fill]) {
			fill: currentColor;
		}
	}
}