// -------------------------------------------------------------
// Page Canvas & Wrapper
// -------------------------------------------------------------

#canvas {
	min-height: 100vh;
	overflow: hidden;
	@include transition( transform );
}

#page {
	position: relative;
	background-color: $color_bg; // postmessage: page_bg_color
	// overflow-x: hidden;
	@include transition( transform );
}

body.suki-page-layout-boxed {
	background-color: $color_border; // postmessage: outside_bg_color
	background-position: center center; // postmessage: outside_bg_position
	background-size: cover; // postmessage: outside_bg_size
	background-repeat: no-repeat; // postmessage: outside_bg_repeat
	background-attachment: fixed; // postmessage: outside_bg_attachment

	#page {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;

		width: 1400px; // postmessage: boxed_page_width
		box-shadow: 0px 0px 30px 0px transparentize( $color_black, 0.95 ); // postmessage: boxed_page_shadow
	}
}

.suki-popup {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	@include transition( opacity, visibility 0s 0.25s );

	&.suki-popup-active {
		opacity: 1;
		visibility: visible;
		@include transition( opacity, visibility 0s 0s );
	}

	.admin-bar & {
		top: $adminbar_height;
		
		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			top: $adminbar_height_mobile;
		}
	}
}

.suki-popup-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// opacity: 0;
	background-color: rgba(0,0,0,0.5);
	color: $color_bg; // postmessage: page_bg_color
}

.suki-toggle.suki-popup-close-icon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1.25rem;
	font-size: 1.5rem;
}

.suki-toggle.suki-popup-close-icon {
	line-height: 1;
	background-color: transparent !important;
	color: inherit !important;
	opacity: 1;

	&:hover, &:focus {
		opacity: 0.8;
	}
}

.suki-popup-content {
	position: relative;
}

// -------------------------------------------------------------
// Content Container
// -------------------------------------------------------------

.suki-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1140px; // postmessage: container_width

	@include float-container();

	.suki-section-full-width > .suki-section-inner > & {
		width: 100%;
	}

	.suki-section-narrow > .suki-section-inner > & {
		width: 720px; // postmessage: content_narrow_width
	}
}

.suki-section-contained {
	> .suki-section-inner {
		margin-left: auto;
		margin-right: auto;
		width: 1140px; // postmessage: container_width
		max-width: 100%;
	}
}

.suki-section-inner {
	position: relative;
}

// -------------------------------------------------------------
// Hero Section
// -------------------------------------------------------------

.suki-hero {
	font-size: 1.1rem; // postmessage: hero_font_size

	&-inner {
		display: flex;
		justify-content: center;
		align-items: center;

		@include border( null, 0 );
		background-color: $color_subtle; // postmessage: hero_bg_color
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; // postmessage: hero_bg_attachment
		padding: 60px 20px; // postmessage: hero_padding

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.suki-wrapper {
		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.entry-meta {
		font: inherit; // reset
	}
}

// -------------------------------------------------------------
// Content Section
// -------------------------------------------------------------

.suki-content {
	position: relative;
}

.suki-content-inner {
	padding: 80px 20px; // postmessage: content_padding
}

.suki-content-row {
	@media screen and ( min-width: $breakpoint_1024 ) {
		display: flex;
		
		.suki-content-layout-left-sidebar & {
			flex-direction: row-reverse;
		}
	}

	> * {
		width: 100%;
	}
}

.content-area {
	flex: 1 0;

	// fix <pre> width on flex element
	// ref: https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
	min-width: 0;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		width: auto !important;
		margin: 0 !important;
	}
}

.site-main {
	@include border( null, 0 );

	// > *:first-child {
	// 	margin-top: 0;
	// }

	> *:last-child {
		margin-bottom: 0;
	}
}

.sidebar {
	flex: 0 0;
	flex-basis: 25%; // postmessage: sidebar_width

	.suki-content-layout-right-sidebar & {
		margin-left: 60px; // postmessage: sidebar_gap

		.rtl & {
			margin-right: 60px; // postmessage: sidebar_gap
		}
	}

	.suki-content-layout-left-sidebar & {
		margin-right: 60px; // postmessage: sidebar_gap

		.rtl & {
			margin-left: 60px; // postmessage: sidebar_gap
		}
	}

	&.suki-sidebar-widgets-mode-merged .sidebar-inner,
	&.suki-sidebar-widgets-mode-separated .widget {
		@include border( null, 0 );
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		flex-basis: 100% !important;
		margin: 4em 0 0 0 !important;
	}

	.widget {
		margin-bottom: 40px; // postmessage: sidebar_widgets_gap
	}
}

// -------------------------------------------------------------
// Error 404 Page
// -------------------------------------------------------------

body.error404 {
	.site {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.site-content {
		flex: 1 0;
		display: flex;
		align-items: center;
	}

	.suki-content-inner {
		display: flex;
		width: 100%;
	}

	.error-404 {
		text-align: center;

		&-image {
			display: inline-block;
			margin: 0 0 3rem;
			max-width: 300px; // postmessage: error_404_image_width
		}

		&-home-button {
			margin: 1.5rem 0 0;
		}
	}
}