// -------------------------------------------------------------
// Page Canvas
// -------------------------------------------------------------

#canvas {
	min-height: 100vh;
	overflow: hidden;
	@include transition( transform );

	@media screen and ( min-width: $breakpoint_1024 ) {
		.suki-header-vertical-bar.suki-popup-active.suki-header-vertical-position-left ~ & {
			transform: translate( 100px, 0 );
		}

		.suki-header-vertical-bar.suki-popup-active.suki-header-vertical-position-right ~ & {
			transform: translate( -100px, 0 );
		}
	}
}

#page {
	position: relative;
	background-color: $color_bg; // default
	// overflow-x: hidden;
	@include transition( transform );
}

body.suki-page-layout-boxed {
	background-color: $color_border; // default
	background-position: center center; // default
	background-size: cover; // default
	background-repeat: no-repeat; // default
	background-attachment: fixed; // default

	#page {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;

		width: 1400px; // default
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05); // default
	}
}

.suki-popup-background {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	@include transition();

	body.suki-has-popup-active & {
		opacity: 1;
		visibility: visible;
	}
	
	.suki-popup-close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.25rem;
		font-size: 1.5rem;
		line-height: 1;
		background-color: transparent !important;
		color: $color_white !important; // default
		opacity: 1;

		&:hover, &:focus {
			opacity: 0.8;
		}
	}

	.suki-header-vertical-position-right ~ & {
		.suki-popup-close {
			left: 0;
		}
	}

	.admin-bar & {
		top: 32px;
		
		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			top: 46px;
		}
	}
}

// -------------------------------------------------------------
// Content Container
// -------------------------------------------------------------

.suki-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1140px; // default

	&:before, &:after {
		content: "";
		display: table;	
	}

	&:after {
		clear: both;
	}

	.suki-section-full-width > .suki-section-inner > &,
	.suki-section-full-width-padding > .suki-section-inner > & {
		width: auto;
	}
}

.suki-section-merged {
	padding: 0;

	.suki-section-inner {
		padding: 0;
	}
}

.suki-section-contained {
	> .suki-section-inner {
		margin-left: auto;
		margin-right: auto;
		width: 1140px; // default
	}
}

.suki-section-contained,
.suki-section-default .suki-section-inner,
.suki-section-full-width-padding .suki-section-inner {
	padding: 0 25px; // default

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		padding: 0 20px; // default
	}

	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		padding: 0 15px; // default
	}
}

.suki-section-inner {
	position: relative;
}

// -------------------------------------------------------------
// Content Section
// -------------------------------------------------------------

.site-content {
	position: relative;
	z-index: 1;
}

.suki-content-row {
	padding: 80px 0; // default
	
	@media screen and ( min-width: $breakpoint_1024 ) {
		@include flex( flex-start );
		align-items: stretch;
		
		.suki-content-layout-left-sidebar & {
			flex-direction: row-reverse;
		}
	}
}

.content-area {
	width: 100%; // default

	// fix <pre> width on flex element
	// ref: https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
	min-width: 0;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		width: auto !important;
		margin: 0 !important;
	}
}

.site-main {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	.suki-content-layout-narrow & {
		max-width: 720px; // default
		margin-left: auto;
		margin-right: auto;
	}
}

.sidebar {
	width: 25%; // default
	min-width: 25%; // default

	.suki-content-layout-right-sidebar & {
		margin-left: 60px; // default

		.rtl & {
			margin-right: 60px; // default
		}
	}

	.suki-content-layout-left-sidebar & {
		margin-right: 60px; // default

		.rtl & {
			margin-left: 60px; // default
		}
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		width: auto !important;
		min-width: auto !important;
		margin: 4em 0 0 0 !important;
	}

	.widget {
		margin-bottom: 40px; // default
	}
}