// -------------------------------------------------------------
// Post entry
// -------------------------------------------------------------

.suki-loop-grid {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -2em;
}

// Entry
.entry {
	.suki-loop-default & {
		margin-bottom: 6em;
	}

	.suki-loop-grid & {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 2em;
		border: none;
		float: left;

		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			width: 100% !important;
		}
	}

	.suki-loop-grid.suki-loop-grid-2-columns & {
		width: 50%;

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	.suki-loop-grid.suki-loop-grid-3-columns & {
		width: 33.33%;

		&:nth-child(3n+1) {
			clear: left;
		}
	}

	.suki-loop-grid.suki-loop-grid-4-columns & {
		width: 25%;

		&:nth-child(4n+1) {
			clear: left;
		}

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}

	.suki-loop-search & {
		margin-bottom: 2em;
		padding-bottom: 2em;
		@include border( bottom );
	}
}

// Entry wrapper
.entry-wrapper {
	> *:last-child {
		margin-bottom: 0;
	}

	.entry-card & {
		@include border();
		padding: 1.25em 1.5em;
	}
}

// Entry header
.entry-header {
	margin: 0 0 2rem;

	.entry-small & {
		margin: 0 0 1em;
	}
}

// Entry footer
.entry-footer {
	> *:first-child {
		padding-top: 1em;
		@include border( top );
	}
}

// Title
.entry-title {
	@extend %title; // default
	margin: 0 0 0.5rem;
}

.entry-small-title {
	@extend %small-title; // default
	margin: 0 0 0.25rem;
}

// Meta
.entry-meta {
	@extend %meta;
	margin: 0 0 0.25em;

	.avatar {
		display: inline-block;
		width: 1.75em;
		height: 1.75em;
		vertical-align: middle;
		margin-right: 0.75em;
		border-radius: 50%;
	}
}

// Basic image thumbnail
.entry-thumbnail {
	display: block;
	margin: 0 0 2rem;
	text-align: center;

	> * {
		display: block;
		width: 100%;
	}

	.entry-small & {
		margin: 0 0 1rem;
	}

	.entry-card & {
		margin-left: -1.5em;
		margin-right: -1.5em;

		&:first-child {
			margin-top: -1.25em;
		}
	}
}

// Image thumbnail with link
a.entry-thumbnail {
	&:hover, &:focus {
		opacity: 0.9;
	}
}

// Content
.entry-content {
	margin: 0 0 2rem;

	> *:last-child {
		margin-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
	}

	blockquote {
		padding: 0.5em 2em;
		@include border( left, 0.25em, solid );

		&[style*="center"] {
			border-left: none;
		}

		&[style*="right"] {
			border-left: none;
			@include border( right, 0.25em, solid );
		}
	}
}

// Excerpt
.entry-excerpt {
	margin: 0 0 0.75em;

	p {
		margin: 0;
	}
}

// Read more link
a.more-link {
	white-space: nowrap;
}

// Tags
.entry-tags {
	margin: 1.5em 0;
}

// Author box
.entry-author {
	margin-top: 4em;
	padding: 1.75em;
	@include border();
}

.entry-author-body {
	position: relative;
	min-height: 80px;

	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		text-align: center;
	}

	@media screen and ( min-width: $breakpoint_500 ) {
		padding-left: 100px;
	}
}

.entry-author-name {
	font-size: 1.1em;
	margin: 0 0 0.5em;
	color: $color_heading; // default

	.avatar {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-bottom: 0.75em;

		@media screen and ( min-width: $breakpoint_500 ) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.fn {
		font-weight: 500;
		display: block;
	}

	a {
		color: $color_heading; // default

		&:hover, &:focus {
			color: $color_text; // default
		}
	}
}

.entry-author-content {
	p {
		margin: 0.5em 0;
	}
}

.entry-author-links {
	font-size: 1.1em;

	a {
		color: $color_meta; // default

		&:hover, &:focus {
			color: $color_text; // default
		}
	}
}

// -------------------------------------------------------------
// Navigation & pagination
// -------------------------------------------------------------

.navigation {
	margin: 2rem 0;

	.nav-links {
		text-align: center;
		@include float-container();

		.page-numbers {
			display: inline-block;
			margin: 0 0.5em;
		}

		@media screen and ( min-width: $breakpoint_500 ) {
			> div {
				width: 50%;
			}

			.nav-previous {
				float: right;
				text-align: right;
				padding-left: 20px;
			}

			.nav-next {
				float: left;
				text-align: left;
				padding-right: 20px;
			}
		}
	}
}

// -------------------------------------------------------------
// Navigation & pagination
// -------------------------------------------------------------

.comments-area {
	margin-top: 4em;
}

.comments-title {
	position: relative;
	margin-top: 2em;
	@extend %small-title; // default
}

.comment-reply-title {
	@extend %small-title; // default

	small {
		margin-left: 1em;
		font-size: 12px;
	}
}

.comment-list {
	&, ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		@include border( top );
	}

	> li:first-child {
		border-top: none;
	}

	ul, ol {
		padding-left: 65px;

		li {
			@include border( top );
		}

		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			padding-left: 1.25em;
		}
	}
}

.comment-body {
	position: relative;
	padding: 2em 0 2em 65px;

	.reply {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em 0 0 0;

		a {
			font-size: 90%;
			color: $color_text; // default

			&:hover, &:focus {
				color: $color_accent; // default
			}
		}
	}

	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		padding: 1.25em 0;
	}
}

.comment-content {
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.comment-meta {
	padding-right: 50px;
	margin-bottom: 1em;
	min-height: 50px;
}

.comment-author {
	.avatar {
		position: absolute;
		top: 2em;
		left: 0;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		
		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			display: none;
		}
	}

	.fn {
		font-weight: 500;
	}

	.says {
		display: none;
	}

	a {
		color: $color_heading; // default

		&:hover, &:focus {
			color: $color_text; // default
		}
	}
}

.comment-metadata {
	margin: 0.25em 0;

	@extend %meta;

	> * {
		position: relative;
		display: inline-block;

		&:before {
			content: "\2022";
			margin: 0 0.5em;
		}

		&:first-child:before {
			display: none;
		}
	}
}

.comment-respond {
	padding-top: 2em;
	border-top-width: 1px;
	border-top-style: solid;

	&:only-child {
		border-top: none;
	}

	label {
		display: inline-block;
		width: 120px;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			display: block;
		}
	}

	.comment-form-cookies-consent {
		label {
			width: auto;
			margin-left: 0.5em;
		}
	}

	.comment-list & {
		padding-bottom: 2em;
	}
}

.comment-form {
	#comment {
		height: 6em;
		width: 100%;
	}

	p.form-submit {
		margin-bottom: 0;
	}
}