// -------------------------------------------------------------
// Post entry
// -------------------------------------------------------------

.suki-loop-grid {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: -15px; // postmessage: blog_index_grid_rows_gutter
	margin-bottom: -15px; // postmessage: blog_index_grid_rows_gutter
	margin-left: -15px; // postmessage: blog_index_grid_columns_gutter
	margin-right: -15px; // postmessage: blog_index_grid_columns_gutter

	&.suki-loop-grid-same-height {
		align-items: stretch;

		.entry-footer {
			margin-top: auto;
		}
	}
}

// Entry
.entry {
	.suki-loop-default & {
		margin-bottom: 6em; // postmessage: blog_index_default_items_gap
	}

	.suki-loop-grid & {
		width: 100%;
		padding-top: 15px; // postmessage: blog_index_grid_rows_gutter
		padding-bottom: 15px; // postmessage: blog_index_grid_rows_gutter
		padding-left: 15px; // postmessage: blog_index_grid_columns_gutter
		padding-right: 15px; // postmessage: blog_index_grid_columns_gutter
		border: none;

		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			width: 100% !important;
		}
	}

	.suki-loop-grid.suki-loop-grid-2-columns & {
		width: 50%;
	}

	.suki-loop-grid.suki-loop-grid-3-columns & {
		width: 33.33%;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}

	.suki-loop-grid.suki-loop-grid-4-columns & {
		width: 25%;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}

	.suki-loop-search & {
		margin-bottom: 2em;
		padding-bottom: 2em;
		@include border( bottom );
	}
}

// Entry wrapper
.entry-wrapper {
	@include border( null, 0 );
	overflow: hidden; // for border-radius

	> *:last-child {
		margin-bottom: 0;
	}

	.entry-layout-grid & {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

// Title
.entry-title {
	margin: 0 0 0.75rem;
	@include h1();
}

.entry-small-title {
	margin: 0 0 0.25rem;
	@include h3();
}

// Meta
.entry-meta {
	@include meta();
	margin: 0 0 0.5em;

	.avatar {
		display: inline-block;
		width: 2em;
		height: 2em;
		vertical-align: middle;
		margin-right: 0.5em;
		border-radius: 50%;
	}

	.entry-footer & {
		padding-top: 1em;
		@include border( top );
	}
}

// Basic image thumbnail
.entry-thumbnail {
	display: block;
	margin: 2rem 0;

	> * {
		display: block;
		width: 100%;
	}

	.entry-small & {
		margin: 1.5rem 0;
	}
}

// Image thumbnail with link
a.entry-thumbnail {
	&:hover, &:focus {
		opacity: 0.9;
	}

	@include transition( opacity );
}

// Read more link
a.more-link {
	white-space: nowrap;
}

// Entry header
.entry-header {
	margin: 0 0 2rem;

	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.entry-small & {
		margin: 0 0 1.5rem;
	}
}

// Content
.entry-content {
	margin: 0 0 2rem;
	@include float-container();

	> *:last-child {
		margin-bottom: 0;
	}

	blockquote {
		padding: 0 2em;
		@include border( left, 0.25em, solid );

		&[style*="center"] {
			border-left: none;
		}

		&[style*="right"] {
			border-left: none;
			@include border( right, 0.25em, solid );
		}
	}

	.entry-single & {
		margin-bottom: 3rem;
	}
}

// Excerpt
.entry-excerpt {
	margin: 0 0 1.25em;

	> * {
		margin: 0 0 0.75em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Entry footer
.entry-footer {
	> * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Tags
.entry-tags {
	margin: 0 0 1.5em;
}

// Author box
.entry-author {
	margin-top: 4rem;
	padding: 1.75rem;
	@include border();
}

.entry-author-body {
	position: relative;
	min-height: 80px;

	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		text-align: center;
	}

	@media screen and ( min-width: $breakpoint_500 ) {
		padding-left: 100px;
	}
}

.entry-author-name {
	font-size: 1.1em;
	margin: 0 0 0.5em;
	@include headingColor();

	.avatar {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-bottom: 0.75em;

		@media screen and ( min-width: $breakpoint_500 ) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.fn {
		font-weight: 600;
		display: block;
	}
}

.entry-author-content {
	p {
		margin: 0.5em 0;
	}
}