// -------------------------------------------------------------
// Footer Widgets
// -------------------------------------------------------------

.suki-footer-widgets-bar {
	&-inner {
		background-color: $color_subtle; // default
		@include border( null, 1px 0 0 0 ); // default
		padding: 60px 20px; // default
	}

	.widget {
		margin-bottom: 40px; // default
	}
}

.suki-footer-widgets-bar-row {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: -15px; // default
	margin-right: -15px; // default
	margin-bottom: -40px; // default
}

.suki-footer-widgets-bar-column {
	width: 100%; // default
	padding: 0 15px; // default
		
	.suki-footer-widgets-bar-columns-2 & {
		width: 50%; // default
	}

	.suki-footer-widgets-bar-columns-3 & {
		width: 33.33%; // default
	}

	.suki-footer-widgets-bar-columns-4 & {
		width: 25%; // default
	}

	.suki-footer-widgets-bar-columns-5 & {
		width: 20%; // default
	}

	.suki-footer-widgets-bar-columns-6 & {
		width: 16.67%; // default
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		.suki-footer-widgets-bar-columns-2 &,
		.suki-footer-widgets-bar-columns-4 &,
		.suki-footer-widgets-bar-columns-6 & {
			width: 50%; // default
		}

		.suki-footer-widgets-bar-columns-3 &,
		.suki-footer-widgets-bar-columns-5 & {
			width: 33.33%; // default
		}
	}

	@media screen and ( max-width: $breakpoint_500 - 1px ) {
		.suki-footer-widgets-bar-columns-2 &,
		.suki-footer-widgets-bar-columns-3 &,
		.suki-footer-widgets-bar-columns-4 &,
		.suki-footer-widgets-bar-columns-5 &,
		.suki-footer-widgets-bar-columns-6 & {
			width: 100%; // default
		}
	}
}

// -------------------------------------------------------------
// Footer Bottom
// -------------------------------------------------------------

.suki-footer-bottom-bar-inner {
	background-color: $color_subtle; // default
	@include border( null, 1px 0 0 0 ); // default
	padding: 25px 20px; // default
}

.suki-footer-bottom-bar-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 -12px; // default
	white-space: nowrap;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		flex-wrap: wrap;
		white-space: normal;
		margin-bottom: -1em;
	}
}

.suki-footer-bottom-bar-column {
	display: flex;
	max-width: 100%;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		width: 100%;
		margin: 0 0 1em;
		justify-content: center !important;
		text-align: center;
	}

	> * {
		display: flex;
		max-width: 100%;
		padding: 0 12px; // default
	}
}

.suki-footer-bottom-bar-left {
	flex: 1 1 auto;
	justify-content: flex-start;

	.suki-footer-row-with-center > & {
		flex-basis: 0;
	}
}

.suki-footer-bottom-bar-center {
	justify-content: center;
}

.suki-footer-bottom-bar-right {
	flex: 1 1 auto;
	justify-content: flex-end;

	.suki-footer-row-with-center > & {
		flex-basis: 0;
	}
}

.suki-footer-menu {
	padding: 0 !important;
	
	ul {
		display: flex;
		justify-content: center;

		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			flex-wrap: wrap;
		}

		li {
			padding: 0 12px; // default
		}
	}
}

.suki-footer-social {
	li {
		display: inline-block;
		margin: 0 0.75em 0 0;

		&:last-child {
			margin-right: 0;
		}

		a {
			vertical-align: middle;
		}
	}
}

// -------------------------------------------------------------
// Scroll to Top
// -------------------------------------------------------------

.suki-scroll-to-top {
	position: absolute;
	bottom: 0;
	margin-left: 20px; // default
	margin-right: 20px; // default
	margin-bottom: 20px; // default
	padding: 10px; // default
	border: none;
	border-radius: 40px; // default
	font-size: 18px; // default
	line-height: 1;

	&-position-left {
		left: 0;
	}

	&-position-right {
		right: 0;
	}

	&-display-sticky {
		position: fixed;
		transform: translate( 0, 100% );
		opacity: 0;
		@include transition( transform, opacity );

		&.sticky {
			opacity: 1;
			transform: translate( 0, 0 );
		}
	}
}