// -------------------------------------------------------------
// Footer Widgets
// -------------------------------------------------------------

.suki-footer-widgets-bar-row {
	display: block;
	padding: 60px 0; // default
	margin: 0 -15px; // default

	@media screen and ( min-width: $breakpoint_1024 ) {
		@include flex( flex-start );
	}
}

.suki-footer-widgets-bar-column {
	width: 100%; // default
	padding: 0 15px; // default
	margin-top: 2em;

	&:first-child,
	&.suki-empty {
		margin-top: 0;
	}
}

// -------------------------------------------------------------
// Footer Bottom
// -------------------------------------------------------------

.suki-footer-row {
	@include flex();
	white-space: nowrap;
}

.suki-footer-column {
	> * {
		margin: 1.25em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.suki-footer-bottom-bar-left,
.suki-footer-bottom-bar-right {
	width: 50%;
}

// Social
.suki-footer-social-links {
	li.menu-item {
		display: inline-block;
		margin: 0 0.5em;
	}
}