// -------------------------------------------------------------
// Footer Elements
// -------------------------------------------------------------

// Social
.suki-footer-social {
	li.menu-item {
		display: inline-block;
		margin: 0 0.5em;
	}
}

// -------------------------------------------------------------
// Footer Widgets
// -------------------------------------------------------------

.suki-footer-widgets-bar-row {
	@include flex( flex-start );
	padding: 60px 0; // default
	margin: 0 -15px; // default

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		flex-wrap: wrap;
	}
}

.suki-footer-widgets-bar-column {
	width: 100%; // default
	padding: 0 15px; // default

	&.suki-empty {
		margin: 0 !important;
	}
		
	.suki-footer-widgets-bar-columns-2 & {
		width: 50%; // default
	}

	.suki-footer-widgets-bar-columns-3 & {
		width: 33.33%; // default
	}

	.suki-footer-widgets-bar-columns-4 & {
		width: 25%; // default
	}

	.suki-footer-widgets-bar-columns-5 & {
		width: 20%; // default
	}

	.suki-footer-widgets-bar-columns-6 & {
		width: 16.67%; // default
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		.suki-footer-widgets-bar-columns-2 &,
		.suki-footer-widgets-bar-columns-4 &,
		.suki-footer-widgets-bar-columns-6 & {
			width: 50%; // default

			&:nth-child(n+3) {
				margin-top: 40px; // default
			}
		}

		.suki-footer-widgets-bar-columns-3 &,
		.suki-footer-widgets-bar-columns-5 & {
			width: 33.33%; // default

			&:nth-child(n+4) {
				margin-top: 40px; // default
			}
		}
	}

	@media screen and ( max-width: $breakpoint_768 - 1px ) {
		width: 100% !important;
		margin-top: 40px; // default

		&:first-child {
			margin-top: 0;
		}
	}
}

// -------------------------------------------------------------
// Footer Bottom
// -------------------------------------------------------------

.suki-footer-row {
	margin: -1.25em 0;

	@media screen and ( min-width: $breakpoint_1024 ) {
		@include flex();
		white-space: nowrap;
	}
}

.suki-footer-column {
	margin: 1.25em 0;
	
	> * {
		margin: 1.25em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		text-align: center;
	}
}

.suki-footer-bottom-bar-left,
.suki-footer-bottom-bar-right {
	@media screen and ( min-width: $breakpoint_1024 ) {
		width: 50%;
	}
}