// -------------------------------------------------------------
// Alignment
// -------------------------------------------------------------

.alignwide {
	.suki-content-layout-narrow & {
		width: 1140px; // default
		max-width: 100vw;
		margin-left: calc( -0.5 * 1140px + 50% ); // default
		margin-right: calc( -0.5 * 1140px + 50% ); // default

		@media screen and (max-width: 1140px) {
			margin-left: calc( -50vw + 50% ); // default
			margin-right: calc( -50vw + 50% ); // default
		}
	}
}

.alignfull {
	.suki-content-layout-narrow &,
	.suki-content-layout-wide & {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc( -50vw + 50% ); // default
		margin-right: calc( -50vw + 50% ); // default

		body.suki-page-layout-boxed & {
			width: 1400px; // default
		}
	}
}

// -------------------------------------------------------------
// Color Palette
// -------------------------------------------------------------

.has-suki-color-1-background-color {
	background-color: $color_heading;
}
.has-suki-color-1-color {
	color: $color_heading;
}

.has-suki-color-2-background-color {
	background-color: $color_text;
}
.has-suki-color-2-color {
	color: $color_text;
}

.has-suki-color-3-background-color {
	background-color: $color_accent;
}
.has-suki-color-3-color {
	color: $color_accent;
}

.has-suki-color-4-background-color {
	background-color: $color_accent2;
}
.has-suki-color-4-color {
	color: $color_accent2;
}

.has-suki-color-5-background-color {
	background-color: $color_border;
}
.has-suki-color-5-color {
	color: $color_border;
}

.has-suki-color-6-background-color {
	background-color: $color_subtle;
}
.has-suki-color-6-color {
	color: $color_subtle;
}

.has-suki-color-7-background-color {
	background-color: $color_white;
}
.has-suki-color-7-color {
	color: $color_white;
}

.has-suki-color-8-background-color {
	background-color: $color_black;
}
.has-suki-color-8-color {
	color: $color_black;
}

// -------------------------------------------------------------
// Global block
// -------------------------------------------------------------

.entry-content > *,
.wp-block-column > * {
	margin-bottom: 1.5rem;

	&:last-child() {
		margin-bottom: 0;
	}
}

p.has-background {
	padding: 1.5em 2em;
}

// -------------------------------------------------------------
// Group
// -------------------------------------------------------------

.wp-block-group {
	&.has-background {
		padding: 1.5em 2em;
	}
}

// -------------------------------------------------------------
// Columns
// -------------------------------------------------------------

.wp-block-columns {
	margin-bottom: 0;

	> .wp-block-column {
		flex: 1;
		margin: 0 1rem 1.5rem;

		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}

		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			flex-basis: 100%;
			margin: 0 0 1.5rem;
		}
	}
}

// -------------------------------------------------------------
// Paragraph
// -------------------------------------------------------------

.has-drop-cap:not(:focus){
	&:after {
		display: none;
	}

	&:first-letter {
		float: left;
		line-height: 0.9;
		font-family: inherit;
		font-size: 3 * 1.7em; // default
		font-style: normal;
		font-weight: 600;
		margin: 0 0.25em 0 0;
		text-transform: uppercase;
		initial-letter: 3;
		color: $color_heading; // default
	}
}

// -------------------------------------------------------------
// Quote
// -------------------------------------------------------------

.wp-block-quote {
	padding: 0.5em 2em;
	@include border( left, 0.25rem, solid );
	border-color: inherit;

	&[style*="center"] {
		padding-left: 0;
		padding-right: 0;
		border-left: none;
	}

	&[style*="right"] {
		padding-left: 0;
		border-left: none;
		@include border( right, 0.25rem, solid );
	}

	cite {
		font-size: 1rem;
		font-style: normal;
	}

	&.is-style-large {
		margin: 1.5rem 0; // override gutenberg css
		padding: 0.5em 2em; // override gutenberg css

		p {
			font: unset; // reset
			font-size: 1.2em;
		}

		cite {
			font-size: 1rem; // override gutenberg css
			text-align: unset; // reset
		}
	}
}

// -------------------------------------------------------------
// Pull Quote
// -------------------------------------------------------------

.wp-block-pullquote {
	border-left: none !important;
	padding: 1.2em 0 !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	border-top: 2px solid;
	border-top-color: inherit;
	border-bottom: 2px solid;
	border-bottom-color: inherit;
	color: inherit;

	p {
		font: inherit;
		font-size: 1.2em;
		color: inherit;
	}

	cite {
		font-size: 1rem;
		color: inherit;
		text-transform: none;
		font-style: normal;
	}
}

// -------------------------------------------------------------
// Subhead
// -------------------------------------------------------------

p.wp-block-subhead {
	font-size: 1.2rem;
}

// -------------------------------------------------------------
// Cover Image
// -------------------------------------------------------------

.wp-block-cover-image {
	.wp-block-cover-image-text,
	h2 {
		max-width: 70%;
		margin: 0;
		padding: 0.5em;
		@include h2();
	}
}

// -------------------------------------------------------------
// Image
// -------------------------------------------------------------

.wp-block-image {
	img {
		display: block;
	}
	
	figcaption {
		margin: 0.5em 0;
		color: inherit;
		font-size: 0.85em;
		font-style: italic;
		text-align: center;
		word-break: break-all;
	}
}

// -------------------------------------------------------------
// Gallery
// -------------------------------------------------------------

.wp-block-gallery {
	padding: 0;
}

// -------------------------------------------------------------
// Audio
// -------------------------------------------------------------

.wp-block-audio {
	audio {
		width: 100%;
	}
}

// -------------------------------------------------------------
// Video
// -------------------------------------------------------------

.wp-block-video {
	video {
		width: 100%;
	}
}

// -------------------------------------------------------------
// Separator
// -------------------------------------------------------------

.wp-block-separator {
	max-width: none;
	margin-top: 2.5em;
	margin-bottom: 2.5em;

	&.is-style-dots {
		line-height: 0;

		&:before {
			font-family: unset; // reset
			font-size: 2em;
			letter-spacing: 0.75em;
			margin-left: -0.75em;
			color: unset; // reset
		}
	}
}

// -------------------------------------------------------------
// Button
// -------------------------------------------------------------

.wp-block-button {
	&.is-style-outline {
		a.wp-block-button__link {
			background-color: transparent; // reset
			border-color: currentColor; // reset
			// box-shadow: inset 0 0 0 2px currentColor;
			color: unset;
		}
	}

	// DEPRECATED in WP 5.3
	&.is-style-squared {
		a.wp-block-button__link {
			border-radius: 0;
		}
	}
}

// .wp-block-button__link {
// 	@include button();
// }

// -------------------------------------------------------------
// Table
// -------------------------------------------------------------

.wp-block-table {
	@include table();

	&__cell-content {
		padding: 0; // reset
	}

	&.is-style-stripes {
		border: none;

		table {
			border: none;
		}

		tbody {
			tr:nth-child(odd) {
				background-color: $color_subtle; // default
			}
		}

		th, td {
			border: none;
		}
	}
}

// -------------------------------------------------------------
// Embeds
// -------------------------------------------------------------

.wp-block-embed {
	.suki-oembed {
		// reset in favor of "responsive-embeds" theme support
		position: static;
		padding: 0 !important;
		margin: 0;

		> * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&.alignleft {
		.suki-oembed {
			> * {
				margin-right: auto;
			}
		}
	}

	&.aligncenter {
		.suki-oembed {
			> * {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.alignright {
		.suki-oembed {
			> * {
				margin-left: auto;
			}
		}
	}

	&.is-type-photo {
		img {
			width: 100%;
		}
	}
}