// -------------------------------------------------------------
// Basic Header Elements
// -------------------------------------------------------------

.site-header {
	position: relative;
	z-index: 99;
}

// .suki-header {
// 	// Base "menu"
// 	.menu {
// 		.menu-item {
// 			position: relative;
// 		}
// 	}
// }

// Logo
.site-title {
	margin: 0;

	.suki-menu-item-link {
		position: relative;
		display: inline-block;
	}
}

.suki-logo {
	display: block;
	@include transition( color );

	.suki-logo-image {
		display: block;
		width: 100px; // postmessage: header_logo_width, header_mobile_logo_width
		line-height: 1;

		img, svg {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

// Navigation Menu
.suki-header-menu {
	.suki-menu-item-link {
		position: relative;
		display: block;
	}

	.suki-menu-item-title {
		position: relative;
	}
}

// Search Dropdown
.suki-header-search-bar {
	.search-form {
		display: inline-block;
		width: 300px; // postmessage: header_search_bar_width
	}
}
.suki-header-search-dropdown {
	.sub-menu {
		padding: 0 !important;
		width: 300px; // postmessage: header_search_dropdown_width
	}

	.search-field {
		padding: 1em 1em 1em 2.5em;
		background-color: transparent;
		color: inherit;
		border-width: 0;

		&:focus {
			background-color: transparent;
			color: inherit;
		}
	}
}

// Cart
.suki-header-shopping-cart {
	.widget {
		margin: 0;
	}

	.shopping-cart-amount {
		margin: 0 0.25em 0 0.5em;

		&:nth-child(2) {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.shopping-cart-link {
		position: relative;
	}

	.shopping-cart-count {
		width: 2em;
		height: 2em;
		position: absolute;
		z-index: 1;
		display: inline-block;
		margin: -0.6em 0 0 -1.2em;
		border-radius: 50%;
		font-size: 0.6em;
		text-align: center;
		line-height: 2;
		letter-spacing: 0; /* reset */
		background-color: $color_accent; // postmessage: header_cart_count_bg_color
		color: $color_white; // postmessage: header_cart_count_text_color
		animation: suki-pulse 0.5s 1;

		strong {
			display: inline-block;
			font-size: 0.5em;
			line-height: 2;
			vertical-align: top;
		}

		&[data-count="0"] {
			display: none;
		}
	}

	.sub-menu {
		white-space: normal;
		width: 20em;
	}
}

// Social
.suki-header-social {
	li.menu-item {
		margin: 0 0.75em 0 0;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

// -------------------------------------------------------------
// Header Horizontal
// -------------------------------------------------------------

.suki-header-main {
	position: relative;
	display: block;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: none;
	}
}

.suki-header-mobile {
	display: none;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: block;
	}
}

.suki-header-section {
	position: relative;

	.suki-wrapper {
		height: 100%;
	}

	.suki-section-inner {
		height: inherit;
		@include transition( background-color, border-color, color, box-shadow );
	}
}

.suki-header-row {
	// position: relative;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	height: 100%;
	margin: 0 -12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter
}

.suki-header-column {
	display: flex;
	height: 100%;
	max-width: 100%;

	> * {
		display: flex;
		align-items: center;
		justify-content: inherit;
		height: 100%;
		max-width: 100%;
		padding: 0 12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter
	}
}

.suki-header-top-bar-left,
.suki-header-main-bar-left,
.suki-header-bottom-bar-left,
.suki-header-mobile-main-bar-left {
	flex: 1 0 auto;
	justify-content: flex-start;

	.suki-header-row-with-center > & {
		flex-basis: 0;
	}
}

.suki-header-top-bar-center,
.suki-header-main-bar-center,
.suki-header-bottom-bar-center,
.suki-header-mobile-main-bar-center {
	justify-content: center;
}

.suki-header-top-bar-right,
.suki-header-main-bar-right,
.suki-header-bottom-bar-right,
.suki-header-mobile-main-bar-right {
	flex: 1 0 auto;
	justify-content: flex-end;

	.suki-header-row-with-center > & {
		flex-basis: 0;
	}
}

.suki-header-section {
	.menu {
		display: flex;
		align-items: center;
		justify-content: inherit;
		height: 100%;

		> .menu-item {
			display: flex;
			align-items: center;
			height: 100%;
		}

		.sub-menu {
			position: absolute;
			z-index: 2; // higher than section and cart count
			top: 100%;
			padding: 1em;
			max-width: 1140px; // postmessage: container_width
			@include border();
			box-shadow: 0 2px 10px transparentize( $color_black, 0.95 );
			// hover menu hide
			visibility: hidden;
			opacity: 0;
			@include transition( opacity, visibility 0s 0.25s );
			overflow-y: auto;

			*:not(.button) {
				border-color: inherit;
			}

			> .menu-item {
				position: relative;
			}
		}

		&.suki-hover-menu .menu-item:hover > .sub-menu, // desktop mouse
		.menu-item.focus > .sub-menu // keyboard tab and mobile tap
		{
			// hover menu show
			visibility: visible;
			opacity: 1;
			@include transition( opacity, visibility 0s 0s );
		}
	}

	&.suki-section-full-width {
		.menu {
			.sub-menu {
				max-width: 100vw;

				body.suki-page-layout-boxed & {
					max-width: 1400px; // postmessage: boxed_page_width
				}
			}
		}

		.menu > .menu-item > .sub-menu {
			margin-right: -20px;
		}
	}
}

.suki-header-section {
	.suki-header-menu {
		padding: 0 !important;

		.menu-item {
			padding: 0 12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter
		}

		.suki-dropdown-sign {
			position: relative;
			margin-left: 0.4em;
		}

		.sub-menu {
			padding: 1em 0;
			// z-index: 50;
			z-index: 3; // higher than ordinary sub menu
			overflow-y: initial;

			.menu-item {
				padding: 0 1.25em;
				margin: 0;
			}

			.suki-menu-item-link {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.25em 0;
			}

			.sub-menu {
				top: -1em;
				left: 100%;
				margin: -1px 0 0 0;

				&.suki-sub-menu-right {
					left: auto;
					right: 100%;
				}
			}

			.suki-dropdown-sign {
				margin-left: 0.75em;
				margin-right: -0.75em;
			}
		}
	}
}

.suki-header-section {
	.menu > .menu-item .sub-menu {
		background-color: $color_bg; // postmessage: header_top_bar_bg_color, header_main_bar_bg_color, header_bottom_bar_bg_color, header_mobile_main_bar_bg_color
	}

	&, .menu > .menu-item .sub-menu {
		a:not(.button), .suki-toggle {
			color: $color_heading; // postmessage: header_top_bar_bg_color, header_main_bar_bg_color, header_bottom_bar_bg_color, header_mobile_main_bar_bg_color
			background-color: transparent;

			&:hover, &:focus {
				color: $color_accent; // postmessage: header_top_bar_bg_color, header_main_bar_bg_color, header_bottom_bar_bg_color, header_mobile_main_bar_bg_color
			}
		}
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		&:hover, &:focus {
			&:after {
				background-color: $color_border; // postmessage: header_top_bar_menu_hover_highlight_color, header_main_bar_menu_hover_highlight_color, header_bottom_bar_menu_hover_highlight_color, header_mobile_main_bar_menu_hover_highlight_color
			}
		}
	}
}

.suki-header-top-bar {
	height: 40px; // postmessage: header_top_bar_height

	&-inner {
		// z-index: 30;
		@include border( null, 0 ); // postmessage: header_top_bar_border
		padding: 0 20px; // postmessage: header_top_bar_padding
	}

	&.suki-section-merged {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.suki-header-main-bar {
	height: 80px; // postmessage: header_main_bar_height

	&-inner {
		// z-index: 20;
		@include border( null, 0 ); // postmessage: header_main_bar_border
		padding: 0 20px; // postmessage: header_main_bar_padding

		.suki-header-main-bar-with-top-bar > &,
		.suki-header-main-bar-with-bottom-bar > & {
			display: flex;
			flex-direction: column;
		}
	}
}

.suki-header-bottom-bar {
	height: 60px; // postmessage: header_bottom_bar_height

	&-inner {
		// z-index: 10;
		@include border( null, 0 ); // postmessage: header_bottom_bar_border
		padding: 0 20px; // postmessage: header_bottom_bar_padding
	}

	&.suki-section-merged {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.suki-header-mobile-main-bar {
	height: 60px; // postmessage: header_mobile_main_bar_height

	&-inner {
		// z-index: 10;
		@include border( null, 0 ); // postmessage: header_mobile_main_bar_border
		padding: 0 20px; // postmessage: header_mobile_main_bar_padding
	}
}

// -------------------------------------------------------------
// Vertical Header
// -------------------------------------------------------------

.suki-header-section-vertical {
	display: flex;
	flex-direction: column;
	// width: 100%;
	height: 100%;
	overflow-y: auto;

	a:not(.button), .suki-toggle {
		color: $color_heading; // postmessage: header_mobile_vertical_bar_link_text_color
		background-color: transparent;

		&:hover, &:focus {
			color: $color_accent; // postmessage: header_mobile_vertical_bar_link_hover_text_color
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.suki-header-section-vertical-column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100%;
	max-width: 100%;
	flex: 1;
}

.suki-header-section-vertical-row {
	display: flex;
	width: 100%;
	max-height: 100%;
	flex-direction: column;

	// &,
	// > * {
	// 	&:first-child {
	// 		padding-top: 0 !important;
	// 	}

	// 	&:last-child {
	// 		padding-bottom: 0 !important;
	// 	}
	// }
}

.suki-header-section-vertical {
	.menu {
		.sub-menu {
			width: 100%;
			max-width: 100%;

			// accordion hide
			// visibility: hidden;
			// opacity: 0;
			display: none;
		}

		.menu-item.focus {
			> .sub-menu {
				// accordion show
				// display: block;
				// visibility: visible;
				// opacity: 1;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-menu {
		.menu-item {
			position: relative;
			display: flex;
			flex-wrap: wrap;
		}
		
		.sub-menu {
			width: 100%;
		}

		.suki-menu-item-link {
			padding: 0.5em 0;
		}

		.suki-sub-menu-toggle {
			width: 1.5em;
			padding: 0.5em 0 !important;
			cursor: pointer;
			text-align: center;
		}

		.suki-text-align-left & {
			.sub-menu {
				padding-left: 1.5em;
			}

			.suki-sub-menu-toggle {
				margin: 0 0 0 0.5em;
			}
		}

		.suki-text-align-center & {
			.menu-item {
				justify-content: center;
			}

			.suki-sub-menu-toggle {
				margin: 0 -2em 0 0.5em;
			}
		}

		.suki-text-align-right & {
			.menu-item {
				justify-content: flex-end;
			}

			.sub-menu {
				padding-right: 1.5em;
				order: 3;
			}

			.suki-menu-item-link {
				order: 2;
			}

			.suki-sub-menu-toggle {
				margin: 0 0.5em 0 0;
				order: 1;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-social {
		li {
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-button {
		max-width: 100%;
	}
}

.suki-header-mobile-vertical {
	display: none;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: block;
	}
}

.suki-header-mobile-vertical-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	max-width: calc(100% - 4rem);
	width: 300px; // postmessage: header_mobile_vertical_bar_width
	padding: 30px; // postmessage: header_mobile_vertical_bar_padding
	overflow-y: auto;
	background-color: $color_bg; // postmessage: header_mobile_vertical_bar_bg_color
	@include transition( transform );

	.suki-header-mobile-vertical-position-left &,
	.suki-header-mobile-vertical-position-center & {
		left: 0;
		transform: translate( -100%, 0 );
	}

	.suki-header-mobile-vertical-position-right & {
		right: 0;
		transform: translate( 100%, 0 );
	}

	.suki-popup-active & {
		transform: translate( 0, 0 ) !important;
		@include transition( transform 0.25s 0.125s );
	}

	.suki-header-section-vertical-column {
		margin: -12px 0; // postmessage: header_mobile_vertical_bar_items_gutter
	}

	.suki-header-section-vertical-row {
		> * {
			padding: 12px 0; // postmessage: header_mobile_vertical_bar_items_gutter
		}
	}
}

// .suki-header-mobile-vertical-display-drawer {
// 	opacity: 1; // reset popup's opacity: 0;
// }

.suki-header-mobile-vertical-display-full-screen {
	left: 0;
	right: 0;

	.suki-popup-background {
		background-color: transparent;
	}

	.suki-header-mobile-vertical-bar {
		width: 100% !important;
		max-width: 100%;
		left: 0;
		right: 0;
		border: none !important;
		transform: none !important;
	}
	
	.suki-popup-close-icon {
		color: inherit !important;
	}

	.suki-header-section-vertical-column {
		width: 300px; // postmessage: header_mobile_vertical_bar_width
	}

	&.suki-header-mobile-vertical-position-left .suki-header-section-vertical-column {
		margin-right: auto;
	}

	&.suki-header-mobile-vertical-position-center .suki-header-section-vertical-column {
		margin-left: auto;
		margin-right: auto;
	}

	&.suki-header-mobile-vertical-position-right .suki-header-section-vertical-column {
		margin-left: auto;
	}
}

// -------------------------------------------------------------
// Header menu highlight
// -------------------------------------------------------------

.suki-header-menu {
	> .menu > .menu-item > .suki-menu-item-link {
		display: flex;
		align-items: center;
		height: 100%;

		&:before {
			content: "";
			position: absolute;
			// z-index: -1;
			@include transition();
		}

		&:hover, &:focus {
			&:before {
				background-color: $color_subtle; // postmessage: // postmessage: header_top_bar_menu_hover_highlight_color, header_main_bar_menu_hover_highlight_color, header_bottom_bar_menu_hover_highlight_color, header_mobile_main_bar_menu_hover_highlight_color
			}
		}
	}
}

.suki-header-menu-highlight-none {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		height: auto;

		&:before {
			display: none;
		}
	}

	.suki-header-menu > .menu > .menu-item > .sub-menu {
		margin-left: -12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter
	}
}

.suki-header-menu-highlight-underline {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		// display: block;
		height: auto;

		&:before {
			top: 100%;
			left: 0;
			width: 100%;
			height: 0.15em;
			@include transition();
		}
	}
	
	.suki-header-menu > .menu > .menu-item > .sub-menu {
		margin-left: -12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter
	}
}

.suki-header-menu-highlight-background {
	.suki-header-menu > .menu > .menu-item {
		padding: 0;
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		padding: 0 12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter

		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover, &:focus {
			&:before {
				background-color: $color_subtle; // postmessage: header_top_bar_menu_hover_highlight_color, header_main_bar_menu_hover_highlight_color, header_bottom_bar_menu_hover_highlight_color, header_mobile_main_bar_menu_hover_highlight_color
			}
		}
	}
}

.suki-header-menu-highlight-border-top {
	.suki-header-menu > .menu > .menu-item {
		padding: 0;
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		padding: 0 12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter

		&:before {
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0.2em;
			margin: 0 auto;
			@include transition();
		}
	}
}

.suki-header-menu-highlight-border-bottom {
	.suki-header-menu > .menu > .menu-item {
		padding: 0;
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		padding: 0 12px; // postmessage: header_top_bar_items_gutter, header_main_bar_items_gutter, header_bottom_bar_items_gutter, header_mobile_main_bar_items_gutter

		&:before {
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0.2em;
			margin: 0 auto;
			@include transition();
		}
	}
}

.suki-toggle.suki-popup-close-icon {
	.suki-header-mobile-vertical-position-right & {
		left: 0 !important;
		right: auto !important;
	}
}