// -------------------------------------------------------------
// Basic Header Elements
// -------------------------------------------------------------

.site-header {
	position: relative;
}

.suki-header {
	// Base "menu"
	.menu {
		> div,
		li {
			position: relative;
		}
	}
}

// Logo
.site-title {
	margin: 0;

	.suki-menu-item-link {
		position: relative;
		display: inline-block;
	}
}

.suki-logo {
	display: block;
	@include transition( color );

	.suki-logo-image {
		display: block;
		width: 100px; // default
		line-height: 1;
	}

	img, svg {
		max-width: 100%;
		height: auto;
	}
}

// Navigation Menu
.suki-header-menu {
	.suki-menu-item-link {
		display: block;
	}

	.suki-menu-item-title {
		position: relative;
	}
}

// Search Dropdown
.suki-header-search-bar {
	.search-form {
		display: inline-block;
		width: 300px; // default
	}
}
.suki-header-search-dropdown {
	.sub-menu {
		padding: 0 !important;
		width: 300px; // default
	}

	.search-field {
		padding: 1em 1em 1em 2.5em;
		background-color: transparent;
		color: inherit;
		border-width: 0;

		&:focus {
			background-color: transparent;
			color: inherit;
		}
	}
}

// Cart
.suki-header-shopping-cart {
	.widget {
		margin: 0;
	}

	.shopping-cart-count {
		width: 2em;
		height: 2em;
		position: absolute;
		left: 100%;
		z-index: 1;
		display: inline-block;
		margin: -0.8em 0 0 -0.8em;
		border-radius: 50%;
		font-size: 0.6em;
		text-align: center;
		line-height: 2;
		letter-spacing: 0; /* reset */
		background-color: $color_accent; // default
		color: $color_white; // default
		animation: suki-pulse 0.5s 1;

		strong {
			display: inline-block;
			font-size: 0.5em;
			line-height: 2;
			vertical-align: top;
		}

		&[data-count="0"] {
			display: none;
		}
	}

	.sub-menu {
		white-space: normal;
		width: 20rem !important;
	}
}

// Social
.suki-header-social {
	li.menu-item {
		margin: 0 0.75em 0 0;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

// Mobile drawer toggle
.suki-header-mobile-vertical-toggle {
	.suki-popup-toggle-active {
		opacity: 0;
	}
}

// -------------------------------------------------------------
// Header Horizontal
// -------------------------------------------------------------

.suki-header-main {
	position: relative;
	display: block;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: none;
	}
}

.suki-header-mobile {
	display: none;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: block;
	}
}

.suki-header-section {
	position: relative;

	.suki-wrapper {
		height: 100%;
	}

	.suki-section-inner {
		height: inherit;
		@include transition( background-color, border-color, color, box-shadow );
	}
}

.suki-header-row {
	position: relative;
	@include flex();
	white-space: nowrap;
	height: 100%;
	margin: 0 -12px; // default
}

.suki-header-column {
	@include flex();
	height: 100%;
	max-width: 100%;

	&:empty {
		margin: 0 !important;
		padding: 0 !important;
	}

	> * {
		@include flex( center, inherit );
		height: 100%;
		max-width: 100%;
		padding: 0 12px; // default
	}
}

.suki-header-top-bar-left,
.suki-header-main-bar-left,
.suki-header-bottom-bar-left,
.suki-header-mobile-main-bar-left,
.suki-header-top-bar-right,
.suki-header-main-bar-right,
.suki-header-bottom-bar-right,
.suki-header-mobile-main-bar-right {
	width: 100%;
}

.suki-header-section {
	.menu {
		@include flex( center, inherit );
		height: 100%;

		> div,
		> li {
			@include flex();
			height: 100%;
		}

		.sub-menu {
			position: absolute;
			z-index: 40;
			top: 100%;
			left: 0;
			padding: 1em;
			max-width: 1140px; // default
			min-width: 100%;
			@include border();
			box-shadow: 0 2px 10px rgba(0,0,0,0.05);
			// hover menu hide
			visibility: hidden;
			opacity: 0;
			@include transition( opacity, visibility 0s 0.25s );
		}

		&.suki-hover-menu .menu-item:hover > .sub-menu,
		.menu-item.focus > .sub-menu {
			// hover menu show
			visibility: visible;
			opacity: 1;
			@include transition( opacity, visibility 0s 0s );
		}
	}

	&.suki-section-full-width {
		.menu {
			.sub-menu {
				max-width: 100vw; // default

				body.suki-page-layout-boxed & {
					max-width: 1400px; // default
				}
			}
		}

		.menu > .menu-item > .sub-menu {
			margin-right: -20px;
		}
	}
}

.suki-header-section {
	.suki-header-menu {
		padding: 0 !important;

		.menu-item {
			padding: 0 12px; // default
		}

		a {
			font-weight: 600; // default
		}

		.suki-dropdown-sign {
			margin-left: 0.3em;
		}

		.sub-menu {
			padding: 1em 0;
			z-index: 50;

			.menu-item {
				padding: 0 1.25em;
				margin: 0;
			}

			.suki-menu-item-link {
				@include flex();
				padding: 0.25em 0;
			}

			.sub-menu {
				top: -1em;
				left: 100%;
				margin: -1px 0 0 0;

				&.suki-sub-menu-right {
					left: auto;
					right: 100%;
				}
			}

			.suki-dropdown-sign {
				margin-left: 0;
				margin-right: -0.5em;
			}
		}
	}
}

.suki-header-section {
	&-inner, .menu .sub-menu {
		background-color: $color_bg; // default
	}

	&, .menu .sub-menu {
		a:not(.button), .suki-toggle {
			color: $color_heading; // default

			&:hover, &:focus {
				color: $color_accent; // default
			}
		}
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		&:hover, &:focus {
			&:after {
				background-color: $color_border; // default
			}
		}
	}
}

.suki-header-top-bar {
	height: 40px; // default

	&-inner {
		z-index: 30;
		border-width: 0 0 1px 0; // default
		padding: 0 20px; // default
	}

	&.suki-section-merged {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.suki-header-main-bar {
	height: 80px; // default

	&-inner {
		z-index: 20;
		border-width: 0 0 1px 0; // default
		padding: 0 20px; // default
	}

	&.suki-header-main-bar-with-top-bar > .suki-section-inner > .suki-wrapper {
		padding-top: 40px; // default
	}

	&.suki-header-main-bar-with-bottom-bar > .suki-section-inner > .suki-wrapper {
		padding-bottom: 40px; // default
	}
}

.suki-header-bottom-bar {
	height: 60px; // default

	&-inner {
		z-index: 10;
		border-width: 0 0 1px 0; // default
		padding: 0 20px; // default
	}

	&.suki-section-merged {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

.suki-header-mobile-main-bar {
	height: 60px; // default

	&-inner {
		z-index: 10;
		border-width: 0 0 1px 0; // default
		padding: 0 20px; // default
	}
}

// -------------------------------------------------------------
// Vertical Header
// -------------------------------------------------------------

.suki-header-section-vertical {
	&-inner, .menu .sub-menu {
		background-color: $color_bg; // default
	}

	&, .menu .sub-menu {
		a:not(.button), .suki-toggle {
			color: $color_heading; // default

			&:hover, &:focus {
				color: $color_accent; // default
			}
		}
	}

	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		&:hover, &:focus {
			&:after {
				background-color: $color_border; // default
			}
		}
	}
}

.suki-header-section-vertical {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.suki-header-section-vertical-inner {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.suki-header-section-vertical-column {
	@include flex();
	flex-direction: column;
	height: 100%;
}

.suki-header-section-vertical-row {
	width: 100%;

	&,
	> * {
		&:first-child {
			padding-top: 0 !important;
		}

		&:last-child {
			padding-bottom: 0 !important;
		}
	}
}

.suki-header-section-vertical {
	.menu {
		.sub-menu {
			width: 100%;
			max-width: 100%;

			// accordion hide
			visibility: hidden;
			opacity: 0;
			display: none;
		}

		.menu-item.focus {
			> .sub-menu {
				// accordion show
				display: block;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-menu {
		.menu-item {
			position: relative;
			display: block;

			.suki-menu-item-link {
				display: block;
				padding: 0.5em 0;
			}

			&.menu-item-has-children .suki-menu-item-link {
				margin-right: 2em;
			}
		}

		.suki-sub-menu-toggle {
			position: absolute;
			top: 0;
			right: 0;
			width: 1.5em;
			margin: 0 !important;
			padding: 0.5em 0 !important;
			cursor: pointer;
			text-align: center;
		}

		.suki-text-align-left & {
			.sub-menu {
				padding-left: 1.5em;
			}
		}

		.suki-text-align-center & {
			li.menu-item-has-children .suki-menu-item-link {
				margin-right: 0;
			}
		}

		.suki-text-align-right & {
			li.menu-item-has-children .suki-menu-item-link {
				margin-right: 0;
				margin-left: 1.5em;
			}

			.sub-menu {
				padding-right: 1.5em;
			}

			.suki-sub-menu-toggle {
				right: auto;
				left: 0;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-social {
		li {
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-header-button {
		max-width: 100%;
	}
}

.suki-header-mobile-vertical {
	display: none;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		display: block;
	}
}

.suki-header-mobile-vertical-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	max-width: calc(100% - 4rem);
	width: 300px; // default
	@include transition( transform );

	.suki-header-mobile-vertical-position-left & {
		left: 0;
		transform: translate( -100%, 0 );
	}

	.suki-header-mobile-vertical-position-right & {
		right: 0;
		transform: translate( 100%, 0 );
	}

	.suki-popup-active & {
		transform: translate( 0, 0 ) !important;
		@include transition( transform 0.25s 0.125s );
	}

	.suki-header-section-vertical-column {
		padding: 30px; // default
	}

	.suki-header-section-vertical-row {
		&, > * {
			padding: 12px 0; // default
		}
	}
}

// -------------------------------------------------------------
// Header menu highlight
// -------------------------------------------------------------

.suki-header-menu {
	> .menu > .menu-item > .suki-menu-item-link {
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			@include transition();
		}
	}
}

.suki-header-menu-highlight-underline {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		position: relative;

		&:after {
			top: 100%;
			left: 0;
			width: 100%;
			height: 0.1em;
			@include transition();
		}
	}
}

.suki-header-menu-highlight-background {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		@include flex();
		height: 100%;

		&:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.suki-header-menu-highlight-border-top {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		@include flex();
		height: 100%;

		&:after {
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0.2em;
			margin: 0 auto;
			@include transition();
		}
	}
}

.suki-header-menu-highlight-border-bottom {
	.suki-header-menu > .menu > .menu-item > .suki-menu-item-link {
		@include flex();
		height: 100%;

		&:after {
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 0.2em;
			margin: 0 auto;
			@include transition();
		}
	}
}

.suki-toggle.suki-popup-close-icon {
	.suki-header-mobile-vertical-position-right & {
		left: 0 !important;
		right: auto !important;
	}
}