// -------------------------------------------------------------
// Basic Header Elements
// -------------------------------------------------------------

.site-header {
	position: relative;
}

.suki-header {
	// Base "menu"
	.menu {
		> div,
		li {
			position: relative;
		}
	}
}

.suki-menu-icon {
	vertical-align: middle;
}

// Navigation Menu
.suki-header-menu {
	a {
		position: relative;
		display: block;
		// white-space: nowrap;
	}
}

// Search Dropdown
.suki-header-search-dropdown {
	.sub-menu {
		padding: 0 !important;
	}

	.search-field {
		padding: 1em 1em 1em 2.5em;
		background-color: transparent;
		color: inherit;
		border-width: 0;

		&:focus {
			background-color: transparent;
			color: inherit;
		}
	}
}

// Search Bar
// .suki-header-search-bar {
// 	.search-field {
// 		background-color: transparent;
// 		color: inherit;
// 	}
// }

// Social
.suki-header-social {
	li.menu-item {
		margin: 0 0.5em;
	}
}

// -------------------------------------------------------------
// Header Horizontal
// -------------------------------------------------------------

.suki-main-header {
	position: relative;
}

.suki-header-section {
	.suki-section-inner {
		@include transition( background-color, border-color, color );
	}

	.suki-wrapper {
		height: 100%;
	}

	.suki-header-absolute > & {
		position: absolute;
		width: 100%;
	}
}

.suki-header-row {
	position: relative;
	@include flex();
	white-space: nowrap;
	height: 100%;
}

.suki-header-column {
	@include flex();
	height: 100%;
	max-width: 100%;

	&:empty {
		margin: 0 !important;
		padding: 0 !important;
	}

	> * {
		@include flex();
		height: 100%;
		max-width: 100%;
	}
}

.suki-header-top-bar-inner {
	z-index: 3;
}

.suki-header-main-bar-inner {
	z-index: 2;
}

.suki-header-bottom-bar-inner {
	z-index: 1;
}

.suki-header-top-bar-left,
.suki-header-main-bar-left,
.suki-header-bottom-bar-left,
.suki-header-mobile-main-bar-left,
.suki-header-top-bar-right,
.suki-header-main-bar-right,
.suki-header-bottom-bar-right,
.suki-header-mobile-main-bar-right {
	width: 50%;
}

.suki-header-section {
	.menu {
		@include flex();
		height: 100%;

		> div,
		> li {
			@include flex();
			height: 100%;

			&:first-child,
			&:first-of-type {
				margin-left: 0 !important;
				padding-left: 0 !important;
			}

			&:last-child,
			&:last-of-type {
				margin-right: 0 !important;
				padding-right: 0 !important;
			}
		}

		.sub-menu {
			position: absolute;
			z-index: 4;
			top: 100%;
			left: 0;
			padding: 1em;
			max-width: 100vw;
			min-width: 10em;
			@include border();
			box-shadow: 0 6px 12px rgba(0,0,0,0.05);
			// hover menu hide
			visibility: hidden;
			opacity: 0;
			@include transition( opacity, visibility 0s 0.25s );
		}

		&.suki-hover-menu .menu-item:hover > .sub-menu,
		.menu-item.focus > .sub-menu {
			// hover menu show
			visibility: visible;
			opacity: 1;
			@include transition( opacity, visibility 0s 0s );
		}
	}
}

.suki-header-section {
	.suki-header-menu {
		.suki-dropdown-sign {
			margin-left: 0.3em;
		}

		.sub-menu {
			padding: 1em 0;
			z-index: 5;

			li {
				padding: 0 1em;
				margin: 0;
			}

			a {
				@include flex();
				padding: 0.25em 0.5em;
			}

			.sub-menu {
				top: -1em;
				left: 100%;
				margin: -1px 0 0 0;

				&.suki-sub-menu-right {
					left: auto;
					right: 100%;
				}
			}

			.suki-dropdown-sign {
				margin-left: 0;
				margin-right: -1em;
			}
		}
	}
}

// -------------------------------------------------------------
// Vertical Header
// -------------------------------------------------------------

.suki-header-vertical {
	position: fixed;
	z-index: 200;
	top: 0;
	bottom: 0;
	max-width: calc(100% - 4rem);
	@include transition( transform );

	.suki-header-vertical-inner {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding: 2rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.admin-bar & {
		top: 32px;
		
		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			top: 46px;
		}
	}
}

.suki-header-vertical-position-left {
	left: 0;
	transform: translate( -100%, 0 );
}

.suki-header-vertical-position-right {
	right: 0;
	transform: translate( 100%, 0 );
}
	
.suki-header-vertical-display-permanent,
.suki-header-vertical.suki-popup-active {
	transform: translate( 0, 0 ) !important;
}

.suki-header-vertical-column {
	@include flex();
	flex-direction: column;
	height: 100%;
}

.suki-header-vertical-row {
	width: 100%;

	&,
	> * {
		&:first-child {
			margin-top: 0 !important;
			padding-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}
	}
}

.suki-header-vertical {
	.menu {
		.sub-menu {
			width: 100%;
			max-width: 100%;

			// accordion hide
			visibility: hidden;
			opacity: 0;
			display: none;
		}

		.menu-item.focus {
			> .sub-menu {
				// accordion show
				display: block;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.suki-header-vertical {
	.suki-header-menu {
		li {
			position: relative;
			display: block;

			a {
				display: block;
				padding: 0.5em 0;
			}

			&.menu-item-has-children a {
				margin-right: 1.5em;
			}
		}

		.suki-sub-menu-toggle {
			position: absolute;
			top: 0;
			right: 0;
			width: 1.25em;
			margin: 0 !important;
			padding: 0.5em 0 !important;
			cursor: pointer;
			text-align: center;
		}
	}

	&.suki-text-align-left .suki-header-menu {
		.sub-menu {
			padding-left: 1.5em;
		}
	}

	&.suki-text-align-center .suki-header-menu {
		li.menu-item-has-children a {
			margin-right: 0;
		}
	}

	&.suki-text-align-right .suki-header-menu {
		li.menu-item-has-children a {
			margin-right: 0;
			margin-left: 1.5em;
		}

		.sub-menu {
			padding-right: 1.5em;
		}

		.suki-sub-menu-toggle {
			right: auto;
			left: 0;
		}
	}
}

.suki-header-vertical {
	.suki-header-social {
		li {
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.suki-header-vertical {
	.suki-header-button {
		max-width: 100%;
	}
}