// -------------------------------------------------------------
// Page header
// -------------------------------------------------------------

.suki-page-header-inner {
	border-width: 0 0 1px 0; // default
	background-color: $color_subtle; // default
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll; // default
	padding: 80px 20px; // default

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.suki-page-header {
	a {
		color: $color_text; // default

		&:hover, &:focus {
			color: $color_accent; // default
		}
	}
}

.suki-page-header-layout-left-right {
	text-align: left;

	@media screen and ( min-width: $breakpoint_768 ) {
		.suki-page-header-row {
			@include flex( center, flex-start );

			.suki-page-header-title {
				width: 50%;
				text-align: left;
			}

			.suki-page-header-breadcrumb {
				width: 50%;
				text-align: right;
				margin: 0;
			}
		}
	}
}

.suki-page-header-layout-right-left {
	text-align: right;

	@media screen and ( min-width: $breakpoint_768 ) {
		.suki-page-header-row {
			@include flex( center, flex-end );
			flex-direction: row-reverse;

			.suki-page-header-title {
				width: 50%;
				text-align: right;
			}

			.suki-page-header-breadcrumb {
				width: 50%;
				text-align: left;
				margin: 0;
			}
		}
	}
}

.suki-page-header-layout-left {
	text-align: left;

	.suki-page-header-row {
		margin-left: 0;
		margin-right: auto;
	}
}

.suki-page-header-layout-center {
	text-align: center;

	.suki-page-header-row {
		margin-left: auto;
		margin-right: auto;
	}
}

.suki-page-header-layout-right {
	text-align: right;

	.suki-page-header-row {
		margin-left: auto;
		margin-right: 0;
	}
}

.suki-page-header-title {
	margin: 0;
}

.suki-page-header-breadcrumb {
	font-size: 0.9em; // default
	margin-top: 0.5em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;

		&:after {
			margin: 0 0.5em;
			content: "\00bb";
			opacity: 0.5;
		}

		&:last-child:after {
			display: none;
		}
	}
}