// -------------------------------------------------------------
// Page header
// -------------------------------------------------------------

.suki-page-header-inner {
	@include border( null, 0 0 1px 0 ); // default
	background-color: $color_subtle; // default
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll; // default
	padding: 80px 20px; // default

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.suki-page-header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -1.5rem;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		flex-wrap: wrap;
		white-space: normal;
	}
}

.suki-page-header-column {
	max-width: 100%;
	padding: 0 1.5rem;

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		width: 100%;
		justify-content: center !important;
		text-align: center;

		&:not(:first-child):not(.suki-page-header-column-empty) {
			margin-top: 1rem;
		}
	}

	> * {
		margin: 0;
	}

	> * + * {
		margin-top: 1rem;
	}
}

.suki-page-header-left {
	flex: 1 0 auto;
	text-align: left;

	.suki-page-header-row-with-center > & {
		flex-basis: 0;
	}

	@media screen and ( max-width: $breakpoint_1024 - 1px ) {
		&:not(.suki-page-header-column-empty) ~ .suki-page-header-column {
			text-align: left;
		}
	}
}

.suki-page-header-center {
	text-align: center;
}

.suki-page-header-right {
	flex: 1 0 auto;
	text-align: right;

	.suki-page-header-row-with-center > & {
		flex-basis: 0;
	}
}

.suki-page-header-breadcrumb {
	font-size: 0.9em; // default

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;

		&:after {
			margin: 0 0.5em;
			content: "\00bb";
			opacity: 0.5;
		}

		&:last-child:after {
			display: none;
		}
	}
}