// Responsive Breakpoints
$breakpoint_1024: 1024px;
$breakpoint_768: 768px;
$breakpoint_500: 500px;

$breakpoint_wordpress: 783px;

// WordPress
$adminbar__height: 32px;
$adminbar__height_mobile: 46px;