// -------------------------------------------------------------
// Standard widgets
// -------------------------------------------------------------

.widget {
	position: relative;
	margin-bottom: 40px; // default

	.sidebar &:last-child {
		margin-bottom: 0;
	}

	select {
		width: 100%;
	}

	.post-date, .rss-date {
		@include meta();
		display: block;
		margin-top: 0.25em;
		font-size: 0.9em;
	}
}

// Widget title
.widget-title {
	margin: 0 0 1.25rem;
	@include h3();
	@include headingColor();

	&:empty {
		display: none;
	}

	.suki-widget-title-decoration-box & {
		@include border();
		padding: 0.25em 1em;
	}

	.suki-widget-title-decoration-border-bottom & {
		@include border( bottom );
		padding-bottom: 0.25em;
	}

	.suki-widget-title-alignment-left & {
		text-align: left;
	}

	.suki-widget-title-alignment-center & {
		text-align: center;
	}

	.suki-widget-title-alignment-right & {
		text-align: right;
	}
}

.widget_text {
	.textwidget {
		> *:last-child {
			margin-bottom: 0;
		}
	}
}

// List widgets
.widget_nav_menu,
.widget_categories,
.widget_archive,
.widget_meta,
.widget_pages {
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		ul {
			margin-left: 1.25em;
		}
	}

	li {
		margin-top: 0.25em;
	}
}

// Posts widgets
.widget_recent_entries,
.widget_recent_comments,
.widget_rss {
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		@include border( bottom );
		padding-bottom: 0.75em;
		margin-top: 0.75em;

		*:last-child {
			border-bottom: none;
		}
	}
}

.widget_rss {
	.rssSummary {
		font-size: 10px;
		margin: 0.5em 0;
	}

	cite {
		display: block;
		font-size: 0.85em;

		&:before {
			content: "-";
			margin-right: 0.5em;
		}
	}

	.rsswidget img {
		display: inline-block;
		margin-right: 0.5em;
	}
}

// Calendar widget
.widget_calendar {
	table {
		position: relative;
		table-layout: fixed;
		width: 100%;
		max-width: 100%;

		th, td {
			text-align: center;
			padding: 0.2em;
		}

		tfoot {
			position: absolute;
			width: 100%;
			top: 0;

			#prev, #next {
				position: absolute;
				top: 0;
				padding: 0.15em;
				width: 2em;
				border: none;
			}

			.pad {
				border: none;
			}

			#prev {
				left: 0;

				&:before {
					content: "\00ab";
				}
			}

			#next {
				right: 0;

				&:before {
					content: "\00bb";
				}
			}

			td a {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				text-indent: -999999px;
			}
		}

		tbody a {
			font-weight: bold;
		}

		caption {
			padding: 0.2em 2em;
		}
	}
}

// // Search widget
// .widget_search {
// 	// Hide search widget when on search results page.
// 	.search-results & {
// 		display: none;
// 	}
// }

// -------------------------------------------------------------
// Custom widgets
// -------------------------------------------------------------

.suki_widget_posts {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	li {
		@include border( bottom );
		padding-bottom: 0.75em;
		margin-top: 0.75em;
		
		@include float-container();

		*:last-child {
			border-bottom: none;
		}
	}

	img {
		float: right;
		width: 40px;
		height: auto;
		margin-left: 0.5em;
	}
}

.suki_widget_social {
	.suki-widget-social {
		font-size: 1.25em;

		a {
			margin-left: 0.5em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}