.suki-page-settings__row {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	&:first-of-type {
		margin-top: 8px;
	}
}

.interface-complementary-area {
	.components-notice {
		margin: 0; // Reset
		padding-right: 12px; // Reset

		.components-notice__content {
			margin-right: 0; // Reset
		}
	}
}
