.customize-control-suki-radioimage {
	.suki-radioimage__option {
		display: block; // Override `inline-flex` by <Button>
		padding: 2px;
		height: auto;

		&:not(.is-pressed) {
			background-color: rgba(0,0,0,0.1);
			color: inherit;

			&:hover, &:focus {
				background-color: rgba(0,0,0,0.15);
				color: inherit;
			}
		}

		img {
			border-radius: 2px;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
		}

		span {
			padding: 4px 0;
		}
	}
}
