.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
	font-size: 27px;
	font-weight: 500;
	line-height: 1.5;
}

.wp-block-button .wp-block-button__link {
	position: relative;
	display: inline-block;
	line-height: normal;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #ffffff;
	background-color: #5c6bc0;
	border-color: #5c6bc0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
	color: #ffffff;
	background-color: #3949ab;
	border-color: #3949ab;
}

.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus, .wp-block-button .wp-block-button__link:active {
	text-decoration: none;
}

.suki-content-layout-narrow .alignwide {
	position: relative;
	right: 50%;
	-webkit-transform: translate(50%, 0);
	transform: translate(50%, 0);
	width: calc( 1140px + ( 2 * 25px ));
	max-width: calc( 1140px + ( 2 * 25px ));
	padding: 0 25px;
}

@media screen and (max-width: 767px) {
	.suki-content-layout-narrow .alignwide {
		padding: 0 20px;
		max-width: calc( 1140px + ( 2 * 20px ));
	}
}

@media screen and (max-width: 499px) {
	.suki-content-layout-narrow .alignwide {
		padding: 0 15px;
		max-width: calc( 1140px + ( 2 * 15px ));
	}
}

.alignwide img {
	width: 100%;
}

.suki-content-layout-narrow .alignfull,
.suki-content-layout-wide .alignfull {
	position: relative;
	right: 50%;
	-webkit-transform: translate(50%, 0);
	transform: translate(50%, 0);
	width: 100vw;
	max-width: 100vw;
}

body.suki-page-layout-boxed .suki-content-layout-narrow .alignfull, body.suki-page-layout-boxed
.suki-content-layout-wide .alignfull {
	max-width: 1400px;
}

.alignfull img {
	width: 100%;
}

[class*="wp-block"] {
	margin-bottom: 1.25rem;
}

.wp-block-columns {
	margin: 0 -15px;
}

.suki-content-layout-narrow .wp-block-columns.alignwide {
	width: calc( 1140px + ( 2 * 25px ) + ( 2 * 15px ));
	max-width: calc( 1140px + ( 2 * 25px ) + ( 2 * 15px ));
	margin: 0;
}

@media screen and (max-width: 767px) {
	.suki-content-layout-narrow .wp-block-columns.alignwide {
		max-width: calc( 1140px + ( 2 * 20px ) + ( 2 * 15px ));
	}
}

@media screen and (max-width: 499px) {
	.suki-content-layout-narrow .wp-block-columns.alignwide {
		max-width: calc( 1140px + ( 2 * 15px ) + ( 2 * 15px ));
	}
}

.suki-content-layout-narrow .wp-block-columns.alignfull,
.suki-content-layout-wide .wp-block-columns.alignfull {
	margin: 0;
}

.wp-block-column {
	padding: 0 15px;
	margin: 0;
}

p.has-drop-cap:not(:focus):first-letter {
	float: right;
	line-height: 1;
	font-family: inherit;
	font-size: 3.4em;
	font-style: normal;
	font-weight: 500;
	margin: 0 0 0 0.25em;
	text-transform: uppercase;
	initial-letter: 2;
}

.wp-block-quote p {
	font: inherit;
}

.wp-block-quote cite {
	font-size: 1rem;
	font-style: normal;
}

.wp-block-quote.is-large {
	margin: 1.5rem 0;
	padding: 0.5rem 2rem;
}

.wp-block-quote.is-large p {
	font: inherit;
	font-size: 1.2em;
}

.wp-block-quote.is-large cite {
	font-size: 1rem;
	text-align: inherit;
}

.wp-block-pullquote {
	border-right: none !important;
	padding: 1.2em 0 !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	border-top: 2px solid;
	border-top-color: inherit;
	border-bottom: 2px solid;
	border-bottom-color: inherit;
	color: inherit;
}

.wp-block-pullquote p {
	font: inherit;
	font-size: 1.2em;
	color: inherit;
}

.wp-block-pullquote cite {
	font-size: 1rem;
	color: inherit;
	text-transform: none;
	font-style: normal;
}

p.wp-block-subhead {
	font-size: 1.2rem;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
	max-width: 70%;
	margin: 0;
	padding: 0.5em;
}

.wp-block-image img {
	display: block;
}

.wp-block-image figcaption {
	margin: 0.5em 0;
	color: inherit;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.suki-content-layout-narrow .wp-block-gallery.alignwide {
	margin-right: 0;
	margin-left: 0;
	width: calc( 1140px + ( 2 * 25px ) + ( 2 * 8px ));
	max-width: calc( 1140px + ( 2 * 25px ) + ( 2 * 8px ));
}

@media screen and (max-width: 767px) {
	.suki-content-layout-narrow .wp-block-gallery.alignwide {
		max-width: calc( 1140px + ( 2 * 20px ) + ( 2 * 8px ));
	}
}

@media screen and (max-width: 499px) {
	.suki-content-layout-narrow .wp-block-gallery.alignwide {
		max-width: calc( 1140px + ( 2 * 15px ) + ( 2 * 8px ));
	}
}

.suki-content-layout-narrow .wp-block-gallery.alignfull,
.suki-content-layout-wide .wp-block-gallery.alignfull {
	margin-right: 0;
	margin-left: 0;
	width: calc( 100vw + ( 2 * 8px ));
	max-width: calc( 100vw + ( 2 * 8px ));
}

body.suki-page-layout-boxed .suki-content-layout-narrow .wp-block-gallery.alignfull, body.suki-page-layout-boxed
.suki-content-layout-wide .wp-block-gallery.alignfull {
	width: calc( 1400px + ( 2 * 8px ));
	max-width: calc( 1400px + ( 2 * 8px ));
}

.wp-block-audio audio {
	width: 100%;
}

.wp-block-video video {
	width: 100%;
}

.wp-block-separator {
	margin: 2.5rem 0;
	max-width: none;
	border-bottom: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.wp-block-embed .suki-oembed {
	position: static;
	padding: 0 !important;
	margin: 0;
}

.wp-block-embed .suki-oembed > * {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-embed.alignleft .suki-oembed > * {
	margin-left: auto;
}

.wp-block-embed.aligncenter .suki-oembed > * {
	margin-right: auto;
	margin-left: auto;
}

.wp-block-embed.alignright .suki-oembed > * {
	margin-right: auto;
}
