.woocommerce form .form-row, .woocommerce-page form .form-row {
	padding: 0;
	margin: 0 0 1.25rem;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 50%;
}

@media screen and (max-width: 519px) {
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
		float: none;
		width: auto;
		padding: 0;
	}
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
	padding-right: 0.5rem;
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
	padding-left: 0.5rem;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border-radius: 0;
	border-color: inherit;
	padding: 1.25rem 1.25rem 0;
	margin: 1.25rem 0;
}

.woocommerce #respond input#submit, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce #respond input#submit.alt, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce a.button,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce a.button.alt,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce input.button,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button.alt,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled[disabled] {
	position: relative;
	display: inline-block;
	line-height: normal;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #ffffff;
	background-color: #288ce6;
	border-color: #288ce6;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit.disabled:focus, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled:focus, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce #respond input#submit:disabled[disabled]:focus, .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit.alt:focus, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt.disabled:focus, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled:focus, .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce #respond input#submit.alt:disabled[disabled]:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce a.button.disabled:hover,
.woocommerce a.button.disabled:focus,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled:focus,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce a.button:disabled[disabled]:focus,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt.disabled:focus,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled:focus,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce a.button.alt:disabled[disabled]:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce button.button.disabled:hover,
.woocommerce button.button.disabled:focus,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled:focus,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce button.button:disabled[disabled]:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt.disabled:focus,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled:focus,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled[disabled]:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce input.button.disabled:hover,
.woocommerce input.button.disabled:focus,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled:focus,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button:disabled[disabled]:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt.disabled:focus,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled:focus,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled]:focus {
	color: #ffffff;
	background-color: #1465ad;
	border-color: #1465ad;
}

.woocommerce #respond input#submit:after,
.woocommerce a.button:after,
.woocommerce button.button:after,
.woocommerce input.button:after {
	vertical-align: middle;
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
	top: 50%;
	margin-top: -0.5em;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	border: none;
	background-color: #f3f3f3;
	color: inherit;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
	font-size: inherit;
	line-height: inherit;
	padding: 0 0.5em;
}

.woocommerce-store-notice,
p.demo_store {
	position: relative;
	top: 0 !important;
	z-index: initial;
	background-color: #288ce6;
	color: #ffffff;
}

.woocommerce-store-notice a,
p.demo_store a {
	color: inherit;
}

.woocommerce .woocommerce-breadcrumb {
	font-size: 0.9em;
}

.woocommerce .woocommerce-breadcrumb .suki-woocommerce-breadcrumb-delimiter {
	margin: 0 0.5em;
}

.woocommerce .woocommerce-breadcrumb .suki-woocommerce-breadcrumb-delimiter:before {
	content: "\00BB";
}

.woocommerce span.onsale {
	display: table;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 3.6em;
	width: 3.6em;
	padding: 0.3em;
	margin: 0.5em;
	min-height: auto;
	min-width: auto;
	font-size: 1em;
	line-height: normal;
	background-color: #288ce6;
	color: #ffffff;
}

.woocommerce span.onsale:before, .woocommerce span.onsale:after {
	border-color: #288ce6;
}

.woocommerce span.onsale > span {
	display: table-cell;
	vertical-align: middle;
}

.woocommerce a.remove {
	color: inherit !important;
	font-weight: normal;
	border-radius: 0;
	opacity: 0.5;
}

.woocommerce a.remove:hover, .woocommerce a.remove:focus {
	background-color: transparent;
	color: inherit !important;
	opacity: 1;
}

.woocommerce .star-rating {
	width: auto;
	font-size: 1rem;
	line-height: normal;
}

.woocommerce .star-rating span {
	padding-top: 1em;
}

.woocommerce .star-rating span:before {
	color: #288ce6;
}

.woocommerce .star-rating a {
	color: #288ce6;
}

.woocommerce .star-rating:before {
	position: static;
	color: #288ce6;
}

.suki-header-shopping-cart .shopping-cart-count {
	width: 1em;
	height: 1em;
	position: absolute;
	left: 100%;
	z-index: 1;
	display: inline-block;
	margin: -0.4em 0 0 -0.4em;
	border-radius: 50%;
	text-align: center;
	line-height: 1;
	letter-spacing: 0;
	/* reset */
	background-color: #288ce6;
	color: #ffffff;
	-webkit-animation: suki-pulse 0.5s 1;
	animation: suki-pulse 0.5s 1;
}

.suki-header-shopping-cart .shopping-cart-count strong {
	display: inline-block;
	font-size: 0.5em;
	line-height: 2;
	vertical-align: top;
}

.suki-header-shopping-cart .shopping-cart-count[data-count="0"] {
	display: none;
}

.suki-header-shopping-cart .sub-menu {
	white-space: normal;
	width: 20rem !important;
}

.suki-before-shop-loop-clear {
	clear: both;
	margin-bottom: 1.25em;
}

.woocommerce ul.products {
	margin: 0 -15px;
}

.woocommerce ul.products:before, .woocommerce ul.products:after {
	content: "";
	display: table;
}

.woocommerce ul.products:after {
	clear: both;
}

.woocommerce ul.products li.product {
	margin: 0 0 2em;
	padding: 0 15px;
}

.woocommerce ul.products li.product .count {
	background-color: transparent;
	color: inherit;
	font-weight: inherit;
}

.woocommerce ul.products li.product .suki-product-wrapper {
	position: relative;
}

.woocommerce ul.products li.product .onsale {
	margin: 0.5em;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link {
	display: block;
	color: inherit;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link img {
	margin: 0 0 0.5em;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link:hover img, .woocommerce ul.products li.product a.woocommerce-loop-product__link:focus img {
	opacity: 0.9;
}

.woocommerce ul.products li.product a.added_to_cart {
	display: table;
	margin: 0 auto;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	padding: 0;
	font: inherit;
	color: inherit;
}

.woocommerce ul.products li.product .star-rating {
	display: inline-block;
	margin: 0.5em auto 0;
}

.woocommerce ul.products li.product .price {
	margin: 0;
	font-size: 1em;
	font-weight: inherit;
	color: inherit;
}

.woocommerce ul.products li.product .price del {
	opacity: 0.5;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins {
	display: inline-block;
	font-weight: inherit;
}

.woocommerce ul.products li.product .price del ~ ins {
	margin-left: 0.5rem;
}

@media screen and (max-width: 499px) {
	.woocommerce ul.products li.product {
		float: none !important;
		width: 100% !important;
	}
}

.woocommerce ul.products.columns-1 li.product {
	width: 100%;
}

.woocommerce ul.products.columns-2 li.product {
	width: 50%;
}

.woocommerce ul.products.columns-3 li.product {
	width: 33.33%;
}

@media screen and (max-width: 767px) {
	.woocommerce ul.products.columns-3 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-4 li.product {
	width: 25%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-4 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-5 li.product {
	width: 20%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-5 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-6 li.product {
	width: 16.667%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-6 li.product {
		width: 33.33%;
	}
}

@media screen and (max-width: 767px) {
	.woocommerce ul.products.columns-6 li.product {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
		float: none;
	}
}

.woocommerce nav.woocommerce-pagination {
	margin: 2rem 0;
	clear: both;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
	margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
	border: none;
	margin: 0 0.5em;
	padding: 0;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
	padding: 0;
	background-color: transparent;
	color: #bbbbbb;
}

.woocommerce nav.woocommerce-pagination ul li a {
	padding: 0;
	background-color: transparent;
	color: #666666;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover {
	background-color: transparent;
	color: #288ce6;
}

.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
	position: relative;
	float: none;
	width: 60%;
	min-width: 60%;
	margin-right: 40px;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		min-width: auto !important;
		width: auto !important;
		float: none !important;
		margin-right: 0 !important;
		margin-bottom: 3rem;
	}
}

.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
	float: none;
	width: 100%;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.woocommerce div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce-page #content div.product div.summary {
		width: auto !important;
		float: none !important;
	}
}

.woocommerce div.product > * {
	margin-bottom: 3rem;
}

.woocommerce div.product > *:last-child {
	margin-bottom: 0;
}

.woocommerce div.product .suki-woocommerce-product-images-summary-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@media screen and (max-width: 767px) {
	.woocommerce div.product .suki-woocommerce-product-images-summary-wrapper {
		display: block;
	}
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	display: block;
	width: 100%;
}

.woocommerce div.product div.images .flex-control-thumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 10px -5px 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	padding: 0 5px;
	float: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-1 .flex-control-thumbs li {
	width: 100%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 50%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 33.33%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 25%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 20%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-6 .flex-control-thumbs li {
	width: 16.67%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-7 .flex-control-thumbs li {
	width: 14.2857%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-8 .flex-control-thumbs li {
	width: 12.25%;
}

.woocommerce div.product .woocommerce-tabs {
	padding-bottom: 2rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0 0 2rem;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	overflow: visible;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	display: inline-block;
	float: left;
	margin: 0 0 -1px;
	padding: 0;
	border: none;
	background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	position: relative;
	padding: 0.8rem 1.2rem;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: transparent;
	font-weight: inherit;
	color: #666666;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
	color: #288ce6;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	border-color: currentColor;
	color: #333333;
}

.woocommerce div.product .woocommerce-tabs > .panel {
	margin: 0;
	display: none;
}

.woocommerce div.product .woocommerce-tabs > .panel > h2:first-child {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.6;
}

.woocommerce div.product .woocommerce-tabs > .panel:first-of-type {
	display: block;
}

.woocommerce div.product .woocommerce-product-rating {
	margin: 0.5rem 0;
	font-size: 0.8em;
	line-height: 1.7;
	color: #bbbbbb;
}

.woocommerce div.product .woocommerce-product-rating .star-rating {
	float: none;
	display: inline-block;
	margin-top: 0;
}

.woocommerce div.product .woocommerce-product-rating a {
	color: #bbbbbb;
}

.woocommerce div.product .woocommerce-product-rating a:hover, .woocommerce div.product .woocommerce-product-rating a:focus {
	color: #666666;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	margin: 1.25rem 0;
	font-size: 1.25rem;
	font-weight: inherit;
	color: #333333;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
	opacity: 0.5;
}

.woocommerce div.product p.price del, .woocommerce div.product p.price ins, .woocommerce div.product span.price del, .woocommerce div.product span.price ins {
	display: inline-block;
	font-weight: inherit;
}

.woocommerce div.product p.price del ~ ins, .woocommerce div.product span.price del ~ ins {
	margin-left: 0.25em;
}

.woocommerce div.product .woocommerce-product-details__short-description {
	margin-top: 1.5em;
}

.woocommerce div.product .woocommerce-product-details__short-description button {
	font-size: 1.5em;
}

.woocommerce div.product form.cart {
	margin: 2rem 0;
}

.woocommerce div.product form.cart table {
	margin: -0.75rem 0 1.25rem;
	border-bottom: none;
}

.woocommerce div.product form.cart table th, .woocommerce div.product form.cart table td {
	vertical-align: middle !important;
	line-height: inherit !important;
}

.woocommerce div.product form.cart div.quantity {
	margin-right: 0.5em;
}

.woocommerce div.product .product_meta {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top-width: 1px;
	border-top-style: solid;
	font-size: 0.8em;
	line-height: 1.7;
	color: #bbbbbb;
}

.woocommerce div.product .product_meta a {
	color: #bbbbbb;
}

.woocommerce div.product .product_meta a:hover, .woocommerce div.product .product_meta a:focus {
	color: #666666;
}

.woocommerce div.product .product_meta > * {
	display: block;
}

.woocommerce div.product #reviews #comments > h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.6;
}

.woocommerce div.product #reviews #comments ol.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.woocommerce div.product #reviews #comments ol.commentlist > li:first-child {
	border-top: none;
}

.woocommerce div.product #reviews #comments ol.commentlist li {
	margin: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment_container {
	position: relative;
	padding: 2em 0 2em 65px;
}

@media screen and (max-width: 499px) {
	.woocommerce div.product #reviews #comments ol.commentlist li .comment_container {
		padding: 1.25rem 0;
	}
}

.woocommerce div.product #reviews #comments ol.commentlist li img.avatar {
	margin-top: 2em;
	border: none;
	border-radius: 50%;
	padding: 0;
	width: 50px;
	height: 50px;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text {
	border: none;
	padding: 0;
	margin: 0;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .star-rating {
	margin: 0.25em 0;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: inherit;
	margin-bottom: 1em;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta > * {
	display: block;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__dash {
	display: none;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author {
	font-weight: normal;
	color: #333333;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author a {
	color: #333333;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author a:hover, .woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author a:focus {
	color: #666666;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .description *:last-child {
	margin-bottom: 0;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .woocommerce-review__published-date {
	font-size: 0.8em;
	line-height: 1.7;
	color: #bbbbbb;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .woocommerce-review__published-date a {
	color: #bbbbbb;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .woocommerce-review__published-date a:hover, .woocommerce div.product #reviews #comments ol.commentlist li .comment-text .woocommerce-review__published-date a:focus {
	color: #666666;
}

.woocommerce div.product #reviews #review_form #respond {
	padding-top: 2em;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.woocommerce div.product #reviews #review_form #respond form > * {
	margin: 1.25em 0;
}

.woocommerce div.product #reviews #review_form #respond .comment-reply-title {
	display: block;
	margin: 0 0 1em;
}

.woocommerce div.product #reviews #review_form #respond p.stars {
	display: inline-block;
	line-height: 1;
	margin: 0;
}

.woocommerce div.product .products h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.6;
}

.woocommerce table.shop_attributes th {
	text-align: initial;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	border-radius: 0;
	border-collapse: collapse !important;
	border-color: inherit;
	margin-right: 0;
	margin-bottom: 1.25rem;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td, .woocommerce-page table.shop_table th, .woocommerce-page table.shop_table td {
	padding: 0.6rem 0.8rem;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: inherit;
}

.woocommerce table.shop_table a, .woocommerce-page table.shop_table a {
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	.woocommerce table.shop_table.shop_table_responsive, .woocommerce-page table.shop_table.shop_table_responsive {
		border-bottom: none;
	}
}

.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
	min-width: 8.25rem;
	margin-right: 0.5rem;
	display: inline-block;
	max-width: 100%;
	font: inherit;
	line-height: normal;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding: 10px 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #666666;
	background-color: #ffffff;
	border-color: #e5e5e5;
}

.woocommerce table.cart td.actions .coupon .input-text:hover, .woocommerce table.cart td.actions .coupon .input-text:focus, .woocommerce #content table.cart td.actions .coupon .input-text:hover, .woocommerce #content table.cart td.actions .coupon .input-text:focus, .woocommerce-page table.cart td.actions .coupon .input-text:hover, .woocommerce-page table.cart td.actions .coupon .input-text:focus, .woocommerce-page #content table.cart td.actions .coupon .input-text:hover, .woocommerce-page #content table.cart td.actions .coupon .input-text:focus {
	color: #666666;
	background-color: #ffffff;
	border-color: #bbbbbb;
}

.woocommerce table.cart .product-remove, .woocommerce #content table.cart .product-remove, .woocommerce-page table.cart .product-remove, .woocommerce-page #content table.cart .product-remove {
	width: 1rem;
}

.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
	width: 5rem;
}

.woocommerce table.cart .product-thumbnail img, .woocommerce #content table.cart .product-thumbnail img, .woocommerce-page table.cart .product-thumbnail img, .woocommerce-page #content table.cart .product-thumbnail img {
	width: 100%;
	max-width: none;
	vertical-align: middle;
}

.woocommerce table.cart .product-price,
.woocommerce table.cart .product-quantity, .woocommerce #content table.cart .product-price,
.woocommerce #content table.cart .product-quantity, .woocommerce-page table.cart .product-price,
.woocommerce-page table.cart .product-quantity, .woocommerce-page #content table.cart .product-price,
.woocommerce-page #content table.cart .product-quantity {
	width: 10%;
}

.woocommerce table.cart .product-subtotal, .woocommerce #content table.cart .product-subtotal, .woocommerce-page table.cart .product-subtotal, .woocommerce-page #content table.cart .product-subtotal {
	width: 10%;
	text-align: right;
}

@media screen and (max-width: 767px) {
	.woocommerce table.cart.shop_table_responsive tr, .woocommerce #content table.cart.shop_table_responsive tr, .woocommerce-page table.cart.shop_table_responsive tr, .woocommerce-page #content table.cart.shop_table_responsive tr {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	.woocommerce table.cart.shop_table_responsive tr.cart_item td, .woocommerce #content table.cart.shop_table_responsive tr.cart_item td, .woocommerce-page table.cart.shop_table_responsive tr.cart_item td, .woocommerce-page #content table.cart.shop_table_responsive tr.cart_item td {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.woocommerce table.cart.shop_table_responsive tr td, .woocommerce #content table.cart.shop_table_responsive tr td, .woocommerce-page table.cart.shop_table_responsive tr td, .woocommerce-page #content table.cart.shop_table_responsive tr td {
		width: auto;
	}
	.woocommerce table.cart.shop_table_responsive tr td:only-child, .woocommerce #content table.cart.shop_table_responsive tr td:only-child, .woocommerce-page table.cart.shop_table_responsive tr td:only-child, .woocommerce-page #content table.cart.shop_table_responsive tr td:only-child {
		width: 100%;
	}
	.woocommerce table.cart.shop_table_responsive tr td:before, .woocommerce #content table.cart.shop_table_responsive tr td:before, .woocommerce-page table.cart.shop_table_responsive tr td:before, .woocommerce-page #content table.cart.shop_table_responsive tr td:before {
		display: none;
	}
	.woocommerce table.cart.shop_table_responsive .actions, .woocommerce #content table.cart.shop_table_responsive .actions, .woocommerce-page table.cart.shop_table_responsive .actions, .woocommerce-page #content table.cart.shop_table_responsive .actions {
		padding: 1.2rem 0.8rem;
	}
	.woocommerce table.cart.shop_table_responsive .coupon, .woocommerce #content table.cart.shop_table_responsive .coupon, .woocommerce-page table.cart.shop_table_responsive .coupon, .woocommerce-page #content table.cart.shop_table_responsive .coupon {
		margin-bottom: 0.3rem;
	}
	.woocommerce table.cart.shop_table_responsive .product-remove, .woocommerce #content table.cart.shop_table_responsive .product-remove, .woocommerce-page table.cart.shop_table_responsive .product-remove, .woocommerce-page #content table.cart.shop_table_responsive .product-remove {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		width: 3rem;
	}
	.woocommerce table.cart.shop_table_responsive .product-thumbnail, .woocommerce #content table.cart.shop_table_responsive .product-thumbnail, .woocommerce-page table.cart.shop_table_responsive .product-thumbnail, .woocommerce-page #content table.cart.shop_table_responsive .product-thumbnail {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 4rem;
		padding-right: 0;
		display: block;
	}
	.woocommerce table.cart.shop_table_responsive .product-name, .woocommerce #content table.cart.shop_table_responsive .product-name, .woocommerce-page table.cart.shop_table_responsive .product-name, .woocommerce-page #content table.cart.shop_table_responsive .product-name {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		width: calc( 100% - 4rem - 3rem);
		text-align: initial !important;
	}
	.woocommerce table.cart.shop_table_responsive .product-price, .woocommerce #content table.cart.shop_table_responsive .product-price, .woocommerce-page table.cart.shop_table_responsive .product-price, .woocommerce-page #content table.cart.shop_table_responsive .product-price {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 5;
		order: 5;
		position: relative;
		white-space: nowrap;
	}
	.woocommerce table.cart.shop_table_responsive .product-price:before, .woocommerce #content table.cart.shop_table_responsive .product-price:before, .woocommerce-page table.cart.shop_table_responsive .product-price:before, .woocommerce-page #content table.cart.shop_table_responsive .product-price:before {
		display: inline-block;
		content: "x";
		font-weight: inherit;
		margin: 0 0.5rem 0 -0.8rem;
	}
	.woocommerce table.cart.shop_table_responsive .product-quantity, .woocommerce #content table.cart.shop_table_responsive .product-quantity, .woocommerce-page table.cart.shop_table_responsive .product-quantity, .woocommerce-page #content table.cart.shop_table_responsive .product-quantity {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}
	.woocommerce table.cart.shop_table_responsive .product-subtotal, .woocommerce #content table.cart.shop_table_responsive .product-subtotal, .woocommerce-page table.cart.shop_table_responsive .product-subtotal, .woocommerce-page #content table.cart.shop_table_responsive .product-subtotal {
		-webkit-box-ordinal-group: 7;
		-ms-flex-order: 6;
		order: 6;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	.woocommerce table.cart.shop_table_responsive .product-subtotal > span, .woocommerce #content table.cart.shop_table_responsive .product-subtotal > span, .woocommerce-page table.cart.shop_table_responsive .product-subtotal > span, .woocommerce-page #content table.cart.shop_table_responsive .product-subtotal > span {
		width: 100%;
	}
}

.woocommerce-cart .cart-collaterals > * {
	float: none !important;
	width: auto !important;
	margin-top: 3rem;
}

.woocommerce-cart .cart-collaterals h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.6;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td {
	text-align: right;
	border-top: none;
}

.woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout {
	text-align: right;
}

.woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button {
	display: inline-block;
	margin-bottom: 0;
	padding: 13px 15.6px;
}

.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-calculator > p {
	margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-calculator .shipping-calculator-form {
	margin-top: 1em;
}

.woocommerce .woocommerce-checkout #customer_details > * {
	float: none;
	width: auto;
	margin: 0 0 3rem;
}

.woocommerce .woocommerce-checkout h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.6;
}

@media screen and (min-width: 1024px) {
	.suki-woocommerce-checkout-2-columns {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.suki-woocommerce-checkout-2-columns .suki-woocommerce-checkout-col-1 {
		width: 100%;
	}
	.suki-woocommerce-checkout-2-columns .suki-woocommerce-checkout-col-2 {
		width: 37.5%;
		min-width: 37.5%;
		margin-left: 60px;
	}
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: transparent;
	border-radius: 0;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
	margin-bottom: 1.25em;
	border-bottom: none;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	line-height: inherit;
	padding: 0.75em 1em;
	margin: 0 0 0.25em;
	background-color: #f3f3f3;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	padding: 0;
}

#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: inherit;
	font-size: 0.85em;
	margin-top: 0.15em;
	text-decoration: none;
}

#add_payment_method #payment .payment_method_paypal img,
.woocommerce-cart #payment .payment_method_paypal img,
.woocommerce-checkout #payment .payment_method_paypal img {
	max-height: 1.5em;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	margin: 0.75em 0 0;
	color: inherit;
	background-color: inherit;
	padding: 0;
}

#add_payment_method #payment div.payment_box > *:last-child,
.woocommerce-cart #payment div.payment_box > *:last-child,
.woocommerce-checkout #payment div.payment_box > *:last-child {
	margin-bottom: 0;
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
	display: none;
	border-color: transparent;
}

#add_payment_method #payment div.payment_box a,
.woocommerce-cart #payment div.payment_box a,
.woocommerce-checkout #payment div.payment_box a {
	line-height: inherit;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: none;
	width: 100%;
	padding: 13px 15.6px;
}

.woocommerce .woocommerce-customer-details address {
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	padding: 1.25rem;
}

.woocommerce ul.order_details {
	padding: 0;
}

.woocommerce ul.order_details li strong {
	margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
	.woocommerce-account .suki-woocommerce-MyAccount {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
}

.woocommerce-account .suki-woocommerce-MyAccount-sidebar {
	margin: 0 0 1.25rem;
}

@media screen and (min-width: 768px) {
	.woocommerce-account .suki-woocommerce-MyAccount-sidebar {
		width: 20%;
		min-width: 20%;
		max-width: 200px;
	}
}

.woocommerce-account .suki-woocommerce-MyAccount-sidebar a {
	text-decoration: none !important;
	color: #666666;
}

.woocommerce-account .suki-woocommerce-MyAccount-sidebar a:hover, .woocommerce-account .suki-woocommerce-MyAccount-sidebar a:focus {
	color: #288ce6;
}

.woocommerce-account .suki-woocommerce-MyAccount-sidebar .is-active a {
	color: #333333;
}

.woocommerce-account .suki-woocommerce-MyAccount-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
	.woocommerce-account .suki-woocommerce-MyAccount-user {
		padding-right: 15px;
	}
}

.woocommerce-account .suki-woocommerce-MyAccount-user .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 15px;
}

.woocommerce-account .suki-woocommerce-MyAccount-user .info {
	width: 100%;
}

.woocommerce-account .suki-woocommerce-MyAccount-user .info .name {
	display: block;
	font-weight: 500;
}

.woocommerce-account .suki-woocommerce-MyAccount-user .info .logout {
	font-size: 0.85em;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	float: none;
	width: auto;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top-width: 1px;
	border-top-style: solid;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
	font-weight: 500;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	display: block;
	padding: 0.5em 0;
}

@media screen and (min-width: 768px) {
	.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
		padding-right: 15px;
	}
}

.woocommerce-account .woocommerce-MyAccount-content {
	float: none;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.woocommerce-account .woocommerce-MyAccount-content {
		padding-left: 60px;
	}
}

.woocommerce-account table.my_account_orders {
	font-size: inherit;
}

.woocommerce-account .addresses .title h3 {
	margin-top: 0;
}

.woocommerce-account .addresses .title .edit {
	text-decoration: none;
}

.woocommerce.widget .amount {
	display: inline-block;
}

.woocommerce.widget_price_filter .price_slider {
	position: relative;
	height: 0.5em;
	display: block !important;
	background-color: transparent !important;
	color: inherit;
}

.woocommerce.widget_price_filter .price_slider:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	background-color: currentColor;
	opacity: 0.25;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-range {
	background-color: currentColor;
	opacity: 0.5;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-handle {
	background-color: currentColor;
	top: -0.25em;
}

.woocommerce.widget_price_filter .price_slider_amount input {
	display: none;
}

.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: inherit;
	line-height: inherit;
	padding: 0 0.5em;
}

.woocommerce.widget_product_categories ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.woocommerce.widget_product_categories ul ul {
	margin-left: 1.25em;
}

.woocommerce.widget_product_categories ul li {
	position: relative;
	margin-top: 0.25em;
}

.woocommerce.widget_layered_nav ul,
.woocommerce.widget_rating_filter ul,
.woocommerce.widget_product_categories ul {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.woocommerce.widget_layered_nav ul li .count,
.woocommerce.widget_rating_filter ul li .count,
.woocommerce.widget_product_categories ul li .count {
	opacity: 0.5;
}

.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 1.5em;
}

.woocommerce.widget_shopping_cart .cart_list li a.remove {
	width: 1em;
	height: auto;
	font-size: 1em;
	line-height: inherit;
	text-align: center;
}

.woocommerce.widget_shopping_cart .total {
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
	padding-top: 0.5em;
	margin-bottom: 0;
}

.woocommerce.widget_shopping_cart .total .amount {
	float: right;
}

.woocommerce.widget_shopping_cart .buttons {
	margin: 0.5em 0 0;
}

.woocommerce.widget_shopping_cart .buttons a {
	display: block;
	width: 100%;
	margin: 0.5em 0 0;
}

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__empty-message {
	margin: 0;
}

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__total:before, .woocommerce.widget_shopping_cart .woocommerce-mini-cart__total:after {
	content: "";
	display: table;
}

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__total:after {
	clear: both;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
	padding: 0 0 0.75em 0;
	margin-top: 0.75em;
}

.woocommerce ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty {
	margin: 0;
	padding: 0;
	text-align: center;
}

.woocommerce ul.cart_list li:last-child,
.woocommerce ul.product_list_widget li:last-child {
	border-bottom: none;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
	font-weight: inherit;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 40px;
	margin-left: 0.5em;
}

.woocommerce ul.cart_list .star-rating,
.woocommerce ul.product_list_widget .star-rating {
	margin-top: 0.25em;
}

.woocommerce ul.cart_list del,
.woocommerce ul.product_list_widget del {
	opacity: 0.5;
}

.woocommerce ul.cart_list ins,
.woocommerce ul.product_list_widget ins {
	font-weight: normal;
}

.woocommerce.widget_product_search .woocommerce-product-search {
	display: block;
	position: relative;
}

.woocommerce.widget_product_search .woocommerce-product-search .suki-search-icon {
	position: absolute;
	top: 50%;
	left: 0;
	margin: -0.5em 0 0 0.75em;
}

.woocommerce.widget_product_search .woocommerce-product-search .search-field {
	width: 100%;
	padding-left: 2.5em;
}

.woocommerce.widget_product_search .woocommerce-product-search button[type="submit"] {
	display: none;
}
