.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	position: relative;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	line-height: normal;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	padding: 10px 20px;
	border-radius: 3px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, .woocommerce #respond input#submit:active, .woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active {
	text-decoration: none;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row {
	padding: 0;
	margin: 0 0 1.25rem;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	width: 50%;
}

@media screen and (max-width: 519px) {
	.woocommerce form .form-row-first, .woocommerce form .form-row-last,
	.woocommerce-page form .form-row-first,
	.woocommerce-page form .form-row-last {
		float: none;
		width: auto;
		padding: 0;
	}
}

.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
	padding-left: 0.5rem;
}

.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
	padding-right: 0.5rem;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border-radius: 0;
	border-color: inherit;
	padding: 1.25rem 1.25rem 0;
	margin: 1.25rem 0;
}

.woocommerce #respond input#submit:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce input.button:after {
	vertical-align: middle;
}

.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after {
	top: 50%;
	margin-top: -0.5em;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	border: none;
	color: inherit;
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
	font-size: inherit;
	line-height: inherit;
	padding: 0 0.5em;
}

.woocommerce-store-notice,
p.demo_store {
	position: relative;
	top: 0 !important;
	z-index: initial;
}

.woocommerce .woocommerce-breadcrumb {
	font-size: 0.9em;
}

.woocommerce .woocommerce-breadcrumb a {
	text-decoration: none;
}

.woocommerce .woocommerce-breadcrumb .suki-woocommerce-breadcrumb-delimiter {
	margin: 0 0.5em;
}

.woocommerce .woocommerce-breadcrumb .suki-woocommerce-breadcrumb-delimiter:before {
	content: "\00BB";
}

.woocommerce span.onsale {
	display: table;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 3.6em;
	width: 3.6em;
	padding: 0.3em;
	margin: 0.5em;
	min-height: auto;
	min-width: auto;
	font-size: 1em;
	line-height: normal;
}

.woocommerce span.onsale > span {
	display: table-cell;
	vertical-align: middle;
}

.woocommerce a.remove {
	color: inherit !important;
	font-weight: normal;
	border-radius: 0;
	opacity: 0.5;
}

.woocommerce a.remove:hover, .woocommerce a.remove:focus {
	background-color: transparent;
	color: inherit !important;
	opacity: 1;
}

.woocommerce .star-rating {
	width: auto;
	font-size: 1em;
	line-height: normal;
}

.woocommerce .star-rating:before {
	position: static;
}

.suki-header-shopping-cart .shopping-cart-count {
	position: absolute;
	right: 100%;
	z-index: 1;
	display: inline-block;
	margin: -0.5em -0.5em 0 0;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	font-size: 0.8em;
	line-height: 1.5;
	text-align: center;
	-webkit-animation: suki-pulse 0.5s 1;
	animation: suki-pulse 0.5s 1;
	letter-spacing: 0;
	/* reset */
	color: #fff;
}

.suki-header-shopping-cart .shopping-cart-count[data-count="0"] {
	display: none;
}

.suki-header-shopping-cart .sub-menu {
	min-width: 280px !important;
}

.woocommerce ul.products {
	padding: 1.25rem 0;
	margin: 0 -15px;
	margin-bottom: -3rem;
	/* white space fix */
}

.woocommerce ul.products li.product {
	margin: 0 0 3rem;
	padding: 0 15px;
	text-align: center;
}

.woocommerce ul.products li.product .count {
	background-color: transparent;
	color: inherit;
	font-weight: inherit;
}

.woocommerce ul.products li.product .suki-product-wrapper {
	position: relative;
}

.woocommerce ul.products li.product .onsale {
	margin: 0.5em;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link {
	display: block;
}

.woocommerce ul.products li.product a.woocommerce-loop-product__link:hover, .woocommerce ul.products li.product a.woocommerce-loop-product__link:focus {
	opacity: 0.9;
}

.woocommerce ul.products li.product a.added_to_cart {
	display: table;
	margin: 0 auto;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	margin: 1em 0 0.5em;
	padding: 0;
	font: inherit;
	font-size: 1.1em;
}

.woocommerce ul.products li.product .star-rating {
	display: table;
	margin: 0 auto 0.5em auto;
}

.woocommerce ul.products li.product .price {
	margin: 0;
	font-size: 1em;
	font-weight: inherit;
	color: inherit;
}

.woocommerce ul.products li.product .price del {
	opacity: 0.5;
}

.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins {
	display: inline-block;
	font-weight: inherit;
}

.woocommerce ul.products li.product .price del ~ ins {
	margin-right: 0.5rem;
}

@media screen and (max-width: 499px) {
	.woocommerce ul.products li.product {
		float: none !important;
		width: 100% !important;
	}
}

.woocommerce ul.products.columns-1 li.product {
	width: 100%;
}

.woocommerce ul.products.columns-2 li.product {
	width: 50%;
}

.woocommerce ul.products.columns-3 li.product {
	width: 33.33%;
}

@media screen and (max-width: 767px) {
	.woocommerce ul.products.columns-3 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-4 li.product {
	width: 25%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-4 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-5 li.product {
	width: 20%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-5 li.product {
		width: 50%;
	}
}

.woocommerce ul.products.columns-6 li.product {
	width: 16.667%;
}

@media screen and (max-width: 1023px) {
	.woocommerce ul.products.columns-6 li.product {
		width: 33.33%;
	}
}

@media screen and (max-width: 767px) {
	.woocommerce ul.products.columns-6 li.product {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
		float: none;
	}
}

.woocommerce nav.woocommerce-pagination {
	clear: both;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
	margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
	border: none;
	margin: 0 0.5em;
	padding: 0;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: transparent;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	position: relative;
	float: none;
	width: 700px;
	min-width: 700px;
	margin-left: 50px;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
		min-width: auto !important;
		width: auto !important;
		float: none !important;
		margin-left: 0 !important;
		margin-bottom: 3rem;
	}
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	float: none;
	width: 100%;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: auto !important;
		float: none !important;
	}
}

.woocommerce div.product > * {
	margin-bottom: 3rem;
}

.woocommerce div.product > *:last-child {
	margin-bottom: 0;
}

.woocommerce div.product .suki-woocommerce-product-images-summary-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@media screen and (max-width: 767px) {
	.woocommerce div.product .suki-woocommerce-product-images-summary-wrapper {
		display: block;
	}
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	display: block;
	width: 100%;
}

.woocommerce div.product div.images .flex-control-thumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 10px -5px 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	padding: 0 5px;
	float: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-1 .flex-control-thumbs li {
	width: 100%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 50%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 33.33%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 25%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 20%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-6 .flex-control-thumbs li {
	width: 16.67%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-7 .flex-control-thumbs li {
	width: 14.2857%;
}

.woocommerce div.product div.images.woocommerce-product-gallery--columns-8 .flex-control-thumbs li {
	width: 12.25%;
}

.woocommerce div.product .woocommerce-tabs {
	padding-bottom: 2rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0 0 2rem;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	overflow: visible;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	display: inline-block;
	float: right;
	margin: 0 0 -1px;
	padding: 0;
	border: none;
	background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	position: relative;
	padding: 0.8rem 1.2rem;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: transparent;
	font-weight: inherit;
}

.woocommerce div.product .woocommerce-tabs > .panel {
	margin: 0;
	display: none;
}

.woocommerce div.product .woocommerce-tabs > .panel:first-of-type {
	display: block;
}

.woocommerce div.product .woocommerce-product-rating {
	margin: 0.5rem 0;
}

.woocommerce div.product .woocommerce-product-rating .star-rating {
	float: none;
	display: inline-block;
	margin-top: 0;
	vertical-align: middle;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
	margin: 1.25rem 0;
	font-size: 1.25rem;
	font-weight: inherit;
	color: inherit;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
	opacity: 0.5;
}

.woocommerce div.product p.price del, .woocommerce div.product p.price ins, .woocommerce div.product span.price del, .woocommerce div.product span.price ins {
	display: inline-block;
	font-weight: inherit;
}

.woocommerce div.product p.price del ~ ins, .woocommerce div.product span.price del ~ ins {
	margin-right: 0.25em;
}

.woocommerce div.product .woocommerce-product-details__short-description {
	margin-top: 1.5em;
}

.woocommerce div.product .woocommerce-product-details__short-description button {
	font-size: 1.5em;
}

.woocommerce div.product form.cart {
	margin: 2rem 0;
}

.woocommerce div.product form.cart a {
	text-decoration: none;
}

.woocommerce div.product form.cart table {
	margin: -0.75rem 0 1.25rem;
	border-bottom: none;
}

.woocommerce div.product form.cart table th, .woocommerce div.product form.cart table td {
	vertical-align: middle !important;
	line-height: inherit !important;
}

.woocommerce div.product form.cart div.quantity {
	margin-left: 0.5em;
}

.woocommerce div.product .product_meta {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top-width: 1px;
	border-top-style: solid;
}

.woocommerce div.product .product_meta > * {
	display: block;
}

.woocommerce div.product .product_meta a {
	text-decoration: none;
}

.woocommerce div.product #reviews #comments ol.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.woocommerce div.product #reviews #comments ol.commentlist > li:first-child {
	border-top: none;
}

.woocommerce div.product #reviews #comments ol.commentlist li {
	margin: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment_container {
	position: relative;
	padding: 2em 65px 2em 0;
}

@media screen and (max-width: 499px) {
	.woocommerce div.product #reviews #comments ol.commentlist li .comment_container {
		padding: 1.25rem 0;
	}
}

.woocommerce div.product #reviews #comments ol.commentlist li img.avatar {
	margin-top: 2em;
	border: none;
	border-radius: 50%;
	padding: 0;
	width: 50px;
	height: 50px;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text {
	border: none;
	padding: 0;
	margin: 0;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .star-rating {
	margin: 0.25em 0;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: inherit;
	margin-bottom: 1em;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta > * {
	display: block;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__dash {
	display: none;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author {
	font-weight: normal;
}

.woocommerce div.product #reviews #comments ol.commentlist li .comment-text .description *:last-child {
	margin-bottom: 0;
}

.woocommerce div.product #reviews #review_form #respond {
	padding-top: 2em;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.woocommerce div.product #reviews #review_form #respond form > * {
	margin: 1.25em 0;
}

.woocommerce div.product #reviews #review_form #respond .comment-reply-title {
	display: block;
	margin: 0 0 1em;
}

.woocommerce div.product #reviews #review_form #respond p.stars {
	display: inline-block;
	line-height: 1;
	margin: 0;
}

.woocommerce table.shop_attributes th {
	text-align: initial;
}

.woocommerce table.shop_table {
	border-radius: 0;
	border-collapse: collapse !important;
	border-color: inherit;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
	padding: 0.6rem 0.8rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: inherit;
}

.woocommerce table.shop_table a {
	text-decoration: none;
}

.woocommerce table.cart td.actions .coupon .input-text {
	min-width: 8.25rem;
	margin-left: 0.5rem;
}

.woocommerce table.cart .product-remove {
	width: 1rem;
}

.woocommerce table.cart .product-thumbnail {
	width: 3rem;
}

.woocommerce table.cart .product-thumbnail img {
	border-radius: 50%;
	width: 3rem;
	max-width: none;
}

.woocommerce table.cart .product-price,
.woocommerce table.cart .product-quantity {
	width: 10%;
}

.woocommerce table.cart .product-subtotal {
	width: 10%;
	text-align: left;
}

@media screen and (max-width: 767px) {
	.woocommerce table.cart.shop_table_responsive tr > * {
		width: auto !important;
	}
}

.woocommerce .cart-collaterals > * {
	float: none !important;
	width: auto !important;
	margin-top: 3rem;
}

.woocommerce .cart-collaterals .cart_totals td {
	text-align: left;
}

.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout {
	text-align: left;
}

.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button {
	display: inline-block;
	margin-bottom: 0;
}

.woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-calculator > p {
	margin-bottom: 0;
}

.woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-calculator .shipping-calculator-form {
	margin-top: 1em;
}

.woocommerce .woocommerce-checkout #customer_details > * {
	float: none;
	width: auto;
	margin: 0 0 3rem;
}

@media screen and (min-width: 1024px) {
	.suki-woocommerce-checkout-2-columns {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.suki-woocommerce-checkout-2-columns .suki-woocommerce-checkout-col-1 {
		width: 100%;
	}
	.suki-woocommerce-checkout-2-columns .suki-woocommerce-checkout-col-2 {
		width: 37.5%;
		min-width: 37.5%;
		margin-right: 50px;
	}
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	border-radius: 0;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	padding: 1em;
	border-color: inherit;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	line-height: inherit;
	margin: 0 0 0.5em;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	padding: 1em;
}

#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: inherit;
	font-size: 0.85em;
	margin-top: 0.15em;
	text-decoration: none;
}

#add_payment_method #payment .payment_method_paypal img,
.woocommerce-cart #payment .payment_method_paypal img,
.woocommerce-checkout #payment .payment_method_paypal img {
	max-height: 1.5em;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	margin: 0.5em 0;
	color: inherit;
	background-color: inherit;
	padding: 0;
}

#add_payment_method #payment div.payment_box > *:first-child,
.woocommerce-cart #payment div.payment_box > *:first-child,
.woocommerce-checkout #payment div.payment_box > *:first-child {
	margin-top: 0;
}

#add_payment_method #payment div.payment_box > *:last-child,
.woocommerce-cart #payment div.payment_box > *:last-child,
.woocommerce-checkout #payment div.payment_box > *:last-child {
	margin-bottom: 0;
}

#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
	display: none;
	border-color: transparent;
}

#add_payment_method #payment div.payment_box a,
.woocommerce-cart #payment div.payment_box a,
.woocommerce-checkout #payment div.payment_box a {
	line-height: inherit;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: none;
	width: 100%;
}

.woocommerce .woocommerce-customer-details address {
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	padding: 1.25rem;
}

.woocommerce ul.order_details {
	padding: 0;
}

.woocommerce ul.order_details li strong {
	margin-top: 0.5em;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	float: none;
	width: auto;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin: 0 0 2rem;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	list-style: none;
	overflow: visible;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 0;
	border: none;
	background-color: transparent;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	position: relative;
	display: inline-block;
	padding: 0.8rem 1.2rem;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: transparent;
	text-decoration: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation > .panel {
	display: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation > .panel:first-of-type {
	display: block;
}

.woocommerce-account .woocommerce-MyAccount-content {
	float: none;
	width: auto;
}

.woocommerce-account table.my_account_orders {
	font-size: inherit;
}

.woocommerce-account .addresses .title .edit {
	text-decoration: none;
}

.woocommerce.widget_price_filter .price_slider {
	position: relative;
	height: 0.5em;
	display: block !important;
	background-color: transparent !important;
}

.woocommerce.widget_price_filter .price_slider:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	background-color: currentColor;
	opacity: 0.25;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-range {
	background-color: currentColor;
	opacity: 0.5;
}

.woocommerce.widget_price_filter .price_slider .ui-slider-handle {
	background-color: currentColor;
	top: -0.25em;
}

.woocommerce.widget_price_filter .price_slider_amount input {
	display: none;
}

.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: inherit;
	line-height: inherit;
	padding: 0 0.5em;
}

.woocommerce.widget_product_categories ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.woocommerce.widget_product_categories ul ul {
	margin-right: 1.25em;
}

.woocommerce.widget_product_categories ul li {
	position: relative;
	margin-top: 0.25em;
}

.woocommerce.widget_layered_nav ul,
.woocommerce.widget_rating_filter ul,
.woocommerce.widget_product_categories ul {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

.woocommerce.widget_layered_nav ul li .count,
.woocommerce.widget_rating_filter ul li .count,
.woocommerce.widget_product_categories ul li .count {
	opacity: 0.5;
}

.woocommerce.widget_layered_nav a,
.woocommerce.widget_rating_filter a,
.woocommerce.widget_product_categories a {
	text-decoration: none;
}

.woocommerce.widget_shopping_cart a {
	text-decoration: none;
}

.woocommerce.widget_shopping_cart .cart_list li {
	padding-right: 1.5em;
}

.woocommerce.widget_shopping_cart .cart_list li a.remove {
	width: 1em;
	height: auto;
	font-size: 1em;
	line-height: inherit;
	text-align: center;
}

.woocommerce.widget_shopping_cart .total {
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
	padding-top: 0.5em;
	margin-bottom: 0;
}

.woocommerce.widget_shopping_cart .total .amount {
	float: left;
}

.woocommerce.widget_shopping_cart .buttons {
	margin: 0.5em 0 0;
}

.woocommerce.widget_shopping_cart .buttons a {
	display: block;
	width: 100%;
	margin: 0.5em 0 0;
}

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__empty-message {
	margin: 0;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
	padding: 0 0 0.75em 0;
	margin-top: 0.75em;
}

.woocommerce ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty {
	margin: 0;
	padding: 0;
	text-align: center;
}

.woocommerce ul.cart_list li:last-child,
.woocommerce ul.product_list_widget li:last-child {
	border-bottom: none;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
	font-weight: inherit;
	text-decoration: none;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 40px;
	margin-right: 0.5em;
	border-radius: 20px;
}

.woocommerce ul.cart_list .star-rating,
.woocommerce ul.product_list_widget .star-rating {
	margin-top: 0.25em;
}

.woocommerce ul.cart_list del,
.woocommerce ul.product_list_widget del {
	opacity: 0.5;
}

.woocommerce ul.cart_list ins,
.woocommerce ul.product_list_widget ins {
	font-weight: normal;
}

.woocommerce.widget_product_search .woocommerce-product-search {
	display: block;
	position: relative;
}

.woocommerce.widget_product_search .woocommerce-product-search .suki-search-icon {
	position: absolute;
	top: 50%;
	right: 0;
	margin: -0.5em 0.75em 0 0;
}

.woocommerce.widget_product_search .woocommerce-product-search .search-field {
	width: 100%;
	padding-right: 2.5em;
}

.woocommerce.widget_product_search .woocommerce-product-search button[type="submit"] {
	display: none;
}
