/**
 * Spacer Section
 */

.control-section-suki-section-spacer {
	margin-top: 15px;

	h2 {
		position: relative;
		display: table;
		margin: -5px 0 0;
		padding: 3px 10px 3px 18px;
		color: inherit;
		font-size: 11px;
		line-height: 16px;
		font-weight: 600;
		text-transform: uppercase;
		background-color: transparentize( black, 0.9 );

		&:after {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			border-bottom: 22px solid transparentize( black, 0.9 );
			border-right: 12px solid transparent;
		}

		.dashicons {
			margin-right: 0.5em;
			vertical-align: -5px;
		}
	}
}

/**
 * Background control
 */

.customize-control-suki-background {
	.suki-media-upload {
		&__image {
			margin-bottom: 8px;

			img {
				max-height: 200px;
				vertical-align: bottom;
			}
		}
	}
}

/**
 * Builder Control
 */

.customize-control-suki-builder {
	.suki-builder {
		display: grid;
		gap: 8px;

		&__area {
			border: 1px solid rgba(0,0,0,0.1);
			background-color: #fff;
			grid-area: var(--area);

			&.disabled {
				opacity: 0.5;
			}

			&[data-area$="_left"] {
				.suki-builder__area__label {
					text-align: left;
				}

				.suki-builder__area__sortable {
					justify-content: flex-start;
				}
			}

			&[data-area$="_center"] {
				.suki-builder__area__label {
					text-align: center;
				}

				.suki-builder__area__sortable {
					justify-content: center;
				}
			}

			&[data-area$="_right"] {
				.suki-builder__area__label {
					text-align: right;
				}

				.suki-builder__area__sortable {
					justify-content: flex-end;
				}
			}

			&[data-area^="vertical"] {
				.suki-builder__area__sortable {
					flex-direction: column;
				}
			}

			&__label {
				display: block;
				padding: 2px 12px;
				color: inherit;
				font-size: 11px;
				line-height: 16px;
				font-weight: 600;
				text-transform: uppercase;
				background-color: rgba(0,0,0,0.05);
			}

			&__sortable {
				min-height: calc( 30px + 12px + 12px );
				display: flex;
				padding: 12px;
				gap: 4px;
				flex-wrap: wrap;
			}

			&[data-area="_inactive"] {
				background-color: transparent;
				border-style: dashed;
				margin-top: 12px;
			}
		}

		&__item {
			&.sortable-ghost {
				background-color: transparent;
				border-style: dashed;
				color: transparent;
			}
		}
	}
}

/**
 * Color control
 */

:is( .customize-control-suki-color, .customize-control-suki-color-select ) {
	.customize-control-title {
		padding-right: 50px;
	}

	.suki-color-dropdown {
		position: absolute;
		top: 0;
		right: 0;
	}
}

/**
 * Dimensions control
 */

.customize-control-suki-dimensions {
	.suki-dimension {
		> .components-flex-item {
			text-align: center;
		}
	}
}

/**
 * Heading Control
 */

.customize-control-suki-heading {
	margin: 32px 0 12px;
	
	.suki-heading {
		position: relative;
		margin: 0 -12px;
		padding: 10px 12px;
		background-color: rgba(0,0,0,0.1);
		color: inherit;
		outline: 0;
		transition: all 0.25s;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;

		&-tabindex {
			&:focus + .suki-heading {
				background-color: var(--wp-admin-theme-color);
				color: #fff;
			}
		}
	}

	.description {
		margin-top: 12px;
	}

	// Remove top margin if this is the first control after customizer panel / section description.
	.customize-section-description-container + & {
		margin-top: 0;
	}
}

/**
 * Multi-select Control
 */

.customize-control-suki-multiselect {
	.suki-multiselect {
		&__list {
			display: flex;
			flex-direction: column;
			gap: 4px;

			&__item {
				display: flex;
				gap: 8px;
				padding: 4px 8px;
				background-color: #fff;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 2px;

				&__move {
					cursor: move;
				}

				&__label {
					margin-right: auto;
				}

				&__remove {
					border: none; // Reset
					min-width: auto; // Reset
					padding: 0 !important; // Reset
					width: auto !important; // Reset
					height: auto !important; // Reset
					margin-right: -4px;

					.dashicons {
						margin: 0;
					}
				}

				&.sortable-ghost {
					background-color: transparent;
					border-style: dashed;
					color: transparent;
				}
			}
		}
	}

	select {
		margin: 0;
	}
}

/**
 * Notice inside control
 */

.customize-control-suki-notice {
	.notice {
		margin: 0;
	}
}

/**
 * Radio Image Control
 */

.customize-control-suki-radioimage {
	.suki-radioimage {
		&__option {
			display: block; // Override `inline-flex` by <Button>
			padding: 2px;
			height: auto;

			&:not(.is-pressed) {
				background-color: rgba(0,0,0,0.1);
				color: inherit;

				&:hover, &:focus {
					background-color: rgba(0,0,0,0.15);
					color: inherit;
				}
			}

			img {
				border-radius: 2px;
				box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
			}

			span {
				padding: 4px 0;
			}
		}
	}
}

/**
 * Shadow Control
 */

.customize-control-suki-shadow {
	.suki-shadow {
		&__position-toggle {
			min-width: 24px;
			height: 30px;
			width: 24px;
			padding: 2px;
		}

		.suki-color-dropdown {
			flex: 0 0 36px;
		}

		.suki-dimension {
			> .components-flex-item {
				text-align: center;
			}
		}
	}
}

/**
 * Slider Control
 */

.customize-control-suki-slider {
	.suki-slider {
		.components-range-control {
			&__root {
				display: flex;
			}

			&__wrapper {
				margin-bottom: 0;
			}

			&__mark {
				height: 6px;
				top: 0;
			}

			&__mark-label {
				top: 16px;
			}
		}
	}
}

/**
 * Toggle Control
 */

.customize-control-suki-toggle {
	.customize-control-title {
		padding-right: 50px;
	}

	.suki-toggle {
		position: absolute;
		top: 3px;
		right: 0;
	}
}

/**
 * Typography Control
 */

.customize-control-suki-typography {
	.suki-responsive-switcher {
		&:after {
			content: "";
			border-bottom: 1px solid rgba(0,0,0,0.1);
			flex: 1 1 100%;
			height: 1px;
			align-self: center;
		}
	}
}


















/**
 * Sortable Control
 */

 .customize-control-suki-sortable {
	.suki-sortable {
		display: flex;
		flex-direction: column;
		gap: 6px;

		&-item {
			margin: 0;

			.dashicons {
				font-size: 20px;
				margin: 0;
			}

			input {
				display: none;
			}

			&-label {
				display: flex;
				align-items: center;
				width: 100%;
				opacity: 0.6;
				border-style: dashed;

				label {
					flex: 0 0 20px;
					margin-right: 0.75em;

					.dashicons-visibility {
						display: none;
					}

					.dashicons-hidden {
						display: block;
					}
				}
			}

			input:checked ~ .suki-sortable-item-label {
				opacity: 1;
				border-style: solid;

				label {
					.dashicons-visibility {
						display: block;
					}

					.dashicons-hidden {
						display: none;
					}
				}
			}

			&-name {
				flex: 1 1 auto;
			}

			&-handle {
				flex: 0 0 auto;
				margin: 0;
			}
		}

		.sortable-placeholder {
			border: none;
			margin: 0;
		}
	}
}