

.description .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
}

/**
 * Components
 */

.suki-small-label {
	font-size: 0.7em;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	display: block;

	* + & {
		margin-top: 3px !important;
	}

	& + * {
		margin-top: 3px !important;
	}
}

.suki-control-box {
	padding: 10px;
	border: 1px solid var(--admin-color--border);
	border-radius: 3px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.suki-context-hidden {
	display: none !important;
}

/**
 * Tooltip
 */

.suki-tooltip {
	position: relative;
	outline: none;
	cursor: pointer;

	.dashicons {
		display: inline-block;
		width: auto;
		height: auto;
		font-size: inherit;
		line-height: inherit;
		vertical-align: middle;
	}

	&[data-tooltip]:hover {
		&:before {
			content: "";
			position: absolute;
			z-index: 99;
			top: 100%;
			left: 50%;
			margin-top: 2px;
			margin-left: -5px;
			border-bottom: 5px solid rgba(0,0,0,0.8);
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}

		&:after {
			content: attr(data-tooltip);
			position: absolute;
			z-index: 99;
			top: 100%;
			left: 50%;
			width: 200px;
			padding: 8px 10px;
			margin-top: 7px;
			border-radius: 4px;
			transform: translateX( -50% );
			font-size: 13px;
			font-weight: normal;
			line-height: 18px;
			text-transform: none;
			text-align: center;
			white-space: normal;
			background-color: rgba(0,0,0,0.8);
			color: #fff;
		}
	}

	&.suki-tooltip-right {
		&[data-tooltip]:hover {
			&:before {
				top: 50%;
				left: 100%;
				margin-left: 2px;
				margin-top: -5px;
				border-left: none; // reset
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-right: 5px solid rgba(0,0,0,0.8);
			}

			&:after {
				top: 50%;
				left: 100%;
				margin-top: 0;
				margin-left: 7px;
				transform: translateY( -50% );
			}
		}
	}
}

.suki-icon-tooltip {
	.dashicons {
		opacity: 0.5;
	}

	&:hover, &:focus {
		.dashicons {
			opacity: 0.8;
		}		
	}
}

.suki-global-default-badge {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: 1px;
	background-color: rgba(0,0,0,0.1);
}