/**
 * Color palette
 */

:is(
	#customize-control-color_palette_1,
	#customize-control-color_palette_2,
	#customize-control-color_palette_3,
	#customize-control-color_palette_4,
	#customize-control-color_palette_5,
	#customize-control-color_palette_6,
	#customize-control-color_palette_7,
	#customize-control-color_palette_8
) {
	width: 0;
	
	.suki-color-dropdown {
		left: 0;
		right: auto;
		margin: 3px;
		z-index: 1;
	}
}

:is(
	#customize-control-color_palette_1_name,
	#customize-control-color_palette_2_name,
	#customize-control-color_palette_3_name,
	#customize-control-color_palette_4_name,
	#customize-control-color_palette_5_name,
	#customize-control-color_palette_6_name,
	#customize-control-color_palette_7_name,
	#customize-control-color_palette_8_name
) {
	clear: none;

	input[type="text"] {
		padding-left: 50px;
	}
}

/**
 * Page Settings
 */

.customize-control-select:is(
	[id$="_content_container"],
	[id$="_content_layout"],
	[id$="_hero"],
	[id$="_disable_header"],
	[id$="_disable_header_mobile"],
	[id$="_disable_footer_widgets"],
	[id$="_disable_footer_bottom"],
	[id$="_preloader_screen"],
	[id*="_bar_transparent_"],
	[id*="_bar_alt_"]
) {
	.customize-control-title {
		min-height: 30px;
		padding-right: 135px;
		margin-bottom: 0; // Reset
	}
	
	select {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
	}
}

.customize-control-suki-color:is(
	[id$="_bar_transparent_bg_color"],
	[id$="_bar_transparent_border_color"],
	[id$="_bar_alt_bg_color"],
	[id$="_bar_alt_border_color"],
	[id$="_bar_alt_text_color"],
	[id$="_bar_alt_link_text_color"],
	[id$="_bar_alt_link_hover_text_color"],
	[id$="_bar_alt_link_active_text_color"],
	[id$="_bar_alt_menu_hover_highlight_color"],
	[id$="_bar_alt_menu_hover_highlight_text_color"],
	[id$="_bar_alt_menu_active_highlight_color"],
	[id$="_bar_alt_menu_active_highlight_text_color"],
	[id$="_bar_alt_transparent_bg_color"],
	[id$="_bar_alt_transparent_border_color"]
),
.customize-control-select:is(
	[id$="_sidebar_sticky"],
	[id$="_header_alt_colors"],
	[id$="_header_transparent"],
	[id$="_header_sticky"],
	[id$="_header_mobile_alt_colors"],
	[id$="_header_mobile_transparent"],
	[id$="_header_mobile_sticky"],
	[id$="_hero_container"],
	[id$="_hero_bg"]
) {
	padding-left: 15px;

	min-height: 30px;
	padding-right: 135px;
	
	select {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
	}
}

[id$="_hero_bg_image"] {
	padding-left: 15px;
}

/**
 * Header Builder
 */

.suki-header-builder-responsive-switcher {
	padding: 0 20px 0 calc( 20px - 0.5em );
	margin: -20px -20px 0;

	button {
		cursor: pointer;
	}
}

#customize-control-header_elements {
	margin-bottom: 0;
	
	.suki-builder {
		grid-template-areas:
		"top_left top_center top_right"
		"main_left main_center main_right"
		"bottom_left bottom_center bottom_right"
		"_inactive _inactive _inactive";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		
		grid-column-gap: 4px;
		grid-row-gap: 12px;
	}
}

#customize-control-header_mobile_elements {
	margin-bottom: 0;

	.suki-builder {
		grid-template-areas:
			"vertical_top . main_left main_center main_right"
			"vertical_top . . . ."
			"_inactive _inactive _inactive _inactive _inactive";
		grid-template-columns: max(15%, 120px) 12px repeat(3, 1fr);
		grid-template-rows: 1fr 1fr auto;

		grid-column-gap: 4px;
		grid-row-gap: 12px;
	}
}

/**
 * Footer Builder
 */

#customize-control-footer_elements {
	margin-bottom: 0;

	.suki-builder {
		grid-template-areas:
			"bottom_left bottom_center bottom_right"
			"_inactive _inactive _inactive";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;

		grid-column-gap: 4px;
		grid-row-gap: 12px;
	}
}