// -------------------------------------------------------------
// Customizer preview
// -------------------------------------------------------------

.wp-full-overlay {
	background-color: revert;
}

.wp-full-overlay-main {
	margin-top: 0 !important;
	box-shadow: 0 0 2rem rgba(0,0,0,0.1);
}

.preview-tablet .wp-full-overlay-main {
	width: 768px;
	height: 1024px;
	margin-left: -384px;
}

.preview-mobile .wp-full-overlay-main {
	width: 414px;
	height: 736px;
	margin-left: -212px;
}

// -------------------------------------------------------------
// Social links
// -------------------------------------------------------------

#sub-accordion-section-suki_section_social {
	.customize-control-text {
		.customize-control-description {
			font-size: 14px;
			line-height: 1.75;
			font-weight: 600;
			font-style: normal;

			.suki-icon {
				font-size: 18px;
				margin-right: 0.5em;
				vertical-align: -1px;
			}
		}
	}
}

// -------------------------------------------------------------
// Color palette
// -------------------------------------------------------------

:is(
	#customize-control-color_palette_1,
	#customize-control-color_palette_2,
	#customize-control-color_palette_3,
	#customize-control-color_palette_4,
	#customize-control-color_palette_5,
	#customize-control-color_palette_6,
	#customize-control-color_palette_7,
	#customize-control-color_palette_8
) {
	width: 0;

	.suki-color-dropdown {
		left: 0;
		right: auto;
		z-index: 1;
	}

	.suki-color-dropdown__toggle {
		margin: 3px;
	}
}

:is(
	#customize-control-color_palette_1_name,
	#customize-control-color_palette_2_name,
	#customize-control-color_palette_3_name,
	#customize-control-color_palette_4_name,
	#customize-control-color_palette_5_name,
	#customize-control-color_palette_6_name,
	#customize-control-color_palette_7_name,
	#customize-control-color_palette_8_name
) {
	clear: none;

	input[type="text"] {
		padding-left: 50px;
	}
}

// -------------------------------------------------------------
// Hero
// -------------------------------------------------------------

#customize-control-hero_container {
	.suki-radioimage__option:first-child {
		grid-column: 1 / 4;
	}
}

// -------------------------------------------------------------
// Page Settings
// -------------------------------------------------------------

// Page Settings: 1st level options
.customize-control:is( // Select Control
	[id$="_content_container"],
	[id$="_content_layout"],
	[id$="_hero"],
	[id$="_disable_header"],
	[id$="_disable_header_mobile"],
	[id$="_disable_footer_widgets"],
	[id$="_disable_footer_bottom"]
) {
	.customize-control-title {
		min-height: 30px;
		padding-right: 135px;
		margin-bottom: 0; // Reset
	}

	select {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
	}
}

// Page Settings: 2nd level options
[id$="_hero_bg_image"] { // Image or Upload Control
	padding-left: 15px;
}

// -------------------------------------------------------------
// Suki Pro options
// -------------------------------------------------------------

// Suki Pro: Transparent header, Header Alt Colors
.customize-control-suki-color-select:is(
	[id$="_bar_transparent_bg_color"],
	[id$="_bar_transparent_border_color"],
	[id$="_bar_alt_bg_color"],
	[id$="_bar_alt_border_color"],
	[id$="_bar_alt_text_color"],
	[id$="_bar_alt_link_text_color"],
	[id$="_bar_alt_link_hover_text_color"],
	[id$="_bar_alt_link_active_text_color"],
	[id$="_bar_alt_menu_hover_highlight_color"],
	[id$="_bar_alt_menu_hover_highlight_text_color"],
	[id$="_bar_alt_menu_active_highlight_color"],
	[id$="_bar_alt_menu_active_highlight_text_color"],
	[id$="_bar_alt_transparent_bg_color"],
	[id$="_bar_alt_transparent_border_color"]
) {
	padding-left: 15px;
}

// Page settings: 2nd level options
.customize-control-select:is(
	[id$="_sidebar_sticky"],
	[id$="_header_alt_colors"],
	[id$="_header_transparent"],
	[id$="_header_sticky"],
	[id$="_header_mobile_alt_colors"],
	[id$="_header_mobile_transparent"],
	[id$="_header_mobile_sticky"]
) {
	padding-left: 15px;

	.customize-control-title {
		min-height: 30px;
		padding-right: 135px;
		margin-bottom: 0; // Reset
	}

	select {
		position: absolute;
		top: 0;
		right: 0;
		width: 120px;
	}
}

// -------------------------------------------------------------
// Header Builder
// -------------------------------------------------------------

#customize-control-header_builder_responsive_tabs {
	@media screen and ( min-width: 1324px ) {
		width: calc( 100% + 20px + 20px );
		margin-inline: -20px;
		margin-block-start: -20px;

		.suki-responsive-tabs {
			width: auto; // Reset default flex width
			padding: 0 20px 0 calc( 20px - 0.5em );
		}

		.suki-responsive-tabs__button {
			flex: 0;
		}
	}
}

#customize-control-header_mobile_visibility {
	@media screen and ( min-width: 1324px ) {
		select {
			width: auto;
			margin-left: 15px;
		}
	}
}

// -------------------------------------------------------------
// Footer Builder
// -------------------------------------------------------------

#customize-control-footer_widgets_bar {
	@media screen and ( min-width: 1324px ) {
		.customize-control-title {
			display: inline-block;
			margin-right: 1em;
		}

		select {
			display: inline-block;
			width: auto;
		}
	}
}

// -------------------------------------------------------------
// Add ↳ prefix to some sections link to indicate hierarchy
// -------------------------------------------------------------

[id="accordion-panel-suki_panel_header"],
[id="accordion-panel-suki_panel_footer"],
[id="accordion-section-suki_section_main"],
[id="accordion-section-suki_section_sidebar"],
[id^="accordion-section-suki_section_entry_"] {
	.accordion-section-title:before {
		content: "\21B3";
		margin-right: 0.5em;
	}
}
