/**
 * (x) Remove button / link
 */

.woocommerce a.remove {
	display: inline-block;
	position: relative;
	padding: 0.1em;
	width: 1.2em;
	height: 1.2em;
	font-size: 1em;
	font-weight: 500;
	line-height: 0.9;
	text-align: center;
	text-decoration: none;
	color: currentColor;
	isolation: isolate;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: 50%;
		background-color: currentColor;
		opacity: 0.1;
	}

	&:is( :hover, :focus ) {
		&:before {
			opacity: 0.25;
		}
	}
}

/**
 * ??? Unknown Element (copied from the original WooCommerce CSS)
 */

.woocommerce small.note {
	display: block;
	font-size: 0.85em;
	margin-block-start: 0.5em;
}

/**
 * Breadcrumb
 */

.woocommerce .woocommerce-breadcrumb {
	font-size: 0.92em;
	color: var(--meta-color);

	a {
		@include reverse-link-color();
	}

	.suki-woocommerce-breadcrumb__delimiter {
		margin: 0 0.5em;

		&:before {
			content: "\203a";
		}
	}
}

/**
 * Sale badge
 */

.woocommerce span.onsale {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 3.5em;
	width: 3.5em;
	margin: 0.5em;
	padding: 0.25em;
	border-radius: 100%;
	font-size: 0.9em;
	font-weight: 500;
	text-align: center;
	background-color: var(--color-palette-4);
	color: var(--color-palette-8);
}

/**
 * Rating stars
 */

%woocommerce-rating-stars,
.woocommerce .star-rating {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 1em;
	font-size: 1em;
	line-height: 1;
	font-family: "star";
	color: var(--color-palette-4);
	vertical-align: -0.1em;

	&:before {
		content: "\73\73\73\73\73";
		top: 0;
		left: 0;
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		padding-block-start: 1em;
		overflow: hidden;
	}

	span:before {
		content: "\53\53\53\53\53";
		position: absolute;
		top: 0;
		left: 0;
	}
}

/**
 * Price
 */

%woocommerce-price,
.woocommerce .price {
	del {
		opacity: 0.5;
		font-size: 0.9em;
		font-weight: normal; // Always show regular font weight
	}

	ins {
		text-decoration: none; // Reset default browser style
	}
}

/**
 * Pagination
 */

.woocommerce .woocommerce-pagination {
	margin-block-start: calc( 2 * var(--wp--style--block-gap) );
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		display: inline-flex;
		gap: 1em;
	}
}
