@charset "UTF-8";
.suki-admin-form-rows {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.suki-admin-form-label {
	display: inline-block;
	padding-bottom: 4px;
}

details.suki-admin-accordion {
	margin-block: 12px;
	background-color: #fff;
}
details.suki-admin-accordion summary ~ * {
	padding: 8px 12px 10px;
	border: 1px solid #dcdcde;
	border-top: none;
}
details.suki-admin-accordion summary {
	padding: 8px 12px;
	border: 1px solid #dcdcde;
	cursor: pointer;
	list-style: none;
	font-weight: bold;
}
details.suki-admin-accordion summary:hover, details.suki-admin-accordion summary:focus {
	background-color: #f6f7f7;
}
details.suki-admin-accordion summary:before {
	content: "▶";
	margin-inline-end: 4px;
	opacity: 0.5;
}
details.suki-admin-accordion[open] summary:before {
	content: "▼";
}

.suki-admin-tooltip {
	position: relative;
}
.suki-admin-tooltip > .suki-admin-tooltip__content {
	position: absolute;
	z-index: 9999;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 3px;
	padding: 4px 8px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	font-size: 13px;
	line-height: 1.5;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-duration, 0.25s), visibility 0s var(--transition-duration, 0.25s);
}
.suki-admin-tooltip:hover > .suki-admin-tooltip__content, .suki-admin-tooltip:focus > .suki-admin-tooltip__content {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-duration, 0.25s), visibility 0s;
}

#menu-appearance .wp-submenu a[href^="edit.php?post_type=suki_block"]:before,
#menu-appearance .wp-submenu a[href^="themes.php?page=suki-"]:before {
	content: "↳";
	margin-right: 0.5em;
	opacity: 0.5;
}