input, select, textarea {
	max-width: 100%;
}

.button .dashicons {
	margin-top: -2%;
	margin-left: 4px;
	vertical-align: middle;
}

#menu-appearance a[href="themes.php?page=suki"] {
	color: #00b9eb;
}

.suki-admin-form-row {
	padding: 0.75em 0;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.suki-admin-form-label {
	display: table-cell;
	min-width: 150px;
	width: 20%;
	padding: 5px 0 0 15px;
	vertical-align: top;
	font-weight: 600;
}

.suki-admin-form-field {
	display: table-cell;
	vertical-align: top;
	width: 80%;
}

.select2-container .select2-selection {
	background-color: white;
	border-color: #ddd;
	border-radius: 0;
	min-height: auto;
	height: auto;
}

.select2-container .select2-selection .select2-selection__rendered {
	display: block;
}

.select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered {
	padding: 2px 4px 2px 0;
}

.select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered li {
	margin: 2px 0 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	white-space: nowrap;
}

.select2-container .select2-selection.select2-selection--multiple .select2-selection__rendered .select2-search__field {
	margin: 1px;
	line-height: inherit;
}

.select2-container .select2-selection.select2-selection--single .select2-selection__rendered {
	padding: 3px 5px;
	line-height: normal;
}

.select2-container.select2-container--focus .select2-selection,
.select2-container.select2-container--open .select2-selection {
	border-color: #aaa;
}

.select2-container .select2-dropdown {
	border-radius: 0;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option {
	margin: 0;
	padding: 5px;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
	color: inherit;
	background-color: rgba(0, 0, 0, 0.05);
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true] {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.suki-admin-color-control {
	display: inline-block;
}

.suki-admin-color-control .wp-picker-container .wp-color-result.button {
	margin: 0;
	width: 30px;
	height: 24px;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.suki-admin-color-control .wp-picker-container .color-alpha {
	border-radius: 0 !important;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.suki-admin-color-control .wp-picker-container .color-alpha:after {
	content: "not set";
	position: absolute;
	top: 50%;
	right: 0;
	width: 40px;
	margin: -5px -5px 0 0;
	border: none;
	font-size: 8px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: #444;
}

.suki-admin-color-control .wp-picker-container .color-alpha[style*="background:"]:after {
	display: none;
}

.suki-admin-color-control .wp-picker-container .wp-color-result-text {
	display: none;
}

.suki-admin-color-control .wp-picker-container .wp-picker-input-wrap {
	position: relative;
	padding-left: 60px;
	margin-top: 6px;
}

.suki-admin-color-control .wp-picker-container .wp-picker-input-wrap label, .suki-admin-color-control .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
	width: 100% !important;
}

.suki-admin-color-control .wp-picker-container .wp-picker-input-wrap .button {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
}

.suki-admin-color-control .wp-picker-container .wp-picker-open + .wp-picker-input-wrap {
	display: block;
}

.suki-admin-spacing-control {
	display: table;
}

.suki-admin-spacing-control .suki-admin-spacing-control-cell {
	display: table-cell;
}

.suki-admin-upload-control {
	display: inline-block;
	position: relative;
}

.suki-admin-upload-control .suki-admin-upload-control-text {
	padding-left: 40px;
}

.suki-admin-upload-control .suki-admin-upload-control-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	margin: 1px 0 0 0;
	padding: 0 !important;
	border-radius: 0;
	text-align: center;
}

.suki-admin-upload-control .suki-admin-upload-control-button .dashicons {
	margin-left: 0;
}

.suki-admin-checkbox-control {
	display: inline-block;
	margin: 6px 0;
}

.suki-admin-multiselect-control {
	height: 30px !important;
	opacity: 0;
}

.suki-admin-repeater-control {
	margin: 0;
}

.suki-admin-repeater-control .suki-admin-repeater-control-list {
	margin: 0;
}

.suki-admin-repeater-control .suki-admin-form {
	margin: -1em 0;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item {
	position: relative;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 30px;
	min-width: auto;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item .suki-admin-repeater-control-item-table {
	margin: 0;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item .suki-admin-repeater-control-item-table th {
	padding: 10px 0 10px 10px;
	font-weight: normal;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item .suki-admin-repeater-control-item-table td {
	padding: 5px 5px;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item .submitbox {
	margin: 15px 0 0;
}

.suki-admin-repeater-control .suki-admin-repeater-control-item .suki-admin-repeater-control-delete {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: -1px 0 0 -1px;
	padding: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

.suki-term-meta-box-container {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 !important;
}

.postbox-container .suki-admin-metabox-page-settings {
	margin: -6px -12px -12px !important;
}

.suki-admin-metabox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.suki-admin-metabox hr {
	border-color: #eee;
	border-bottom: none;
}

.suki-admin-metabox a {
	text-decoration: none;
}

.suki-admin-metabox-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 20%;
	width: 20%;
	background-color: #fafafa;
	border-left: 1px solid #eee;
}

.suki-admin-metabox-nav .suki-admin-metabox-nav-item {
	margin: 0;
	padding: 0;
}

.suki-admin-metabox-nav .suki-admin-metabox-nav-item a {
	margin: 0;
	padding: 10px;
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
}

.suki-admin-metabox-nav .suki-admin-metabox-nav-item.active {
	background-color: #eee;
}

.suki-admin-metabox-nav .suki-admin-metabox-nav-item.active a {
	color: inherit;
}

.suki-admin-metabox-panels {
	width: 100%;
}

.suki-admin-metabox-panel {
	display: none;
	padding: 0.5em 20px;
}

.suki-admin-metabox-panel.active {
	display: block;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-form-row,
.term-php .suki-term-meta-box-container .suki-admin-form-row,
.post-php #side-sortables .suki-admin-form-row {
	display: block;
	width: auto;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-form-label,
.term-php .suki-term-meta-box-container .suki-admin-form-label,
.post-php #side-sortables .suki-admin-form-label {
	display: block;
	width: auto;
	padding: 0;
	margin: 0 0 0.5em;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-form-field,
.term-php .suki-term-meta-box-container .suki-admin-form-field,
.post-php #side-sortables .suki-admin-form-field {
	display: block;
	width: auto;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox,
.term-php .suki-term-meta-box-container .suki-admin-metabox,
.post-php #side-sortables .suki-admin-metabox {
	display: block;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav,
.post-php #side-sortables .suki-admin-metabox-nav {
	min-width: auto;
	width: auto;
	border-bottom: 1px solid #eee;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav:before, .edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav:after,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav:before,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav:after,
.post-php #side-sortables .suki-admin-metabox-nav:before,
.post-php #side-sortables .suki-admin-metabox-nav:after {
	content: "";
	display: table;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav:after,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav:after,
.post-php #side-sortables .suki-admin-metabox-nav:after {
	clear: both;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav li,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav li,
.post-php #side-sortables .suki-admin-metabox-nav li {
	float: right;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-nav li a,
.term-php .suki-term-meta-box-container .suki-admin-metabox-nav li a,
.post-php #side-sortables .suki-admin-metabox-nav li a {
	border: none;
}

.edit-tags-php .suki-term-meta-box-container .suki-admin-metabox-panel,
.term-php .suki-term-meta-box-container .suki-admin-metabox-panel,
.post-php #side-sortables .suki-admin-metabox-panel {
	padding: 6px 12px;
}

.suki-pro-badge {
	display: inline-block;
	padding: 0.3em 0.5em;
	margin-top: -0.15em;
	color: #fff;
	background-color: #d54e21;
	font-size: 0.7em;
	font-weight: 500;
	font-style: normal;
	line-height: 1;
	text-transform: uppercase;
	vertical-align: middle;
}

.suki-admin-theme-notice {
	display: none;
}

.wp-header-end ~ .suki-admin-theme-notice {
	position: relative;
	padding-right: 40px;
	display: block;
}

.wp-header-end ~ .suki-admin-theme-notice .suki-admin-theme-notice-arrow {
	position: absolute;
	z-index: 99;
	top: 50%;
	right: 0;
	width: 20px;
	height: 30px;
	border-right: 10px solid #00a0d2;
	border-radius: 0 30px 0 0;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transform-origin: 0% 0;
	transform-origin: 0% 0;
}

.wp-header-end ~ .suki-admin-theme-notice .suki-admin-theme-notice-arrow:before {
	content: "";
	position: absolute;
	top: 100%;
	right: -20px;
	border-top: 15px solid #00a0d2;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

@media screen and (max-width: 782px) {
	.appearance_page_suki.auto-fold #wpcontent {
		padding-right: 0;
	}
	.appearance_page_suki .wp-responsive-open #wpbody {
		left: -190px;
	}
}

.appearance_page_suki .notice {
	display: none;
}

.suki-admin-wrap {
	margin: 0 -20px 0 0;
}

@media screen and (max-width: 782px) {
	.suki-admin-wrap {
		margin: 0;
	}
}

.suki-admin-wrap .notice {
	display: block;
}

.suki-admin-wrap .suki-admin-wrapper {
	max-width: 1080px;
	padding: 0 10px;
	margin: 0 auto;
}

.suki-admin-wrap .suki-admin-wrapper .postbox .hndle {
	cursor: default;
}

.suki-admin-wrap .suki-admin-header {
	margin-bottom: 20px;
	padding: 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.suki-admin-wrap .suki-admin-logo img {
	vertical-align: middle;
}

.suki-admin-wrap .suki-admin-logo .suki-admin-version {
	display: inline-block;
	padding: 0.3em 0.5em;
	margin: 0 0.5em 0 0;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.1);
}

.suki-admin-wrap .wp-badge {
	height: 140px;
	width: 140px;
	padding: 0;
	background-color: #fff;
	background-image: none;
	line-height: 140px;
}

.suki-admin-wrap .wp-badge img {
	vertical-align: middle;
	max-width: 100px;
}

.suki-admin-wrap .suki-admin-content {
	padding: 0 !important;
	margin-top: 20px;
}

.suki-admin-wrap .suki-admin-content-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

@media screen and (max-width: 782px) {
	.suki-admin-wrap .suki-admin-content-row {
		display: block;
	}
}

.suki-admin-wrap .suki-admin-primary {
	width: 100%;
}

@media screen and (max-width: 782px) {
	.suki-admin-wrap .suki-admin-primary {
		width: auto;
	}
}

.suki-admin-wrap .suki-admin-primary > * {
	margin: 0 0 20px;
}

.suki-admin-wrap .suki-admin-secondary {
	min-width: 255px;
	width: 255px;
	margin-right: 20px;
}

@media screen and (max-width: 782px) {
	.suki-admin-wrap .suki-admin-secondary {
		width: auto;
		margin-right: 0;
	}
}

.suki-admin-wrap .suki-admin-secondary > * {
	margin: 0 0 20px;
}

.suki-admin-wrap .suki-admin-secondary .postbox .hndle {
	padding: 10px 15px;
}

.suki-admin-wrap .suki-admin-secondary .postbox .inside {
	margin: 15px;
	padding: 0;
}

.suki-admin-wrap .suki-admin-customize-button {
	width: 100%;
	text-align: center;
}

.suki-admin-welcome-panel {
	padding: 0;
}

.suki-admin-welcome-panel .welcome-panel-content {
	margin: 20px;
}

.suki-admin-welcome-panel h2 {
	margin-bottom: 0.5em;
}

.suki-admin-pro-modules .inside {
	margin: 0;
	padding: 0;
}

.suki-admin-pro-modules table {
	border: none;
}

.suki-admin-pro-modules .inactive th, .suki-admin-pro-modules .inactive td, .suki-admin-pro-modules .active th, .suki-admin-pro-modules .active td {
	color: #555;
	padding: 8px 12px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #e5e5e5;
}

.suki-admin-pro-modules .suki-admin-pro-table-group-heading {
	font-weight: 500 !important;
	background-color: #f9f9f9;
}

.suki-admin-pro-modules .suki-admin-pro-table-item-name {
	white-space: nowrap;
	padding-right: 14px !important;
}

.suki-admin-pro-modules .suki-admin-pro-table-item-actions {
	width: 100%;
	text-align: left;
}

.suki-admin-pro-modules .suki-admin-pro-table-item-required {
	color: #888;
}
