#customize-theme-controls .customize-pane-child.accordion-section-content,
#customize-theme-controls .customize-pane-child.accordion-sub-container {
	height: 100%;
}

.customize-control {
	position: relative;
}

.customize-control select {
	margin: 0;
	line-height: 28px;
}

.customize-control .notice {
	margin: 0;
}

.description .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
}

.button {
	font-style: normal;
}

.button .dashicons {
	width: auto;
	height: auto;
	margin-top: -0.1em;
	margin-right: 0.25em;
	font-size: 1.2em;
	line-height: 1;
	vertical-align: middle;
}

.button.suki-button-full {
	width: 100%;
	text-align: center;
}

.suki-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
}

.suki-icon svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.suki-icon svg:not([stroke-width]) {
	stroke-width: 0;
}

.suki-icon svg:not([stroke]) {
	stroke: currentColor;
}

.suki-icon svg:not([fill]) {
	fill: currentColor;
}

#customize-theme-controls .accordion-section-title,
#customize-outer-theme-controls .accordion-section-title {
	border-top: 1px solid #ddd;
	margin-top: -1px;
}

li:not(.customize-info) div.customize-section-description {
	margin: 0 -12px;
	padding: 12px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

#customize-controls .customize-control-notifications-container:empty {
	display: none;
}

#customize-preview {
	margin-top: 0;
}

#customize-theme-controls .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
#customize-theme-controls .control-panel-nav_menus .control-section-nav_menu,
#customize-theme-controls .control-section-nav_menu_locations .accordion-section-title {
	border-top: none;
}

#accordion-section-themes + .control-section {
	border-top: none;
}

.customize-control .attachment-media-view .thumbnail-image img, .customize-control-header img {
	width: 100%;
}

.suki-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}

.suki-context-hidden {
	display: none !important;
}

.suki-row-item {
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
	vertical-align: middle;
}

.suki-small-label {
	font-size: 9px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	opacity: 0.75;
	display: block;
}

.suki-input-with-unit {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.suki-unit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 !important;
	background-image: none !important;
	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.suki-heading {
	position: relative;
	margin: 0 -12px;
	padding: 10px 12px;
	background-color: rgba(0, 0, 0, 0.1);
	color: inherit;
	outline: 0;
	transition: all 0.25s;
}

.suki-heading > span {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

.suki-tooltip {
	position: relative;
	outline: none;
	cursor: pointer;
}

.suki-tooltip .dashicons {
	display: inline-block;
	width: auto;
	height: auto;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
}

.suki-tooltip[data-tooltip]:hover:before {
	content: "";
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 50%;
	margin-top: 2px;
	margin-left: -5px;
	border-bottom: 5px solid rgba(0, 0, 0, 0.8);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.suki-tooltip[data-tooltip]:hover:after {
	content: attr(data-tooltip);
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 50%;
	width: 200px;
	padding: 8px 10px;
	margin-top: 7px;
	border-radius: 4px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	text-transform: none;
	text-align: center;
	white-space: normal;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

.suki-tooltip.suki-tooltip-right[data-tooltip]:hover:before {
	top: 50%;
	left: 100%;
	margin-left: 2px;
	margin-top: -5px;
	border-left: none;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.8);
}

.suki-tooltip.suki-tooltip-right[data-tooltip]:hover:after {
	top: 50%;
	left: 100%;
	margin-top: 0;
	margin-left: 7px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.suki-icon-tooltip .dashicons {
	opacity: 0.5;
}

.suki-icon-tooltip:hover .dashicons, .suki-icon-tooltip:focus .dashicons {
	opacity: 0.8;
}

.suki-global-default-badge {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}

.customize-control-title .suki-responsive-switcher {
	margin-left: 0.5em;
}

.customize-control-title .suki-responsive-switcher .suki-responsive-switcher-button {
	cursor: pointer;
	outline: 0;
	opacity: 0.25;
}

.customize-control-title .suki-responsive-switcher .suki-responsive-switcher-button.active {
	opacity: 0.75;
}

.customize-control-title .suki-responsive-switcher .suki-responsive-switcher-button .dashicons {
	font-size: 15px;
	width: auto;
	height: auto;
	line-height: 1;
	vertical-align: middle;
}

.customize-control-content .suki-responsive-switcher {
	position: relative;
	height: 15px;
	text-align: right;
	margin: 10px 0 -5px;
}

.customize-control-content .suki-responsive-switcher:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.5px;
	width: calc( 100% - 60px);
	height: 1px;
	background-color: #ddd;
}

.customize-control-content .suki-responsive-switcher .suki-responsive-switcher-button {
	position: relative;
	cursor: pointer;
	outline: 0;
	opacity: 0.25;
	line-height: 1;
	vertical-align: top;
}

.customize-control-content .suki-responsive-switcher .suki-responsive-switcher-button.active {
	opacity: 0.75;
}

.customize-control-content .suki-responsive-switcher .suki-responsive-switcher-button .dashicons {
	font-size: 15px;
	width: auto;
	height: auto;
	line-height: 1;
	vertical-align: middle;
}

.suki-responsive-fieldset {
	display: none;
}

.suki-responsive-fieldset.active {
	display: block;
}

.suki-responsive-fieldset.active.suki-row {
	display: -ms-flexbox;
	display: flex;
}

.control-section-suki-section-spacer {
	margin-top: 15px;
}

.control-section-suki-section-spacer h2 {
	position: relative;
	display: table;
	margin: -5px 0 0;
	padding: 3px 10px 3px 18px;
	color: inherit;
	font-size: 11px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
}

.control-section-suki-section-spacer h2:after {
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
	border-bottom: 22px solid rgba(0, 0, 0, 0.1);
	border-right: 12px solid transparent;
}

.control-section-suki-section-spacer h2 .dashicons {
	margin-right: 0.5em;
	vertical-align: -5px;
}

.control-section-suki-section-pro-link {
	margin-top: 15px;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title {
	display: block;
	background-color: #ee5253;
	border-color: #ee5253;
	color: #fff;
	text-decoration: none;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title h3 {
	margin: 0;
	color: inherit !important;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:after {
	color: inherit !important;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:hover, #customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:focus {
	background-color: #ec3b3c;
	border-color: #ec3b3c;
	border-left-color: #a61011;
	color: #fff;
}

.suki-pro-teaser {
	margin-top: 15px;
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	background-color: #fff8e5;
}

.customize-control-suki-pro-teaser > .suki-pro-teaser {
	margin-left: -12px;
	margin-right: -12px;
}

.suki-pro-teaser ul {
	margin: 0;
	padding: 0 10px 11px 18px;
}

.suki-pro-teaser ul li {
	margin: 0.25em 0;
}

.suki-pro-teaser .accordion-section-title {
	display: block;
	padding: 10px 10px 11px 14px !important;
	background-color: transparent !important;
	border-top: none !important;
	border-bottom: none !important;
	border-color: transparent !important;
	text-decoration: none;
	color: inherit !important;
}

.suki-pro-teaser .accordion-section-title:hover, .suki-pro-teaser .accordion-section-title:focus {
	color: #007cba !important;
}

.suki-pro-teaser .accordion-section-title h3 {
	margin: 0;
	color: inherit !important;
}

.customize-control-suki-heading {
	margin: 32px 0 12px;
}

.customize-control-suki-heading .description {
	margin-top: 12px;
}

.customize-control-suki-heading .tabindex:focus + .suki-heading {
	background-color: #007cba;
	color: #fff;
}

.customize-section-description-container + .customize-control-suki-heading {
	margin-top: 0;
}

.customize-control-suki-toggle .customize-control-title {
	padding-right: 40px;
}

.customize-control-suki-toggle input[type="checkbox"] {
	display: none;
}

.customize-control-suki-toggle .suki-toggle-ui {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 30px;
	height: 18px;
	margin: 3px 0 0;
	border-radius: 15px;
	background-color: #ccc;
}

.customize-control-suki-toggle .suki-toggle-ui .suki-toggle-ui-handle {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 15px;
	background-color: #fff;
	transition: all 0.25s;
}

.customize-control-suki-toggle input[type="checkbox"]:checked ~ .suki-toggle-ui {
	background-color: #007cba;
}

.customize-control-suki-toggle input[type="checkbox"]:checked ~ .suki-toggle-ui .suki-toggle-ui-handle {
	left: auto;
	right: 0;
}

.customize-control-suki-color .customize-control-title {
	padding-right: 40px;
}

.customize-control-suki-color .wp-picker-container {
	display: table;
	margin-left: auto;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button {
	position: absolute !important;
	top: 0;
	right: 0;
	margin: 0;
	width: 30px;
	height: 24px;
	min-height: auto;
	border: none;
	border-radius: 3px !important;
	background-size: 12px 12px;
	background-position: 0 0, 6px 6px;
	background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 3px !important;
	background-color: inherit;
	border: 1px solid #7e8993;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:focus:before {
	border-color: #007cba;
	box-shadow: 0 0 1px #007cba;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:after {
	content: "not set";
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	margin: -5px 0 0 -5px;
	border: none;
	font-size: 8px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: #444;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button[style*="background"]:after {
	display: none;
}

.customize-control-suki-color .wp-picker-container .wp-color-result-text {
	display: none;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap {
	display: none;
	position: relative;
	padding-right: 60px;
	margin-top: 6px;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap label, .customize-control-suki-color .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
	width: 100% !important;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap .button {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
}

.customize-control-suki-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: block;
}

.customize-control-suki-color .wp-picker-container .wp-picker-holder {
	display: none;
	margin-top: 6px;
}

.customize-control-suki-color .wp-picker-container.wp-picker-active .wp-picker-holder {
	display: block;
}

.customize-control-suki-shadow .customize-control-content {
	position: relative;
	padding-right: 30px;
}

.customize-control-suki-shadow .suki-row-item {
	text-align: center;
}

.customize-control-suki-shadow .suki-row-item:nth-child(n+2) {
	margin-left: -1px;
}

.customize-control-suki-shadow .suki-row-item:first-child .suki-shadow-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.customize-control-suki-shadow .suki-row-item:nth-child(n+2) .suki-shadow-input {
	border-radius: 0;
}

.customize-control-suki-shadow .suki-shadow-position {
	-ms-flex: 0 0 40px;
	flex: 0 0 40px;
}

.customize-control-suki-shadow .suki-shadow-position select {
	padding: 0 !important;
	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
	background-image: none !important;
}

.customize-control-suki-shadow .suki-shadow-input {
	text-align: center;
}

.customize-control-suki-shadow .suki-shadow-input:focus {
	position: relative;
	z-index: 2;
}

.customize-control-suki-shadow .suki-small-label {
	margin-top: 0.3em;
}

.customize-control-suki-shadow input.suki-shadow-input {
	-moz-appearance: textfield;
}

.customize-control-suki-shadow input.suki-shadow-input::-webkit-inner-spin-button, .customize-control-suki-shadow input.suki-shadow-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.customize-control-suki-shadow .wp-picker-container {
	display: table;
	margin-left: auto;
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button {
	position: absolute !important;
	top: 0;
	right: 0;
	margin: 0;
	width: 30px;
	height: 30px;
	min-height: auto;
	border: none;
	border-radius: 0 3px 3px 0 !important;
	background-size: 12px 12px;
	background-position: 0 0, 6px 6px;
	background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 0 3px 3px 0 !important;
	background-color: inherit;
	box-shadow: inset 0 0 0 1px #7e8993;
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button:focus:before {
	box-shadow: inset 0 0 0 1px #7e8993, 0 0 0 1px #007cba;
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result-text {
	display: none;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap {
	display: none;
	position: relative;
	padding-right: 60px;
	margin-top: 6px;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap label, .customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
	width: 100% !important;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap .button {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
}

.customize-control-suki-shadow .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: block;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-holder {
	display: none;
	margin-top: 6px;
}

.customize-control-suki-shadow .wp-picker-container.wp-picker-active .wp-picker-holder {
	display: block;
}

.customize-control-suki-slider .suki-row-item:first-child {
	padding: 5px 10px 5px 0;
}

.customize-control-suki-slider .suki-slider-range {
	width: 100%;
	margin: 0;
	-webkit-appearance: none;
	outline: none;
	height: 8px;
	background-color: #ccc;
	border-radius: 4px;
}

.customize-control-suki-slider .suki-slider-range::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	border: none;
	border-radius: 8px;
	background-color: #007cba;
	cursor: pointer;
	-webkit-appearance: none;
}

.customize-control-suki-slider .suki-slider-range::-moz-range-thumb {
	height: 16px;
	width: 16px;
	border: none;
	border-radius: 8px;
	background-color: #007cba;
	cursor: pointer;
	-webkit-appearance: none;
}

.customize-control-suki-slider .suki-slider-range::-ms-thumb {
	height: 16px;
	width: 16px;
	border: none;
	border-radius: 8px;
	background-color: #007cba;
	cursor: pointer;
	-webkit-appearance: none;
}

.customize-control-suki-slider .suki-slider-input {
	text-align: center;
	-moz-appearance: textfield;
}

.customize-control-suki-slider .suki-slider-input::-webkit-inner-spin-button, .customize-control-suki-slider .suki-slider-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.customize-control-suki-slider .suki-slider-input:focus {
	position: relative;
	z-index: 2;
}

.customize-control-suki-slider .suki-slider-unit {
	margin-left: -1px;
}

.customize-control-suki-dimension .suki-row-item:nth-child(n+2) {
	margin-left: -1px;
}

.customize-control-suki-dimension .suki-dimension-input:focus {
	position: relative;
	z-index: 2;
}

.customize-control-suki-dimensions .suki-row-item {
	text-align: center;
}

.customize-control-suki-dimensions .suki-row-item:nth-child(n+2) {
	margin-left: -1px;
}

.customize-control-suki-dimensions .suki-dimensions-unlink,
.customize-control-suki-dimensions .suki-dimensions-link {
	position: relative;
	z-index: 1;
	padding: 0;
	display: none;
	width: 100%;
	box-shadow: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.customize-control-suki-dimensions .suki-small-label {
	margin-top: 0.3em;
}

.customize-control-suki-dimensions .suki-dimensions-input {
	border-radius: 0;
	text-align: inherit;
}

.customize-control-suki-dimensions .suki-dimensions-input:focus {
	position: relative;
	z-index: 2;
}

.customize-control-suki-dimensions .suki-dimensions-input::-webkit-inner-spin-button, .customize-control-suki-dimensions .suki-dimensions-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.customize-control-suki-dimensions .suki-dimensions-unit {
	position: relative;
	z-index: 1;
}

.customize-control-suki-dimensions [data-linked="true"] .suki-dimensions-unlink,
.customize-control-suki-dimensions [data-linked="false"] .suki-dimensions-link {
	display: block;
}

.customize-control-suki-typography .customize-control-content {
	padding: 10px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.customize-control-suki-typography .suki-row:first-child {
	margin-top: 0;
}

.customize-control-suki-typography .suki-row:last-child {
	margin-bottom: 0;
}

.customize-control-suki-typography .suki-typography-size .suki-row-item:nth-child(n+2) {
	margin-left: -1px;
}

.customize-control-suki-typography .suki-small-label {
	margin-bottom: 0.3em;
}

.customize-control-suki-typography .suki-typography-fieldset {
	margin: 10px -3px 0;
}

.customize-control-suki-typography .suki-typography-fieldset > * {
	padding: 0 3px;
}

.customize-control-suki-typography .suki-typography-size-input {
	text-align: center;
}

.customize-control-suki-typography .suki-typography-size-input:focus {
	position: relative;
	z-index: 2;
}

.customize-control-suki-typography .suki-typography-size-input::-webkit-inner-spin-button, .customize-control-suki-typography .suki-typography-size-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.customize-control-suki-background .customize-control-content {
	padding: 10px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.customize-control-suki-background .suki-row:first-child {
	margin-top: 0;
}

.customize-control-suki-background .suki-row:last-child {
	margin-bottom: 0;
}

.customize-control-suki-background .suki-small-label {
	margin-bottom: 0.3em;
}

.customize-control-suki-background .suki-background-fieldset {
	margin: 10px -3px 0;
}

.customize-control-suki-background .suki-background-fieldset > * {
	padding: 0 3px;
}

.customize-control-suki-radioimage .suki-radioimage-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -2px;
}

.customize-control-suki-radioimage .suki-radioimage-list .suki-radioimage-item {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	margin: 0;
}

.customize-control-suki-radioimage .suki-radioimage-list.suki-radioimage-columns-1 .suki-radioimage-item {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

.customize-control-suki-radioimage .suki-radioimage-list.suki-radioimage-columns-2 .suki-radioimage-item {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.customize-control-suki-radioimage .suki-radioimage-list.suki-radioimage-columns-3 .suki-radioimage-item {
	-ms-flex-preferred-size: 33.33%;
	flex-basis: 33.33%;
}

.customize-control-suki-radioimage .suki-radioimage-list label {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 2px;
	padding: 2px;
	background-color: #aaa;
	color: #fff;
	outline: 0;
	border-radius: 4px;
}

.customize-control-suki-radioimage .suki-radioimage-list label:focus {
	box-shadow: 0 0 5px #007cba;
}

.customize-control-suki-radioimage .suki-radioimage-list label > img {
	display: block;
	width: 100%;
	border-radius: 2px;
}

.customize-control-suki-radioimage .suki-radioimage-list label > span {
	max-width: 100%;
	display: block;
	padding: 2px 0;
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	text-align: center;
}

.customize-control-suki-radioimage .suki-radioimage-list label > img + span {
	margin-top: 2px;
}

.customize-control-suki-radioimage .suki-radioimage-list input {
	display: none;
}

.customize-control-suki-radioimage .suki-radioimage-list input:checked + label {
	background-color: #007cba;
	color: #fff;
}

.customize-control-suki-sortable .suki-sortable {
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	padding: 0 8px;
}

.customize-control-suki-sortable .suki-sortable-item {
	margin: 8px 0;
}

.customize-control-suki-sortable .suki-sortable-item .dashicons {
	font-size: 20px;
	margin: 0;
}

.customize-control-suki-sortable .suki-sortable-item input {
	display: none;
}

.customize-control-suki-sortable .suki-sortable-item-label {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	opacity: 0.6;
	border-style: dashed;
}

.customize-control-suki-sortable .suki-sortable-item-label label {
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
	margin-right: 0.75em;
}

.customize-control-suki-sortable .suki-sortable-item-label label .dashicons-visibility {
	display: none;
}

.customize-control-suki-sortable .suki-sortable-item-label label .dashicons-hidden {
	display: block;
}

.customize-control-suki-sortable .suki-sortable-item input:checked ~ .suki-sortable-item-label {
	opacity: 1;
	border-style: solid;
}

.customize-control-suki-sortable .suki-sortable-item input:checked ~ .suki-sortable-item-label label .dashicons-visibility {
	display: block;
}

.customize-control-suki-sortable .suki-sortable-item input:checked ~ .suki-sortable-item-label label .dashicons-hidden {
	display: none;
}

.customize-control-suki-sortable .suki-sortable-item-name {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.customize-control-suki-sortable .suki-sortable-item-handle {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 0;
}

.customize-control-suki-sortable .suki-sortable .sortable-placeholder {
	margin: 8px 0;
	border: none;
}

.customize-control-suki-builder .suki-builder .suki-builder-location {
	position: relative;
	margin: 3px 0;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.customize-control-suki-builder .suki-builder .suki-builder-location.disabled {
	opacity: 0.5;
}

.customize-control-suki-builder .suki-builder .suki-builder-location.disabled .ui-sortable-placeholder {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-small-label {
	margin: 0;
	padding: 4px 8px;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
	opacity: 1;
}

.customize-control-suki-builder .suki-builder .suki-builder-sortable-panel {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 36px;
	margin: 0;
	padding: 5px;
	padding-right: 28px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element {
	position: relative;
	display: inline-block;
	margin: 3px;
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
	cursor: move;
}

.customize-control-suki-builder .suki-builder .suki-builder-element > span {
	display: inline-block;
	padding: 0 8px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element .dashicons {
	margin-right: 0.25em;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 5px 14px 0;
	font-size: 18px;
	line-height: 1;
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add:hover, .customize-control-suki-builder .suki-builder .suki-builder-element-add:focus {
	opacity: 1;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-delete {
	display: inline-block;
	text-align: center;
	color: inherit !important;
	margin: 0 4px 0 -4px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-delete .dashicons {
	width: auto;
	height: auto;
	font-size: 1.25em;
	text-decoration: none;
	opacity: 0.5;
	margin: 0;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive {
	display: none;
	margin: 4px 0;
	border: 1px solid #ddd;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-builder-sortable-panel {
	background-color: #f7f7f7;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-builder-element-delete {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-small-label {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive.show {
	display: block;
}

.customize-control-suki-builder .suki-builder .ui-sortable-placeholder {
	visibility: visible !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.customize-control-suki-builder .suki-builder .suki-builder-no-more-items {
	display: none;
	margin: 0;
	padding: 0 5px;
	line-height: 32px;
	font-style: italic;
	text-decoration: none;
	color: #555d66;
}

.customize-control-suki-builder .suki-builder .suki-builder-no-more-items:only-child {
	display: inline-block;
}

.customize-control-suki-builder .suki-builder-layout-block .suki-builder-sortable-panel {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.customize-control-suki-builder .suki-builder-layout-block .suki-builder-element {
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.customize-control-suki-builder .suki-builder-layout-block .suki-builder-element > span {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.suki-has-builder-active .preview-desktop #customize-preview,
.suki-has-builder-active .preview-tablet #customize-preview {
	height: auto;
}

#customize-control-header_builder_actions,
#customize-control-footer_builder_actions {
	display: none !important;
}

@media screen and (min-width: 1324px) {
	#customize-controls #accordion-section-suki_section_header_builder,
	#customize-controls #accordion-section-suki_section_footer_builder {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		position: fixed !important;
		top: auto;
		bottom: 0;
		left: 300px;
		right: 0;
		display: block;
		width: auto;
		height: auto;
		padding: 20px;
		max-height: 60%;
		margin: 0 0 0 -1px;
		overflow: auto;
		background-color: #eee;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.1);
		transition: all 0.2s;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .customize-control:last-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .customize-control:last-child {
		margin-bottom: 0;
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-builder-active, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-builder-active {
		visibility: visible;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide {
		-webkit-transform: translateY(100%) !important;
		transform: translateY(100%) !important;
		overflow: visible;
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide #customize-control-header_builder_actions .suki-builder-show,
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide #customize-control-footer_builder_actions .suki-builder-show, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide #customize-control-header_builder_actions .suki-builder-show,
	.suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide #customize-control-footer_builder_actions .suki-builder-show {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s 0.2s;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-small-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-small-label {
		display: none;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions {
		display: block !important;
		z-index: 10;
		margin-top: -20px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .description {
		font-style: normal;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher {
		margin: 0 -20px;
		display: block;
		width: auto;
		padding: 9px 20px 0;
		border-color: #ddd;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab {
		background-color: #eee;
		border-color: #ddd;
		outline: 0;
		box-shadow: none;
		opacity: 0.75;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:hover, #customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:focus {
		background-color: #eee;
		opacity: 1;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active {
		background-color: #eee;
		border-bottom-color: #eee;
		opacity: 1;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher-button:first-child {
		margin-left: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-toggle {
		position: absolute;
		right: 0;
		top: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-hide {
		margin-top: 8px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-show {
		top: auto;
		bottom: 100%;
		margin-bottom: 20px;
		visibility: hidden;
		opacity: 0;
		transition: none;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .customize-section-description-container,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .customize-section-description-container {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-sortable-panel {
		padding-right: 5px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location {
		position: relative;
		box-sizing: border-box;
		margin: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_top"] .suki-builder-sortable-panel, #customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_left"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_top"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_left"] .suki-builder-sortable-panel {
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_middle"] .suki-builder-sortable-panel, #customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_center"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_middle"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_center"] .suki-builder-sortable-panel {
		-ms-flex-pack: center;
		justify-content: center;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_bottom"] .suki-builder-sortable-panel, #customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location$="_right"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_bottom"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location$="_right"] .suki-builder-sortable-panel {
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-element-add,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-element-add {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-inactive,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-inactive {
		margin: 30px 0 0;
		display: block !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		margin: -10px -15px 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group {
		box-sizing: border-box;
		padding: 0 15px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area {
		position: relative;
		margin-top: 28px;
		transition: box-shadow 0.25s ease;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area-label {
		position: absolute;
		bottom: 100%;
		left: 0;
		display: table;
		max-width: calc( 100% - 12px);
		padding: 3px 5px 3px 10px;
		margin: 0 auto 0 -2px;
		background-color: #007cba;
		color: #fff;
		font-size: 11px;
		font-weight: 600;
		line-height: 16px;
		text-transform: uppercase;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.25s ease;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area-label:after,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area-label:after {
		content: "";
		position: absolute;
		left: 100%;
		top: 0;
		border-bottom: 22px solid #007cba;
		border-right: 12px solid transparent;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area-label:before,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area-label:before {
		content: "\f111";
		font-family: dashicons;
		margin-right: 0.5em;
		vertical-align: -1px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area-locations,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area-locations {
		position: relative;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area:hover,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area:hover {
		box-shadow: 0 0 0 2px #007cba;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-area:hover .suki-builder-area-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-area:hover .suki-builder-area-label {
		opacity: 1;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-horizontal,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-horizontal {
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-area-locations,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-area-locations {
		display: -ms-flexbox;
		display: flex;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-location,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-location {
		-ms-flex: 1 0 0px;
		flex: 1 0 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical {
		-ms-flex: 0 0 15%;
		flex: 0 0 15%;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: calc( 100% - 30px);
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area-locations,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area-locations {
		-ms-flex: 1 0 0px;
		flex: 1 0 0;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area-locations > *,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-area-locations > * {
		-ms-flex: 1 0 0px;
		flex: 1 0 0;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-sortable-panel {
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media screen and (min-width: 1667px) {
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		left: 18%;
	}
}

@media screen and (min-width: 3333px) {
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		left: 600px;
	}
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description,
#sub-accordion-panel-suki_panel_page_settings .customize-info .customize-panel-description {
	display: block;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-help-toggle,
#sub-accordion-panel-suki_panel_page_settings .customize-info .customize-help-toggle {
	display: none;
}

.customize-panel-description .nav-tab-wrapper,
.customize-section-description .nav-tab-wrapper {
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px -12px;
	border-bottom: none;
}

.customize-panel-description .nav-tab-wrapper:only-child,
.customize-section-description .nav-tab-wrapper:only-child {
	border-top: none;
	margin-top: -12px;
}

.customize-panel-description .nav-tab-wrapper:not(:first-child),
.customize-section-description .nav-tab-wrapper:not(:first-child) {
	border-top: 1px solid #ddd;
}

.customize-panel-description .nav-tab-wrapper .nav-tab,
.customize-section-description .nav-tab-wrapper .nav-tab {
	-ms-flex: 1;
	flex: 1;
	margin: 0;
	border: none;
	padding: 10px 15px 8px;
	background-color: transparent;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	text-align: center;
	outline: 0;
	box-shadow: none;
}

.customize-panel-description .nav-tab-wrapper .nav-tab:hover, .customize-panel-description .nav-tab-wrapper .nav-tab:focus,
.customize-section-description .nav-tab-wrapper .nav-tab:hover,
.customize-section-description .nav-tab-wrapper .nav-tab:focus {
	color: #007cba;
}

.customize-panel-description .nav-tab-wrapper .nav-tab:last-child,
.customize-section-description .nav-tab-wrapper .nav-tab:last-child {
	border-right: none;
}

.customize-panel-description .nav-tab-wrapper .nav-tab.nav-tab-active,
.customize-section-description .nav-tab-wrapper .nav-tab.nav-tab-active {
	color: #007cba;
	border-bottom-color: currentColor;
}

.customize-panel-description .nav-tab-wrapper:after,
.customize-section-description .nav-tab-wrapper:after {
	display: none;
}

[id="accordion-section-suki_section_main"] .accordion-section-title:before,
[id="accordion-section-suki_section_sidebar"] .accordion-section-title:before,
[id^="accordion-section-suki_section_entry_"] .accordion-section-title:before {
	content: "\21B3";
	margin-right: 0.5em;
}

#customize-control-heading_header_mobile_logo {
	margin-top: 0;
}

#customize-control-heading_header_cart_link,
#customize-control-heading_header_cart_dropdown {
	margin-bottom: 0;
}

@media screen and (min-width: 1324px) {
	#customize-control-footer_widgets_bar .customize-control-title {
		display: inline-block;
	}
	#customize-control-footer_widgets_bar .customize-control-title:after {
		content: ":";
		margin-right: 1em;
	}
	#customize-control-footer_widgets_bar .customize-control-notifications-container {
		display: none;
	}
	#customize-control-footer_widgets_bar select {
		display: inline-block;
		width: auto;
	}
}

@media screen and (min-width: 1324px) {
	#customize-control-google_fonts_subsets ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		max-height: calc( 11 * 26px);
		max-width: 100%;
	}
	#customize-control-google_fonts_subsets ul li {
		width: 50%;
	}
}

#sub-accordion-section-suki_section_social .customize-control-text .customize-control-description {
	font-size: 14px;
	line-height: 1.75;
	font-weight: 600;
	font-style: normal;
}

#sub-accordion-section-suki_section_social .customize-control-text .customize-control-description .suki-icon {
	width: 1.2em;
	height: 1.2em;
	vertical-align: 2px;
	margin-right: 0.75em;
}

[id$="_content_container"].customize-control-select .customize-control-title,
[id$="_content_layout"].customize-control-select .customize-control-title,
[id$="_hero"].customize-control-select .customize-control-title,
[id$="_disable_header"].customize-control-select .customize-control-title,
[id$="_disable_mobile_header"].customize-control-select .customize-control-title,
[id$="_disable_footer_widgets"].customize-control-select .customize-control-title,
[id$="_disable_footer_bottom"].customize-control-select .customize-control-title,
[id$="_preloader_screen"].customize-control-select .customize-control-title,
[id*="_bar_transparent_"].customize-control-select .customize-control-title,
[id*="_bar_alt_"].customize-control-select .customize-control-title {
	float: left;
}

[id$="_content_container"].customize-control-select select,
[id$="_content_layout"].customize-control-select select,
[id$="_hero"].customize-control-select select,
[id$="_disable_header"].customize-control-select select,
[id$="_disable_mobile_header"].customize-control-select select,
[id$="_disable_footer_widgets"].customize-control-select select,
[id$="_disable_footer_bottom"].customize-control-select select,
[id$="_preloader_screen"].customize-control-select select,
[id*="_bar_transparent_"].customize-control-select select,
[id*="_bar_alt_"].customize-control-select select {
	margin-left: 10px;
	float: right;
	width: 125px;
}

[id$="_bar_transparent_bg_color"].customize-control-suki-color,
[id$="_bar_transparent_border_color"].customize-control-suki-color,
[id$="_bar_alt_bg_color"].customize-control-suki-color,
[id$="_bar_alt_border_color"].customize-control-suki-color,
[id$="_bar_alt_text_color"].customize-control-suki-color,
[id$="_bar_alt_link_text_color"].customize-control-suki-color,
[id$="_bar_alt_link_hover_text_color"].customize-control-suki-color,
[id$="_bar_alt_link_active_text_color"].customize-control-suki-color,
[id$="_bar_alt_menu_hover_highlight_color"].customize-control-suki-color,
[id$="_bar_alt_menu_hover_highlight_text_color"].customize-control-suki-color,
[id$="_bar_alt_menu_active_highlight_color"].customize-control-suki-color,
[id$="_bar_alt_menu_active_highlight_text_color"].customize-control-suki-color,
[id$="_bar_alt_transparent_bg_color"].customize-control-suki-color,
[id$="_bar_alt_transparent_border_color"].customize-control-suki-color,
[id$="_sidebar_sticky"].customize-control-select,
[id$="_header_alt_colors"].customize-control-select,
[id$="_header_transparent"].customize-control-select,
[id$="_header_sticky"].customize-control-select,
[id$="_header_mobile_alt_colors"].customize-control-select,
[id$="_header_mobile_transparent"].customize-control-select,
[id$="_header_mobile_sticky"].customize-control-select,
[id$="_hero_container"].customize-control-select,
[id$="_hero_bg"].customize-control-select,
[id$="_hero_bg_image"] {
	padding-left: 15px;
	width: calc(100% - 15px);
}

[id$="_bar_transparent_bg_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_transparent_border_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_bg_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_border_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_link_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_link_hover_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_link_active_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_menu_hover_highlight_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_menu_hover_highlight_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_menu_active_highlight_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_menu_active_highlight_text_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_transparent_bg_color"].customize-control-suki-color .customize-control-title,
[id$="_bar_alt_transparent_border_color"].customize-control-suki-color .customize-control-title,
[id$="_sidebar_sticky"].customize-control-select .customize-control-title,
[id$="_header_alt_colors"].customize-control-select .customize-control-title,
[id$="_header_transparent"].customize-control-select .customize-control-title,
[id$="_header_sticky"].customize-control-select .customize-control-title,
[id$="_header_mobile_alt_colors"].customize-control-select .customize-control-title,
[id$="_header_mobile_transparent"].customize-control-select .customize-control-title,
[id$="_header_mobile_sticky"].customize-control-select .customize-control-title,
[id$="_hero_container"].customize-control-select .customize-control-title,
[id$="_hero_bg"].customize-control-select .customize-control-title,
[id$="_hero_bg_image"] .customize-control-title {
	font-weight: normal;
	float: left;
}

[id$="_bar_transparent_bg_color"].customize-control-suki-color select,
[id$="_bar_transparent_border_color"].customize-control-suki-color select,
[id$="_bar_alt_bg_color"].customize-control-suki-color select,
[id$="_bar_alt_border_color"].customize-control-suki-color select,
[id$="_bar_alt_text_color"].customize-control-suki-color select,
[id$="_bar_alt_link_text_color"].customize-control-suki-color select,
[id$="_bar_alt_link_hover_text_color"].customize-control-suki-color select,
[id$="_bar_alt_link_active_text_color"].customize-control-suki-color select,
[id$="_bar_alt_menu_hover_highlight_color"].customize-control-suki-color select,
[id$="_bar_alt_menu_hover_highlight_text_color"].customize-control-suki-color select,
[id$="_bar_alt_menu_active_highlight_color"].customize-control-suki-color select,
[id$="_bar_alt_menu_active_highlight_text_color"].customize-control-suki-color select,
[id$="_bar_alt_transparent_bg_color"].customize-control-suki-color select,
[id$="_bar_alt_transparent_border_color"].customize-control-suki-color select,
[id$="_sidebar_sticky"].customize-control-select select,
[id$="_header_alt_colors"].customize-control-select select,
[id$="_header_transparent"].customize-control-select select,
[id$="_header_sticky"].customize-control-select select,
[id$="_header_mobile_alt_colors"].customize-control-select select,
[id$="_header_mobile_transparent"].customize-control-select select,
[id$="_header_mobile_sticky"].customize-control-select select,
[id$="_hero_container"].customize-control-select select,
[id$="_hero_bg"].customize-control-select select,
[id$="_hero_bg_image"] select {
	margin-left: 10px;
	float: right;
	width: 125px;
}

.modal-open #TB_overlay, .modal-open #TB_window {
	z-index: 500001;
}

.preview-tablet .wp-full-overlay-main {
	width: 768px;
	height: 1024px;
}

.preview-mobile .wp-full-overlay-main {
	width: 375px;
	height: 812px;
}
