.customize-control {
	position: relative;
}

.customize-control select {
	margin: 0;
	line-height: 18px;
}

.customize-control .notice {
	margin: 0;
}

.description .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
}

.button {
	font-style: normal;
}

.button .dashicons {
	width: auto;
	height: auto;
	margin-top: -0.1em;
	font-size: 1.2em;
	line-height: 1;
	vertical-align: middle;
}

#customize-theme-controls .accordion-section-title,
#customize-outer-theme-controls .accordion-section-title {
	border-top: 1px solid #ddd;
	margin-top: -1px;
}

li:not(.customize-info) div.customize-section-description {
	margin: 0 -12px;
	padding: 12px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

#customize-controls .customize-control-notifications-container:empty {
	display: none;
}

#customize-preview {
	margin-top: 0;
}

.suki-row {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.suki-row-item {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.suki-small-label {
	font-size: 9px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	opacity: 0.75;
	margin-bottom: 0.3em;
	display: block;
}

.suki-input-with-unit {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.suki-unit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 !important;
	background-image: none !important;
	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.suki-heading {
	position: relative;
	margin: 0 -12px;
	padding: 10px 12px;
	background-color: rgba(0, 0, 0, 0.1);
	color: inherit;
	outline: 0;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.suki-heading span {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

.suki-responsive-title .suki-responsive-switcher {
	margin-right: 0.5em;
}

.suki-responsive-title .suki-responsive-switcher .suki-responsive-switcher-button {
	cursor: pointer;
	outline: 0;
	opacity: 0.25;
}

.suki-responsive-title .suki-responsive-switcher .suki-responsive-switcher-button.active {
	opacity: 0.75;
}

.suki-responsive-title .suki-responsive-switcher .suki-responsive-switcher-button .dashicons {
	font-size: 14px;
	width: auto;
	height: auto;
	line-height: 1;
	vertical-align: middle;
}

.suki-responsive-fieldset {
	display: none;
}

.suki-responsive-fieldset.active {
	display: block;
}

.suki-responsive-fieldset.active.suki-row {
	display: table;
}

.control-section-suki-section-spacer {
	margin-top: 15px;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title {
	display: block;
	background-color: #ee5253;
	border-color: #ee5253;
	color: #fff;
	text-decoration: none;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title h3 {
	margin: 0;
	color: inherit !important;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:after {
	color: inherit !important;
}

#customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:hover, #customize-theme-controls .control-section-suki-section-pro-link .accordion-section-title:focus {
	background-color: #ec3b3c;
	border-color: #ec3b3c;
	border-right-color: #a61011;
	color: #fff;
}

.customize-control-suki-pro-teaser {
	margin: 20px 0 12px;
}

.suki-pro-teaser {
	background-color: #fff8e5;
	margin-top: -1px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	cursor: default;
	color: inherit;
}

.customize-control > .suki-pro-teaser {
	margin: 0 -12px;
	padding: 12px 12px 12px 12px;
}

.accordion-section > .suki-pro-teaser {
	padding: 12px 18px 12px 10px;
}

.suki-pro-teaser h3 {
	display: inline-block;
	color: inherit;
	margin: 0;
}

.suki-pro-teaser .button {
	margin: -3px 8px 0 0;
	font-weight: normal;
}

.suki-pro-teaser ul {
	margin: 0.5em 0 0;
}

.suki-pro-teaser ul li {
	margin: 0.25em 0;
}

.customize-control-suki-heading {
	margin: 20px 0 12px;
}

.customize-control-suki-heading .description {
	margin-top: 12px;
}

.customize-control-suki-heading .tabindex:focus + .suki-heading {
	background-color: #0073aa;
	color: #fff;
}

.customize-section-description-container + .customize-control-suki-heading {
	margin-top: 0;
}

.customize-control-suki-toggle .customize-control-title {
	padding-left: 40px;
}

.customize-control-suki-toggle input[type="checkbox"] {
	display: none;
}

.customize-control-suki-toggle .suki-toggle-ui {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 18px;
	margin: 3px 0 0;
	border-radius: 15px;
	background-color: #ccc;
}

.customize-control-suki-toggle .suki-toggle-ui .suki-toggle-ui-handle {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 15px;
	background-color: #fff;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.customize-control-suki-toggle input[type="checkbox"]:checked ~ .suki-toggle-ui {
	background-color: #0073aa;
}

.customize-control-suki-toggle input[type="checkbox"]:checked ~ .suki-toggle-ui .suki-toggle-ui-handle {
	right: auto;
	left: 0;
}

.customize-control-suki-color .customize-control-title {
	padding-left: 40px;
}

.customize-control-suki-color .wp-picker-container {
	display: table;
	margin-right: auto;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button {
	position: absolute !important;
	top: 0;
	left: 0;
	margin: 0;
	width: 30px;
	height: 24px;
	min-height: auto;
	border: none;
	border-radius: 0 !important;
	background-size: 12px 12px;
	background-position: 100% 0, 6px 6px;
	background-image: linear-gradient(-45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(-45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: inherit;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:focus:before {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 5px #0073aa;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button:after {
	content: "not set";
	position: absolute;
	top: 50%;
	right: 0;
	width: 40px;
	margin: -5px -5px 0 0;
	border: none;
	font-size: 8px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: #444;
}

.customize-control-suki-color .wp-picker-container .wp-color-result.button[style*="background"]:after {
	display: none;
}

.customize-control-suki-color .wp-picker-container .wp-color-result-text {
	display: none;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap {
	display: none;
	position: relative;
	padding-left: 60px;
	margin-top: 6px;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap label, .customize-control-suki-color .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
	width: 100% !important;
}

.customize-control-suki-color .wp-picker-container .wp-picker-input-wrap .button {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
}

.customize-control-suki-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: block;
}

.customize-control-suki-color .wp-picker-container .wp-picker-holder {
	display: none;
	margin-top: 6px;
}

.customize-control-suki-color .wp-picker-container.wp-picker-active .wp-picker-holder {
	display: block;
}

.customize-control-suki-shadow .customize-control-content {
	position: relative;
}

.customize-control-suki-shadow .suki-row-item > * {
	text-align: center;
}

.customize-control-suki-shadow .suki-row-item.suki-shadow-v_offset .suki-shadow-input,
.customize-control-suki-shadow .suki-row-item.suki-shadow-blue .suki-shadow-input {
	border-radius: 0;
}

.customize-control-suki-shadow .suki-row-item.suki-shadow-h_offset .suki-shadow-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.customize-control-suki-shadow .suki-row-item.suki-shadow-spread .suki-shadow-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.customize-control-suki-shadow .wp-picker-container {
	display: table;
	margin-right: auto;
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button {
	position: absolute !important;
	top: 14px;
	left: 0;
	margin: 0;
	width: 30px;
	height: 24px;
	min-height: auto;
	border: none;
	border-radius: 0 !important;
	background-size: 12px 12px;
	background-position: 100% 0, 6px 6px;
	background-image: linear-gradient(-45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(-45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa);
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: inherit;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result.button:focus:before {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 5px #0073aa;
}

.customize-control-suki-shadow .wp-picker-container .wp-color-result-text {
	display: none;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap {
	display: none;
	position: relative;
	padding-left: 60px;
	margin-top: 6px;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap label, .customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
	width: 100% !important;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-input-wrap .button {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
}

.customize-control-suki-shadow .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: block;
}

.customize-control-suki-shadow .wp-picker-container .wp-picker-holder {
	display: none;
	margin-top: 6px;
}

.customize-control-suki-shadow .wp-picker-container.wp-picker-active .wp-picker-holder {
	display: block;
}

.customize-control-suki-slider .suki-row-item > * {
	text-align: center;
}

.customize-control-suki-slider .suki-slider-reset {
	font-size: 1em;
	line-height: 1em;
	height: auto;
	vertical-align: middle;
	cursor: pointer;
	outline: 0;
	opacity: 0.5;
}

.customize-control-suki-slider .suki-slider-reset:hover, .customize-control-suki-slider .suki-slider-reset:focus {
	opacity: 1;
}

.customize-control-suki-slider .suki-slider-input::-webkit-inner-spin-button, .customize-control-suki-slider .suki-slider-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.customize-control-suki-slider .suki-slider-ui {
	position: relative;
	display: block;
	height: 6px;
	margin: 10px 7px 10px 14px;
	border: none;
	border-radius: 3px;
	background: #ccc;
}

.customize-control-suki-slider .suki-slider-ui .ui-slider-handle {
	position: absolute;
	top: 0;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: -4px -7px 0 0;
	border-radius: 3px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}

.customize-control-suki-slider .suki-slider-ui .ui-slider-handle:focus {
	background-color: #0073aa;
}

.customize-control-suki-dimensions .suki-row-item > * {
	text-align: center;
}

.customize-control-suki-dimensions .suki-dimensions-unlink,
.customize-control-suki-dimensions .suki-dimensions-link {
	padding: 0;
	display: none;
	width: 100%;
	box-shadow: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.customize-control-suki-dimensions .suki-dimensions-input {
	border-radius: 0;
}

.customize-control-suki-dimensions [data-linked="true"] .suki-dimensions-unlink,
.customize-control-suki-dimensions [data-linked="false"] .suki-dimensions-link {
	display: block;
}

.customize-control-suki-typography .customize-control-content {
	padding: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
}

.customize-control-suki-typography .suki-row:first-child {
	margin-top: 0;
}

.customize-control-suki-typography .suki-row:last-child {
	margin-bottom: 0;
}

.customize-control-suki-typography .suki-typography-fieldset {
	margin: 5px 0 0;
}

.customize-control-suki-typography .suki-typography-fieldset > * {
	padding: 0 2px;
}

.customize-control-suki-typography .suki-typography-size-input {
	text-align: center;
}

.customize-control-suki-radioimage .customize-control-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -4px;
}

.customize-control-suki-radioimage .customize-control-content .suki-radioimage-item {
	width: 25%;
	margin: 0;
}

.customize-control-suki-radioimage .customize-control-content label {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 4px;
	padding: 2px;
	background-color: #aaa;
	color: #fff;
	outline: 0;
	border-radius: 3px;
}

.customize-control-suki-radioimage .customize-control-content label:focus {
	box-shadow: 0 0 5px #0073aa;
}

.customize-control-suki-radioimage .customize-control-content input {
	display: none;
}

.customize-control-suki-radioimage .customize-control-content input:checked + label {
	background-color: #0073aa;
	color: #fff;
}

.customize-control-suki-radioimage .customize-control-content img {
	display: block;
	width: 100%;
	border-radius: 2px;
}

.customize-control-suki-radioimage .customize-control-content span {
	max-width: 100%;
	display: block;
	padding: 2px 0;
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	text-align: center;
}

.customize-control-suki-radioimage .customize-control-content img + span {
	margin-top: 2px;
}

.customize-control-suki-builder .suki-builder {
	overflow: hidden;
}

.customize-control-suki-builder .suki-builder .suki-builder-location {
	position: relative;
	margin: 3px 0;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background-color: #fff;
}

.customize-control-suki-builder .suki-builder .suki-builder-location.disabled {
	opacity: 0.5;
}

.customize-control-suki-builder .suki-builder .suki-builder-location.disabled .ui-sortable-placeholder {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-small-label {
	margin: 0;
	padding: 4px 8px;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
	opacity: 1;
}

.customize-control-suki-builder .suki-builder .suki-builder-sortable-panel {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 34px;
	margin: 0;
	padding: 5px;
	padding-left: 28px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element {
	position: relative;
	display: inline-block;
	margin: 3px;
	padding-right: 0;
	padding-left: 0;
	white-space: nowrap;
}

.customize-control-suki-builder .suki-builder .suki-builder-element > span {
	display: inline-block;
	padding: 0 8px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element .dashicons {
	margin-left: 0.25em;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 11px 5px;
	font-size: 18px;
	line-height: 1;
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add:hover, .customize-control-suki-builder .suki-builder .suki-builder-element-add:focus {
	opacity: 1;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-add .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-delete {
	display: inline-block;
	text-align: center;
	color: inherit !important;
	margin: 0 -4px 0 4px;
}

.customize-control-suki-builder .suki-builder .suki-builder-element-delete .dashicons {
	width: auto;
	height: auto;
	font-size: 1.25em;
	text-decoration: none;
	opacity: 0.5;
	margin: 0;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive {
	display: none;
	margin: 4px 0;
	border: 1px solid #ddd;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-builder-sortable-panel {
	background-color: #f7f7f7;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-builder-element-delete {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive .suki-small-label {
	display: none;
}

.customize-control-suki-builder .suki-builder .suki-builder-inactive.show {
	display: block;
}

.customize-control-suki-builder .suki-builder .ui-sortable-placeholder {
	visibility: visible !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
	border-color: transparent !important;
	box-shadow: none !important;
}

.customize-control-suki-builder .suki-builder .suki-builder-no-more-items {
	display: none;
	margin: 0;
	padding: 0 5px;
	line-height: 32px;
	font-style: italic;
	text-decoration: none;
	color: #555d66;
}

.customize-control-suki-builder .suki-builder .suki-builder-no-more-items:only-child {
	display: inline-block;
}

.customize-control-suki-builder .suki-builder-layout-block .suki-builder-element {
	width: 100%;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.customize-control-suki-builder .suki-builder-layout-block .suki-builder-element > span {
	width: 100%;
}

.suki-has-builder-active .preview-desktop #customize-preview,
.suki-has-builder-active .preview-tablet #customize-preview {
	height: auto;
}

#customize-control-header_builder_actions,
#customize-control-footer_builder_actions {
	display: none !important;
}

@media screen and (min-width: 1324px) {
	#customize-controls #accordion-section-suki_section_header_builder,
	#customize-controls #accordion-section-suki_section_footer_builder {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		position: fixed !important;
		top: auto;
		bottom: 0;
		right: 300px;
		left: 0;
		display: block;
		width: auto;
		height: auto;
		padding: 20px;
		max-height: 60%;
		margin: 0 -1px 0 0;
		overflow: auto;
		background-color: #eee;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		transition: all 0.2s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-builder-active, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-builder-active {
		visibility: visible;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide {
		-webkit-transform: translateY(100%) !important;
		transform: translateY(100%) !important;
		overflow: visible;
	}
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide #customize-control-header_builder_actions .suki-builder-show,
	.suki-has-builder-active .wp-full-overlay.expanded #customize-controls #sub-accordion-section-suki_section_header_builder.suki-hide #customize-control-footer_builder_actions .suki-builder-show, .suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide #customize-control-header_builder_actions .suki-builder-show,
	.suki-has-builder-active .wp-full-overlay.expanded
	#customize-controls #sub-accordion-section-suki_section_footer_builder.suki-hide #customize-control-footer_builder_actions .suki-builder-show {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s 0.2s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .customize-control-suki-pro,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .customize-control-suki-pro {
		margin: 0 0 12px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .customize-control-suki-pro .suki-heading,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .customize-control-suki-pro .suki-heading {
		margin: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions {
		display: block !important;
		z-index: 10;
		margin-top: -20px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .description,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .description {
		font-style: normal;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher {
		margin: 0 -20px;
		padding: 9px 20px 0;
		border-color: #ddd;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab {
		background-color: #eee;
		border-color: #ddd;
		outline: 0;
		box-shadow: none;
		opacity: 0.75;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:hover, #customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab:focus,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:hover,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab:focus {
		background-color: #eee;
		opacity: 1;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher .nav-tab.nav-tab-active {
		background-color: #eee;
		border-bottom-color: #eee;
		opacity: 1;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-responsive-switcher-button:first-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-responsive-switcher-button:first-child {
		margin-right: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-toggle,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-toggle {
		position: absolute;
		left: 0;
		top: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-hide,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-hide {
		margin-top: 8px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-header_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_header_builder #customize-control-footer_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-header_builder_actions .suki-builder-show,
	#customize-controls #sub-accordion-section-suki_section_footer_builder #customize-control-footer_builder_actions .suki-builder-show {
		top: auto;
		bottom: 100%;
		margin-bottom: 20px;
		visibility: hidden;
		opacity: 0;
		transition: none;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .customize-section-description-container,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .customize-section-description-container {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-sortable-panel {
		padding-left: 5px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location {
		position: relative;
		box-sizing: border-box;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="left"] .suki-small-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="left"] .suki-small-label {
		text-align: right;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="left"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="left"] .suki-builder-sortable-panel {
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="vertical"] .suki-small-label, #customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="center"] .suki-small-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="vertical"] .suki-small-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="center"] .suki-small-label {
		text-align: center;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="vertical"] .suki-builder-sortable-panel, #customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="center"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="vertical"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="center"] .suki-builder-sortable-panel {
		-ms-flex-pack: center;
		justify-content: center;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="right"] .suki-small-label,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="right"] .suki-small-label {
		text-align: left;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-location[data-location*="right"] .suki-builder-sortable-panel,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-location[data-location*="right"] .suki-builder-sortable-panel {
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-element-add,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-element-add {
		display: none !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-inactive,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-inactive {
		display: block !important;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		margin: 0 -10px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group {
		padding: 0 10px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-horizontal,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-horizontal {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-location,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-horizontal .suki-builder-location {
		width: 33.33%;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical {
		width: 15%;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location {
		margin: 0;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location:first-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location:first-child {
		margin-top: 2px;
	}
	#customize-controls #sub-accordion-section-suki_section_header_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location:last-child,
	#customize-controls #sub-accordion-section-suki_section_footer_builder .suki-builder-groups .suki-builder-group-vertical .suki-builder-location:last-child {
		margin-bottom: 2px;
	}
}

@media screen and (min-width: 1667px) {
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		right: 18%;
	}
}

@media screen and (min-width: 3333px) {
	#customize-controls #sub-accordion-section-suki_section_header_builder,
	#customize-controls #sub-accordion-section-suki_section_footer_builder {
		right: 600px;
	}
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description,
#sub-accordion-panel-suki_panel_page_settings .customize-info .customize-panel-description {
	display: block;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-help-toggle,
#sub-accordion-panel-suki_panel_page_settings .customize-info .customize-help-toggle {
	display: none;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper {
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	margin: -12px -15px;
	border-bottom: none;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper .nav-tab {
	-ms-flex: 1;
	flex: 1;
	margin: 0;
	border: none;
	padding: 10px 15px 8px;
	background-color: transparent;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	text-align: center;
	outline: 0;
	box-shadow: none;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper .nav-tab:hover, #sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper .nav-tab:focus {
	color: #0073aa;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper .nav-tab:last-child {
	border-left: none;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper .nav-tab.nav-tab-active {
	color: #0073aa;
	border-bottom-color: currentColor;
}

#sub-accordion-panel-suki_panel_header .customize-info .customize-panel-description .nav-tab-wrapper:after {
	display: none;
}

[id^="accordion-section-suki_section_entry_"] .accordion-section-title:before {
	content: "\21B3";
	margin-left: 0.5em;
}
