* {
	border-width: 0;
	border-style: solid;
	border-color: #e5e5e5;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

html {
	min-height: 100vh;
	color: #666666;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	letter-spacing: 0;
	text-transform: none;
}

body {
	background-color: #ffffff;
	color: #666666;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	letter-spacing: 0;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

p {
	margin: 0 0 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.25rem;
	color: #333333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333333;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
	color: #1976d2;
}

h1 {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

h2 {
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
}

h3 {
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0;
	text-transform: none;
}

h4 {
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	text-transform: none;
}

h5, h6 {
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	text-transform: none;
	font-size: 1rem;
	font-weight: 600;
}

hr {
	margin: 2.5rem 0;
	border: none;
	border-color: inherit;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

blockquote {
	margin: 0 0 1.25rem;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote p {
	margin: 0 0 1em;
}

blockquote cite {
	display: block;
	font-size: 0.85rem;
	opacity: 0.6;
}

ul,
ol {
	margin: 0 0 1.25rem;
	padding-right: 2rem;
}

ul li,
ol li {
	margin: 0;
}

li > ul, li >
ol {
	margin-top: 0;
	margin-bottom: 0;
}

table {
	width: 100%;
	margin: 0 0 1.25rem;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

table th, table td {
	padding: 0.75rem 1rem;
	border-width: 1px;
	border-style: solid;
}

table th {
	font-weight: 600;
	text-align: initial;
}

embed,
iframe,
object {
	max-width: 100%;
}

audio,
video {
	max-width: 100%;
}

pre {
	max-width: 100%;
	margin: 0 0 1.25rem;
	padding: 0.6rem 1.2rem;
	overflow: auto;
	font-size: 1em;
	font-family: monospace;
	background-color: #f6f6f6;
}

code {
	background-color: #f6f6f6;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #1976d2;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a:hover, a:focus {
	color: #333333;
}

figure {
	margin: 0;
}

address {
	margin: 0 0 1.25rem;
}

dt {
	font-weight: 600;
}

mark,
ins {
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

svg {
	vertical-align: middle;
}

::selection {
	background-color: #1976d2;
	color: #ffffff;
}

*::-webkit-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*:-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::placeholder {
	opacity: 0.75;
	color: inherit;
}

[id="wpadminbar"] {
	position: fixed !important;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: right;
	margin: 0 0 0 1.25em;
}

.alignright {
	float: left;
	margin: 0 1.25em 0 0;
}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}

.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.gallery {
	margin: 1.25rem -5px;
}

.gallery img {
	display: block;
	width: 100%;
}

.gallery-item {
	display: inline-block;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.mejs-button > button {
	background-color: transparent !important;
	color: inherit !important;
}

.wpview {
	margin: 0;
}

.suki-oembed {
	margin: 0 0 1.25em;
}

.suki-oembed-video {
	position: relative;
	padding-top: 56.25%;
}

.suki-oembed-video > * {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.suki-content-layout-narrow .alignwide {
	width: 1140px;
	max-width: 100vw;
	margin-right: calc( -0.5 * 1140px + 50%);
	margin-left: calc( -0.5 * 1140px + 50%);
}

@media screen and (max-width: 1140px) {
	.suki-content-layout-narrow .alignwide {
		margin-right: calc( -50vw + 50%);
		margin-left: calc( -50vw + 50%);
	}
}

.suki-content-layout-narrow .alignfull,
.suki-content-layout-wide .alignfull {
	width: 100vw;
	max-width: 100vw;
	margin-right: calc( -50vw + 50%);
	margin-left: calc( -50vw + 50%);
}

body.suki-page-layout-boxed .suki-content-layout-narrow .alignfull, body.suki-page-layout-boxed
.suki-content-layout-wide .alignfull {
	width: 1400px;
}

.entry-content > [class*="wp-block"],
.wp-block-column > [class*="wp-block"] {
	margin-bottom: 1.25rem;
}

.entry-content > [class*="wp-block"]:last-child(),
.wp-block-column > [class*="wp-block"]:last-child() {
	margin-bottom: 0;
}

.wp-block-columns > .wp-block-column {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 1rem 1.25rem;
}

.wp-block-columns > .wp-block-column:first-child {
	margin-right: 0;
}

.wp-block-columns > .wp-block-column:last-child {
	margin-left: 0;
}

@media screen and (max-width: 767px) {
	.wp-block-columns > .wp-block-column {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		margin: 0 0 1.25rem;
	}
}

p.has-drop-cap:not(:focus):first-letter {
	float: right;
	line-height: 0.9;
	font-family: inherit;
	font-size: 5.1em;
	font-style: normal;
	font-weight: 600;
	margin: 0 0 0 0.25em;
	text-transform: uppercase;
	initial-letter: 3;
	color: #333333;
}

.wp-block-quote {
	padding: 0.5rem 2em;
	border-right-width: 0.25rem;
	border-right-style: solid;
}

.wp-block-quote[style*="center"] {
	padding-right: 0;
	padding-left: 0;
	border-right: none;
}

.wp-block-quote[style*="right"] {
	padding-right: 0;
	border-right: none;
	border-left-width: 0.25rem;
	border-left-style: solid;
}

.wp-block-quote cite {
	font-size: 1rem;
	font-style: normal;
}

.wp-block-quote.is-large {
	margin: 1.5rem 0;
	padding: 0.5rem 2rem;
}

.wp-block-quote.is-large p {
	font: inherit;
	font-size: 1.2em;
}

.wp-block-quote.is-large cite {
	font-size: 1rem;
	text-align: inherit;
}

.wp-block-pullquote {
	border-right: none !important;
	padding: 1.2em 0 !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	border-top: 2px solid;
	border-top-color: inherit;
	border-bottom: 2px solid;
	border-bottom-color: inherit;
	color: inherit;
}

.wp-block-pullquote p {
	font: inherit;
	font-size: 1.2em;
	color: inherit;
}

.wp-block-pullquote cite {
	font-size: 1rem;
	color: inherit;
	text-transform: none;
	font-style: normal;
}

p.wp-block-subhead {
	font-size: 1.2rem;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
	max-width: 70%;
	margin: 0;
	padding: 0.5em;
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
}

.wp-block-image img {
	display: block;
}

.wp-block-image figcaption {
	margin: 0.5em 0;
	color: inherit;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.wp-block-gallery {
	padding: 0;
}

.wp-block-audio audio {
	width: 100%;
}

.wp-block-video video {
	width: 100%;
}

.wp-block-separator {
	margin: 2.5rem 0 !important;
	max-width: none !important;
	border-bottom: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: inherit;
}

.wp-block-button__link {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #ffffff;
	background-color: #1976d2;
	border-color: #1976d2;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0;
	text-transform: none;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.wp-block-button__link:hover, .wp-block-button__link:focus {
	color: #ffffff;
	background-color: #145ea8;
	border-color: #145ea8;
}

.wp-block-embed .suki-oembed {
	position: static;
	padding: 0 !important;
	margin: 0;
}

.wp-block-embed .suki-oembed > * {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-embed.alignleft .suki-oembed > * {
	margin-left: auto;
}

.wp-block-embed.aligncenter .suki-oembed > * {
	margin-right: auto;
	margin-left: auto;
}

.wp-block-embed.alignright .suki-oembed > * {
	margin-right: auto;
}

html {
	min-height: auto;
}

body.mce-content-body {
	position: relative;
	max-width: 100%;
	min-height: auto;
	margin: 0;
	padding: 1rem !important;
	background-color: #ffffff;
}

body.mce-content-body:before, body.mce-content-body:after {
	content: "";
	display: table;
}

body.mce-content-body:after {
	clear: both;
}

body.mce-content-body > *:first-child {
	margin-top: 0;
}

body.mce-content-body > *:last-child {
	margin-bottom: 0;
}

body.mce-content-body:focus {
	outline: 0;
}

body.mce-content-body a {
	text-decoration: underline;
}

body.mce-content-body a[data-mce-selected] {
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}

.editor-post-permalink {
	border-width: 1px;
}

.editor-block-toolbar {
	border-right-width: 1px;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
	border-radius: 0;
	font-family: inherit;
}

.editor-block-list__block > .editor-block-list__block-edit {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] > .editor-block-list__block-edit > div > .editor-inner-blocks {
	margin-top: -1.25em;
	margin-bottom: -1.25em;
}

.wp-block {
	max-width: calc( 720px + 30px);
}

.wp-block[data-align="wide"] {
	max-width: calc( 1140px + 30px);
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block-button {
	margin: 0;
}

.wp-block-button a.wp-block-button__link, .wp-block-button .wp-block-button__link[role="textbox"] {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	color: #ffffff;
	background-color: #1976d2;
	border-color: #1976d2;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0;
	text-transform: none;
	text-align: center;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 0;
	text-decoration: none;
}

.wp-block-button a.wp-block-button__link:hover, .wp-block-button a.wp-block-button__link:focus, .wp-block-button .wp-block-button__link[role="textbox"]:hover, .wp-block-button .wp-block-button__link[role="textbox"]:focus {
	color: #ffffff;
	background-color: #145ea8;
	border-color: #145ea8;
}

.editor-rich-text__tinymce {
	line-height: inherit;
}

p {
	font-size: inherit;
	line-height: inherit;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0 !important;
}
