/**
 * Gutenberg wrappers
 */
.block-editor .editor-styles-wrapper .block-editor__typewriter {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	letter-spacing: 0;
	text-transform: none;
	/**
		 * Styles to be overrided by Customizer settings.
		 */
}

.block-editor .editor-styles-wrapper .block-editor__typewriter * {
	border-color: rgba(0, 0, 0, 0.1);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *, .block-editor .editor-styles-wrapper .block-editor__typewriter *:before, .block-editor .editor-styles-wrapper .block-editor__typewriter *:after {
	box-sizing: border-box;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *:focus {
	outline: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter html {
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	letter-spacing: 0;
	text-transform: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter body {
	position: relative;
	margin: 0;
	background-color: #ffffff;
	color: #666666;
	min-height: 100vh;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter p {
	margin: 0 0 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h1, .block-editor .editor-styles-wrapper .block-editor__typewriter h2, .block-editor .editor-styles-wrapper .block-editor__typewriter h3, .block-editor .editor-styles-wrapper .block-editor__typewriter h4, .block-editor .editor-styles-wrapper .block-editor__typewriter h5, .block-editor .editor-styles-wrapper .block-editor__typewriter h6 {
	margin: 0 0 1.5rem;
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h1 a, .block-editor .editor-styles-wrapper .block-editor__typewriter h2 a, .block-editor .editor-styles-wrapper .block-editor__typewriter h3 a, .block-editor .editor-styles-wrapper .block-editor__typewriter h4 a, .block-editor .editor-styles-wrapper .block-editor__typewriter h5 a, .block-editor .editor-styles-wrapper .block-editor__typewriter h6 a {
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h1 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h1 a:focus, .block-editor .editor-styles-wrapper .block-editor__typewriter h2 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h2 a:focus, .block-editor .editor-styles-wrapper .block-editor__typewriter h3 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h3 a:focus, .block-editor .editor-styles-wrapper .block-editor__typewriter h4 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h4 a:focus, .block-editor .editor-styles-wrapper .block-editor__typewriter h5 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h5 a:focus, .block-editor .editor-styles-wrapper .block-editor__typewriter h6 a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter h6 a:focus {
	color: #0066cc;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h1 {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h2 {
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h3 {
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0;
	text-transform: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h4 {
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	text-transform: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter h5, .block-editor .editor-styles-wrapper .block-editor__typewriter h6 {
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	text-transform: none;
	font-size: 1rem;
	font-weight: bold;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter hr {
	margin: 1.5rem 0;
	border: none;
	border-color: inherit;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter blockquote {
	margin: 0 0 1.5rem;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter blockquote > *:last-child {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter blockquote p {
	margin: 0 0 1em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter blockquote cite {
	display: block;
	font-size: 0.85rem;
	opacity: 0.75;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter ul,
.block-editor .editor-styles-wrapper .block-editor__typewriter ol {
	margin: 0 0 1.5rem;
	padding-left: 2rem;
}

li > .block-editor .editor-styles-wrapper .block-editor__typewriter ul, li >
.block-editor .editor-styles-wrapper .block-editor__typewriter ol {
	margin-top: 0;
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter table {
	width: 100%;
	margin: 0 0 1.5rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter table th, .block-editor .editor-styles-wrapper .block-editor__typewriter table td {
	padding: 0.75rem;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter table th {
	font-weight: 600;
	text-align: initial;
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter table th a {
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter table th a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter table th a:focus {
	color: #0066cc;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter img,
.block-editor .editor-styles-wrapper .block-editor__typewriter video {
	max-width: 100%;
	height: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter img {
	vertical-align: middle;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter iframe {
	border: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter pre {
	max-width: 100%;
	margin: 0 0 1.5rem;
	padding: 1.5em;
	overflow: auto;
	font-size: 1em;
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.05);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter code {
	background-color: rgba(0, 0, 0, 0.05);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter a {
	background-color: transparent;
	text-decoration: none;
	color: #0066cc;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter a:focus {
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter figure {
	margin: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter figcaption, .block-editor .editor-styles-wrapper .block-editor__typewriter figure[class*="wp-block-"] figcaption {
	width: 100%;
	margin: 0.5em 0 0;
	color: inherit;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
	word-break: break-all;
	color: inherit;
	opacity: 0.75;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter address {
	margin: 0 0 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter dt {
	font-weight: 600;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter mark,
.block-editor .editor-styles-wrapper .block-editor__typewriter ins {
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter sub,
.block-editor .editor-styles-wrapper .block-editor__typewriter sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter sub {
	bottom: -0.25em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter sup {
	top: -0.5em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter svg {
	vertical-align: middle;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter ::-moz-selection {
	background-color: #0066cc;
	color: #ffffff;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter ::selection {
	background-color: #0066cc;
	color: #ffffff;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *::-webkit-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *::-moz-placeholder {
	opacity: 0.75;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *:-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *::-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter *::placeholder {
	opacity: 0.75;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [id="wpadminbar"] {
	position: fixed !important;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .size-auto,
.block-editor .editor-styles-wrapper .block-editor__typewriter .size-full,
.block-editor .editor-styles-wrapper .block-editor__typewriter .size-large,
.block-editor .editor-styles-wrapper .block-editor__typewriter .size-medium,
.block-editor .editor-styles-wrapper .block-editor__typewriter .size-thumbnail {
	max-width: 100%;
	height: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .alignleft {
	float: left;
	margin: 0 1.25em 0 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .alignright {
	float: right;
	margin: 0 0 0 1.25em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-caption .wp-caption-text {
	margin: 0.5em 0;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .gallery {
	margin: 1.25rem -5px;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .gallery img {
	display: block;
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	display: inline-block;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-item {
	max-width: 11.11%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .gallery-caption {
	display: block;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .mejs-button > button {
	background-color: transparent !important;
	color: inherit !important;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wpview {
	margin: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-oembed {
	margin: 0 0 1.25em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-oembed-video {
	position: relative;
	padding-top: 56.25%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-oembed-video > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [class^="wp-block-"] {
	margin-bottom: 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] > *:first-child {
	margin-top: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] > *:last-child {
	margin-bottom: 0;
}

.suki-section-narrow.suki-content-layout-wide .block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] > * {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.suki-section-default.suki-content-layout-wide .block-editor .editor-styles-wrapper .block-editor__typewriter [class$="__inner-container"] > * {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-background {
	padding: 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide {
	max-width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper {
	overflow: visible;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * {
	position: relative;
	width: 100vw;
	padding-left: 20px;
	padding-right: 20px;
	left: calc( 50% - 50vw);
}

@media screen and (min-width: 1400px) {
	body.suki-page-layout-boxed .block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * {
		width: 1400px;
		left: calc( 50% - ( 1400px / 2 ));
	}
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * .alignwide {
	position: relative;
	width: 1140px;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * .alignfull {
	position: relative;
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide .suki-gutenberg-content .entry-wrapper > * > .alignfull {
	left: -20px;
	max-width: calc( 100% + ( 2 * 20px ));
	width: 100vw;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide.suki-section-narrow .suki-gutenberg-content .entry-wrapper > * > *:not(.alignwide):not(.alignfull) {
	width: 720px;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .suki-content-layout-wide.suki-section-default .suki-gutenberg-content .entry-wrapper > * > *:not(.alignwide):not(.alignfull) {
	width: 1140px;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-small-text-size {
	font-size: 0.85em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-regular-text-size {
	font-size: 1em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-medium-text-size {
	font-size: 1.2em;
	line-height: calc( 0.9 * 1.7);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-large-text-size {
	font-size: 1.5em;
	line-height: calc( 0.825 * 1.7);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-huge-text-size {
	font-size: 2em;
	line-height: calc( 0.75 * 1.7);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-text-color a {
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-1-background-color {
	background-color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-1-color {
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-2-background-color {
	background-color: #666666;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-2-color {
	color: #666666;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-3-background-color {
	background-color: #0066cc;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-3-color {
	color: #0066cc;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-4-background-color {
	background-color: #004c99;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-4-color {
	color: #004c99;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-5-background-color {
	background-color: rgba(0, 0, 0, 0.1);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-5-color {
	color: rgba(0, 0, 0, 0.1);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-6-background-color {
	background-color: rgba(0, 0, 0, 0.05);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-6-color {
	color: rgba(0, 0, 0, 0.05);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-7-background-color {
	background-color: #ffffff;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-7-color {
	color: #ffffff;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-8-background-color {
	background-color: #000000;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-suki-color-8-color {
	color: #000000;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .entry-content > * {
	margin-bottom: 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .entry-content > *:last-child {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-cover-image, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-cover {
	padding: 1.5em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-cover-image .wp-block-cover__inner-container, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-group__inner-container {
	margin: 0 auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-group__inner-container > *:first-child {
	margin-top: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column {
	margin-bottom: 1.5rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column > *:first-child {
	margin-top: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column > *:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 600px) and (max-width: 781px) {
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column {
		-ms-flex-preferred-size: calc( 50% - 1rem) !important;
		flex-basis: calc( 50% - 1rem) !important;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column:nth-child(even) {
		margin-left: 2rem;
	}
}

@media screen and (min-width: 782px) {
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column {
		margin-bottom: 0;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column:not(:first-child) {
		margin-left: 2rem;
	}
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-drop-cap:not(:focus):after {
	display: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .has-drop-cap:not(:focus):first-letter {
	float: left;
	line-height: 0.9;
	font-family: inherit;
	font-size: 5.1em;
	font-style: normal;
	font-weight: 600;
	margin: 0 0.25em 0 0;
	text-transform: uppercase;
	initial-letter: 3;
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote {
	font-size: 1em;
	padding: 0 2em;
	border-left-width: 0.25rem;
	border-left-style: solid;
	border-color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote *:last-child {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote p {
	font-size: 1.2em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote cite {
	font-size: 0.85em;
	font-style: unset;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote.has-text-align-center {
	border-left: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote.has-text-align-right {
	padding-left: 0;
	border-left: none;
	border-right-width: 0.25rem;
	border-right-style: solid;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote.is-style-large {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0 2em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote.is-style-large p {
	font: unset;
	font-size: 1.5em;
	line-height: 1.5;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-quote.is-style-large cite {
	font-size: 1em;
	text-align: unset;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote {
	border-top-width: 0.25rem;
	border-top-style: solid;
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	text-align: unset;
	padding: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote blockquote {
	font-size: 1em;
	position: relative;
	margin: 0;
	padding: 1.5em 2em 1.5em 4.5em;
	border-left: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote blockquote:before {
	content: "\201C";
	position: absolute;
	top: -0.3em;
	left: 0;
	font-size: 7em;
	font-family: serif;
	font-weight: bold;
	opacity: 0.2;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote blockquote > *:last-child {
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote blockquote p {
	font: inherit;
	font-size: 1.2em;
	color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote blockquote cite {
	font-size: 1em;
	color: inherit;
	text-transform: none;
	font-style: normal;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote.is-style-solid-color {
	border: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote.is-style-solid-color blockquote {
	padding-left: 5.5em;
	max-width: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote.is-style-solid-color blockquote:before {
	left: 0.142857em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 1.2em;
	margin-bottom: 1em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter p.wp-block-subhead {
	font-size: 1.2rem;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-image img {
	display: block;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery .blocks-gallery-grid {
	margin: -0.5em;
	padding: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery .blocks-gallery-item {
	padding: 0.5em;
	width: 100%;
	margin: 0 !important;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-2 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-3 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-4 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-5 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-6 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-7 .blocks-gallery-item, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-8 .blocks-gallery-item {
	width: 50%;
}

@media screen and (min-width: 500px) {
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-3 .blocks-gallery-item {
		width: 33.3333%;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-4 .blocks-gallery-item {
		width: 25%;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-5 .blocks-gallery-item {
		width: 20%;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-6 .blocks-gallery-item {
		width: 16.6667%;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-7 .blocks-gallery-item {
		width: 14.2857%;
	}
	.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery.columns-8 .blocks-gallery-item {
		width: 12.5%;
	}
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-gallery .blocks-gallery-caption {
	margin-top: 1em !important;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-audio audio {
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-video video {
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator {
	margin-top: 3em;
	margin-bottom: 3em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator.is-style-default {
	border-bottom-width: 0;
	max-width: unset;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator.is-style-default:before {
	content: "";
	display: block;
	width: 8em;
	margin: 0 auto;
	border-bottom-width: 0.25em;
	border-bottom-style: solid;
	border-color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator.is-style-dots {
	border-bottom-width: 0;
	max-width: unset;
	text-align: center;
	line-height: 0.5em;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator.is-style-dots:before {
	font-size: 2em;
	letter-spacing: 1em;
	padding-left: 1em;
	line-height: 0;
	vertical-align: middle;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-separator.is-style-wide {
	max-width: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-button.is-style-outline a.wp-block-button__link {
	background-color: transparent;
	border-color: currentColor;
	color: unset;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-button.is-style-squared a.wp-block-button__link {
	border-radius: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table {
	width: 100%;
	margin: 0 0 1.5rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table th, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table td {
	padding: 0.75rem;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table th {
	font-weight: 600;
	text-align: initial;
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table th a {
	color: #333333;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table th a:hover, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table table th a:focus {
	color: #0066cc;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table__cell-content {
	padding: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table.is-style-stripes {
	border: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table.is-style-stripes table {
	border: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table.is-style-stripes th, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-table.is-style-stripes td {
	border: none;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-verse {
	background-color: transparent;
	padding: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-media-text {
	padding: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-media-text .wp-block-media-text__content {
	margin-bottom: 0;
	padding: 1.5em 10%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed .suki-oembed {
	position: static;
	padding: 0 !important;
	margin: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed .suki-oembed > * {
	margin-top: 0;
	margin-bottom: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed.alignleft .suki-oembed > * {
	margin-right: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed.aligncenter .suki-oembed > * {
	margin-left: auto;
	margin-right: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed.alignright .suki-oembed > * {
	margin-left: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-embed.is-type-photo img {
	width: 100%;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .editor-post-title__block .editor-post-title__input {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
	border-color: transparent;
	border-radius: 0;
	font-family: inherit;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block {
	width: 100%;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block[data-align="wide"] {
	max-width: 1140px;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block[data-align="full"] {
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .block-editor-block-list__block[data-type="core/separator"] + .block-editor-block-list__block[data-type="core/separator"] .wp-block-separator {
	margin-top: 0;
}

.block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block, .block-editor .editor-styles-wrapper .block-editor__typewriter .wp-block-columns .wp-block-column {
	width: inherit;
	max-width: inherit;
}
