html, body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.7;
}

h1 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.4;
}

h2 {
	font-size: 27px;
	font-weight: 600;
	line-height: 1.5;
}

h3 {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.6;
}

h4 {
	font-size: 17px;
	font-weight: 600;
	line-height: 1.7;
}

blockquote {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6;
}

select, .select2-container .select2-selection, input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
.input, textarea {
	display: inline-block;
	max-width: 100%;
	color: inherit;
	font: inherit;
	line-height: normal;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 1rem;
	padding: 10px 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	background-color: #fff;
	color: inherit;
}

select, .select2-container .select2-selection {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kcm9wZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMjAiPjxwYXRoIGQ9Ik0xOS4zNiw5LDE1LjIsMTMuMTJhLjI4LjI4LDAsMCwxLS40MSwwTDEwLjYzLDlhLjI4LjI4LDAsMCwxLDAtLjQxbC40NS0uNDVBLjI5LjI5LDAsMCwxLDExLjI5LDhhLjMxLjMxLDAsMCwxLC4yMS4wOUwxNSwxMS42MSwxOC41MSw4LjFhLjI4LjI4LDAsMCwxLC40MSwwbC40NS40NWEuMjguMjgsMCwwLDEsMCwuNDFaIi8+PC9zdmc+);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 1.8em 1.2em;
	padding-right: 1.8em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.button {
	position: relative;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	line-height: normal;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	padding: 10px 20px;
	border-radius: 3px;
	color: white;
	background-color: #0000ee;
	border-color: #0000ee;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover, button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
	background-color: #551a8b;
	border-color: #551a8b;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover, button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus, button:active,
input:active[type="button"],
input:active[type="reset"],
input:active[type="submit"],
.button:active {
	text-decoration: none;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace,monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 0;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b, strong {
	font-weight: bolder;
}

code, kbd, samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: .35em .75em .625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

* {
	border-style: solid;
	border-width: 0;
	border-color: #e5e5e5;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline-width: thin;
	outline-style: dotted;
	outline-color: invert;
}

html {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.7;
	min-height: 100vh;
}

body {
	background-color: #fff;
	color: #666;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin: 1.25rem 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 2rem 0 1.25rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h5, h6 {
	font-size: 1rem;
	font-weight: 600;
}

hr {
	margin: 2.5rem 0;
	border: none;
	border-color: inherit;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

blockquote {
	margin: 1.25rem 0;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote p {
	margin: 1em 0;
}

blockquote cite {
	display: block;
	font-size: 0.85rem;
	opacity: 0.6;
}

ul,
ol {
	margin: 1.25rem 0;
	padding-left: 2rem;
}

li > ul, li >
ol {
	margin-bottom: 0;
}

table {
	width: 100%;
	margin: 1.25rem 0;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

table th, table td {
	padding: 0.75rem 1rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

table th {
	font-weight: 600;
}

embed,
iframe,
object {
	max-width: 100%;
}

audio,
video {
	max-width: 100%;
}

pre {
	max-width: 100%;
	margin: 1.25rem 0;
	padding: 0.6rem 1.2rem;
	overflow: auto;
	font-size: 1em;
	font-family: monospace;
}

a {
	background-color: transparent;
	color: #0000ee;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a:hover, a:focus {
	color: #551a8b;
}

a:hover {
	outline: 0;
}

figure {
	margin: 0;
}

address {
	margin: 1.25rem 0;
}

dt {
	font-weight: 600;
}

mark,
ins {
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	height: auto;
	max-width: 100%;
}

::-moz-selection {
	background-color: #0000ee;
	color: #fff;
}

::selection {
	background-color: #0000ee;
	color: #fff;
}

*::-webkit-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*:-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::placeholder {
	opacity: 0.75;
	color: inherit;
}

fieldset {
	padding: 1rem 1.25rem;
	margin: 1em 0;
	border-width: 1px;
	border-style: solid;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.button {
	text-decoration: none;
}

select[multiple] {
	background: none;
	padding-right: 0;
}

.select2-container {
	line-height: normal;
}

.select2-container .select2-selection {
	display: block;
	height: auto;
	border-color: inherit;
	background-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	padding-right: 0;
	font: inherit;
	color: inherit;
}

.select2-container .select2-selection--single .select2-selection__placeholder:empty {
	display: inline-block;
}

.select2-container .select2-selection--single .select2-selection__arrow {
	display: none;
}

.select2-container .select2-dropdown {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
}

.select2-container .select2-dropdown .select2-search {
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.select2-container .select2-dropdown .select2-search .select2-search__field {
	border: none;
	padding: 0;
}

.select2-container .select2-dropdown .select2-results {
	padding: 0.5em 0;
}

.select2-container .select2-dropdown .select2-results .select2-results__option--highlighted {
	background-color: rgba(0, 0, 0, 0.025);
	color: inherit;
}

.select2-container .select2-dropdown .select2-results .select2-results__option[aria-selected="true"] {
	background-color: rgba(0, 0, 0, 0.05);
}

.select2-container .select2-dropdown--below {
	border-top: none;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.select2-container .select2-dropdown--above {
	border-bottom: none;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: left;
	margin: 0.5em 1.5em 0.5em 0;
}

.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1.5em;
}

.aligncenter {
	clear: both;
	margin: 0.5em auto;
}

.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.gallery {
	margin: 1.25rem -5px;
}

.gallery img {
	display: block;
}

.gallery-item {
	display: inline-block;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.mejs-button > button {
	background-color: transparent !important;
	color: inherit !important;
}

html {
	padding: 1rem;
	min-height: auto;
}

body {
	position: relative;
	max-width: 100%;
	min-height: auto;
}

body > *:first-child {
	margin-top: 0;
}

body > *:last-child {
	margin-bottom: 0;
}

blockquote {
	padding: 0.5rem 2rem;
	border-left-width: 0.25rem;
	border-left-style: solid;
}

blockquote[style*="center"] {
	border-left: none;
}

blockquote[style*="right"] {
	border-left: none;
	border-right-width: 0.25rem;
	border-right-style: solid;
}
