html {
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.7;
	letter-spacing: 0;
	text-transform: none;
}

html * {
	border-color: rgba(0, 0, 0, 0.1);
}

html *, html *:before, html *:after {
	box-sizing: border-box;
}

html *:focus {
	outline: 0;
}

body {
	position: relative;
	margin: 0;
	background-color: #ffffff;
	color: #666666;
	min-height: 100vh;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

p {
	margin: 0 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.5rem;
	color: #333333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333333;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
	color: #0066cc;
}

h1 {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
}

h2 {
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 0;
	text-transform: none;
}

h3 {
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0;
	text-transform: none;
}

h4 {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: 0;
	text-transform: none;
}

h5, h6 {
	font-size: 1rem;
	font-weight: bold;
}

hr {
	margin: 1.5rem 0;
	border: none;
	border-color: inherit;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

blockquote {
	margin: 0 0 1.5rem;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote p {
	margin: 0 0 1em;
}

blockquote cite {
	display: block;
	font-size: 0.85rem;
	opacity: 0.75;
}

ul,
ol {
	margin: 0 0 1.5rem;
	padding-left: 2rem;
}

li > ul, li >
ol {
	margin-top: 0;
	margin-bottom: 0;
}

table {
	width: 100%;
	margin: 0 0 1.5rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
}

table th, table td {
	padding: 0.75rem;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
}

table th {
	font-weight: 600;
	text-align: initial;
	color: #333333;
}

table th a {
	color: #333333;
}

table th a:hover, table th a:focus {
	color: #0066cc;
}

img,
video {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
}

iframe {
	border: none;
}

pre {
	max-width: 100%;
	margin: 0 0 1.5rem;
	padding: 1.5em;
	overflow: auto;
	font-size: 1em;
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.05);
}

code {
	background-color: rgba(0, 0, 0, 0.05);
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #0066cc;
	transition: all 0.25s;
}

a:hover, a:focus {
	color: #333333;
}

figure {
	margin: 0;
}

figcaption, figure[class*="wp-block-"] figcaption {
	width: 100%;
	margin: 0.5em 0 0;
	color: inherit;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
	color: inherit;
	opacity: 0.75;
}

address {
	margin: 0 0 1.5rem;
}

dt {
	font-weight: 600;
}

mark,
ins {
	background-color: transparent;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

svg {
	vertical-align: middle;
}

::-moz-selection {
	background-color: #0066cc;
	color: #ffffff;
}

::selection {
	background-color: #0066cc;
	color: #ffffff;
}

*::-webkit-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::-moz-placeholder {
	opacity: 0.75;
	color: inherit;
}

*:-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::-ms-input-placeholder {
	opacity: 0.75;
	color: inherit;
}

*::placeholder {
	opacity: 0.75;
	color: inherit;
}

[id="wpadminbar"] {
	position: fixed !important;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	text-align: left;
	margin: 0 1.25em 0 0;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: 0 0 0 1.25em;
}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
	float: none;
	text-align: center;
}

.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0;
	font-size: 0.85em;
	font-style: italic;
	text-align: center;
}

.gallery {
	margin: 1.25rem -5px;
}

.gallery img {
	display: block;
	width: 100%;
}

.gallery-item {
	display: inline-block;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.mejs-button > button {
	background-color: transparent !important;
	color: inherit !important;
}

.wpview {
	margin: 0;
}

.suki-oembed {
	margin: 0 0 1.25em;
}

.suki-oembed-video {
	position: relative;
	padding-top: 56.25%;
}

.suki-oembed-video > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.has-background {
	padding: 1.5rem;
}

.wp-block-columns.has-background {
	padding: 1.5rem;
}

.suki-content-layout-wide .alignwide {
	position: relative;
	left: calc( 50% - min( 1140px / 2, 50vw - 20px ));
	min-width: 100%;
	max-width: 1140px;
	width: calc( 100vw - ( 2 * 20px ));
}

.suki-section-full-width.suki-content-layout-wide .alignwide {
	left: auto;
}

.suki-content-layout-wide .alignfull {
	position: relative;
	left: calc( 50% - 50vw);
	min-width: 100%;
	max-width: 100vw;
	width: 100vw;
}

body.suki-page-layout-boxed .suki-content-layout-wide .alignfull {
	left: calc( 50% - min( 1400px / 2, 50vw ));
	max-width: 1400px;
}

[class$="__inner-container"] {
	margin-bottom: 0;
	max-width: 100%;
}

[class$="__inner-container"] > * {
	max-width: 100%;
	margin: 1.5rem 0;
	margin-left: auto;
	margin-right: auto;
}

[class$="__inner-container"] > *:first-child {
	margin-top: 0;
}

[class$="__inner-container"] > *:last-child {
	margin-bottom: 0;
}

[class$="__inner-container"] > *.alignwide {
	min-width: auto;
	width: 100%;
	left: auto;
}

[class$="__inner-container"] > *.alignfull {
	max-width: none !important;
	width: 100%;
	left: auto !important;
}

.suki-section-narrow.suki-content-layout-wide [class$="__inner-container"] > *:not(.alignwide):not(.alignfull) {
	width: 720px;
}

.suki-section-default.suki-content-layout-wide [class$="__inner-container"] > *:not(.alignwide):not(.alignfull) {
	width: 1140px;
}

.suki-section-full-width.suki-content-layout-wide [class$="__inner-container"] > * {
	width: 100%;
	max-width: 100%;
}

.has-small-text-size {
	font-size: 0.85em;
}

.has-regular-text-size {
	font-size: 1em;
}

.has-medium-text-size {
	font-size: 1.2em;
	line-height: calc( 0.9 * 1.7);
}

.has-large-text-size {
	font-size: 1.5em;
	line-height: calc( 0.825 * 1.7);
}

.has-huge-text-size {
	font-size: 2em;
	line-height: calc( 0.75 * 1.7);
}

.has-text-color a {
	color: inherit;
}

.has-suki-color-1-background-color {
	background-color: #333333;
}

.has-suki-color-1-color {
	color: #333333;
}

.has-suki-color-2-background-color {
	background-color: #666666;
}

.has-suki-color-2-color {
	color: #666666;
}

.has-suki-color-3-background-color {
	background-color: #0066cc;
}

.has-suki-color-3-color {
	color: #0066cc;
}

.has-suki-color-4-background-color {
	background-color: #004c99;
}

.has-suki-color-4-color {
	color: #004c99;
}

.has-suki-color-5-background-color {
	background-color: rgba(0, 0, 0, 0.1);
}

.has-suki-color-5-color {
	color: rgba(0, 0, 0, 0.1);
}

.has-suki-color-6-background-color {
	background-color: rgba(0, 0, 0, 0.05);
}

.has-suki-color-6-color {
	color: rgba(0, 0, 0, 0.05);
}

.has-suki-color-7-background-color {
	background-color: #ffffff;
}

.has-suki-color-7-color {
	color: #ffffff;
}

.has-suki-color-8-background-color {
	background-color: #000000;
}

.has-suki-color-8-color {
	color: #000000;
}

.entry-content > * {
	margin-bottom: 1.5rem;
}

.entry-content > *:last-child {
	margin-bottom: 0;
}

.wp-block-cover-image, .wp-block-cover {
	padding: 1.5em;
}

.wp-block-group__inner-container {
	margin: 0 auto;
}

.wp-block-group__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

.wp-block-columns {
	gap: 1.5rem;
}

.wp-block-columns .wp-block-column {
	margin-left: 0 !important;
}

.wp-block-columns .wp-block-column > *:first-child {
	margin-top: 0;
}

.wp-block-columns .wp-block-column > *:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 600px) and (max-width: 781px) {
	.wp-block-columns .wp-block-column {
		-ms-flex-preferred-size: calc( 50% - ( 1.5rem / 2 )) !important;
		flex-basis: calc( 50% - ( 1.5rem / 2 )) !important;
	}
	.wp-block-columns .wp-block-column:nth-child(even) {
		margin-left: 2rem;
	}
}

.has-drop-cap:not(:focus):after {
	display: none;
}

.has-drop-cap:not(:focus):first-letter {
	float: left;
	line-height: 0.9;
	font-family: inherit;
	font-size: 5.1em;
	font-style: normal;
	font-weight: 600;
	margin: 0 0.25em 0 0;
	text-transform: uppercase;
	initial-letter: 3;
	color: #333333;
}

.wp-block-quote {
	font-size: 1em;
	padding: 0 2em;
	border-left-width: 0.25rem;
	border-left-style: solid;
	border-color: inherit;
}

.wp-block-quote *:last-child {
	margin-bottom: 0;
}

.wp-block-quote p {
	font-size: 1.2em;
}

.wp-block-quote cite {
	font-size: 0.85em;
	font-style: unset;
}

.wp-block-quote.has-text-align-center {
	border-left: none;
}

.wp-block-quote.has-text-align-right {
	padding-left: 0;
	border-left: none;
	border-right-width: 0.25rem;
	border-right-style: solid;
}

.wp-block-quote.is-style-large {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0 2em;
}

.wp-block-quote.is-style-large p {
	font: unset;
	font-size: 1.5em;
	line-height: 1.5;
}

.wp-block-quote.is-style-large cite {
	font-size: 1em;
	text-align: unset;
}

.wp-block-pullquote {
	border-top-width: 0.25rem;
	border-top-style: solid;
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	text-align: unset;
	padding: 0;
}

.wp-block-pullquote blockquote {
	font-size: 1em;
	position: relative;
	margin: 0;
	padding: 1.5em 2em 1.5em 4.5em;
	border-left: none;
}

.wp-block-pullquote blockquote:before {
	content: "\201C";
	position: absolute;
	top: -0.3em;
	left: 0;
	font-size: 7em;
	font-family: serif;
	font-weight: bold;
	opacity: 0.2;
}

.wp-block-pullquote blockquote > *:last-child {
	margin-bottom: 0;
}

.wp-block-pullquote blockquote p {
	font: inherit;
	font-size: 1.2em;
	color: inherit;
}

.wp-block-pullquote blockquote cite {
	font-size: 1em;
	color: inherit;
	text-transform: none;
	font-style: normal;
}

.wp-block-pullquote.is-style-solid-color {
	border: none;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	padding-left: 5.5em;
	max-width: none;
}

.wp-block-pullquote.is-style-solid-color blockquote:before {
	left: 0.142857em;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 1.2em;
	margin-bottom: 1em;
}

p.wp-block-subhead {
	font-size: 1.2rem;
}

.wp-block-image img {
	display: block;
}

.wp-block-gallery .blocks-gallery-grid {
	margin: -0.5em;
	padding: 0;
}

.wp-block-gallery .blocks-gallery-item {
	padding: 0.5em;
	width: 100%;
	margin: 0 !important;
}

.wp-block-gallery.columns-2 .blocks-gallery-item, .wp-block-gallery.columns-3 .blocks-gallery-item, .wp-block-gallery.columns-4 .blocks-gallery-item, .wp-block-gallery.columns-5 .blocks-gallery-item, .wp-block-gallery.columns-6 .blocks-gallery-item, .wp-block-gallery.columns-7 .blocks-gallery-item, .wp-block-gallery.columns-8 .blocks-gallery-item {
	width: 50%;
}

@media screen and (min-width: 500px) {
	.wp-block-gallery.columns-3 .blocks-gallery-item {
		width: 33.3333%;
	}
	.wp-block-gallery.columns-4 .blocks-gallery-item {
		width: 25%;
	}
	.wp-block-gallery.columns-5 .blocks-gallery-item {
		width: 20%;
	}
	.wp-block-gallery.columns-6 .blocks-gallery-item {
		width: 16.6667%;
	}
	.wp-block-gallery.columns-7 .blocks-gallery-item {
		width: 14.2857%;
	}
	.wp-block-gallery.columns-8 .blocks-gallery-item {
		width: 12.5%;
	}
}

.wp-block-gallery .blocks-gallery-caption {
	margin-top: 1em !important;
}

.wp-block-audio audio {
	width: 100%;
}

.wp-block-video video {
	width: 100%;
}

.wp-block-separator {
	margin-top: 3em;
	margin-bottom: 3em;
	border-color: inherit;
	opacity: 1;
}

.wp-block-separator.is-style-default {
	max-width: 8em;
	border-bottom-width: 0.25em;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-separator.is-style-dots {
	border-bottom-width: 0;
}

.wp-block-separator.is-style-dots:before {
	font-size: 2em;
	letter-spacing: 1em;
	padding-left: 1em;
	line-height: 0;
	vertical-align: middle;
}

.wp-block-separator.is-style-wide {
	border-top-width: 0;
}

.wp-block-separator.has-background {
	padding: 0;
	border-color: currentColor;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
	background-color: transparent;
	border-color: currentColor;
	color: unset;
}

.wp-block-button.is-style-squared a.wp-block-button__link {
	border-radius: 0;
}

.wp-block-table table {
	width: 100%;
	margin: 0 0 1.5rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
	margin-bottom: 0;
}

.wp-block-table table th, .wp-block-table table td {
	padding: 0.75rem;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: inherit;
}

.wp-block-table table th {
	font-weight: 600;
	text-align: initial;
	color: #333333;
}

.wp-block-table table th a {
	color: #333333;
}

.wp-block-table table th a:hover, .wp-block-table table th a:focus {
	color: #0066cc;
}

.wp-block-table__cell-content {
	padding: 0;
}

.wp-block-table.is-style-stripes {
	border: none;
}

.wp-block-table.is-style-stripes table {
	border: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.wp-block-table.is-style-stripes th, .wp-block-table.is-style-stripes td {
	border: none;
}

.wp-block-verse {
	background-color: transparent;
	padding: 0;
}

.wp-block-media-text {
	padding: 0;
}

.wp-block-media-text .wp-block-media-text__content {
	margin-bottom: 0;
	padding: 1.5em 10%;
}

.wp-block-embed .suki-oembed {
	position: static;
	padding: 0 !important;
	margin: 0;
}

.wp-block-embed .suki-oembed > * {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-embed.alignleft .suki-oembed > * {
	margin-right: auto;
}

.wp-block-embed.aligncenter .suki-oembed > * {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-embed.alignright .suki-oembed > * {
	margin-left: auto;
}

.wp-block-embed.is-type-photo img {
	width: 100%;
}

html {
	min-height: auto;
}

body.mce-content-body {
	position: relative;
	max-width: 100%;
	min-height: auto;
	margin: 0;
	padding: 1rem !important;
	background-color: #ffffff;
}

body.mce-content-body:before, body.mce-content-body:after {
	content: "";
	display: table;
}

body.mce-content-body:after {
	clear: both;
}

body.mce-content-body > *:first-child {
	margin-top: 0;
}

body.mce-content-body > *:last-child {
	margin-bottom: 0;
}

body.mce-content-body:focus {
	outline: 0;
}

body.mce-content-body a[data-mce-selected] {
	padding: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	letter-spacing: 0;
	text-transform: none;
	border-radius: 0;
	font-family: inherit;
}

.wp-block {
	max-width: calc( 720px + 30px);
}

.wp-block[data-align="wide"] {
	max-width: calc( 1140px + 30px);
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	padding: 0.5rem 2em;
	border-color: inherit;
}

.editor-rich-text__tinymce {
	line-height: inherit;
}

p {
	font-size: inherit;
	line-height: inherit;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0 !important;
}
