@import "../__variables";
@import "../__mixins";
@import "../__extends";

// -------------------------------------------------------------
// Common Styles
// -------------------------------------------------------------

.elementor-text-editor {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.elementor-button {
	border-color: transparent; // default
	line-height: normal;
}