@import "../__variables";
@import "../__mixins";
@import "../__extends";

// -------------------------------------------------------------
// Common Styles
// -------------------------------------------------------------

.page-template-elementor_header_footer {
	
}

.elementor {
	// Make elementor container always takes 100% width.
	width: 100%;

	// fix <pre> width on flex element
	// ref: https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
	min-width: 0;
}

.elementor-text-editor {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}