@import "../__variables";
@import "../__mixins";

// -------------------------------------------------------------
// Alignment
// -------------------------------------------------------------

.alignwide {
	.suki-content-layout-narrow & {
		position: relative;
		left: 50%;
		transform: translate( -50%, 0 );
		width: 1140px; // default
		max-width: 100vw;
	}

	img {
		width: 100%;
	}
}

.alignfull {
	.suki-content-layout-narrow &,
	.suki-content-layout-wide & {
		position: relative;
		left: 50%;
		transform: translate( -50%, 0 );
		width: 100vw;
		max-width: 100vw;

		body.suki-page-layout-boxed & {
			width: 1400px; // default
		}
	}

	img {
		width: 100%;
	}
}

// -------------------------------------------------------------
// Global block
// -------------------------------------------------------------

[class*="wp-block"] {
	margin-bottom: 1.25rem;
}

// -------------------------------------------------------------
// Paragraph
// -------------------------------------------------------------

p.has-drop-cap:not(:focus):first-letter {
	float: left;
	line-height: 1;
	font-family: inherit;
	font-size: 2 * 1.7em; // default
	font-style: normal;
	font-weight: 500;
	margin: 0 0.25em 0 0;
	text-transform: uppercase;
	initial-letter: 2;
}

// -------------------------------------------------------------
// Quote
// -------------------------------------------------------------

.wp-block-quote {
	p {
		font: inherit;
	}

	cite {
		font-size: 1rem;
		font-style: normal;
	}

	&.is-large {
		margin: 1.5rem 0; // override gutenberg css
		padding: 0.5rem 2rem; // override gutenberg css

		p {
			font: inherit;
			font-size: 1.2em;
		}

		cite {
			font-size: 1rem; // override gutenberg css
			text-align: inherit;
		}
	}
}

// -------------------------------------------------------------
// Pull Quote
// -------------------------------------------------------------

.wp-block-pullquote {
	border-left: none !important;
	padding: 1.2em 0 !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	border-top: 2px solid;
	border-top-color: inherit;
	border-bottom: 2px solid;
	border-bottom-color: inherit;
	color: inherit;

	p {
		font: inherit;
		font-size: 1.2em;
		color: inherit;
	}

	cite {
		font-size: 1rem;
		color: inherit;
		text-transform: none;
		font-style: normal;
	}
}

// -------------------------------------------------------------
// Subhead
// -------------------------------------------------------------

p.wp-block-subhead {
	font-size: 1.2rem;
}

// -------------------------------------------------------------
// Cover Image
// -------------------------------------------------------------

.wp-block-cover-image {
	.wp-block-cover-image-text,
	h2 {
		max-width: 70%;
		margin: 0;
		padding: 0.5em;
		@include h2();
	}
}

// -------------------------------------------------------------
// Image
// -------------------------------------------------------------

.wp-block-image {
	img {
		display: block;
	}
	
	figcaption {
		margin: 0.5em 0;
		color: inherit;
		font-size: 0.85em;
		font-style: italic;
		text-align: center;
	}
}

// -------------------------------------------------------------
// Audio
// -------------------------------------------------------------

.wp-block-audio {
	audio {
		width: 100%;
	}
}

// -------------------------------------------------------------
// Video
// -------------------------------------------------------------

.wp-block-video {
	video {
		width: 100%;
	}
}

// -------------------------------------------------------------
// Separator
// -------------------------------------------------------------

.wp-block-separator {
	margin: 2.5rem 0;
	max-width: none;
	border-bottom: none; // reset
	@include border( top );
	border-color: inherit;
}

// -------------------------------------------------------------
// Button
// -------------------------------------------------------------

.wp-block-button {
	.wp-block-button__link {
		@include button();
	}
}

// -------------------------------------------------------------
// Embeds
// -------------------------------------------------------------

.wp-block-embed {
	.suki-oembed {
		> * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&.alignleft {
		.suki-oembed {
			> * {
				margin-right: auto;
			}
		}
	}

	&.aligncenter {
		.suki-oembed {
			> * {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.alignright {
		.suki-oembed {
			> * {
				margin-left: auto;
			}
		}
	}
}