@import "../__variables";

@import "../__mixins";

// -------------------------------------------------------------
// Quantity
// -------------------------------------------------------------

.woocommerce .quantity {
	.qty {
		width: 4em;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
}

// -------------------------------------------------------------
// Added to Cart
// -------------------------------------------------------------

.woocommerce {
	a.added_to_cart {
		display: block;
		clear: both;
	}
}

// -------------------------------------------------------------
// Form Row
// -------------------------------------------------------------

.woocommerce, .woocommerce-page {
	form {
		.form-row {
			padding: 0;
			margin: 0 0 1.25rem;

			label {
				line-height: inherit;
			}
		}

		.form-row-first, .form-row-last {
			width: 50%;

			@media screen and ( max-width: 519px ) {
				float: none;
				width: auto;
				padding: 0;
			}
		}

		.form-row-first {
			padding-right: 0.5rem;
		}

		.form-row-last {
			padding-left: 0.5rem;
		}
	}
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border-radius: 0;
	border-color: inherit;
	padding: 1.25rem 1.25rem 0;
	margin: 1.25rem 0;
}

// -------------------------------------------------------------
// Button
// -------------------------------------------------------------

.woocommerce {
	#respond input#submit,
	a.button,
	button.button,
	input.button {
		&,
		&.alt {
			&,			
			&.disabled,
			&:disabled,
			&:disabled[disabled] {
				@include button(); // default
			}
		}

		&:after {
			vertical-align: middle;
		}

		&.loading:after {
			top: 50%;
			margin-top: -0.5em;
		}
	}
}

// -------------------------------------------------------------
// Notices
// -------------------------------------------------------------

.woocommerce {
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		border: none;
		background-color: $color_subtle; // default
		color: inherit;

		.button {
			padding: 0;
			border: none;
			font-size: inherit;
			font-weight: inherit;
			font-style: inherit;
			text-decoration: inherit;
			line-height: inherit;
			letter-spacing: inherit;
			background-color: transparent !important;
			color: $color_accent; // default

			&:hover, &:focus {
				color: $color_heading; // default
			}

			@media screen and ( max-width: $breakpoint_768 - 1px ) {
				float: none;
			}
		}
	}
}

.woocommerce-store-notice,
p.demo_store {
	background-color: $color_accent; // default
	color: $color_white; // default

	a {
		color: inherit; // default
	}
}

// -------------------------------------------------------------
// Breadcrumb
// -------------------------------------------------------------

.woocommerce .woocommerce-breadcrumb {
	font-size: 0.9em;
	color: inherit; // default

	.suki-woocommerce-breadcrumb-delimiter {
		margin: 0 0.5em;

		&:before {
			content: "\00BB";
		}
	}

	a {
		color: inherit; // default

		&:hover, &:focus {
			color: $color_heading; // default
		}
	}
}

// -------------------------------------------------------------
// Sale Badge
// -------------------------------------------------------------

.woocommerce span.onsale {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 3.6em;
	width: 3.6em;
	padding: 0.3em;
	margin: 0.5em;
	min-height: auto;
	min-width: auto;
	font-size: 1em;
	line-height: 3em;

	background-color: $color_accent; // default
	color: $color_white; // default
}

// -------------------------------------------------------------
// Cart Remove Button
// -------------------------------------------------------------

.woocommerce a.remove {
	color: inherit !important;
	font-weight: normal;
	border-radius: 0;
	opacity: 0.5;

	&:hover, &:focus {
		background-color: transparent;
		color: inherit !important;
		opacity: 1;
	}
}

// -------------------------------------------------------------
// Star Rating
// -------------------------------------------------------------

.suki-star-rating {
	display: inline-block;
}

.woocommerce .star-rating {
	width: auto;
	font-size: 1rem;
	line-height: normal;

	span {
		padding-top: 1em;

		&:before {
			color: $color_accent; // default
		}
	}

	a {
		color: $color_accent; // default
	}

	&:before {
		position: static;
		color: $color_accent; // default
	}
}

// -------------------------------------------------------------
// Products Grid Columns
// -------------------------------------------------------------

.suki-products-filters {
	@include flex( center, space-between, wrap );
	margin: 0 -0.5em 2em;

	&:empty {
		display: none;
	}

	> * {
		padding: 0.5em;
	}

	.woocommerce-result-count {
		margin: 0;
	}

	.woocommerce-ordering {
		margin: 0;
	}

	.suki-off-canvas-filters-button-wrapper {
		flex-grow: 1;
	}
}

.suki-products-selected-filters {
	margin: -1.5em 0 2em;

	.widget {
		margin: 0;
	}
}

.woocommerce ul.products {
	@include flex( flex-start, flex-start, wrap );
	margin: 2em -15px 0; // default

	li.product {
		float: none;
		margin: 0 0 2em;
		padding: 0 15px; // default

		.count {
			background-color: transparent;
			color: inherit;
			font-weight: inherit;
		}

		.suki-product-wrapper {
			@include border( null, 0 ); // default
			position: relative;
		}

		.suki-product-thumbnail {
			align-self: stretch;
			position: relative;
			margin: 0 0 0.75em;

			a {
				display: block;

				&:hover, &:focus {
					opacity: 0.9;
				}
			}

			img {
				width: 100%;
				margin: 0;
			}
		}

		.onsale {
			margin: 0.5em;
		}

		a.woocommerce-loop-product__link {
			color: $color_heading; // default

			&:hover, &:focus {
				color: $color_accent; // default
			}
		}

		.woocommerce-loop-category__title, .woocommerce-loop-product__title, h3 {
			padding: 0;
			font: inherit;
			color: inherit;
		}

		.star-rating {
			display: inline-block;
			margin: 0.5em 0 0;
		}

		.price {
			margin: 0 0 0.75em;
			font-size: 1em;
			font-weight: inherit;
			color: inherit;

			&:last-child {
				margin-bottom: 0;
			}

			del {
				opacity: 0.5;
			}

			del, ins {
				display: inline-block;
				font-weight: inherit;
			}

			del ~ ins {
				margin-left: 0.5rem;
			}
		}

		.button {
			margin-top: 0;
		}

		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			float: none !important;
			width: 100% !important;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&.columns-1 li.product {
		width: 100%;
	}

	&.columns-2 li.product {
		width: 50%;
	}

	&.columns-3 li.product {
		width: 33.33%;
		
		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}

	&.columns-4 li.product {
		width: 25%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 50%;
		}
	}

	&.columns-5 li.product {
		width: 20%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 50%;
		}
	}

	&.columns-6 li.product {
		width: 16.667%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 33.33%;
		}
		
		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}
}

// -------------------------------------------------------------
// Pagination
// -------------------------------------------------------------

.woocommerce nav.woocommerce-pagination {
	margin: 2rem 0;
	clear: both;

	ul {
		border: none;
		margin: 0;

		li {
			border: none;
			margin: 0 0.5em;
			padding: 0;

			span.current {
				padding: 0;
				background-color: transparent;
				color: $color_heading; // default
			}

			a {
				padding: 0;
				background-color: transparent;
				color: inherit; // default

				&:focus, &:hover {
					background-color: transparent;
					color: $color_accent; // default
				}
			}

		}
	}
}

// -------------------------------------------------------------
// Single Product
// -------------------------------------------------------------

.woocommerce, .woocommerce-page {
	&, #content {
		div.product {
			div.images {
				position: relative;
				width: 60%; // default

				@media screen and ( max-width: $breakpoint_768 - 1px ) {
					width: 100% !important;
				}
			}

			div.summary {
				width: 40%; // default
				padding-left: 40px; // default

				@media screen and ( max-width: $breakpoint_768 - 1px ) {
					width: 100% !important;
					padding-left: 0 !important;
				}
			}
		}
	}
}

.woocommerce div.product {
	@include flex( flex-start, space-between, wrap );

	> *:not(.onsale) {
		width: 100%;
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span.onsale {
		width: 3.6em;
		height: 3.6em;
	}

	div.images {
		margin-bottom: 3rem;

		.woocommerce-product-gallery__wrapper {
			display: block;
			width: 100%;
		}

		.flex-control-thumbs {
			@include flex( center, center, wrap );
			margin: 10px -5px 0;

			li {
				padding: 0 5px;
				float: none;

				img {
					@include transition();
				}
			}
		}

		&.woocommerce-product-gallery--columns-1 .flex-control-thumbs li {
			width: 100%;
		}

		&.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
			width: 50%;
		}

		&.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
			width: 33.33%;
		}

		&.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
			width: 25%;
		}

		&.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
			width: 20%;
		}

		&.woocommerce-product-gallery--columns-6 .flex-control-thumbs li {
			width: 16.67%;
		}

		&.woocommerce-product-gallery--columns-7 .flex-control-thumbs li {
			width: 14.2857%;
		}

		&.woocommerce-product-gallery--columns-8 .flex-control-thumbs li {
			width: 12.25%;
		}
	}

	.woocommerce-tabs {
		padding-bottom: 2rem;
		@include border( bottom );

		ul.tabs {
			margin: 0 0 2rem;
			padding: 0;
			@include border( bottom );
			overflow: visible;

			&:before {
				border: none;
			}
			
			li {
				display: inline-block;
				float: left;
				margin: 0 0 -1px;
				padding: 0;
				border: none;
				background-color: transparent;

				&:before, &:after {
					display: none;
				}

				a {
					position: relative;
					padding: 0.8rem 1.2rem;
					@include border( bottom, 3px );
					border-color: transparent;
					font-weight: inherit;
					color: $color_text; // default

					&:hover, &:focus {
						color: $color_accent; // default
					}
				}

				&.active {
					background-color: transparent;

					a {
						border-color: currentColor;
						color: $color_heading; // default;
					}
				}
			}
		}

		> .panel {
			margin: 0;
			display: none;

			> h2:first-child {
				@include h3(); // default
			}

			&:first-of-type {
				display: block;
			}
		}
	}

	.woocommerce-product-rating {
		margin: 0.5rem 0;

		.star-rating {
			float: none;
			display: inline-block;
			margin-top: 0;
		}

		@include meta(); // default
	}

	p.price, span.price {
		margin: 1.25rem 0;
		font-size: 1.25rem;
		font-weight: inherit;
		color: $color_heading; // default

		del {
			opacity: 0.5;
		}

		del, ins {
			display: inline-block;
			font-weight: inherit;
		}

		del ~ ins {
			margin-left: 0.25em;
		}
	}

	.woocommerce-product-details__short-description {
		margin-top: 1.5em;

		button {
			font-size: 1.5em;
		}
	}

	form.cart {
		margin: 2rem 0;

		.variations {
			margin: -0.75rem 0 0;
			border-bottom: none;

			th, td {
				display: block;
				padding: 0;
				border: inherit;
			}

			label {
				font-weight: inherit;
			}

			.value {
				padding-right: 0;
				position: relative;
				margin-bottom: 0.5em;
			}

			select {
				width: 100%;
				margin-right: 0;
			}

			.reset_variations {
				display: inline-block;
				margin-top: 1.25em;
				font-size: 0.85em;
				line-height: 1;
			}
		}

		.woocommerce-variation {
			margin-bottom: 1.25rem;

			&:empty {
				display: none;
			}
		}

		div.quantity {
			margin-right: 0.5em;
		}
	}

	.product_meta {
		margin-top: 2rem;
		padding-top: 1rem;
		@include border( top );
		@include meta(); // default

		> * {
			display: block;
		}
	}

	#reviews {
		#comments {
			> h2 {
				@include h3(); // default
			}

			ol.commentlist {
				list-style: none;
				margin: 0;
				padding: 0;

				> li:first-child {
					border-top: none;
				}

				li {
					margin: 0;
					@include border( top );
					border-color: inherit;

					.comment_container {
						position: relative;
						padding: 2em 0 2em 65px;

						@media screen and ( max-width: $breakpoint_500 - 1px ) {
							padding: 1.25rem 0;
						}
					}

					img.avatar {
						margin-top: 2em;
						border: none;
						border-radius: 50%;
						padding: 0;
						width: 50px;
						height: 50px;
					}

					.comment-text {
						border: none;
						padding: 0;
						margin: 0;

						.star-rating {
							margin: 0.25em 0;
						}

						p.meta {
							font-size: inherit;
							margin-bottom: 1em;

							> * {
								display: block;
							}

							.woocommerce-review__dash {
								display: none;
							}

							.woocommerce-review__author {
								font-weight: 600;

								@include heading();
							}
						}

						.description *:last-child {
							margin-bottom: 0;
						}

						.woocommerce-review__published-date {
							@include meta(); // default
						}
					}
				}
			}
		}

		#review_form {
			#respond {
				padding-top: 2em;
				@include border( top );
				border-color: inherit;

				form > * {
					margin: 1.25em 0;
				}

				.comment-reply-title {
					display: block;
					margin: 0 0 1em;
				}

				p.stars {
					display: inline-block;
					line-height: 1;
					margin: 0;
				}
			}
		}
	}

	.products h2 {
		@include h3(); // default
	}
}

.woocommerce table.shop_attributes {
	border-style: solid;
	border-color: inherit;

	th, td {
		text-align: initial;
		padding: 0.75rem 1rem;
		border-style: solid;
		border-color: inherit;
	}

	td {
		p {
			padding: 0;
		}
	}
}

// -------------------------------------------------------------
// Cart
// -------------------------------------------------------------

// General table
.woocommerce, .woocommerce-page {
	table.shop_table {
		border-radius: 0;
		border-collapse: collapse !important;
		border-color: inherit;
		margin-right: 0;
		margin-bottom: 1.25rem;

		thead, tbody, tfoot {
			th, td {
				padding: 0.6rem 0.8rem;
				border-top: none;
				border-left: none;
				border-right: none;
				border-color: inherit;
			}
		}

		a {
			text-decoration: none;
		}


		&.shop_table_responsive {
			@media screen and ( max-width: $breakpoint_768 - 1px ) {
				border-bottom: none;
			}				
		}
	}
}

// Cart items
.woocommerce, .woocommerce-page {
	&, #content {
		table.cart {
			td.actions .coupon .input-text {
				min-width: 8.25rem;
				margin-right: 0.5rem;
				@include input(); // default
			}

			.product-remove {
				width: 1rem;
			}

			.product-thumbnail {
				width: 5rem;

				img {
					width: 100%;
					max-width: none;
					vertical-align: middle;
				}
			}

			.product-price,
			.product-quantity {
				width: 10%;
			}

			.product-subtotal {
				width: 10%;
				text-align: right;
			}

			&.shop_table_responsive {
				@media screen and ( max-width: $breakpoint_768 - 1px ) {
					tr {
						position: relative;
						@include flex( stretch, space-between, wrap );
						width: 100%;

						&.cart_item {
							td {
								@include flex( center, flex-start, wrap );
							}
						}

						td {
							width: auto;

							&:only-child {
								width: 100%;
							}

							&:before {
								display: none;
							}
						}
					}

					.actions {
						padding: 1.2rem 0.8rem;
					}

					.coupon {
						margin-bottom: 0.3rem;
					}

					.product-remove {
						order: 3;
						width: 3rem;
					}

					.product-thumbnail {
						order: 1;
						width: 4rem;
						padding-right: 0;
						display: block;
					}

					.product-name {
						order: 2;
						width: calc( 100% - 4rem - 3rem );
						text-align: initial !important;
					}

					.product-price {
						order: 5;
						position: relative;
						white-space: nowrap;
						flex-grow: 1;

						&:before {
							display: inline-block;
							content: "x";
							font-weight: inherit;
							margin: 0 0.5rem 0 -0.8rem;
						}
					}

					.product-quantity {
						order: 4;
					}

					.product-subtotal {
						order: 6;
						flex-grow: 1;

						> span {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

// Cart collaterals
.woocommerce-cart .cart-collaterals {
	> * {
		float: none !important;
		width: auto !important;
		margin-top: 3rem;
	}

	h2 {
		@include h3(); // default
	}

	.cart_totals {
		tr {
			th, td {
				border-top: none;
				border-color: inherit;
			}

			td {
				text-align: right;
			}
		}

		.wc-proceed-to-checkout {
			text-align: right;

			a.checkout-button {
				display: inline-block;
				margin-bottom: 0;
				font-size: 1.15rem; // default
				padding: 13px 26px; // default

				@media screen and ( max-width: $breakpoint_1024 - 1px ) {
					display: block;
				}
			}
		}

		.woocommerce-shipping-calculator {
			margin-top: 0.5em;

			&:first-child {
				margin-top: 0;
			}

			> p {
				margin-bottom: 0;
			}

			.shipping-calculator-form {
				margin-top: 1em;

				.select2 {
					text-align: initial;
				}
			}
		}
	}
}

.woocommerce ul#shipping_method {
	li {
		input {
			margin: 0 0.5em 0 0;
			vertical-align: baseline; // reset
		}	
	}
}

// -------------------------------------------------------------
// Checkout
// -------------------------------------------------------------

.woocommerce .woocommerce-checkout {
	#customer_details {
		> * {
			float: none;
			width: auto;
		}
	}

	h3 {
		@include h3(); // default
	}
}

.suki-woocommerce-checkout-2-columns {
	@media screen and ( min-width: $breakpoint_768 ) {
		.woocommerce-checkout {
			> * {
				float: right;
				width: 40%;
			}

			.col2-set {
				float: left;
				width: 55%;
			}
		}
	}
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
	.cart-collaterals {
		.shipping-calculator-button {
			margin-top: 0;
		}
	}

	#payment {
		background-color: transparent;
		border-radius: 0;

		ul.payment_methods {
			padding: 0;
			margin-bottom: 1.25em;
			border-bottom: none;

			li {
				line-height: inherit;
				padding: 0.75em 1em;
				margin: 0 0 0.25em;
				background-color: $color_subtle; // default

				input {
					margin: 0 0.5em 0 0;
				}
			}
		}

		div.form-row {
			padding: 0;
		}

		.payment_method_paypal {
			.about_paypal {
				line-height: inherit;
				font-size: 0.85em;
				margin-top: 0.15em;
				text-decoration: none;
			}

			img {
				max-height: 1.5em;
			}
		}

		div.payment_box {
			margin: 0.75em 0 0;
			color: inherit;
			background-color: inherit;
			padding: 0;

			> *:last-child {
				margin-bottom: 0;
			}

			&:before {
				display: none;
				border-color: transparent;
			}

			a {
				line-height: inherit;
			}
		}
	}
}

.woocommerce, .woocommerce-page {
	#payment {
		#place_order {
			float: none;
			width: 100%;
			font-size: 1.15rem; // default
			padding: 13px 26px; // default
		}
	}
}

.woocommerce {
	.woocommerce-customer-details {
		address {
			@include border();
			border-color: inherit;
			border-radius: 0;
			padding: 1.25rem;
		}
	}

	ul.order_details {
		padding: 0;

		li {
			strong {
				margin-top: 0.5em;
			}
		}
	}
}

.woocommerce-checkout-review-order {
	th, td {
		width: 50%;
	}
}

// -------------------------------------------------------------
// My Account
// -------------------------------------------------------------

.woocommerce-account {

	.suki-woocommerce-MyAccount-sidebar {
		width: 20%;
		float: left;
		min-width: 20%;
		max-width: 200px;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			max-width: none;
			width: auto;
			float: none;
			margin-bottom: 2.5em;
		}

		a {
			text-decoration: none !important;
			color: $color_text; // default

			&:hover, &:focus {
				color: $color_accent; // default
			}
		}

		.is-active a {
			color: $color_heading; // default
		}
	}

	.suki-woocommerce-MyAccount-user {
		@include flex();
		margin-bottom: 1.25rem;

		.avatar {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin-right: 15px;
		}

		.info {
			width: 100%;

			.name {
				display: block;
				font-weight: 600;
			}

			.logout {
				font-size: 0.85em;
			}
		}
	}

	.woocommerce-MyAccount-navigation {
		float: none; // reset
		width: auto; // reset

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include border( top );

			li {
				@include border( bottom );

				&.is-active {
					font-weight: 600;
				}

				a {
					display: block;
					padding: 0.5em 0;
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: none; // reset
		overflow: hidden;
		padding-left: 60px;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			padding-left: 0;
		}
	}

	table.my_account_orders {
		font-size: inherit;
	}

	.addresses {
		.title {
			h3 {
				margin-top: 0;
			}

			.edit {
				text-decoration: none;
			}
		}
	}
}

// -------------------------------------------------------------
// Widgets
// -------------------------------------------------------------

.woocommerce.widget {
	.amount {
		display: inline-block;
	}
}

// Price
.woocommerce.widget_price_filter {
	.price_slider {
		position: relative;
		height: 0.5em;
		margin: 0 0.5em 1.25em;
		display: block !important;
		background-color: transparent !important;
		color: $color_accent; // default

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0.25em;
			background-color: currentColor;
			opacity: 0.2;
		}

		.ui-slider-range {
			background-color: currentColor;
			opacity: 0.3;
		}

		.ui-slider-handle {
			background-color: $color_white;
			border: 0.1rem solid;
			border-color: currentColor;
			top: -0.25em;
		}
	}

	.price_slider_amount {
		font-size: inherit;
		line-height: inherit;

		input {
			display: none;
		}

		.button {
			font-size: inherit;
			line-height: normal;
			padding: 0.25em 0.5em;
		}
	}
}

// Product categories
.woocommerce.widget_product_categories {
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		ul {
			margin-left: 1.25em;
		}

		li {
			position: relative;
			margin-top: 0.25em;
		}
	}
}

// List
.woocommerce.widget_layered_nav,
.woocommerce.widget_rating_filter,
.woocommerce.widget_product_categories {
	ul {
	    margin: 0;
		padding: 0;
		border: none;
		list-style: none;
	}

	ul li {
		.count {
			opacity: 0.5;
		}
	}
}

.woocommerce.widget {
	a {
		.star-rating {
			:before {
				color: inherit;
			}
		}
	}
}

// Chosen
.woocommerce.widget {
	ul {
		li.chosen {
			a {
				&:before {
					font-size: 0.85em;
					color: inherit;
				}
			}
		}
	}
}

// Cart
.woocommerce.widget_shopping_cart {
	.cart_list li {
		padding-left: 1.5em;

		a.remove {
			width: 1em;
			height: auto;
			font-size: 1em;
			line-height: inherit;
			text-align: center;
		}
	}

	.total {
		@include border( top );
		border-color: inherit;
		padding-top: 0.5em;
		margin-bottom: 0;

		.amount {
			float: right;
		}
	}

	.woocommerce-mini-cart__buttons {
		@include flex( flex-start );
		margin: 0.5em -5px 0;

		a {
			flex: 1;
			margin: 0.5em 5px 0;
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin: 0;
	}

	.woocommerce-mini-cart__total {
		@include float-container();
	}
}

// Products list
.woocommerce ul.product_list_widget {
	li {
		@include border( bottom );
		border-color: inherit;
		padding: 0 0 0.75em 0;
		margin-top: 0.75em;
		
		&.empty {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		&:last-child {
			border-bottom: none;
		}

		a {
			font-weight: inherit;
		}

		img {
			width: 40px;
			margin-left: 0.5em;
		}
	}

	.star-rating {
		margin: 0.25em 0;
	}

	.amount {
		text-decoration: inherit;
	}

	del {
		opacity: 0.5;
	}

	ins {
		font-weight: normal;
	}
}

// Product search
.woocommerce-product-search {
	display: block;
	position: relative;

	.suki-search-icon {
		position: absolute;
		top: 50%;
		left: 0;
		margin: -0.5em 0 0 0.75em;
	}

	.search-field {
		width: 100%;
		padding-left: 2.5em;
	}

	button[type="submit"] {
		display: none;
	}
}