@import "../__variables";
@import "../__mixins";
@import "../__extends";

// -------------------------------------------------------------
// Form Row
// -------------------------------------------------------------

.woocommerce,
.woocommerce-page {
	form {
		.form-row {
			padding: 0;
			margin: 0 0 1.25rem;
		}

		.form-row-first, .form-row-last {
			width: 50%;

			@media screen and ( max-width: 519px ) {
				float: none;
				width: auto;
				padding: 0;
			}
		}

		.form-row-first {
			padding-right: 0.5rem;
		}

		.form-row-last {
			padding-left: 0.5rem;
		}
	}
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border-radius: 0;
	border-color: inherit;
	padding: 1.25rem 1.25rem 0;
	margin: 1.25rem 0;
}

// -------------------------------------------------------------
// Button
// -------------------------------------------------------------

.woocommerce {
	#respond input#submit, a.button, button.button, input.button {
		@extend %button;

		&:after {
			vertical-align: middle;
		}

		&.loading:after {
			top: 50%;
			margin-top: -0.5em;
		}
	}
}

// -------------------------------------------------------------
// Notices
// -------------------------------------------------------------

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
	border: none;
	color: inherit;

	.button {
		font-size: inherit;
		line-height: inherit;
		padding: 0 0.5em;
	}
}

.woocommerce-store-notice,
p.demo_store {
	position: relative;
	top: 0 !important;
	z-index: initial;
}

// -------------------------------------------------------------
// Breadcrumb
// -------------------------------------------------------------

.woocommerce .woocommerce-breadcrumb {
	font-size: 0.9em;

	a {
		text-decoration: none;
	}

	.suki-woocommerce-breadcrumb-delimiter {
		margin: 0 0.5em;

		&:before {
			content: "\00BB";
		}
	}
}

// -------------------------------------------------------------
// Sale Badge
// -------------------------------------------------------------

.woocommerce span.onsale {
	display: table;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 3.6em;
	width: 3.6em;
	padding: 0.3em;
	margin: 0.5em;
	min-height: auto;
	min-width: auto;
	font-size: 1em;
	line-height: normal;

	> span {
		display: table-cell;
		vertical-align: middle;
	}
}

// -------------------------------------------------------------
// Cart Remove Button
// -------------------------------------------------------------

.woocommerce a.remove {
	color: inherit !important;
	font-weight: normal;
	border-radius: 0;
	opacity: 0.5;

	&:hover, &:focus {
		background-color: transparent;
		color: inherit !important;
		opacity: 1;
	}
}

// -------------------------------------------------------------
// Star Rating
// -------------------------------------------------------------

.woocommerce .star-rating {
	width: auto;
	font-size: 1em;
	line-height: normal;

	&:before {
		position: static;
	}
}

// -------------------------------------------------------------
// Header Elements
// -------------------------------------------------------------

// Cart
.suki-header-shopping-cart {
	.shopping-cart-count {
		width: 1em;
		height: 1em;
		position: absolute;
		left: 100%;
		z-index: 1;
		display: inline-block;
		margin: -0.4em 0 0 -0.4em;
		border-radius: 50%;
		text-align: center;
		line-height: 1;
		letter-spacing: 0; /* reset */
		color: #fff;
		animation: suki-pulse 0.5s 1;

		strong {
			font-size: 0.5em;
			vertical-align: middle;
			line-height: 2;
		}

		&[data-count="0"] {
			display: none;
		}
	}

	.sub-menu {
		min-width: 280px !important;
	}
}

// -------------------------------------------------------------
// Products Grid Columns
// -------------------------------------------------------------

.woocommerce ul.products {
	padding: 1.25rem 0;
	margin: 0 -15px; // default
	margin-bottom: -3rem; /* white space fix */

	li.product {
		margin: 0 0 3rem;
		padding: 0 15px; // default
		text-align: center;

		.count {
			background-color: transparent;
			color: inherit;
			font-weight: inherit;
		}

		.suki-product-wrapper {
			position: relative;
		}

		.onsale {
			margin: 0.5em;
		}

		a.woocommerce-loop-product__link {
			display: block;

			&:hover, &:focus {
				opacity: 0.9;
			}
		}

		a.added_to_cart {
			display: table;
			margin: 0 auto;
		}

		.woocommerce-loop-category__title, .woocommerce-loop-product__title, h3 {
			margin: 1em 0 0.5em;
			padding: 0;
			font: inherit;
			font-size: 1.1em;
		}

		.star-rating {
			display: table;
			margin: 0 auto 0.5em auto;
		}

		.price {
			margin: 0;
			font-size: 1em;
			font-weight: inherit;
			color: inherit;

			del {
				opacity: 0.5;
			}

			del, ins {
				display: inline-block;
				font-weight: inherit;
			}

			del ~ ins {
				margin-left: 0.5rem;
			}
		}

		@media screen and ( max-width: $breakpoint_500 - 1px ) {
			float: none !important;
			width: 100% !important;
		}
	}

	&.columns-1 li.product {
		width: 100%;
	}

	&.columns-2 li.product {
		width: 50%;
	}

	&.columns-3 li.product {
		width: 33.33%;
		
		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}

	&.columns-4 li.product {
		width: 25%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 50%;
		}
	}

	&.columns-5 li.product {
		width: 20%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 50%;
		}
	}

	&.columns-6 li.product {
		width: 16.667%;
		
		@media screen and ( max-width: $breakpoint_1024 - 1px ) {
			width: 33.33%;
		}
		
		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: 50%;
		}
	}
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	@media screen and ( max-width: $breakpoint_768 - 1px ) {
		float: none;
	}
}

// -------------------------------------------------------------
// Pagination
// -------------------------------------------------------------

.woocommerce nav.woocommerce-pagination {
	clear: both;

	ul {
		border: none;
		margin: 0;

		li {
			border: none;
			margin: 0 0.5em;
			padding: 0;

			a:focus, a:hover, span.current {
				background-color: transparent;
			}
		}
	}
}

// -------------------------------------------------------------
// Single Product
// -------------------------------------------------------------

.woocommerce #content div.product,
.woocommerce div.product,
.woocommerce-page #content div.product,
.woocommerce-page div.product {
	div.images {
		position: relative;
		float: none;
		width: 700px;
		min-width: 700px;
		margin-right: 50px;
		margin-bottom: 0;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			min-width: auto !important;
			width: auto !important;
			float: none !important;
			margin-right: 0 !important;
			margin-bottom: 3rem;
		}
	}

	div.summary {
		float: none;
		width: 100%;
		margin-bottom: 0;

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: auto !important;
			float: none !important;
		}
	}
}

.woocommerce div.product {
	> * {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.suki-woocommerce-product-images-summary-wrapper {
		@include flex( flex-start );

		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			display: block;
		}
	}

	div.images {
		.woocommerce-product-gallery__wrapper {
			display: block;
			width: 100%;
		}

		.flex-control-thumbs {
			@include flex();
			justify-content: center;
			flex-wrap: wrap;
			margin: 10px -5px 0;

			li {
				padding: 0 5px;
				float: none;

				img {
					@include transition();
				}
			}
		}

		&.woocommerce-product-gallery--columns-1 .flex-control-thumbs li {
			width: 100%;
		}

		&.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
			width: 50%;
		}

		&.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
			width: 33.33%;
		}

		&.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
			width: 25%;
		}

		&.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
			width: 20%;
		}

		&.woocommerce-product-gallery--columns-6 .flex-control-thumbs li {
			width: 16.67%;
		}

		&.woocommerce-product-gallery--columns-7 .flex-control-thumbs li {
			width: 14.2857%;
		}

		&.woocommerce-product-gallery--columns-8 .flex-control-thumbs li {
			width: 12.25%;
		}
	}

	.woocommerce-tabs {
		padding-bottom: 2rem;
		@include border( bottom );

		ul.tabs {
			margin: 0 0 2rem;
			padding: 0;
			@include border( bottom );
			overflow: visible;

			&:before {
				border: none;
			}
			
			li {
				display: inline-block;
				float: left;
				margin: 0 0 -1px;
				padding: 0;
				border: none;
				background-color: transparent;

				&:before, &:after {
					display: none;
				}

				a {
					position: relative;
					padding: 0.8rem 1.2rem;
					@include border( bottom, 3px );
					border-color: transparent;
					font-weight: inherit;
				}

				&.active {
					background-color: transparent;

					a {
						border-color: currentColor;
					}
				}
			}
		}

		> .panel {
			margin: 0;
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}

	.woocommerce-product-rating {
		margin: 0.5rem 0;

		.star-rating {
			float: none;
			display: inline-block;
			margin-top: 0;
			vertical-align: middle;
		}
	}

	p.price, span.price {
		margin: 1.25rem 0;
		font-size: 1.25rem;
		font-weight: inherit;
		color: inherit;

		del {
			opacity: 0.5;
		}

		del, ins {
			display: inline-block;
			font-weight: inherit;
		}

		del ~ ins {
			margin-left: 0.25em;
		}
	}

	.woocommerce-product-details__short-description {
		margin-top: 1.5em;

		button {
			font-size: 1.5em;
		}
	}

	form.cart {
		margin: 2rem 0;

		a {
			text-decoration: none;
		}

		table {
			margin: -0.75rem 0 1.25rem;
			border-bottom: none;

			th, td {
				vertical-align: middle !important;
				line-height: inherit !important;
			}
		}

		div.quantity {
			margin-right: 0.5em;
		}
	}

	.product_meta {
		margin-top: 2rem;
		padding-top: 1rem;
		@include border( top );

		> * {
			display: block;
		}

		a {
			text-decoration: none;
		}
	}

	#reviews {
		#comments {
			ol.commentlist {
				list-style: none;
				margin: 0;
				padding: 0;

				> li:first-child {
					border-top: none;
				}

				li {
					margin: 0;
					@include border( top );
					border-color: inherit;

					.comment_container {
						position: relative;
						padding: 2em 0 2em 65px;

						@media screen and ( max-width: $breakpoint_500 - 1px ) {
							padding: 1.25rem 0;
						}
					}

					img.avatar {
						margin-top: 2em;
						border: none;
						border-radius: 50%;
						padding: 0;
						width: 50px;
						height: 50px;
					}

					.comment-text {
						border: none;
						padding: 0;
						margin: 0;

						.star-rating {
							margin: 0.25em 0;
						}

						p.meta {
							font-size: inherit;
							margin-bottom: 1em;

							> * {
								display: block;
							}

							.woocommerce-review__dash {
								display: none;
							}

							.woocommerce-review__author {
								font-weight: normal;
							}
						}

						.description *:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		#review_form {
			#respond {
				padding-top: 2em;
				@include border( top );
				border-color: inherit;

				form > * {
					margin: 1.25em 0;
				}

				.comment-reply-title {
					display: block;
					margin: 0 0 1em;
				}

				p.stars {
					display: inline-block;
					line-height: 1;
					margin: 0;
				}
			}
		}
	}
}

.woocommerce table.shop_attributes th {
	text-align: initial;
}

// -------------------------------------------------------------
// Cart
// -------------------------------------------------------------

// General table
.woocommerce table.shop_table {
	border-radius: 0;
	border-collapse: collapse !important;
	border-color: inherit;

	th, td {
		padding: 0.6rem 0.8rem;
		border-top: none;
		border-left: none;
		border-right: none;
		border-color: inherit;
	}

	a {
		text-decoration: none;
	}
}

// Cart items
.woocommerce table.cart {
	td.actions .coupon .input-text {
		min-width: 8.25rem;
		margin-right: 0.5rem;
	}

	.product-remove {
		width: 1rem;
	}

	.product-thumbnail {
		width: 3rem;

		img {
			border-radius: 50%;
			width: 3rem;
			max-width: none;
		}
	}

	.product-price,
	.product-quantity {
		width: 10%;
	}

	.product-subtotal {
		width: 10%;
		text-align: right;
	}

	&.shop_table_responsive tr > * {
		@media screen and ( max-width: $breakpoint_768 - 1px ) {
			width: auto !important;
		}
	}
}

// Cart collaterals
.woocommerce .cart-collaterals {
	> * {
		float: none !important;
		width: auto !important;
		margin-top: 3rem;
	}

	.cart_totals {
		td {
			text-align: right;
		}

		.wc-proceed-to-checkout {
			text-align: right;

			a.checkout-button {
				display: inline-block;
				margin-bottom: 0;
			}
		}

		.woocommerce-shipping-calculator {
			> p {
				margin-bottom: 0;
			}

			.shipping-calculator-form {
				margin-top: 1em;
			}
		}
	}
}

// -------------------------------------------------------------
// Checkout
// -------------------------------------------------------------

.woocommerce .woocommerce-checkout {
	#customer_details {
		> * {
			float: none;
			width: auto;
			margin: 0 0 3rem;
		}
	}
}

.suki-woocommerce-checkout-2-columns {
	@media screen and ( min-width: $breakpoint_1024 ) {
		@include flex( flex-start );

		.suki-woocommerce-checkout-col-1 {
			width: 100%;
		}

		.suki-woocommerce-checkout-col-2 {
			width: 37.5%;
			min-width: 37.5%;
			margin-left: 50px;
		}
	}
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
	#payment {
		border-radius: 0;

		ul.payment_methods {
			padding: 1em;
			border-color: inherit;

			li {
				line-height: inherit;
				margin: 0 0 0.5em;
			}
		}

		div.form-row {
			padding: 1em;
		}

		.payment_method_paypal {
			.about_paypal {
				line-height: inherit;
				font-size: 0.85em;
				margin-top: 0.15em;
				text-decoration: none;
			}

			img {
				max-height: 1.5em;
			}
		}

		div.payment_box {
			margin: 0.5em 0;
			color: inherit;
			background-color: inherit;
			padding: 0;

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			&:before {
				display: none;
				border-color: transparent;
			}

			a {
				line-height: inherit;
			}
		}
	}
}

.woocommerce, .woocommerce-page {
	#payment {

		#place_order {
			float: none;
			width: 100%;
		}
	}
}

.woocommerce {
	.woocommerce-customer-details {
		address {
			@include border();
			border-radius: 0;
			padding: 1.25rem;
		}
	}

	ul.order_details {
		padding: 0;

		li {
			strong {
				margin-top: 0.5em;
			}
		}
	}
}

// -------------------------------------------------------------
// My Account
// -------------------------------------------------------------

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: none;
		width: auto;

		ul {
			margin: 0 0 2rem;
			padding: 0;
			@include border( bottom );
			list-style: none;
			overflow: visible;
			
			li {
				display: inline-block;
				margin: 0 0 -1px;
				padding: 0;
				border: none;
				background-color: transparent;

				a {
					position: relative;
					display: inline-block;
					padding: 0.8rem 1.2rem;
					@include border( bottom, 3px );
					border-color: transparent;
					text-decoration: none;
				}

				&.is-active {
					a {
						border-color: currentColor;
					}
				}
			}
		}

		> .panel {
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: none;
		width: auto;
	}

	table.my_account_orders {
		font-size: inherit;
	}

	.addresses {
		.title {
			.edit {
				text-decoration: none;
			}
		}
	}
}

// -------------------------------------------------------------
// Widgets
// -------------------------------------------------------------

// Price
.woocommerce.widget_price_filter {
	.price_slider {
		position: relative;
		height: 0.5em;
		display: block !important;
		background-color: transparent !important;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0.25em;
			background-color: currentColor;
			opacity: 0.25;
		}

		.ui-slider-range {
			background-color: currentColor;
			opacity: 0.5;
		}

		.ui-slider-handle {
			background-color: currentColor;
			top: -0.25em;
		}
	}

	.price_slider_amount {
		input {
			display: none;
		}

		.button {
			font-size: inherit;
			line-height: inherit;
			padding: 0 0.5em;
		}
	}
}

// Product categories
.woocommerce.widget_product_categories {
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		ul {
			margin-left: 1.25em;
		}

		li {
			position: relative;
			margin-top: 0.25em;
		}
	}
}

// List
.woocommerce.widget_layered_nav,
.woocommerce.widget_rating_filter,
.woocommerce.widget_product_categories {
	ul {
	    margin: 0;
		padding: 0;
		border: none;
		list-style: none;
	}

	ul li {
		.count {
			opacity: 0.5;
		}
	}

	a {
		text-decoration: none;
	}
}

// Cart
.woocommerce.widget_shopping_cart {
	a {
		text-decoration: none;
	}
	
	.cart_list li {
		padding-left: 1.5em;

		a.remove {
			width: 1em;
			height: auto;
			font-size: 1em;
			line-height: inherit;
			text-align: center;
		}
	}

	.total {
		@include border( top );
		border-color: inherit;
		padding-top: 0.5em;
		margin-bottom: 0;

		.amount {
			float: right;
		}
	}

	.buttons {
		margin: 0.5em 0 0;
		
		a {
			display: block;
			width: 100%;
			margin: 0.5em 0 0;
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin: 0;
	}
}

// Cart & Products list
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
	li {
		@include border( bottom );
		border-color: inherit;
		padding: 0 0 0.75em 0;
		margin-top: 0.75em;
		
		&.empty {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		&:last-child {
			border-bottom: none;
		}

		a {
			font-weight: inherit;
			text-decoration: none;
		}

		img {
			width: 40px;
			margin-left: 0.5em;
			border-radius: 20px;
		}
	}

	.star-rating {
		margin-top: 0.25em;
	}

	del {
		opacity: 0.5;
	}

	ins {
		font-weight: normal;
	}
}

// Product search
.woocommerce.widget_product_search {
	.woocommerce-product-search {
		display: block;
		position: relative;

		.suki-search-icon {
			position: absolute;
			top: 50%;
			left: 0;
			margin: -0.5em 0 0 0.75em;
		}

		.search-field {
			width: 100%;
			padding-left: 2.5em;
		}

		button[type="submit"] {
			display: none;
		}
	}
}