// -------------------------------------------------------------
// Footer
// -------------------------------------------------------------

.suki-footer-bottom-bar {
	white-space: nowrap;
}

// .suki-footer-widgets-bar {
// 	--background-color: var(--color-palette-7); // CUSTOMIZER

// 	padding: 60px 20px; // CUSTOMIZER

// 	// Color declarations
// 	background-color: var(--background-color);
// 	color: var(--text-color);
// }

// .suki-footer-widgets-bar__column {
// 	display: flex;
// 	flex-direction: column;

// 	> * + * {
// 		margin-block-start: calc( 1.5 * var(--wp--style--block-gap) ); // CUSTOMIZER
// 	}
// }

// .suki-footer-bottom-bar {
// 	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
// 	--background-color: var(--color-palette-7); // CUSTOMIZER

// 	padding: 25px 20px; // CUSTOMIZER

// 	// Color declarations
// 	background-color: var(--background-color);
// 	color: var(--text-color);

// 	// Trigger border style
// 	border-style: solid;
// 	border-width: 0;
// }

// // -------------------------------------------------------------
// // Footer row and column
// // -------------------------------------------------------------

// .suki-footer-row {
// 	gap: var(--items-gap);

// 	@media screen and ( max-width: ( $breakpoint-desktop - 0.1px ) ) {
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }

// .suki-footer-column {
// 	gap: inherit;

// 	@media screen and ( min-width: $breakpoint-tablet ) {
// 		white-space: nowrap;
// 	}

// 	@media screen and ( max-width: ( $breakpoint-desktop - 0.1px ) ) {
// 		flex: 0 0 100%;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }

// @media screen and ( min-width: $breakpoint-tablet ) {
// 	.suki-footer-column--left {
// 		flex: 1 1 50%;
// 	}

// 	.suki-footer-column--center {
// 		flex: 0 1 auto;
// 	}

// 	.suki-footer-column--right {
// 		flex: 1 1 50%;
// 	}
// }

// @media screen and ( max-width: ( $breakpoint-desktop - 0.1px ) ) {
// 	.suki-footer-column--empty {
// 		display: none;
// 	}
// }

// // -------------------------------------------------------------
// // Footer element: Menu
// // -------------------------------------------------------------

// // Horizontal menu
// .suki-footer-row {
// 	.menu {
// 		gap: inherit;
// 	}
// }

// -------------------------------------------------------------
// Scroll to top
// -------------------------------------------------------------

.suki-scroll-to-top {
	position: absolute;
	z-index: 99;
	bottom: 0;
	margin-inline: 1.5rem; // CUSTOMIZER
	margin-block: 1.5rem; // CUSTOMIZER
	padding: 1rem; // CUSTOMIZER
	border-radius: 9999px; // CUSTOMIZER
	font-size: 1.25rem; // CUSTOMIZER
	line-height: 1;

	background-color: var(--wp--preset--color--primary); // CUSTOMIZER
	color: var(--wp--preset--color--base); // CUSTOMIZER

	&:hover, &:focus {
		background-color: var(--wp--preset--color--primary-2); // CUSTOMIZER
		color: var(--wp--preset--color--base); // CUSTOMIZER
	}

	.suki-icon {
		vertical-align: top;
	}
}

.suki-scroll-to-top--position-left {
	left: 0;
}

.suki-scroll-to-top--position-right {
	right: 0;
}

.suki-scroll-to-top--display-sticky {
	position: fixed;
	transform: translate( 0, 100% );
	opacity: 0;
	transition: transform var(--transition-duration), opacity var(--transition-duration);

	&.suki-sticky {
		opacity: 1;
		transform: translate( 0, 0 );
	}
}
