/**
 * Hero section
 */

.suki-hero {
	--background-color: var(--color-palette-7);

	padding: 60px 20px; // CUSTOMIZER
	background-color: var(--background-color); // CUSTOMIZER

	// Trigger border style
	border-style: solid;
	border-width: 0; // CUSTOMIZER
}
