// -------------------------------------------------------------
// Post entry
// -------------------------------------------------------------

.entry {
	--padding-top: 0; // CUSTOMIZER
	--padding-right: 0; // CUSTOMIZER
	--padding-bottom: 0; // CUSTOMIZER
	--padding-left: 0; // CUSTOMIZER

	padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);

	// Trigger border style
	border-style: solid;
	border-width: 0; // CUSTOMIZER
}

:is( .entry-header, .entry-footer ) {
	:is( .entry-title, .entry-meta, .suki-breadcrumb ):not( :first-child ) {
		margin-block-start: calc( 0.5 * var(--wp--style--block-gap) );
	}
}

.entry-content {
	.post-nav-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.75em;
	}
}

.entry-meta {
	display: block !important; // Force display to block for wrapping elements to multiple lines

	> * {
		display: inline-block !important; // Force display to inline
		vertical-align: middle;
	}
}

.entry-meta__avatar {
	width: 2em; // Force 2em size

	img {
		display: block;
		border-radius: 9999px;
	}
}

.entry-meta__comments {
	font: unset; // Reset
	color: unset; // Reset
}

.suki-entry-thumbnail--ignore-padding {
	margin-inline-start: calc( -1 * var(--padding-left) );
	margin-inline-end: calc( -1 * var(--padding-right) );

	&:first-child {
		margin-block-start: calc( -1 * var(--padding-top) );
	}

	&:last-child {
		margin-block-end: calc( -1 * var(--padding-bottom) );
	}
}
