/**
 * Post entry
 */

.entry {
	--padding-top: 0; // CUSTOMIZER
	--padding-right: 0; // CUSTOMIZER
	--padding-bottom: 0; // CUSTOMIZER
	--padding-left: 0; // CUSTOMIZER

	padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
}

.entry-title {
	@extend %title;
}

.entry-small-title {
	@extend %small-title;
}

.entry-layout-default {
	> * + * {
		margin-block-start: calc( 1.5 * var(--block-spacing) );
	}
}

:is(.entry-header, .entry-footer) {
	:is(.suki-meta, .suki-title, .suki-small-title):not(:first-child) {
		margin-block-start: calc( 0.5 * var(--block-spacing) );
	}
}

.entry-meta {
	display: block; // Force
	// gap: 0;
	// white-space: pre-wrap; // Preserve white space on flex items

	> * {
		display: inline; // Force
	}

	&__avatar {
		.wp-block-post-author__avatar {
			.avatar {
				width: 2em;
				height: 2em;
			}
		}

		.wp-block-post-author__content {
			display: none;
		}
	}

	&__comments {
		font: unset; // Reset
		color: unset; // Reset
	}
}

.suki-ignore-padding {
	margin-inline-start: calc( -1 * var(--padding-left) );
	margin-inline-end: calc( -1 * var(--padding-right) );

	&:first-child {
		margin-block-start: calc( -1 * var(--padding-top) );
	}

	&:last-child {
		margin-block-end: calc( -1 * var(--padding-bottom) );
	}
}

/**
 * Post author bio
 */

.suki-author-bio {
	margin-block-start: calc( 3 * var(--block-spacing) );
	padding: var(--block-spacing);
	border: 1px solid var(--border-color);

	.wp-block-post-author__name {
		font-weight: bold;
		font-size: 1.1em;
		margin: 0;
	}
}

/**
 * Post navigation
 */

.suki-post-navigation {
	margin-block-start: calc( 3 * var(--block-spacing) );
}

/**
 * Comments
 */

.suki-comments {
	margin-block-start: calc( 3 * var(--block-spacing) );

	> * + * {
		margin-block-start: calc( 1.5 * var(--block-spacing) );
	}
}

.suki-comment {
	&__meta {
		gap: 0;

		.suki-meta {
			gap: 1rem;
		}
	}
}
