/**
 * Post author bio
 */

.suki-author-bio {
	border: 1px solid var(--border-color); // Post Author block doesn't support border yet.

	.wp-block-post-author__name { // Post author name originally normal typography.
		font-weight: bold;
		font-size: 1.1em;
		margin: 0;
	}
}

/**
 * Post navigation
 */

.suki-post-navigation {
	margin-block-start: calc( 3 * var(--block-spacing) ); // Query Pagination block doesn't support margin yet.
}

/**
 * Comments
 */

.suki-comments {
	margin-block-start: calc( 3 * var(--block-spacing) ); // Comments Query Loop block doesn't support margin yet.

	> * + * {
		margin-block-start: calc( 1.5 * var(--block-spacing) ); // The children blocks don't support margin yet.
	}
}
