/**
 * Keyboard users
 */

// .using-keyboard is added via Javascript whenever a user is pressing keyboard.
.using-keyboard *:focus {
	outline: thin dotted;
}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
	outline: 0;
}

/**
 * Screen reader text
 */

// ref: https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
.screen-reader-text {
	@include hide-visually( true );
}
