/**
 * Width alignment
 */

.alignwide {
	max-width: min( 100%, var(--content-width--wide) ) !important;
}

.alignfull {
	max-width: none !important;

	margin-inline-start: calc( -1 * ( min( var(--content-width--full), 100vw ) - 100% ) / 2 ) !important;
	margin-inline-end: calc( -1 * ( min( var(--content-width--full), 100vw ) - 100% ) / 2 ) !important;
}

/**
 * Float alignment
 */

.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-block-start: 0;
	margin-inline-end: var(--wp--style--block-gap) !important;
	margin-block-end: var(--wp--style--block-gap);
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-block-start: 0;
	margin-inline-start: var(--wp--style--block-gap) !important;
	margin-block-end: var(--wp--style--block-gap);
}

.aligncenter {
	clear: both;
	margin-block-start: 0;
	margin-inline: auto;
	margin-block-end: var(--wp--style--block-gap);
}

/**
 * Text alignment
 */

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	/*rtl:ignore*/
	text-align: left;
}

.has-text-align-right {
	/*rtl:ignore*/
	text-align: right;
}
