/**
 * Width alignment
 */

.alignwide {
	max-width: var(--content-width--wide) !important;
}

.alignfull {
	max-width: none !important;

	:not(.alignfull) & {
		margin-inline-start: calc( -1 * ( min( var(--content-width--full), 100vw ) - 100% ) / 2 ) !important;
		margin-inline-end: calc( -1 * ( min( var(--content-width--full), 100vw ) - 100% ) / 2 ) !important;
	}

}

/**
 * Float alignment
 */

.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-inline-end: var(--block-spacing) !important;

	margin-block-start: 0;

	&:not(:last-child) {
		margin-block-end: var(--block-spacing);
	}
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-inline-start: var(--block-spacing) !important;

	margin-block-start: 0;

	&:not(:last-child) {
		margin-block-end: var(--block-spacing);
	}
}

.aligncenter {
	clear: both;
	margin-block-start: 0;
	margin-inline: auto;

	&:not(:last-child) {
		margin-block-end: var(--block-spacing);
	}
}

/**
 * Text alignment
 */

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	/*rtl:ignore*/
	text-align: left;
}

.has-text-align-right {
	/*rtl:ignore*/
	text-align: right;
}
