/**
 * Margin classes
 */

$props: ( "inline", "block", "top", "right", "bottom", "left" );

$i: 0;
@while 400 >= $i {
	$value: calc( $i / 100 * 1rem );

	.suki-has-margin--#{$i} {
		margin: #{$value} !important;
	}

	@each $prop in $props {
		.suki-has-margin-#{$prop}--#{$i} {
			margin-#{$prop}: #{$value} !important;
		}
	}

	$i: $i + 25;
}

/**
 * Padding classes
 */

$props: ( "inline", "block", "top", "right", "bottom", "left" );

$i: 0;
@while 400 >= $i {
	$value: calc( $i / 100 * 1rem );

	@if 0 == $i {
		$value: 0;
	} @else if 100 == $i {
		$value: var(--wp--style--block-gap);
	}

	.suki-has-padding--#{$i} {
		padding: #{$value} !important;
	}

	@each $prop in $props {
		.suki-has-padding-#{$prop}--#{$i} {
			padding-#{$prop}: #{$value} !important;
		}
	}

	$i: $i + 25;
}

/**
 * Border classes
 */

.suki-has-border {
	border: 1px solid var(--border-color);
}

$props: ( "top", "right", "bottom", "left" );

@each $prop in $props {
	.suki-has-border-#{$prop} {
		border-#{$prop}: 1px solid var(--border-color) !important;
	}
}