/**
 * Component: Button
 */

.wc-block-components-button.wc-block-components-button {
	@include button();

	// Same size as input
	padding-block: 1rem;
	font-size: 1rem;
	line-height: 1;

	.wc-block-components-spinner + .wc-block-components-button__text {
		visibility: hidden;
	}

	&.text {
		@include button-link();
	}

	// &.contained = Use theme's WooCommerce alt button styles
	// &.outlined = Use theme's original button styles
}
