/**
 * Component: Form step
 */

.wc-block-components-form {
	counter-reset: checkout-step;
}

.wc-block-components-checkout-step {
	// Reset fieldset
	border-width: 0;
	padding: 0;
	margin: 0;

	position: relative;
	margin-block-end: calc( 2 * var(--block-spacing) );
}

.wc-block-components-checkout-step--disabled {
	opacity: 0.5;
}

.wc-block-components-checkout-step__heading {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.wc-block-components-checkout-step__title {
	margin: 0;
}

.wc-block-components-checkout-step__container {
	position: relative;

	&:not(:first-child) {
		margin-block-start: var(--block-spacing);
	}
}


.wc-block-components-checkout-step--with-step-number {
	.wc-block-components-checkout-step__title {
		&:before {
			counter-increment: checkout-step;
			content: counter(checkout-step) ".";
			display: inline-block;
			opacity: 0.25;
		}
	}

	:is( .is-medium, .is-large ) & {
		padding-inline-start: 2.5rem;

		.wc-block-components-checkout-step__title {
			&:before {
				position: absolute;
				width: 1.5rem;
				left: -2.5rem;
				text-align: center;
			}
		}
	}
}

/**
 * Component: Order summary
 */

.wc-block-components-order-summary__content {
	display: flex;
	flex-direction: column;
	gap: var(--block-spacing);
}

.wc-block-components-order-summary-item {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	width: 100%;
}

.wc-block-components-order-summary-item__image {
	position: relative;
	flex-basis: min( 25%, 3em );

	img {
		width: 100%;
	}
}

	.wc-block-components-order-summary-item__quantity {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 1.5em;
		padding: 0.25em;
		border-radius: 1em;
		font-size: 0.75em;
		line-height: 1;
		transform: translate(50%, -50%);
		white-space: nowrap;
		z-index: 1;

		background-color: var(--button--background-color, var(--color-palette-4));
		color: var(--button--text-color, var(--color-palette-8));
	}

.wc-block-components-order-summary-item__description {
	flex: 1;
}

.wc-block-components-order-summary-item__total-price {
	font-weight: 600;
	margin-inline-start: auto;
	text-align: right;
}


.wc-block-components-order-summary-item__individual-prices {
	display: block;
}

/**
 * Component: Payment method icons
 */

.wc-block-components-payment-method-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25em;

	.wc-block-components-payment-method-icon {
		display: inline-block;
		padding: 0;
		width: auto;
		height: 1.5em;
	}

	&--align-left {
		justify-content: flex-start;
	}

	&--align-right {
		justify-content: flex-end;
	}
}

:is( .is-mobile, .is-small ) {
	.wc-block-components-payment-method-icons {
		.wc-block-components-payment-method-icon {
			height: 1em;
		}
	}
}

/**
 * Component: Payment method label
 */

.wc-block-components-payment-method-label--with-icon {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}

:is( .is-mobile, .is-small ) {
	.wc-block-components-payment-method-label--with-icon {
		> :is( img, svg ) {
			display: none;
		}
	}
}

/**
 * Component: Policies
 */

.wc-block-components-checkout-policies {
	list-style: none;
	padding: 0;
	margin: 0;

	@include meta-typography();

	text-align: center;
	line-height: 1;
	margin-block: var(--block-spacing);
}

.wc-block-components-checkout-policies__item {
	display: inline-block;
	padding: 0 0.25em;
	margin: 0;

	&:not(:first-child) {
		border-left-width: 1px;
		border-left-style: solid;
	}

	> a {
		color: inherit;
		padding: 0 0.25em;
	}
}

/**
 * Component: Product badge
 */

.wc-block-components-product-badge {
	display: inline-block;
	padding: 0 0.5em;
	border: 1px solid currentColor;
    border-radius: 0.125em;
	font-size: 0.75em;
    font-weight: 600;
	text-transform: uppercase;
    white-space: nowrap;
}

/**
 * Component: Product details
 */

.wc-block-components-product-details {
	list-style: none;
	padding: 0;
	margin: 0;
}

/**
 * Component: Product metadata
 */

.wc-block-components-product-metadata {
	@include meta-typography();
	@include meta-color();

	margin-block-start: 0.25em;

	> * {
		margin-block: 0; // Reset
	}

	.wc-block-components-product-metadata__description {
		> * {
			margin-block: 0; // Reset
		}
	}
}

/**
 * Component: Return to cart button
 */

.wc-block-components-checkout-return-to-cart-button {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;

	svg {
		fill: currentColor;
	}
}

/**
 * Component: Shipping Calculator
 */

.wc-block-components-shipping-calculator {
	margin-block-start: 1em;
}

.wc-block-components-shipping-calculator-address {
	.wc-block-components-address-form {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;

		> * {
			flex-basis: 100%;
		}
	}
}

.wc-block-components-shipping-calculator-address__button {
	width: 100%;
	margin-block-start: 1em;
}

/**
 * Component: Shipping rates control package
 */

.wc-block-components-shipping-rates-control__package {

	.wc-block-components-radio-control:not(:first-child) {
		margin-block-start: var(--block-spacing);
	}
}

.wc-block-components-shipping-rates-control__package-items {
	@include meta-typography();
	@include meta-color();

	list-style: none;
	margin: 0;
	padding: 0;

	display: block;
}

.wc-block-components-shipping-rates-control__package-item {
	display: inline-block;
    overflow-wrap: anywhere;
    word-break: break-word;

	&:not(:last-child):after {
		content: ", ";
		white-space: pre;
	}
}

/**
 * Component: Totals
 */

// Totals > Coupon

.wc-block-components-totals-coupon__form {
	display: flex;
	// align-items: stretch;
	width: 100%;

	.wc-block-components-totals-coupon__input {
		flex-grow: 1;
	}

	.wc-block-components-totals-coupon__button {
		flex-shrink: 0;
		margin-left: 0.5em;
		white-space: nowrap;
	}

	.wc-block-components-totals-coupon__button.no-margin {
		margin: 0;
	}
}

// Totals > Discount

.wc-block-components-totals-discount__coupon-list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	gap: 0.25em;
	margin-block-start: 0.25em;
}

.wc-block-components-totals-discount .wc-block-components-totals-item__value {
	color: var(--wc-green);
}

// Totals > Footer Item

.wc-block-components-totals-footer-item {
	font-size: 1.1em;
	font-weight: 600;
}

// Totals > Shipping

.wc-block-components-totals-shipping {
	// Added extra label for specificity.
	fieldset.wc-block-components-totals-shipping__fieldset {
		background-color: transparent;
		margin: 0;
		padding: 0;
		border: 0;

		margin-block-start: var(--block-spacing);

		.wc-block-components-panel__button {
			font-size: inherit; // Reset font-size: 1.1em
		}
	}

	.wc-block-components-totals-shipping__via {
		margin-bottom: 1em;
	}

	.wc-block-components-totals-shipping__options {
		:is( .wc-block-components-radio-control__label, .wc-block-components-radio-control__description, .wc-block-components-radio-control__secondary-label, .wc-block-components-radio-control__secondary-description ) {
			flex-basis: 100%;
			text-align: initial;
		}
	}

	// .wc-block-components-shipping-rates-control__no-results-notice {
	// 	margin: 0 0 em($gap-small);
	// }

	.wc-block-components-totals-shipping__change-address-button {
		@include button-link();
	}
}
