/**
 * Component: Combobox
 */

.wc-block-components-combobox.wc-block-components-combobox {
	position: relative;

	.wc-block-components-combobox-control {
		// Reset react generated CSS
		font: inherit;
		margin: 0;
	}

	.components-base-control__field {
		// Reset react generated CSS
		font: inherit;
		margin: 0;
	}

	.components-combobox-control__suggestions-container {
		position: relative;

		// Reset components CSS on editor.
		.editor-styles-wrapper & {
			margin: 0;
			padding: 0;
			border: 0;
			box-shadow: none;
			border-radius: 0;
			font: inherit;
		}
	}

	label {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: var(--input--padding);
		margin-block: 0;
		transform: translateY( 1rem );
		transform-origin: top left;
		transition: transform var(--transition-duration);
		font: inherit;
		line-height: initial;
		text-overflow: ellipsis;
		overflow: hidden;
		opacity: 0.5;
		cursor: text;

		border-width: var(--input--border-width);
		border-style: solid;
		border-color: transparent;

		z-index: 1;

		@media screen and (prefers-reduced-motion: reduce) {
			transition: none;
		}

		.editor-styles-wrapper & {
			text-transform: none;
		}
	}

	.components-combobox-control__input {
		padding-block: 1rem;
		font-size: 1rem;
		line-height: 1;
		width: 100%;
		transition: none;

		&[aria-expanded="true"] {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.components-form-token-field__suggestions-list {
		list-style: none;
		padding: 0;
		margin: 0;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		width: 100%;
		max-height: 20em;

		border-radius: var(--input--border-radius, 0);
		border-width: var(--input--border-width, 1px);
		border-color: var(--input--border-color--focus, var(--input--border-color));

		border-style: solid;
		border-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		background-color: var(--input--background-color--focus, var(--input--background-color));
		color: var(--input--text-color--focus);

		overflow: auto;
	}

	.components-form-token-field__suggestion {
		padding: var(--input--padding);
		padding-block: 0.5em;
		position: relative;
		isolation: isolate;

		&.is-selected {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: currentColor;
				opacity: 0.15;
			}
		}

		&:is( :hover, :focus, .is-highlighted, :active ) {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: currentColor;
				opacity: 0.075;
			}
		}
	}

	&:is( .is-active, :focus-within ) {
		label {
			transform: translateY( 0.4rem ) scale(0.75);
		}

		.components-combobox-control__input {
			padding-block: 1.5rem 0.5rem;
		}
	}

	&.has-error {
		color: var(--wc-red);

		.components-combobox-control__input {
			border-color: currentColor !important;
			color: inherit !important;
		}
	}
}
