/**
 * Component: Product price
 */

.wc-block-components-product-price {
	del {
		opacity: 0.5;
		font-size: 0.9em;
		font-weight: normal; // Always show regular font weight
	}

	ins {
		text-decoration: none; // Reset default browser style

		&:before {
			content: " ";
		}
	}
}
