/**
 * Component: Quantity selector
 */

.wc-block-components-quantity-selector {
	@include input();

	align-items: stretch;
	width: 6em;
	padding: 0 !important; // Reset input();

	&:focus-within {
		border-color: var(--input--border-color--focus, var(--input--border-color));
		background-color: var(--input--background-color--focus, var(--input--background-color));
		color: var(--input--text-color--focus, var(--input--text-color));
	}
}

.wc-block-components-quantity-selector__input {
	// Reset border, background because it's already defined by parent container.
	border: 0 !important;
	padding-inline: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;

	order: 2;
	flex: 1;
	text-align: center;

	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.wc-block-components-quantity-selector__button {
	@include button-nude();

	width: 1.5em;
	opacity: 0.5;

	&:is( :hover, :focus ) {
		opacity: 1;
	}
}

.wc-block-components-quantity-selector__button--minus {
	order: 1;
}

.wc-block-components-quantity-selector__button--plus {
	order: 3;
}
