// -------------------------------------------------------------
// Component: Radio control
// -------------------------------------------------------------

.wc-block-components-radio-control {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.wc-block-components-radio-control__option {
	display: flex;
	position: relative;
	align-items: center;
	gap: 0.75em;
	cursor: pointer;
}

.wc-block-components-radio-control__option-checked {
	font-weight: 600;
}

.wc-block-components-radio-control__input {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	height: 1.25em;
	width: 1.25em;
	margin: 0 !important;
	border: 0.125em solid currentColor;
	border-radius: 50%;
	appearance: none;
	background: transparent;
	color: inherit;
	font-size: 1em;
	cursor: pointer;

	&:checked:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 0.75em;
		width: 0.75em;
		margin: 0.125em;
		border-radius: 50%;
		background: currentColor;
	}
}

.wc-block-components-radio-control__option-layout {
	flex-grow: 1;
}

:is( .wc-block-components-radio-control__label-group, .wc-block-components-radio-control__description-group ) {
	display: flex;
	gap: 0.5em;
}
