// -------------------------------------------------------------
// Component: Review sort select
// -------------------------------------------------------------

.wc-block-components-review-sort-select {
	text-align: right;
}

// -------------------------------------------------------------
// Component: Review list
// -------------------------------------------------------------

.wc-block-components-review-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	gap: calc( 1.5 * var(--wp--style--block-gap) );
	margin-block-start: calc( 1.5 * var(--wp--style--block-gap) );
}

.wc-block-components-review-list-item__info {
	display: flex;
	align-items: flex-start;
	gap: 1em;
}

.wc-block-components-review-list-item__image {
	position: relative;
	width: 3em;
}

.wc-block-components-review-list-item__verified {
	position: absolute;
	bottom: -0.5em;
	right: -0.5em;
	width: 1.5em;
	height: 1.5em;
	text-indent: -999em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;

	border-radius: 50%;
	background-color: var(--wc-green);
	color: #fff;

	&:before {
		content: "✔";
		text-indent: 0;
	}
}

.wc-block-components-review-list-item__meta {
	display: flex;
	align-items: center;
	flex-flow: row wrap;

	&:after {
		// Force wrap after star rating.
		order: 3;
		content: "";
		flex-basis: 100%;
	}
}

.wc-block-components-review-list-item__product {
	order: 1;
	margin-inline-end: 0.5em;
}

.wc-block-components-review-list-item__author {
	order: 1;
}

.wc-block-components-review-list-item__product + .wc-block-components-review-list-item__author {
	order: 4;
}

.wc-block-components-review-list-item__published-date {
	order: 5;
}

.wc-block-components-review-list-item__product + .wc-block-components-review-list-item__author + .wc-block-components-review-list-item__published-date {
	&:before {
		content: "–";
		margin: 0 0.5em;
	}
}

.wc-block-components-review-list-item__author:first-child + .wc-block-components-review-list-item__published-date,
.wc-block-components-review-list-item__rating + .wc-block-components-review-list-item__author + .wc-block-components-review-list-item__published-date {
	&:before {
		display: none;
	}
}

.wc-block-components-review-list-item__rating {
	order: 2;
}

	.wc-block-components-review-list-item__rating__stars {
		overflow: hidden;
		position: relative;
		display: inline-block;
		height: 1em;
		font-size: 1em;
		line-height: 1;
		font-family: "star";
		color: var(--color-palette-4);
		vertical-align: -0.1em;

		&:before {
			content: "\73\73\73\73\73";
			top: 0;
			left: 0;
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			padding-block-start: 1em;
			overflow: hidden;
		}

		span:before {
			content: "\53\53\53\53\53";
			position: absolute;
			top: 0;
			left: 0;
		}
	}

.wc-block-components-review-list-item__text {
	margin-block-start: var(--wp--style--block-gap);
}
