/**
 * Component: Sidebar layout
 */

.wc-block-components-sidebar-layout {
	--gap: calc( 3 * var(--wp--style--block-gap) );

	position: relative;
	display: flex;
	gap: var(--gap);

	.editor-styles-wrapper & > .block-editor-inner-blocks > .block-editor-block-list__layout {
		gap: var(--gap);
	}
}

:is( .is-medium, .is-small, .is-mobile ) {
	&.wc-block-components-sidebar-layout {
		flex-direction: column;
	}

	.wc-block-components-main {
		flex-basis: 100%;
	}

	.wc-block-components-sidebar {
		flex-basis: 100%;
	}
}

.is-large {
	&.wc-block-components-sidebar-layout {
		align-items: flex-start;
	}

	.wc-block-components-main {
		flex-basis: 60%;
	}

	.wc-block-components-sidebar {
		flex-basis: calc( 40% - var(--gap) );
	}
}
