/**
 * Component: Sidebar layout
 */

.wc-block-components-sidebar-layout {
	--gap: calc( 3 * var(--block-spacing) );

	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--gap);
}


:is( .is-medium, .is-small, .is-mobile ) {
	&.wc-block-components-sidebar-layout {
		flex-direction: column;
		align-items: initial;
	}
}

.is-large {
	.wc-block-components-main {
		flex-basis: 60%;
	}

	.wc-block-components-sidebar {
		flex-basis: calc( 40% - var(--gap) );
	}
}
