/**
 * Customizer Links
 */

.suki-admin-dashboard__customizer-links {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	row-gap: 8px;
	font-weight: 500;

	@media screen and (min-width: 400px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.suki-admin-dashboard__customizer-link {
	a {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		text-decoration: none;
	}

	.dashicons {
		font-size: 24px;
		width: 1em;
		height: 1em;
	}
}
