// -------------------------------------------------------------
// Section layout
// -------------------------------------------------------------

// (Default) Wide mode: narrow alignment is always wide
.suki-section--wide {
	--content-width--narrow: var(--content-width--wide);

	// WP 6.1
	--wp--style--global--content-size: var(--content-width--wide);
}

// Full width mode: narrow and wide alignments are always full width
.suki-section--full {
	--content-width--narrow: auto;
	--content-width--wide: auto;

	// WP 6.1
	--wp--style--global--content-size: auto;
	--wp--style--global--wide-size: auto;
}
