// -------------------------------------------------------------
// Classic widgets
// -------------------------------------------------------------

:is(
	.widget_nav_menu,
	.widget_categories,
	.widget_archive,
	.widget_meta,
	.widget_pages,
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_rss
) {
	:is( ol, ul ) {
		list-style: none;
		margin: 0;
		padding: 0;

		:is( ol, ul ) {
			padding-left: 1.5em;
		}
	}
}

.widget_rss {
	.rssSummary {
		font-size: 10px;
		margin: 0.5em 0;
	}

	cite {
		display: block;
		font-size: 0.85em;

		&:before {
			content: "-";
			margin-inline-end: 0.5em;
		}
	}

	.rsswidget img {
		display: inline-block;
		margin-inline-end: 0.5em;
	}
}

// Calendar widget
.widget_calendar {
	text-align: center;

	caption {
		margin-block-end: 0.5em;
	}

	:where(th, td) {
		padding: 0.25em 0.5em;
	}
}
