/**
 * Block container
 */

%block-container,
.suki-block-container {
	max-width: none !important;

	> :where(*) {
		max-width: min( 100%, var(--content-size) );

		&:where(:not(.alignleft, .alignright) ) {
			margin-left: auto !important;
			margin-right: auto !important;
			margin-top: var(--wp--style--block-gap);
			margin-bottom: 0;
	
			@include remove-margin-top-for-first-child();
			@include remove-margin-bottom-for-last-child();
		}
	}
}

/**
 * Section layout
 */

// (Default) Wide mode: narrow alignment is always wide
.suki-section-wide {
	--content-size: var(--wide-size);
}

// Full width mode: narrow and wide alignments are always full width
.suki-section-full {
	--content-size: auto;
	--wide-size: auto;
}