/**
 * Global menu
 */

.menu {
	// Reset
	list-style: none;
	margin: 0;
	padding: 0;

	position: relative; // Used for sub menu positioning
	display: flex;
	gap: var(--wp--style--block-gap);

	> .menu-item {
		position: relative;
		display: flex;
	}

	.suki-menu-item-link {
		display: inline-flex;
	}

	.suki-dropdown-sign {
		margin-left: 0.5em;
	}

	.sub-menu {
		.menu-item {
			position: relative; // Used for sub menu positioning
		}

		.suki-menu-item-link {
			display: inline-flex;
			padding: calc( 0.5 * var(--spacing) ) calc( 2 * var(--spacing) );
		}

		.suki-dropdown-sign {
			margin-left: 0.75em;
			margin-right: -0.75em;
		}
	}
}

.sub-menu {
	--spacing: 0.5em;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	list-style: none;
	min-width: 100%;
	width: max-content;
	max-width: 20rem;
	margin: 0;
	padding: var(--spacing) 0;
	background-color: var(--background-color);
	color: var(--text-color);
	box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.1);
	
	// Hide on normal state
	@include hide();

	&.suki-sub-menu-edge {
		left: auto; // Reset
		right: 0; // Right value will be filled by JS
	}

	.sub-menu {
		top: 0;
		left: 100%;
		margin-top: calc( -1 * var(--spacing) );

		// Prevent the menu from disappearing when the mouse is over the gap
		&:before {
			content: "";
			position: absolute;
			right: 100%;
			height: 100%;
			display: block;
			width: 0.5em;
			background: transparent;
		}

		&.suki-sub-menu-right {
			left: auto;
			right: 100%;

			// Prevent the menu from disappearing when the mouse is over the gap
			&:before {
				content: "";
				position: absolute;
				right: auto;
				left: 100%;
				height: 100%;
				display: block;
				width: 0.5em;
				background: transparent;
			}
		}
	}

	.suki-hover-menu .menu-item:hover > &, // Desktop mouse
	.menu-item.focus > & { // Keyboard tab and mobile tap
		// Show on focus state
		@include show();
	}
}

/**
 * Menu icon
 */

.suki-menu-icon {
	font-size: var(--menu-icon-size, 1.15em);
}