/**
 * Desktop header
 */

.suki-header-top-bar {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--height: 50px; // CUSTOMIZER
	--background-color: var(--color-palette-7); // CUSTOMIZER
	--link-color: var(--color-palette-1); // CUSTOMIZER
	--link-color--focus: var(--color-palette-4); // CUSTOMIZER
	
	height: var(--height);
	background-color: var(--background-color);
	color: var(--text-color);
	
	padding: 0 20px; // CUSTOMIZER
}

.suki-header-main-bar {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--height: 90px; // CUSTOMIZER
	--background-color: var(--color-palette-8); // CUSTOMIZER
	--link-color: var(--color-palette-1); // CUSTOMIZER
	--link-color--focus: var(--color-palette-4); // CUSTOMIZER
	
	height: var(--height);
	background-color: var(--background-color);
	color: var(--text-color);
	
	padding: 0 20px; // CUSTOMIZER
}

.suki-header-bottom-bar {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--height: 50px; // CUSTOMIZER
	--background-color: var(--color-palette-1); // CUSTOMIZER
	--text-color: var(--color-palette-6); // CUSTOMIZER
	--heading-color: var(--color-palette-8); // CUSTOMIZER
	--link-color: var(--color-palette-8); // CUSTOMIZER
	--link-color--focus: var(--color-palette-6); // CUSTOMIZER
	
	height: var(--height);
	background-color: var(--background-color);
	color: var(--text-color);
	
	padding: 0 var(--wp--style--block-gap); // CUSTOMIZER
}

/**
* Mobile header
*/

.suki-header-mobile-main-bar {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--height: 60px; // CUSTOMIZER
	--background-color: var(--color-palette-8); // CUSTOMIZER
	--link-color: var(--color-palette-1); // CUSTOMIZER
	--link-color--focus: var(--color-palette-4); // CUSTOMIZER
	
	height: var(--height);
	background-color: var(--background-color);
	color: var(--text-color);
	
	padding: 0 20px; // CUSTOMIZER
}

.suki-header-mobile-vertical {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--width: 300px; // CUSTOMIZER
	--background-color: var(--color-palette-8); // CUSTOMIZER
	--link-color: var(--color-palette-1); // CUSTOMIZER
	--link-color--focus: var(--color-palette-4); // CUSTOMIZER

	&-bar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: min( var(--width), calc( 100% - 3rem ) );
		
		background-color: var(--background-color);
		color: var(--text-color);
		gap: var(--items-gap);

		padding: 30px; // CUSTOMIZER

		will-change: transform;
		transition: transform var(--transition-duration);
		transform: translate( -100%, 0 );
		
		.suki-popup-active & {
			transition: transform var(--transition-duration) calc( 0.5 * var(--transition-duration) );
			transform: translate( 0, 0 ) !important;
		}
	}

	.suki-popup-close-icon {
		position: absolute;
		top: var(--wp--style--block-gap);
		right: var(--wp--style--block-gap);
		color: white;
		opacity: 0.75;

		&:hover, &:focus {
			opacity: 1;
		}
	}

	&-position {
		&-right {
			.suki-header-mobile-vertical-bar {
				left: auto;
				right: 0;
				transform: translate( 100%, 0 );
				transition: transform var(--transition-duration);
			}
	
			.suki-popup-close-icon {
				right: auto;
				left: var(--wp--style--block-gap);
			}
		}
	}

	&-display {
		&-full-screen {
			.suki-header-mobile-vertical-bar {
				transform: revert;
				transition: revert;
				width: 100vw;
			}

			.suki-popup-close-icon {
				color: var(--text-color);
			}
		}
	}

	&.has-text-align {
		&-left {
			--flex-align: flex-start;
		}
		&-center {
			--flex-align: center;
		}
		&-right {
			--flex-align: flex-end;
		}
	}
}

/**
 * Header row and column
 */

 .suki-header-row {
	height: 100%; // Fill the vertical space to parent's height
	gap: var(--items-gap);
}

.suki-header-column {
	display: flex; // Custom flex layout
	align-items: stretch; // Fill 100% vertical space
	gap: var(--items-gap); // Use parent row's gap
	white-space: nowrap;

	> * {
		display: flex;
		align-items: center; // All children is vertically center aligned
		margin: 0;
	}

	&-left {
		flex: 1 1 50%;
		justify-content: flex-start;
	}
	
	&-center {
		flex: 0 1 auto;
		justify-content: center;
	}
	
	&-right {
		flex: 1 1 50%;
		justify-content: flex-end;
	}
}

/**
 * Header vertical row and column
 */

.suki-header-vertical-column {
	display: flex;
	flex-direction: column;
	align-items: var(--flex-align);
	gap: var(--items-gap);
	width: 100%;
}

.suki-header-vertical-row {
	display: flex;
	flex-direction: column;
	align-items: var(--flex-align);
	gap: var(--items-gap);
	width: 100%;

	> * {
		max-width: 100%;
	}

	&-top {
		flex: 1 1 50%;
		justify-content: flex-start;
	}
	
	&-center {
		flex: 0 1 auto;
		justify-content: center;
	}
	
	&-bottom {
		flex: 1 1 50%;
		justify-content: flex-end;
	}
}

/**
 * Global menu
 */

.menu {
	// Reset
	list-style: none;
	margin: 0;
	padding: 0;

	position: relative; // Used for sub menu positioning
	display: flex;
	align-items: center;
	gap: var(--items-gap, --wp--style--block-gap);

	> .menu-item {
		position: relative;
		display: flex;
		align-items: center;
	}

	.suki-menu-item-link {
		display: inline-flex;
		align-items: center;
	}

	.suki-dropdown-sign {
		margin-left: 0.5em;
	}

	.sub-menu {
		.menu-item {
			position: relative; // Used for sub menu positioning
		}

		.suki-menu-item-link {
			display: inline-flex;
			padding: calc( 0.5 * var(--spacing) ) calc( 2 * var(--spacing) );
		}

		.suki-dropdown-sign {
			margin-left: 0.75em;
			margin-right: -0.75em;
		}
	}
}

.sub-menu {
	--spacing: 0.5em;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	list-style: none;
	min-width: 100%;
	width: max-content;
	max-width: 20rem;
	margin: 0;
	padding: var(--spacing) 0;
	background-color: var(--background-color);
	color: var(--text-color);
	box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.1);
	
	// Hide on normal state
	@include hide();

	&.suki-sub-menu-edge {
		left: auto; // Reset
		right: 0; // Right value will be filled by JS
	}

	.sub-menu {
		top: 0;
		left: 100%;
		margin-top: calc( -1 * var(--spacing) );

		// Prevent the menu from disappearing when the mouse is over the gap
		&:before {
			content: "";
			position: absolute;
			right: 100%;
			height: 100%;
			display: block;
			width: 0.5em;
			background: transparent;
		}

		&.suki-sub-menu-right {
			left: auto;
			right: 100%;

			// Prevent the menu from disappearing when the mouse is over the gap
			&:before {
				content: "";
				position: absolute;
				right: auto;
				left: 100%;
				height: 100%;
				display: block;
				width: 0.5em;
				background: transparent;
			}
		}
	}

	.suki-hover-menu .menu-item:hover > &, // Desktop mouse
	.menu-item.focus > & { // Keyboard tab and mobile tap
		// Show on focus state
		@include show();
	}
}

/**
 * Menu icon
 */

.suki-menu-icon {
	font-size: var(--menu-icon-size, 1.15em);
}

/**
 * Header element: Menu
 */

 .suki-header-section {
	.menu {
		height: 100%; // Always fill the vertical space
	
		> .menu-item {
			height: 100%; // Always fill the vertical space
		}
	}
}

.suki-header-menu {
	:is(.suki-menu-item-link, .suki-toggle) {
		> * {
			position: relative; // To overlay the hightlight effect
		}

		&:hover,
		&:focus {
			color: var(--menu-hover-highlight-text-color, var(--link-color--focus));

			&:before {
				color: var(--menu-hover-highlight-background-color, transparent);
			}
		}
	}

	:is(.current-menu-item, .current-menu-ancestor) {
		:is(.suki-menu-item-link, .suki-toggle) {
			&:not(:hover, :focus) {
				color: var(--menu-active-highlight-text-color, var(--menu-hover-highlight-text-color, var(--link-color)));
			}

			&:before {
				color: var(--menu-active-highlight-background-color, var(--menu-hover-highlight-background-color, transparent));
			}
		}
	}
}

.suki-header-section-vertical {
	.suki-toggle-menu {
		display: revert; // Reset
		
		> .menu-item {
			display: revert; // Reset
			height: auto; // Reset
		}

		.sub-menu {
			position: static;
			padding: 0; // Reset
			box-shadow: none; // Reset
			@include show( false ); // Reset
			display: none; // Will be changed by JS
	
			.has-text-align-left & {
				padding-left: var(--wp--style--block-gap);
			}
			
			.has-text-align-right & {
				padding-right: var(--wp--style--block-gap);
			}
	
			.suki-menu-item-link {
				padding: calc( 0.25 * var(--wp--style--block-gap) ) 0;
			}
		}
	
		.suki-menu-item-link, .suki-sub-menu-toggle {
			padding: calc( 0.25 * var(--wp--style--block-gap) ) 0;
		}
	}
}


/**
 * Header element: Logo
 */

.suki-logo {
	width: 100px; // CUSTOMIZER
	@extend %small-title;

	img, svg {
		display: block;
		width: 100%;
		height: auto;
	}
}

/**
 * Header element: Search form
 */

.suki-header-search {
	&-bar {
		.search-form {
			width: 300px; // CUSTOMIZER
		}
	}

	&-dropdown {
		.sub-menu {
			padding: 0;
			width: 300px; // CUSTOMIZER
		}

		.search-field {
			// Reset
			border-radius: 0;
			border-color: transparent;
			background-color: transparent;
			color: inherit;
			
			&:focus {
				border-color: transparent;
				background-color: transparent;
				color: inherit;
			}
		}
	}
}

/**
 * Header element: Cart
 */

.suki-header-cart {
	.widget {
		margin: 0;
	}

	.cart-amount {
		margin: 0 0.25em 0 0.5em;

		&:nth-child(2) {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.cart-link {
		position: relative;
	}

	.cart-count {
		width: 2em;
		height: 2em;
		position: absolute;
		z-index: 1;
		display: inline-block;
		margin: -0.6em 0 0 -1.2em;
		border-radius: 50%;
		font-size: 0.6em;
		text-align: center;
		line-height: 2;
		letter-spacing: 0; // reset
		background-color: var(--color-palette-4);
		color: var(--color-palette-8);
		animation: suki-pulse 0.5s 1;

		strong {
			display: inline-block;
			font-size: 0.5em;
			line-height: 2;
			vertical-align: top;
		}

		&[data-count="0"] {
			display: none;
		}
	}

	.sub-menu {
		white-space: normal;
		width: 20em;
	}
}