/**
 * Page Canvas
 */

.suki-canvas {
	--canvas-width: 100vw;
	--content-width--full: var(--canvas-width);

	display: flex;
	flex-direction: column;
	width: min( 100%, var(--canvas-width) );
	min-height: inherit; // full screen height page
	background-color: var(--color-palette-8); // CUSTOMIZER

	> * + * {
		margin-block-start: 0; // reset `.wp-site-blocks`
	}
}

.suki-page--layout-boxed {
	background-color: var(--color-palette-6); // CUSTOMIZER: outside_bg_color
	background-position: center center; // CUSTOMIZER: outside_bg_position
	background-size: cover; // CUSTOMIZER: outside_bg_size
	background-repeat: no-repeat; // CUSTOMIZER: outside_bg_repeat
	background-attachment: fixed; // CUSTOMIZER: outside_bg_attachment

	.suki-canvas {
		--canvas-width: 1400px; // CUSTOMIZER

		margin-inline-start: auto;
		margin-inline-end: auto;
		box-shadow: 0px 0px 2rem 0px rgba(0,0,0,0.05); // CUSTOMIZER: boxed_page_shadow
	}
}
