/**
 * Content & sidebar
 */

.suki-content {
	padding: 80px 20px; // CUSTOMIZER
	flex-grow: 1; // Make content section fill the blank vertical space to fill 100% screen height page.
}

:is(.suki-content-layout-left-sidebar, .suki-content-layout-right-sidebar) {
	.site-main {
		--content-size: auto;
		--wide-size: auto;
		--full-size: auto;
	}
}

.suki-content-row {
	display: flex;
	flex-direction: column;
	gap: var(--sidebar-gap);
	
	@media screen and ( min-width: $breakpoint-desktop ) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;

		.suki-content-layout-left-sidebar & {
			flex-direction: row-reverse;
		}
	}
}

.site-main {
	@media screen and ( min-width: $breakpoint-desktop ) {
		flex-grow: 1;
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: calc( 1.5 * var(--wp--style--block-gap) ); // CUSTOMIZER

	@media screen and ( min-width: $breakpoint-desktop ) {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: var(--sidebar-width);
	}
}

/**
 * Content Header
 */

.suki-content-header {
	> * {
		margin-block: calc( 0.5 * var(--wp--style--block-gap) );

		@include remove-margin-top-for-first-child();
		@include remove-margin-bottom-for-last-child();

		> :where(.search-form, .archive-description) {
			margin-block: var(--wp--style--block-gap);
		}
	}
}

/**
 * Loop
 */

.suki-loop-grid {
	align-items: start;

	&-same-height {
		align-items: stretch;
	}
}

/**
 * Error 404
 */

.error404 .site-content {
	display: flex;
	align-items: center;
}