/**
 * Content & sidebar
 */

.suki-content {
	padding: 80px 20px; // CUSTOMIZER
	flex-grow: 1; // Make content section fill the blank vertical space to fill 100% screen height page.
}

:is(.suki-content--layout-left-sidebar, .suki-content--layout-right-sidebar):not(.suki-section--narrow) {
	.site-main {
		--content-width--narrow: auto;
		--content-width--wide: auto;
		--content-width--full: auto;
	}
}

.suki-content-sidebar-columns {
	--sidebar-width: 25%; // CUSTOMIZER
	--sidebar-gap: calc( 2 * var(--block-spacing) ); // CUSTOMIZER

	gap: var(--sidebar-gap);

	@media screen and ( min-width: $breakpoint-tablet ) {
		flex-wrap: wrap; // Override default wp-block-columns style.
	}

	@media screen and ( min-width: $breakpoint-desktop ) {
		flex-wrap: nowrap;
		align-items: flex-start;

		.suki-content--layout-left-sidebar & {
			flex-direction: row-reverse;
		}
	}
}

.suki-main-column {
	flex-basis: 100%; // Override default wp-block-columns style.

	@media screen and ( min-width: $breakpoint-desktop ) {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc( 100% - var(--sidebar-width) - var(--sidebar-gap) );
	}
}

.suki-sidebar-column {
	flex-basis: 100%; // Override default wp-block-columns style.

	@media screen and ( min-width: $breakpoint-desktop ) {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: var(--sidebar-width);
	}
}

.sidebar {
	--sidebar-widgets-gap: calc( 1.5 * var(--block-spacing) );

	> * + * {
		margin-block-start: var(--sidebar-widgets-gap); // CUSTOMIZER
	}
}

/**
 * Loop
 */

.suki-loop-grid {
	align-items: start;

	&-same-height {
		align-items: stretch;
	}
}

/**
 * Error 404
 */

.suki-error_404 .suki-content {
	display: flex;
	align-items: center;
}
