/**
 * Footer
 */

.suki-footer-widgets-bar {
	--background-color: var(--color-palette-7); // CUSTOMIZER

	padding: 60px 20px; // CUSTOMIZER
	
	// Color declarations
	background-color: var(--background-color);
	color: var(--text-color);
	border-color: var(--border-color);

	&-column {
		display: flex;
		flex-direction: column;

		> * + * {
			margin-top: calc( 1.5 * var(--wp--style--block-gap) ); // CUSTOMIZER
		}
	}
}

.suki-footer-bottom-bar {
	--items-gap: var(--wp--style--block-gap); // CUSTOMIZER
	--background-color: var(--color-palette-7); // CUSTOMIZER
	
	padding: 25px 20px; // CUSTOMIZER

	// Color declarations
	background-color: var(--background-color);
	color: var(--text-color);
	border-color: var(--border-color);
}

/**
 * Footer row and column
 */

.suki-footer-row {
	gap: var(--items-gap);

	@media screen and ( max-width: ( $breakpoint-desktop - 1px ) ) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.suki-footer-column {
	gap: inherit;

	@media screen and ( min-width: $breakpoint-tablet ) {
		white-space: nowrap;

		&--left {
			flex: 1 1 50%;
		}
		
		&--center {
			flex: 0 1 auto;
		}
		
		&--right {
			flex: 1 1 50%;
		}
	}

	@media screen and ( max-width: ( $breakpoint-desktop - 1px ) ) {
		&--empty {
			display: none;
		}

		flex: 0 0 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/**
 * Scroll to top
 */

.suki-scroll-to-top {
	position: absolute;
	z-index: 99;
	bottom: 0;
	margin-inline: var(--wp--style--block-gap); // CUSTOMIZER
	margin-block: var(--wp--style--block-gap); // CUSTOMIZER
	padding: calc( 0.75 * var(--wp--style--block-gap) ); // CUSTOMIZER
	border-radius: 40px; // CUSTOMIZER
	font-size: 1.15em; // CUSTOMIZER
	line-height: 1;

	background-color: var(--button--background-color); // CUSTOMIZER
	color: var(--button--text-color); // CUSTOMIZER

	&:hover, &:focus {
		background-color: var(--button--background-color--focus); // CUSTOMIZER
		color: var(--button--text-color--focus); // CUSTOMIZER
	}

	&-position-left {
		left: 0;
	}

	&-position-right {
		right: 0;
	}

	&-display-sticky {
		position: fixed;
		transform: translate( 0, 100% );
		opacity: 0;
		transition: transform var(--transition-duration), opacity var(--transition-duration);

		&.suki-sticky {
			opacity: 1;
			transform: translate( 0, 0 );
		}
	}

	.suki-icon {
		vertical-align: top;
	}
}