/**
 * Block: Search
 */

.wp-block-search {
	margin: var(--wp--style--block-gap) 0;

	@include remove-margin-top-for-first-child();
	@include remove-margin-bottom-for-last-child();

	&__inside-wrapper {
		display: flex;
		flex: auto;
		flex-wrap: nowrap;
		max-width: 100%;
		gap: 0.5em;
	}
	
	&__label {
		width: 100%;
	}
	
	&__input {
		flex-grow: 1;
		min-width: 3em;
	}
	
	&__button {
		&.has-icon {
			padding: 0;
			display: inline-flex;
			align-items: center;
			line-height: 0;
			min-width: 2.5em;
		}

		svg {
			width: clamp(1em, 2em, 3em);
			height: clamp(1em, 2em, 3em);
			fill: currentColor;
		}
	}

	// Button inside
	&.wp-block-search__button-inside {
		.wp-block-search__inside-wrapper {
			gap: 0;
		
			.wp-block-search__input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
			}

			.wp-block-search__button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	@extend %alignleft-alignright-max-width;

	// Align center
	&.aligncenter {
		.wp-block-search__inside-wrapper {
			margin: auto;
		}	
	}
}