/**
 * Block: Social links
 */

.wp-social-link {
	line-height: 1;
	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 99999px;
	
	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1.5em;
		height: 1.5em;
		border-radius: 99999px;
		background-color: inherit;
		color: inherit;
		will-change: transform;
		transition: transform var(--transition-duration);

		&:hover, &:focus {
			transform: scale( 1.15, 1.15 );
			background-color: inherit;
			color: inherit;
		}
	}

	svg {
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

.wp-block-social-links {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	// Logos only style
	&.is-style-logos-only {
		--text-color: inherit;

		.wp-social-link {
			background-color: transparent;
			color: var(--background-color);

			// Make these bigger
			svg {
				width: 1.25em;
				height: 1.25em;
			}
		}
	}

	// Pill shape style
	&.is-style-pill-shape {
		.wp-social-link {
			a {
				width: 2.25em;
			}
		}
	}

	// Small
	&.has-small-icon-size {
		font-size: 1rem;
	}

	// Normal / default
	&,
	&.has-normal-icon-size {
		font-size: 1.5rem;
	}

	// Large
	&.has-large-icon-size {
		font-size: 2.25rem;
	}

	// Huge
	&.has-huge-icon-size {
		font-size: 3rem;
	}
}

.wp-social-link {
	&-amazon {
		--background-color: #f90;
		--text-color: #444;
	}
	
	&-bandcamp {
		--background-color: #1ea0c3;
		--text-color: #fff;
	}
	
	&-behance {
		--background-color: #0757fe;
		--text-color: #fff;
	}
	
	&-codepen {
		--background-color: #1e1f26;
		--text-color: #fff;
	}
	
	&-deviantart {
		--background-color: #02e49b;
		--text-color: #fff;
	}
	
	&-dribbble {
		--background-color: #e94c89;
		--text-color: #fff;
	}
	
	&-dropbox {
		--background-color: #4280ff;
		--text-color: #fff;
	}
	
	&-etsy {
		--background-color: #f45800;
		--text-color: #fff;
	}
	
	&-facebook {
		--background-color: #1778f2;
		--text-color: #fff;
	}
	
	&-fivehundredpx {
		--background-color: #000;
		--text-color: #fff;
	}
	
	&-flickr {
		--background-color: #0461dd;
		--text-color: #fff;
	}
	
	&-foursquare {
		--background-color: #e65678;
		--text-color: #fff;
	}
	
	&-github {
		--background-color: #24292d;
		--text-color: #fff;
	}
	
	&-goodreads {
		--background-color: #382110;
		--text-color: #382110;
	}
	
	&-google {
		--background-color: #ea4434;
		--text-color: #fff;
	}
	
	&-instagram {
		--background-color: #f00075;
		--text-color: #fff;
	}
	
	&-lastfm {
		--background-color: #e21b24;
		--text-color: #fff;
	}
	
	&-linkedin {
		--background-color: #0d66c2;
		--text-color: #fff;
	}
	
	&-mastodon {
		--background-color: #3288d4;
		--text-color: #fff;
	}
	
	&-medium {
		--background-color: #02ab6c;
		--text-color: #fff;
	}
	
	&-meetup {
		--background-color: #f6405f;
		--text-color: #fff;
	}
	
	&-patreon {
		--background-color: #ff424d;
		--text-color: #fff;
	}
	
	&-pinterest {
		--background-color: #e60122;
		--text-color: #fff;
	}
	
	&-pocket {
		--background-color: #ef4155;
		--text-color: #fff;
	}
	
	&-reddit {
		--background-color: #fe4500;
		--text-color: #fff;
	}
	
	&-skype {
		--background-color: #0478d7;
		--text-color: #fff;
	}
	
	&-snapchat {
		--background-color: #fff;
		--text-color: #fff;
	}
	
	&-soundcloud {
		--background-color: #ff5600;
		--text-color: #fff;
	}
	
	&-spotify {
		--background-color: #1bd760;
		--text-color: #fff;
	}
	
	&-telegram {
		--background-color: #2aabee;
		--text-color: #fff;
	}
	
	&-tiktok {
		--background-color: #000;
		--text-color: #fff;
	}
	
	&-tumblr {
		--background-color: #011835;
		--text-color: #fff;
	}
	
	&-twitch {
		--background-color: #6440a4;
		--text-color: #fff;
	}
	
	&-twitter {
		--background-color: #1da1f2;
		--text-color: #fff;
	}
	
	&-vimeo {
		--background-color: #1eb7ea;
		--text-color: #fff;
	}
	
	&-vk {
		--background-color: #4680c2;
		--text-color: #fff;
	}
	
	&-wordpress {
		--background-color: #3499cd;
		--text-color: #fff;
	}
	
	&-yelp {
		--background-color: #d32422;
		--text-color: #fff;
	}
	
	&-youtube {
		--background-color: #f00;
		--text-color: #fff;
	}
}