// -------------------------------------------------------------
// Page
// -------------------------------------------------------------

.appearance_page_suki {
	#wpcontent {
		padding: 0;

		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}
	}

	#wpbody-content > .notice {
		display: none;
	}

	.update-nag {
		margin: 0;
		display: block;
	}
}

// -------------------------------------------------------------
// Components
// -------------------------------------------------------------

.suki-admin-dashboard__container {
	width: 100%;
	max-width: min(100%, 800px);
	padding: 0 20px;
	margin: 0 auto;
}

.suki-admin-dashboard__version-badge {
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	padding: 0.25em 0.5em;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.1);
}

.suki-admin-dashboard__heading {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
}

.suki-admin-dashboard__subheading {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
}

// -------------------------------------------------------------
// Header
// -------------------------------------------------------------

.suki-admin-dashboard__header {
	background: #fff;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);

	.suki-admin-dashboard__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;
		align-items: center;
		min-height: 60px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.suki-admin-dashboard__header-logo {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	margin: 0; // reset
	font-size: 18px;
	font-weight: 600;
	line-height: 1.25;

	img {
		height: 30px;
	}
}

.suki-admin-dashboard__header-links {
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;

	a {
		font-weight: 500;
		text-decoration: none;
	}
}

// -------------------------------------------------------------
// Body
// -------------------------------------------------------------

.suki-admin-dashboard__body {
	padding: 30px 0 0;

	.suki-admin-dashboard__container {
		display: grid;
		gap: 30px;

		> *:empty {
			display: none;
		}
	}

	.notice {
		margin: 0;
	}
}
