@import "../__variables";
@import "../__mixins";

@import "../__extends";

input, select, textarea {
	max-width: 100%;
}

// -------------------------------------------------------------
// Common Classes
// -------------------------------------------------------------

.button {
	.dashicons {
		margin-top: -2%;
		margin-right: 4px;
		vertical-align: middle;
	}
}

// -------------------------------------------------------------
// Admin Menu
// -------------------------------------------------------------

#menu-appearance {
	a[href="themes.php?page=suki"] {
		color: #00b9eb;
	}
}

// -------------------------------------------------------------
// Form controls
// -------------------------------------------------------------

.suki-admin-form-row {
	padding: 0.75em 0;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.suki-admin-form-label {
	display: table-cell;
	min-width: 150px;
	width: 20%;
	padding: 5px 15px 0 0;
	vertical-align: top;
	font-weight: 600;
}

.suki-admin-form-field {
	display: table-cell;
	vertical-align: top;
	width: 80%;
}

.select2-container {
	.select2-selection {
		background-color: white;
		border-color: #ddd;
		border-radius: 0;
		min-height: auto;
		height: auto;

		.select2-selection__rendered {
			display: block;
		}

		&.select2-selection--multiple .select2-selection__rendered {
			padding: 2px 0 2px 4px;

			li {
				margin: 2px 4px 2px 0;
				border-radius: 2px;
				line-height: 18px;
				white-space: nowrap;
			}

			.select2-search__field {
				margin: 1px;
				line-height: inherit;
			}
		}

		&.select2-selection--single .select2-selection__rendered {
			padding: 3px 5px;
			line-height: normal;
		}
	}

	&.select2-container--focus .select2-selection,
	&.select2-container--open .select2-selection {
		border-color: #aaa;
	}

	.select2-dropdown {
		border-radius: 0;

		.select2-results__options {
			.select2-results__option {
				margin: 0;
				padding: 5px;

				&.select2-results__option--highlighted {
					color: inherit;
					background-color: rgba(0,0,0,0.05);
				}

				&[aria-selected=true] {
					font-weight: bold;
					background-color: rgba(0,0,0,0.1) !important;
				}
			}
		}
	}
}

.suki-admin-color-control {
	display: inline-block;

	.wp-picker-container {

		.wp-color-result.button {
			margin: 0;
			width: 30px;
			height: 24px;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}

		.color-alpha {
			border-radius: 0 !important;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
			
			&:after {
				content: "not set";
				position: absolute;
				top: 50%;
				left: 0;
				width: 40px;
				margin: -5px 0 0 -5px;
				border: none;
				font-size: 8px;
				font-weight: bold;
				line-height: 10px;
				text-align: center;
				text-transform: uppercase;
				background-color: #fff;
				color: #444;
			}

			&[style*="background:"] {
				&:after {
					display: none;
				}
			}
		}

		.wp-color-result-text {
			display: none;
		}

		.wp-picker-input-wrap {
			position: relative;
			padding-right: 60px;
			margin-top: 6px;

			label, .wp-color-picker {
				width: 100% !important;
			}

			.button {
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
			}
		}

		.wp-picker-open + .wp-picker-input-wrap {
			display: block;
		}
	}
}

.suki-admin-spacing-control {
	display: table;

	.suki-admin-spacing-control-cell {
		display: table-cell;
	}
}

.suki-admin-upload-control {
	display: inline-block;
	position: relative;

	.suki-admin-upload-control-text {
		padding-right: 40px;
	}

	.suki-admin-upload-control-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		margin: 1px 0 0 0;
		padding: 0 !important;
		border-radius: 0;
		text-align: center;

		.dashicons {
			margin-right: 0;
		}
	}
}

.suki-admin-multiselect-control {
	height: 30px !important;
	opacity: 0;
}

.suki-admin-repeater-control {
	margin: 0;

	.suki-admin-repeater-control-list {
		margin: 0;
	}

	.suki-admin-form {
		margin: -1em 0;
	}

	.suki-admin-repeater-control-item {
		position: relative;
		margin-bottom: 10px;
		padding: 10px;
		padding-right: 30px;
		min-width: auto;

		.suki-admin-repeater-control-item-table {
			margin: 0;

			th {
				padding: 10px 10px 10px 0;
				font-weight: normal;
			}

			td {
				padding: 5px 5px;
			}
		}

		.submitbox {
			margin: 15px 0 0;
		}

		.suki-admin-repeater-control-delete {
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			width: 22px;
			height: 22px;
			margin: -1px -1px 0 0;
			padding: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			line-height: 20px;
			text-align: center;
			text-decoration: none;
		}
	}
}

// -------------------------------------------------------------
// Page Settings Metabox
// -------------------------------------------------------------

.suki-term-meta-box-container {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 !important;
}

.post-php #suki_page_settings .suki-admin-metabox {
	margin: -6px -12px -12px;
}

.suki-admin-metabox {
	@include flex( stretch );

	hr {
		border-color: #eee;
		border-bottom: none;
	}

	a {
		text-decoration: none;
	}
}

.suki-admin-metabox-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 20%;
	width: 20%;
	background-color: #fafafa;
	border-right: 1px solid #eee;

	.suki-admin-metabox-nav-item {
		margin: 0;
		padding: 0;

		a {
			margin: 0;
			padding: 10px;
			display: block;
			box-shadow: none;
			border-bottom: 1px solid #eee;
		}

		&.active {
			background-color: #eee;

			a {
				color: inherit;
			}
		}
	}
}

.suki-admin-metabox-panels {
	width: 100%;
}

.suki-admin-metabox-panel {
	display: none;
	padding: 0.5em 20px;

	&.active {
		display: block;
	}
}

.edit-tags-php .suki-term-meta-box-container,
.term-php .suki-term-meta-box-container,
.post-php #side-sortables {
	.suki-admin-form-row {
		display: block;
		width: auto;
	}

	.suki-admin-form-label {
		display: block;
		width: auto;
		padding: 0;
		margin: 0 0 0.5em;
	}

	.suki-admin-form-field {
		display: block;
		width: auto;
	}

	.suki-admin-metabox {
		display: block;
	}

	.suki-admin-metabox-nav {
		min-width: auto;
		width: auto;
		border-bottom: 1px solid #eee;

		@include float-container();

		li {
			float: left;

			a {
				border: none;
			}
		}
	}

	.suki-admin-metabox-panel {
		padding: 6px 12px;
	}
}

.suki-pro-badge {
	display: inline-block;
	padding: 0.3em 0.5em;
	margin-top: -0.15em;
	color: #fff;
	background-color: #d54e21;
	font-size: 0.7em;
	font-weight: 500;
	font-style: normal;
	line-height: 1;
	text-transform: uppercase;
	vertical-align: middle;
}

// -------------------------------------------------------------
// Suki Admin Wrap
// -------------------------------------------------------------

.suki-admin-theme-notice {
	display: none;

	.wp-header-end ~ & {
		position: relative;
		padding-left: 40px;
		display: block;

		.suki-admin-theme-notice-arrow {
			position: absolute;
			z-index: 99;
			top: 50%;
			left: 0;
			width: 20px;
			height: 30px;
			border-left: 10px solid #00a0d2;
			border-radius: 30px 0 0 0;
			transform: rotate(-30deg);
			transform-origin: 100% 0;

			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: -20px;
				border-top: 15px solid #00a0d2;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
			}
		}
	}
}

.appearance_page_suki {
	@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
		&.auto-fold #wpcontent {
			padding-left: 0;
		}

		.wp-responsive-open #wpbody {
			right: -190px;
		}
	}
}

.suki-admin-wrap {
	margin: 0 0 0 -20px;

	@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
		margin: 0;
	}

	.suki-admin-wrapper {
		max-width: 1080px;
		padding: 0 10px;
		margin: 0 auto;

		.postbox .hndle {
			cursor: default;
		}
	}

	.suki-admin-header {
		margin-bottom: 20px;
		padding: 15px 0;
		background-color: #fff;
		border-bottom: 1px solid #e5e5e5;
		box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	}

	.suki-admin-logo {
		img {
			vertical-align: middle;
		}

		.suki-admin-version {
			display: inline-block;
			padding: 0.3em 0.5em;
			margin: 0 0 0 0.5em;
			font-size: 12px;
			font-weight: 600;
			line-height: 1;
			vertical-align: middle;
			background-color: rgba(0,0,0,0.1);
		}
	}

	.wp-badge {
		height: 140px;
		width: 140px;
		padding: 0;
		background-color: #fff;
		background-image: none;
		line-height: 140px;

		img {
			vertical-align: middle;
			max-width: 100px;
		}
	}

	.suki-admin-content {
		padding: 0 !important;
		margin-top: 20px;

	}

	.suki-admin-content-row {
		@include flex( stretch );

		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			display: block;
		}
	}

	.suki-admin-primary {
		width: 100%;

		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			width: auto;
		}

		> * {
			margin: 0 0 20px;
		}
	}

	.suki-admin-secondary {
		min-width: 255px;
		width: 255px;
		margin-left: 20px;

		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			width: auto;
			margin-left: 0;
		}

		> * {
			margin: 0 0 20px;
		}

		.postbox {
			.hndle {
				padding: 10px 15px;
			}

			.inside {
				margin: 15px;
				padding: 0;
			}
		}
	}

	.suki-admin-customize-button {
		width: 100%;
		text-align: center;
	}
}

// -------------------------------------------------------------
// Suki > Dashboard
// -------------------------------------------------------------

.suki-admin-welcome-panel {
	padding: 0;

	.welcome-panel-content {
		margin: 20px;
	}

	h2 {
		margin-bottom: 0.5em;
	}
}

.suki-admin-pro-modules {
	.inside {
		margin: 0;
		padding: 0;
	}

	table {
		border: none;
	}
		
	.inactive, .active {
		th, td {
			color: #555;
			padding: 8px 12px;
			box-shadow: none;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	.suki-admin-pro-table-group-heading {
		font-weight: 500 !important;
		background-color: #f9f9f9;
	}

	.suki-admin-pro-table-item-name {
		white-space: nowrap;
		padding-left: 14px !important;
	}
	
	.suki-admin-pro-table-item-actions {
		width: 100%;
		text-align: right;
	}

	.suki-admin-pro-table-item-coming-soon {
		color: #888;
	}
}