@import "../__variables";

@import "../__mixins";

input, select, textarea {
	max-width: 100%;
}

// -------------------------------------------------------------
// Common Classes
// -------------------------------------------------------------

.suki-beta-badge {
	display: inline-block;
	white-space: nowrap;
	padding: 0.4em;
	background-color: transparentize( $color_black, 0.9 );
	font-size: 0.85em;
	line-height: 1;
	text-transform: uppercase;
}

// -------------------------------------------------------------
// Admin Menu
// -------------------------------------------------------------

#menu-appearance .wp-submenu {
	a[href="themes.php?page=suki"] {
		color: #00b9eb;
	}

	a[href^="edit.php?post_type=suki_block"],
	a[href^="themes.php?page=suki-"] {
		&:before {
			content: "\21B3";
			margin-right: 0.5em;
			opacity: 0.5;
		}
	}
}

// -------------------------------------------------------------
// Form controls
// -------------------------------------------------------------

.suki-admin-form-row {
	position: relative;
	display: flex;
	align-items: flex-start;
	margin: 0 -10px;
	padding: 0.75em 0;
}

.suki-admin-form-label {
	display: block;
	min-width: 150px;
	width: 25%;
	padding: 5px 10px;
	font-weight: 600;

	label {
		display: block;
		cursor: default;
	}
}

.suki-admin-form-field {
	display: block;
	width: 100%;
	padding: 0 10px;
}

.select2-container {
	.select2-results__group {
		padding: 6px;		
	}

	.select2-selection {
		background-color: white;
		border-color: #ddd;
		border-radius: 0;
		min-height: auto;
		height: auto;

		.select2-selection__rendered {
			display: block;
		}

		&.select2-selection--multiple .select2-selection__rendered {
			padding: 2px 0 2px 4px;

			li {
				margin: 2px 4px 2px 0;
				border-radius: 2px;
				line-height: 18px;
				white-space: nowrap;
			}

			.select2-search__field {
				margin: 1px;
				line-height: inherit;
			}
		}

		&.select2-selection--single .select2-selection__rendered {
			padding: 3px 5px;
			line-height: 20px;
		}
	}

	&.select2-container--focus .select2-selection,
	&.select2-container--open .select2-selection {
		border-color: #aaa;
	}

	.select2-dropdown {
		border-radius: 0;

		.select2-results__options {
			.select2-results__option {
				margin: 0;
				padding: 5px;

				&[role="group"] {
					padding: 0;
				}

				&.select2-results__option--highlighted {
					color: inherit;
					background-color: transparentize( $color_black, 0.95 );
				}

				&[aria-selected=true] {
					background-color: transparentize( $color_black, 0.9 ) !important;
				}
			}

			.select2-results__options {
				.select2-results__option {
					padding-left: 20px;
				}
			}
		}
	}
}

.suki-admin-color-control {
	.wp-picker-container {
		display: table;
		margin-left: auto;

		.wp-color-result.button {
			margin: 0;
			width: 30px;
			height: 24px;
			border: none;
			border-radius: 0 !important;
			box-shadow: inset 0 0 0 1px transparentize( $color_black, 0.85 );

			&:after {
				content: "not set";
				position: absolute;
				top: 50%;
				left: 0;
				width: 40px;
				margin: -5px 0 0 -5px;
				border: none;
				font-size: 8px;
				font-weight: bold;
				line-height: 10px;
				text-align: center;
				text-transform: uppercase;
				background-color: #fff;
				color: #444;
			}

			&[style*="background"] {
				&:after {
					display: none;
				}
			}
		}

		.wp-color-result-text {
			display: none;
		}

		.wp-picker-input-wrap {
			display: none;
			position: relative;
			padding-right: 60px;
			margin-top: 6px;

			label, .wp-color-picker {
				width: 100% !important;
			}

			.button {
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
			}
		}

		&.wp-picker-active .wp-picker-input-wrap {
			display: block;
		}

		.wp-picker-holder {
			display: none;
			margin-top: 6px;
		}

		&.wp-picker-active .wp-picker-holder {
			display: block;
		}
	}
}

.suki-admin-spacing-control {
	display: table;

	.suki-admin-spacing-control-cell {
		display: table-cell;
	}
}

.suki-admin-upload-control {
	display: inline-block;
	position: relative;

	.suki-admin-upload-control-text {
		padding-right: 40px;
		width: 100%;
	}

	.suki-admin-upload-control-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		margin: 1px -1px 0 0;
		padding: 0 !important;
		border-radius: 0;
		text-align: center;
		box-shadow: none;

		.dashicons {
			margin-right: 0;
			font-size: 18px;
		}

		@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
			height: 26px !important;
		}
	}
}

.suki-admin-checkbox-control {
	display: inline-block;
	margin: 6px 0;
}

.suki-admin-radioimage-control {
	display: flex;
	flex-wrap: wrap;
	margin: -4px;

	.suki-admin-radioimage-control-item {
		width: 88px;
		margin: 0;
	}

	label {
		position: relative;
		display: block;
		box-sizing: border-box;
		margin: 4px;
		padding: 2px;
		background-color: #aaa;
		color: #fff;
		outline: 0;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px #0073aa;
		}
	}

	input {
		display: none;
	}

	input:checked + label {
		background-color: #0073aa;
		color: #fff;
	}

	img {
		display: block;
		width: 100%;
		border-radius: 2px;
	}

	span {
		max-width: 100%;
		display: block;
		padding: 2px 0;
		font-size: 11px;
		font-weight: 500;
		line-height: 14px;
		text-align: center;
	}

	img + span {
		margin-top: 2px;
	}
}

// -------------------------------------------------------------
// Individual Page Layout Metabox
// -------------------------------------------------------------

.suki-term-metabox-container {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 !important;
}

.postbox-container .suki-admin-metabox-page-settings {
	margin: -6px -12px -12px !important;
}

.edit-post-meta-boxes-area .suki-admin-metabox-page-settings {
	margin: -6px -14px -14px !important;
}

.suki-add-term-page-settings,
.suki-edit-term-page-settings {
	.suki-term-metabox-container {
		width: 95%; 
	}
}

.suki-admin-metabox {
	display: flex;

	hr {
		border-color: #eee;
		border-bottom: none;
	}

	a {
		text-decoration: none;
	}
}

.suki-admin-metabox-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 20%;
	width: 20%;
	background-color: #fafafa;
	border-right: 1px solid #eee;

	.suki-admin-metabox-nav-item {
		margin: 0;
		padding: 0;

		a {
			margin: 0;
			padding: 10px;
			display: block;
			box-shadow: none;
			border-bottom: 1px solid #eee;
		}

		&.active {
			background-color: #eee;

			a {
				color: inherit;
			}
		}
	}
}

.suki-admin-metabox-panels {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.suki-admin-metabox-panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
	padding: 0.5em 20px;

	&.active {
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}

	.notice {
		margin: 0.75em 0;

		h3 {
			font-size: 1.1em;
			margin: 0.75em 0 0.5em;
		}
	}
}

.edit-tags-php .suki-term-metabox-container,
.term-php .suki-term-metabox-container,
.post-php #side-sortables {

	.suki-admin-form-row {
		display: block;
		padding: 0.5em 0;
	}

	.suki-admin-form-label {
		width: auto;
		padding: 0 10px;
		margin: 0 0 0.25em;
	}

	.suki-admin-form-field {
		width: auto;
		padding: 0 10px;
	}

	.suki-admin-metabox {
		display: block;
	}

	.suki-admin-metabox-nav {
		min-width: auto;
		width: auto;
		border-bottom: 1px solid #eee;

		@include float-container();

		li {
			float: left;

			a {
				border: none;
			}
		}
	}

	.suki-admin-metabox-panel {
		padding: 6px 12px;
	}

	.suki-admin-checkbox-control:only-child {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// -------------------------------------------------------------
// Suki Welcome Panel
// -------------------------------------------------------------

.suki-admin-themes-welcome {
	padding: 30px;
	margin-bottom: 4% !important;
	border: 10px solid #fff;
	background: #fafafa;

	@media screen and ( min-width: 1640px ) {
		margin-bottom: 3% !important;
	}

	@media screen and ( max-width: 1120px ) {
		margin-bottom: 5% !important;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	img {
		width: 10em;
		display: inline-block;
	}

	h2 {
		font-size: 2em;
		font-weight: 500;
		margin: 1em 0;
	}

	p {
		font-size: 1.2em;
		margin: 1em 0;
	}
}

// -------------------------------------------------------------
// Suki Admin Page
// -------------------------------------------------------------

.appearance_page_suki {
	@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
		&.auto-fold #wpcontent {
			padding-left: 0;
		}

		.wp-responsive-open #wpbody {
			right: -190px;
		}
	}

	.notice {
		display: none;
	}
}

.suki-admin-wrap {
	margin: 0 0 0 -20px;

	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		text-decoration: none;
	}

	@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
		margin: 0;
	}

	.notice {
		display: block;
	}
}

.suki-admin-wrapper {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;

	.postbox .hndle {
		cursor: default;
	}
}

.suki-admin-header {
	margin-bottom: 20px;
	padding: 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px transparentize( $color_black, 0.95 );
}

.suki-admin-logo {
	float: left;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 30px;

	img {
		display: inline-block;
		vertical-align: middle;
		height: 30px;
	}
}

.suki-admin-version {
	padding: 0.25em 0.5em;
	margin: 0 0 0 0.5em;
	font-size: 13px;
	font-weight: 600;
	background-color: transparentize( $color_black, 0.95 );
}

.suki-admin-links {
	float: right;
	overflow: hidden;
	margin: 6px 0;
	font-weight: 500;

	li {
		float: left;
		margin: 0 0 0 2em;
	}
}

.suki-admin-content {
	padding: 0 !important;
	margin-top: 20px;

	.postbox {
		.hndle {
			padding: 12px 15px;
		}

		.inside {
			margin: 15px;
			padding: 0;
			overflow: visible;
		}
	}
}

.suki-admin-content-row {
	display: flex;

	@media screen and ( max-width: $breakpoint_wordpress - 1px ) {
		display: block;
	}
}

.suki-admin-primary {
	flex: 1;
}

.suki-admin-secondary {
	width: 300px;
	margin-left: 20px;
}

.suki-admin-modules {
	&-category {
		margin: 15px -15px;
		padding: 12px 15px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		background-color: #f9f9f9;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;

		&:first-child {
			margin-top: -16px;
		}

		&:before {
			font-family: "dashicons";
			display: inline-block;
			margin: 0 0.5em 0 0;
			font-size: 1.5em;
			font-weight: normal;
			line-height: 1;
			vertical-align: -25%;
			text-align: center;
			opacity: 0.5;
		}

		&--layout:before {
			content: "\f538";
		}

		&--assets:before {
			content: "\f309";
		}

		&--blog:before {
			content: "\f119";
		}

		&--woocommerce:before {
			content: "\f174";
		}
	}

	&-grid {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin: 0;

		.suki-admin-module {
			position: relative;
			// padding: 2px;
			margin: 0;
			padding: 15px 75px 15px 15px;
			background-color: #f9f9f9;
			border-right: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;

			.suki-admin-primary:last-child & {
				width: 33.33%;

				&:nth-child(3n+1) {
					border-left: 1px solid #e5e5e5;
				}

				&:nth-child(-n+3) {
					border-top: 1px solid #e5e5e5;
				}
			}

			.suki-admin-primary:not(:last-child) & {
				width: 50%;

				&:nth-child(2n+1) {
					border-left: 1px solid #e5e5e5;
				}

				&:nth-child(-n+2) {
					border-top: 1px solid #e5e5e5;
				}
			}

			&.active {
				background-color: #fff;
			}

			&-name {
				margin: 0;
			}

			.suki-admin-module-badge-pro {
				display: inline-block;
				padding: 2px 4px;
				margin: -0.25em 0 0 0.25em;
				font-size: 9px;
				font-weight: 400;
				line-height: 1;
				text-transform: uppercase;
				vertical-align: middle;
				background-color: transparentize( $color_black, 0.925 );
				color: #666;
				border-radius: 2px;
			}

			.suki-admin-module-action--settings {
				opacity: 0;
			}

			&:hover {
				.suki-admin-module-action--settings {
					opacity: 0.5;
				}
			}

			&-actions {
				position: absolute;
				top: 15px;
				right: 15px;
				margin: 1px 0;
				color: #999;
				display: flex;

				> a {
					color: inherit;
					opacity: 0.5;
					cursor: pointer;

					&:hover, &:focus {
						opacity: 1 !important;
					}
				}

				> * {
					position: relative;
					z-index: 2;
					margin-left: 8px;
					display: inline-block;
					text-align: center;

					&:before {
						font-family: "dashicons";
						font-size: 16px;
						width: 16px;
						height: 16px;
						display: inline-block;
						line-height: 1;
						vertical-align: top;
					}

					span {
						position: absolute;
						bottom: 100%;
						left: 50%;
						margin-bottom: 10px;
						padding: 4px 7px;
						border-radius: 3px;
						background-color: rgba(0,0,0,0.8);
						color: #fff;
						font-size: 12px;
						font-weight: normal;
						line-height: 18px;
						text-transform: none;
						white-space: nowrap;
						transform: translateX(-50%);
						opacity: 0;
						visibility: hidden;

						&:before {
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -5px;
							border-top: 5px solid rgba(0,0,0,0.8);
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
						}
					}

					&:hover span {
						opacity: 1;
						visibility: visible;
					}
				}

				.suki-admin-module-action--disabled,
				.suki-admin-module-action--enabled,
				.suki-admin-module-action--activate,
				.suki-admin-module-action--deactivate {
					opacity: 1;
					width: 30px;
					height: 18px;
					padding: 1px;
					margin-top: -1px;
					border-radius: 10px;
					background-color: #dddddd;
				}

				.suki-admin-module-action--disabled {
					&:before {
						content: "\f160";
					}
				}

				.suki-admin-module-action--settings {
					&:before {
						content: "\f111";
					}
				}

				.suki-admin-module-action--enabled {
					background-color: lighten(#46b450, 40);
					color: #46b450;

					&:before {
						content: "\f147";
					}
				}

				.suki-admin-module-action--activate {
					background-color: #ccc;

					&:before {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						border-radius: 6px;
						top: 3px;
						left: 3px;
						background-color: #fff;
					}
				}

				.suki-admin-module-action--deactivate {
					background-color: #46b450;
					color: #fff;

					&:before {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						border-radius: 6px;
						top: 3px;
						right: 3px;
						background-color: #fff;
					}
				}

				// .suki-admin-module-action--activate {
				// 	> * {
				// 		background-color: #ccc;

				// 		&:after {
				// 			left: 0;
				// 		}
				// 	}
				// }

				// .suki-admin-module-action--deactivate {
				// 	> * {
				// 		background-color: #46b450;

				// 		&:after {
				// 			right: 0;
				// 		}
				// 	}
				// }
			}
		}
	}
}

.suki-admin-demo-sites {
	&-image {
		margin: -15px -15px 0;
	}
}

.suki-admin-links-list {
	li {
		padding: 0.25em 0;
	}

	.dashicons {
		margin-right: 0.5em;
	}
}

// -------------------------------------------------------------
// Custom Widgets Form
// -------------------------------------------------------------

.suki-widget-social-links-select {
	max-height: 200px;
	overflow: scroll;
	border: 1px solid #ccd0d4;
	padding: 0.5em;

	li {
		position: relative;

		input {
			position: absolute;
			margin: 0.6em 0 0 0.6em;
		}

		div {
			padding: 0.5em 0.5em 0.5em 2.5em;
			border: 1px dashed #ccd0d4;

			span {
				float: right;
				opacity: 0;
				cursor: move;
			}

			&:hover span {
				opacity: 1;
			}
		}

		input:checked ~ div {
			border-style: solid;
			background-color: #fafafa;
		}
	}
}