@import "../__variables";

@import "../__mixins";

// -------------------------------------------------------------
// Basic customize control
// -------------------------------------------------------------

.customize-control {
	position: relative;

	select {
		margin: 0;
		line-height: 18px;
	}

	.notice {
		margin: 0;
	}
}

.description .dashicons {
	width: auto;
	height: auto;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
}

.button {
	font-style: normal;

	.dashicons {
		width: auto;
		height: auto;
		margin-top: -0.1em;
		font-size: 1.2em;
		line-height: 1;
		vertical-align: middle;
	}
}

#customize-theme-controls,
#customize-outer-theme-controls {
	.accordion-section-title {
		border-top: 1px solid #ddd;
		margin-top: -1px;
	}
}

li:not(.customize-info) div.customize-section-description {
	margin: 0 -12px;
	padding: 12px 15px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

#customize-controls .customize-control-notifications-container:empty {
	display: none;
}

#customize-preview {
	margin-top: 0;
}

// -------------------------------------------------------------
// Common classes
// -------------------------------------------------------------

.suki-row {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.suki-row-item {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.suki-small-label {
	font-size: 9px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	opacity: 0.75;
	margin-bottom: 0.3em;
	display: block;
}

.suki-unit {
	appearance: none;
	padding: 0;
	text-align: center;
	text-align-last: center;
}

.suki-heading {
	position: relative;
	margin: 0 -12px;
	padding: 10px 12px;
	background-color: rgba(0,0,0,0.1);
	color: inherit;
	outline: 0;
	@include transition();

	span {
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

// -------------------------------------------------------------
// Responsive Control Handler
// -------------------------------------------------------------

.suki-responsive-title {
	.suki-responsive-switcher {
		margin-left: 0.5em;

		.suki-responsive-switcher-button {
			cursor: pointer;
			outline: 0;
			opacity: 0.25;

			&.active {
				opacity: 0.75;
			}

			.dashicons {
				font-size: 14px;
				width: auto;
				height: auto;
				line-height: 1;
				vertical-align: middle;
			}
		}
	}
}

.suki-responsive-fieldset {
	display: none;

	&.active {
		display: block;

		&.suki-row {
			display: table;
		}
	}
}

// -------------------------------------------------------------
// Spacer Section
// -------------------------------------------------------------

.control-section-suki-section-spacer {
	margin-top: 15px;
}

// -------------------------------------------------------------
// Pro Teaser
// -------------------------------------------------------------

.control-section-suki-section-pro-link {
	#customize-theme-controls & .accordion-section-title {
		display: block;
		background-color: #ee5253;
		border-color: #ee5253;
		color: #fff;
		text-decoration: none;

		h3 {
			margin: 0;
			color: inherit !important;
		}

		&:after {
			color: inherit !important;
		}

		&:hover, &:focus {
			background-color: #ec3b3c;
			border-color: #ec3b3c;
			border-left-color: #a61011;
			color: #fff;
		}
	}
}

.customize-control-suki-pro-teaser {
	margin: 20px 0 12px;
}

.suki-pro-teaser {
	background-color: #fff8e5;
	margin-top: -1px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	cursor: default;
	color: inherit;

	.customize-control > & {
		margin: 0 -12px;
		padding: 12px 12px 12px 12px;
	}

	.accordion-section > & {
		padding: 12px 10px 12px 18px;
	}

	h3 {
		display: inline-block;
		color: inherit;
		margin: 0;
	}

	.button {
		margin: -3px 0 0 8px;
		font-weight: normal;
	}

	ul {
		margin: 0.5em 0 0;

		li {
			margin: 0.25em 0;
		}
	}
}

// -------------------------------------------------------------
// Heading Control
// -------------------------------------------------------------

.customize-control-suki-heading {
	margin: 20px 0 12px;

	.description {
		margin-top: 12px;
	}

	.tabindex:focus + .suki-heading {
		background-color: #0073aa;
		color: #fff;
	}

	.customize-section-description-container + & {
		margin-top: 0;
	}
}

// -------------------------------------------------------------
// Toggle Control
// -------------------------------------------------------------

.customize-control-suki-toggle {
	.customize-control-title {
		padding-right: 40px;
	}

	input[type="checkbox"] {
		display: none;
	}

	.suki-toggle-ui {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 30px;
		height: 18px;
		margin: 3px 0 0;
		border-radius: 15px;
		background-color: #ccc;

		.suki-toggle-ui-handle {
			position: absolute;
			top: 0;
			left: 0;
			margin: 2px;
			display: inline-block;
			width: 14px;
			height: 14px;
			border-radius: 15px;
			background-color: #fff;
			@include transition();
		}
	}

	input[type="checkbox"]:checked ~ .suki-toggle-ui {
		background-color: #0073aa;

		.suki-toggle-ui-handle {
			left: auto;
			right: 0;
		}
	}
}

// -------------------------------------------------------------
// Color Control
// -------------------------------------------------------------

.customize-control-suki-color {
	.customize-control-title {
		padding-right: 40px;
	}

	.wp-picker-container {
		display: table;
		margin-left: auto;

		.wp-color-result.button {
			position: absolute !important;
			top: 0;
			right: 0;
			margin: 0;
			width: 30px;
			height: 24px;
			border: none;
			border-radius: 0 !important;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);

			&:after {
				content: "not set";
				position: absolute;
				top: 50%;
				left: 0;
				width: 40px;
				margin: -5px 0 0 -5px;
				border: none;
				font-size: 8px;
				font-weight: bold;
				line-height: 10px;
				text-align: center;
				text-transform: uppercase;
				background-color: #fff;
				color: #444;
			}

			&[style*="background"] {
				&:after {
					display: none;
				}
			}
		}

		.wp-color-result-text {
			display: none;
		}

		.wp-picker-input-wrap {
			display: none;
			position: relative;
			padding-right: 60px;
			margin-top: 6px;

			label, .wp-color-picker {
				width: 100% !important;
			}

			.button {
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
			}
		}

		&.wp-picker-active .wp-picker-input-wrap {
			display: block;
		}

		.wp-picker-holder {
			display: none;
			margin-top: 6px;
		}

		&.wp-picker-active .wp-picker-holder {
			display: block;
		}
	}
}

// -------------------------------------------------------------
// Shadow Control
// -------------------------------------------------------------

.customize-control-suki-shadow {
	.customize-control-content {
		position: relative;
	}

	.wp-picker-container {
		display: table;
		margin-left: auto;

		.wp-color-result.button {
			position: absolute !important;
			top: 14px;
			right: 0;
			margin: 0;
			width: 30px;
			height: 24px;
			border: none;
			border-radius: 0 !important;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
		}

		.wp-color-result-text {
			display: none;
		}

		.wp-picker-input-wrap {
			display: none;
			position: relative;
			padding-right: 60px;
			margin-top: 6px;

			label, .wp-color-picker {
				width: 100% !important;
			}

			.button {
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
			}
		}

		&.wp-picker-active .wp-picker-input-wrap {
			display: block;
		}

		.wp-picker-holder {
			display: none;
			margin-top: 6px;
		}

		&.wp-picker-active .wp-picker-holder {
			display: block;
		}
	}
}

// -------------------------------------------------------------
// Slider Control
// -------------------------------------------------------------

.customize-control-suki-slider {
	.customize-control-content {
		* {
			text-align: center;
		}
	}

	.suki-slider-reset {
		font-size: 1em;
		line-height: 1em;
		width: auto;
		height: auto;
		vertical-align: middle;
		cursor: pointer;
		outline: 0;
		opacity: 0.5;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.suki-slider-input {
		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button {
			appearance: none;
		}
	}

	.suki-slider-ui {
		position: relative;
		display: block;
		height: 6px;
		margin: 10px 12px 10px 7px;
		border: none;
		border-radius: 3px;
		background: #ccc;

		.ui-slider-handle {
			position: absolute;
			top: 0;
			display: inline-block;
			height: 12px;
			width: 12px;
			margin: -4px 0 0 -7px;
			border-radius: 3px;
			background: #fff;
			border: 1px solid #ccc;
		}
	}
}

// -------------------------------------------------------------
// Dimensions Control
// -------------------------------------------------------------

.customize-control-suki-dimensions {
	.customize-control-content {
		padding: 0.5em;
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		background-color: #fff;

		* {
			text-align: center;
		}
	}

	.suki-dimensions-unlink,
	.suki-dimensions-link {
		padding: 0;
		display: none;
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}

	[data-linked="true"] .suki-dimensions-unlink,
	[data-linked="false"] .suki-dimensions-link {
		display: block;
	}
}

// -------------------------------------------------------------
// Typography Control
// -------------------------------------------------------------

.customize-control-suki-typography {
	.customize-control-content {
		padding: 8px 6px;
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		background-color: #fff;

		.suki-row {
			&:first-child{
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.suki-typography-fieldset {
		margin: 8px 0 0;

		> * {
			padding: 0 2px;
		}
	}

	.suki-typography-size-input {
		text-align: center;
	}
}

// -------------------------------------------------------------
// Builder Control
// -------------------------------------------------------------

.customize-control-suki-builder {
	.suki-builder {
		overflow: hidden;

		.suki-builder-location {
			position: relative;
			margin: 4px 0;
			border: 1px solid #ddd;
			box-shadow: 0 1px 1px rgba(0,0,0,0.04);
			background-color: #fff;

			&.disabled {
				opacity: 0.5;

				.ui-sortable-placeholder {
					display: none;
				}
			}
		}

		.suki-small-label {
			margin: 0;
			padding: 5px 8px;
			border-bottom: 1px solid #ddd;
			background-color: #f7f7f7;
			opacity: 1;
		}

		.suki-builder-sortable-panel {
			display: flex;
			flex-wrap: wrap;
			min-height: 28px;
			margin: 0;
			padding: 6px 8px 8px;
		}

		.suki-builder-element {
			position: relative;
			display: inline-block;
			white-space: nowrap;
			padding: 0;

			> span {
				display: inline-block;
				padding: 0 8px;
			}
		}

		.suki-builder-element-add {
			position: absolute;
			bottom: 0;
			display: inline-block;
			vertical-align: middle;
			outline: 0 !important;
			opacity: 0.5;
			cursor: pointer;

			&:hover, &:focus {
				opacity: 1;
			}

			.dashicons {
				width: auto;
				height: auto;
				font-size: 18px;
			}
		}

		.suki-builder-element-delete {
			display: inline-block;
			text-align: center;
			color: inherit !important;
			margin: 0 4px 0 -4px;

			.dashicons {
				width: auto;
				height: auto;
				font-size: 1.25em;
				line-height: inherit;
				text-decoration: none;
				opacity: 0.5;
				margin: 0;
			}
		}

		.suki-builder-inactive {
			display: none;
			margin: 4px 0;
			border: 1px solid #ddd;

			.suki-builder-sortable-panel {
				background-color: #f7f7f7;
			}

			.suki-builder-element-delete {
				display: none;
			}

			.suki-small-label {
				display: none;
			}

			&.show {
				display: block;
			}
		}

		.ui-sortable-placeholder {
			visibility: visible !important;
			background-color: rgba(0,0,0,0.1) !important;
			border-color: transparent !important;
			box-shadow: none !important;
		}

		.suki-builder-no-more-items {
			display: none;
			margin: 0;
			font-style: italic;
			text-decoration: none;

			&:only-child {
				display: inline-block;
			}
		}
	}

	.suki-builder-layout-inline {
		.suki-builder-location .suki-builder-sortable-panel {
			padding-right: 28px;
		}

		.suki-builder-element-add {
			right: 0;
			margin: 0 6px 11px 0;
		}

		.suki-builder-element {
			margin: 2px !important;
		}
	}

	.suki-builder-layout-block {
		.suki-builder-location .suki-builder-sortable-panel {
			padding-bottom: 28px;
		}

		.suki-builder-element-add {
			left: 50%;
			margin: 0 0 5px -9px;
		}

		.suki-builder-element {
			width: 100%;
			margin: 2px 0 !important;
			display: inline-flex;

			> span {
				width: 100%;
			}
		}
	}
}

// -------------------------------------------------------------
// Header & Footer Builder
// -------------------------------------------------------------

#customize-preview {
	// @include transition();

	.suki-has-builder-active .preview-desktop &,
	.suki-has-builder-active .preview-tablet & {
		height: auto;
	}
}

#customize-control-header_builder_actions,
#customize-control-footer_builder_actions {
	display: none !important;
}

#customize-controls {
	@media screen and ( min-width: 1324px ) {
		// Hide section accordion menu
		#accordion-section-suki_section_header_builder,
		#accordion-section-suki_section_footer_builder {
			display: none !important;
		}

		// Section pane
		#sub-accordion-section-suki_section_header_builder,
		#sub-accordion-section-suki_section_footer_builder {
			position: fixed !important;
			top: auto;
			bottom: 0;
			left: 300px;
			right: 0;
			display: block;
			width: auto;
			height: auto;
			padding: 20px;
			max-height: 60%;
			margin: 0 0 0 -1px;
			overflow: auto;
			background-color: #eee;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
			transform: translateY(100%);
			@include transition( all 0.2s );

			.suki-has-builder-active .wp-full-overlay.expanded & {
				&.suki-builder-active {
					visibility: visible;
					transform: translateY(0);
				}

				&.suki-hide {
					transform: translateY(100%) !important;
					overflow: visible;

					#customize-control-header_builder_actions,
					#customize-control-footer_builder_actions {
						.suki-builder-show {
							visibility: visible;
							opacity: 1;
							@include transition( opacity 0.2s 0.2s );
						}
					}
				}
			}

			.customize-control-suki-pro {
				margin: 0 0 12px;

				.suki-heading {
					margin: 0;
				}
			}

			#customize-control-header_builder_actions,
			#customize-control-footer_builder_actions {
				display: block !important;
				z-index: 10;
				margin-top: -20px;

				.description {
					font-style: normal;
				}

				.suki-responsive-switcher {
					margin: 0 -20px;
					padding: 9px 20px 0;
					border-color: #ddd;

					.nav-tab {
						background-color: #eee;
						border-color: #ddd;
						outline: 0;
						box-shadow: none;
						opacity: 0.75;

						&:hover, &:focus {
							background-color: #eee;
							opacity: 1;
						}

						&.nav-tab-active {
							background-color: #eee;
							border-bottom-color: #eee;
							opacity: 1;
						}
					}
				}

				.suki-responsive-switcher-button:first-child {
					margin-left: 0;
				}

				.suki-builder-toggle {
					position: absolute;
					right: 0;
					top: 0;
				}

				.suki-builder-hide {
					margin-top: 8px;
				}

				.suki-builder-show {
					top: auto;
					bottom: 100%;
					margin-bottom: 20px;
					visibility: hidden;
					opacity: 0;
					transition: none;
				}
			}

			.customize-section-description-container {
				display: none !important;
			}

			.suki-builder-sortable-panel {
				padding: 8px !important;
			}

			.suki-builder-location {
				position: relative;
				box-sizing: border-box;
				margin: 2px 0;

				&[data-location*="left"] {
					.suki-small-label {
						text-align: left;
					}

					.suki-builder-sortable-panel {
						justify-content: flex-start;
					}
				}

				&[data-location*="vertical"],
				&[data-location*="center"] {
					.suki-small-label {
						text-align: center;
					}

					.suki-builder-sortable-panel {
						justify-content: center;
					}
				}

				&[data-location*="right"] {
					.suki-small-label {
						text-align: right;
					}

					.suki-builder-sortable-panel {
						justify-content: flex-end;
					}
				}
			}

			.suki-builder-element-add {
				display: none;
			}

			.suki-builder-inactive {
				display: block !important;
			}

			.suki-builder-groups {
				display: flex;
				align-items: flex-start;
				margin: 0 -10px;

				.suki-builder-group {
					padding: 0 10px;
				}

				.suki-builder-group-horizontal {
					display: flex;
					flex-wrap: wrap;
					width: 100%;

					.suki-builder-location {
						width: 33.33%;
					}
				}

				.suki-builder-group-vertical {
					width: 15%;

					.suki-builder-location {
						margin: 0;

						&:first-child {
							margin-top: 2px;
						}

						&:last-child {
							margin-bottom: 2px;
						}
					}
				}
			}
		}
	}

	@media screen and ( min-width: 1667px ) {
		#sub-accordion-section-suki_section_header_builder,
		#sub-accordion-section-suki_section_footer_builder {
			left: 18%;
		}
	}

	@media screen and ( min-width: 3333px ) {
		#sub-accordion-section-suki_section_header_builder,
		#sub-accordion-section-suki_section_footer_builder {
			left: 600px;
		}
	}
}

// -------------------------------------------------------------
// Specific sections
// -------------------------------------------------------------

#sub-accordion-panel-suki_panel_header,
#sub-accordion-panel-suki_panel_page_settings {
	.customize-info {
		.customize-panel-description {
			display: block;
		}

		.customize-help-toggle {
			display: none;
		}
	}
}

#sub-accordion-panel-suki_panel_header {
	.customize-info {
		.customize-panel-description {
			.nav-tab-wrapper {
				padding: 0;
				display: flex;
				margin: -12px -15px;
				border-bottom: none;

				.nav-tab {
					flex: 1;
					margin: 0;
					border: none;
					padding: 10px 15px 8px;
					background-color: transparent;
					@include border( bottom, 4px );
					border-bottom-color: transparent;
					text-align: center;
					outline: 0;
					box-shadow: none;

					&:hover, &:focus {
						color: #0073aa;
					}

					&:last-child {
						border-right: none;
					}

					&.nav-tab-active {
						color: #0073aa;
						border-bottom-color: currentColor;
					}
				}

				&:after {
					display: none;
				}
			}
		}
	}
}