@import "../__variables";

@import "../__mixins";

@import "../_base";

@import "../_wordpress";

@import "../_gutenberg";

html {
	min-height: auto; // reset
}

// -------------------------------------------------------------
// Classic Editor
// -------------------------------------------------------------

body.mce-content-body {
	position: relative;
	max-width: 100%; // default
	min-height: auto; // reset
	margin: 0;
	padding: 1rem !important;
	background-color: $color_bg; // default

	@include float-container();

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&:focus {
		outline: 0;
	}

	a {
		text-decoration: underline;

		&[data-mce-selected] {
			padding: 0;
			margin: 0;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
		}
	}
}

// -------------------------------------------------------------
// Gutenberg
// -------------------------------------------------------------

.editor-post-permalink {
	border-width: 1px;
}

.editor-block-toolbar {
	border-left-width: 1px;
}

.editor-post-title__block .editor-post-title__input {
	@include h1();
	border-radius: 0;
	font-family: inherit;
}

.wp-block {
	max-width: calc( 720px + 30px ); // default

	&[data-align="wide"] {
		max-width: calc( 1140px + 30px ); // default
	}

	&[data-align="full"] {
		max-width: none;
	}
}

.wp-block-button {
	a.wp-block-button__link, .wp-block-button__link[role="textbox"] {
		@include button();
		margin-bottom: 0;
		text-decoration: none;
	}
}