@import "../_normalize";

@import "../__variables";
@import "../__mixins";

// Base Elements
@import "../__extends";
@import "../_base";

// Common Elements
@import "../_wordpress";

html {
	background-color: #fcfcfc; // default
	min-height: auto; // reset
}

body.mce-content-body {
	position: relative;
	max-width: 100%; // default
	min-height: auto; // reset
	padding: 1rem !important;
	background-color: $color_bg; // default

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&:focus {
		outline: 0;
	}
}

blockquote {
	padding: 0.5rem 2rem;
	@include border( left, 0.25rem, solid );

	&[style*="center"] {
		border-left: none;
	}

	&[style*="right"] {
		border-left: none;
		@include border( right, 0.25rem, solid );
	}
}