@import "../__variables";

@import "../__mixins";

/**
 * Gutenberg wrappers
 */

.block-editor .editor-styles-wrapper {
	@include base();

	.block-editor__typewriter * {
		border-color: $color_border; // postmessage: border_color

		&, &:before, &:after {
			box-sizing: border-box;
		}

		&:focus {
			outline: 0;
		}
	}

	@import "../_base";

	@import "../_wordpress";

	@import "../_gutenberg";

	.editor-post-title__block .editor-post-title__input {
		@include h1();
		border-color: transparent; // reset
		border-radius: 0;
		font-family: inherit;
	}

	/**
	 * Styles to be overrided by Customizer settings.
	 */

	.wp-block {
		// width: 100%;
		max-width: 720px; // postmessage: content_narrow_width
		margin-left: auto;
		margin-right: auto;

		&[data-align="wide"] {
			max-width: 1140px; // postmessage: TODO
		}

		&[data-align="full"] {
			width: calc(100% + 20px); // 20px = 2 x 10px (padding left & right of Gutenberg)
			max-width: calc(100% + 20px); // 20px = 2 x 10px (padding left & right of Gutenberg)
		}
	}

	.block-editor-block-list__block[data-type="core/separator"] {
		padding: 0;

		& + .block-editor-block-list__block[data-type="core/separator"] .wp-block-separator {
			margin-top: 0;
		}
	}

	.wp-block-columns {
		.wp-block, .wp-block-column {
			width: inherit;
			max-width: inherit;
		}
	}

	// .block-list-appender {
	// 	margin-top: -1.5rem;
	// }
}

// // -------------------------------------------------------------
// // Gutenberg
// // -------------------------------------------------------------


// // .editor-block-list__block > .editor-block-list__block-edit {
// // 	margin-top: 1.5em;
// // 	margin-bottom: 1.5em;
// // }

// // .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] > .editor-block-list__block-edit > div > .editor-inner-blocks {
// // 	margin-top: -1.25em;
// // 	margin-bottom: -1.25em;
// // }


// .wp-block-quote {
// 	&:not(.is-large):not(.is-style-large) {
// 		padding: 0.5rem 2em; // reset
// 		border-color: inherit; // reset
// 	}
// }

// .editor-rich-text__tinymce {
// 	line-height: inherit; // reset
// }

// p {
// 	font-size: inherit; // reset
// 	line-height: inherit; // reset
// }

// h1, h2, h3, h4, h5, h6 {
// 	&:first-child {
// 		margin-top: 0 !important; // if heading is first-child and inside column
// 	}
// }