@import "../__variables";

@import "../__mixins";

@import "../_base";

@import "../_wordpress";

@import "../_gutenberg";

html {
	min-height: auto; // reset
}

// -------------------------------------------------------------
// Classic Editor
// -------------------------------------------------------------

body.mce-content-body {
	position: relative;
	max-width: 100%; // default
	min-height: auto; // reset
	margin: 0;
	padding: 1rem !important;
	background-color: $color_bg; // default

	@include float-container();

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&:focus {
		outline: 0;
	}

	a {
		text-decoration: underline;

		&[data-mce-selected] {
			padding: 0;
			margin: 0;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
		}
	}
}

// -------------------------------------------------------------
// Gutenberg
// -------------------------------------------------------------

.editor-post-title__block .editor-post-title__input {
	@include h1();
	border-radius: 0;
	font-family: inherit;
}

// .editor-block-list__block > .editor-block-list__block-edit {
// 	margin-top: 1.5em;
// 	margin-bottom: 1.5em;
// }

// .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] > .editor-block-list__block-edit > div > .editor-inner-blocks {
// 	margin-top: -1.25em;
// 	margin-bottom: -1.25em;
// }

.wp-block {
	max-width: calc( 720px + 30px ); // default

	&[data-align="wide"] {
		max-width: calc( 1140px + 30px ); // default
	}

	&[data-align="full"] {
		max-width: none;
	}
}

.wp-block-quote {
	&:not(.is-large):not(.is-style-large) {
		padding: 0.5rem 2em; // reset
		border-color: inherit; // reset
	}
}

.editor-rich-text__tinymce {
	line-height: inherit; // reset
}

p {
	font-size: inherit; // reset
	line-height: inherit; // reset
}

h1, h2, h3, h4, h5, h6 {
	&:first-child {
		margin-top: 0 !important; // if heading is first-child and inside column
	}
}