/**
 * Color select control
 */

.customize-control-suki-color-select {
	.customize-control-title {
		padding-right: 50px;
	}

	.suki-color-dropdown {
		position: absolute;
		top: 0;
		right: 0;
	}
}
