/**
 * Sites Import
 */

.suki-admin-dashboard__sites-import {
	> div { // Card's inner div
		@media screen and ( min-width: 600px ) {
			display: flex;
			align-items: center;
		}
	}

	.suki-admin-dashboard__sites-import-banner {
		@media screen and ( min-width: 600px ) {
			width: 45%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.suki-admin-dashboard__sites-import-text {
		@media screen and ( min-width: 600px ) {
			width: 55%;
		}
	}
}

